<template>
    <div class=null>
        <div class="row row-same-height">
            <div class="panel panel-default two-column-div">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Coupon Info</h4>
                </div>
                <div class="panel-body ">
                    <div class="col-md-7">
                        <div class="padding-30">
                            <div class="form-group-attached ">
                                <div class="form-group form-group-default float-left required" v-bind:class="[errors.name ? 'has-error' : '', '']">
                                    <label for="name">Name</label>
                                    <input v-model="coupon_info.name" name="name" class ="form-control" placeholder="Name">
                                    <form-error v-if="errors.name" :errors="errors">
                                        {{ errors.name[0] }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default float-left required" v-bind:class="[errors.company_currency_id ? 'has-error' : '', '']">
                                    <label for="value">Coupon Currency</label>
                                    <select v-model="coupon_info.company_currency_id" v-on:change="couponCurrencyName" class="cs-select cs-skin-slide cs-transparent form-control">
                                        <option v-for="company_currency in company_currency_lists" v-bind:value="company_currency.id">{{ company_currency.name }}( {{ company_currency.code }} )</option>
                                    </select>
                                    <form-error v-if="errors.company_currency_id" :errors="errors">
                                        {{ errors.company_currency_id[0] }}
                                    </form-error>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group form-group-default" >
                                    <label for="description">Description</label>
                                    <input v-model="coupon_info.description" class ="form-control" placeholder="Description">
                                </div>
                                <div class="form-group form-group-default float-left required" v-bind:class="[errors.code ? 'has-error' : '', '']">
                                    <label for="code">Code</label>
                                    <input v-model="coupon_info.code" class ="form-control" placeholder="Code">
                                    <form-error v-if="errors.code" :errors="errors">
                                        {{ errors.code[0] }}
                                    </form-error>
                                </div>
                                <div class="float-left">
                                    <button class="btn btn-custom" type="submit">
                                    <a  v-on:click="generateCouponCode()">Generate</a>
                                    </button>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <br/>
                        <div class="toggle-on-off custom-label-padding">
                            <label for="high_light">High Light</label>:
                            <input v-model="coupon_info.high_light" type="checkbox" data-init-plugin="switchery" checked />
                        </div>
                        <br/>
                        <div class="toggle-on-off custom-label-padding">
                            <label for="status">Active</label>:
                            <input v-model="coupon_info.status" type="checkbox" data-init-plugin="switchery" checked />
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default two-column-div">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Action</h4>
                </div>
                <div class="panel-body">
                    <div class=null>
                        <div class="padding-30">
                            <div class="form-group-attached">
                                <div class="float-left apply-discount-option">
                                    <label for="amount">Apply a discount</label>
                                </div>
                                <div class="float-left">
                                    <div class="radio radio-success">
                                        <input v-on:change="applyDiscountOption" type="radio" value="Percent" v-model="coupon_info.apply_discount_option" id="percent">
                                        <label for="percent">Percent( % )</label>
                                    </div>
                                    <div class="radio radio-success">
                                        <input v-on:change="applyDiscountOption" type="radio" value="Amount" v-model="coupon_info.apply_discount_option" id="amount">
                                        <label for="amount">Amount</label>
                                    </div>
                                    <div class="radio radio-success float-left">
                                        <input v-on:change="applyDiscountOption" type="radio" value="None" v-model="coupon_info.apply_discount_option" id="none">
                                        <label for="none"><i class="fs-14 pg-close custom-close"></i>None</label>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div v-show="percent_option_select">
                                <div class="float-left">
                                    <label for="value">Value</label>
                                    <button class="btn btn-custom" type="submit">
                                        <span>%</span>
                                    </button>
                                </div>
                                <div class="form-group form-group-default float-left required" v-bind:class="[errors.discount_percent ? 'has-error' : '', '']">
                                    <label for="value"></label>
                                    <input v-model="coupon_info.discount_percent" class ="form-control" placeholder="0" >
                                    <form-error v-if="errors.discount_percent" :errors="errors">
                                        {{ errors.discount_percent[0] }}
                                    </form-error>
                                </div>
                                <div class="clearfix"></div>
                                <div class="help-block-div">
                                    <span class="help-block">
                                        <i class="icon-warning-sign"></i>
                                        Does not apply to the shipping costs
                                    </span>
                                </div>
                                <div class="toggle-on-off exclude-discounted-products">
                                    <label for="exclude-discounted-products">Exclude discounted products</label>:
                                    <input v-model="coupon_info.exclude_discounted_products" type="checkbox" data-init-plugin="switchery" checked />
                                </div>
                            </div>
                            <div v-show="amount_option_select">
                                <div class="form-group form-group-default apply-discount-label float-left">
                                    <label for="value">Amount</label>
                                </div>
                                <div class="form-group form-group-default apply-discount-field float-left required" v-bind:class="[errors.discount_amount ? 'has-error' : '', '']">
                                    <label for="value"></label>
                                    <input v-model="coupon_info.discount_amount" class ="form-control" placeholder="0">
                                    <form-error v-if="errors.discount_amount" :errors="errors">
                                        {{ errors.discount_amount[0] }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default float-left">
                                    <label for="currency">Currency</label>
                                    <span>{{company_currency_name}}</span>
                                </div>
                                <!-- <div class="form-group form-group-default apply-discount-field float-left required" v-bind:class="[errors.discount_amount_currency_id ? 'has-error' : '', '']">
                                    <label for="value">Currency</label>
                                    <select v-model="coupon_info.discount_amount_currency_id" class="cs-select cs-skin-slide cs-transparent form-control">
                                        <option v-for="currency in currency_lists" v-bind:value="currency.id">{{ currency.name }}( {{ currency.code }} )</option>
                                    </select>
                                    <form-error v-if="errors.discount_amount_currency_id" :errors="errors">
                                        {{ errors.discount_amount_currency_id[0] }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default apply-discount-field float-left required" v-bind:class="[errors.vat_include_on_discount_amount ? 'has-error' : '', '']">
                                    <label for="value">Vat include/exclude</label>
                                    <select v-model="coupon_info.vat_include_on_discount_amount" class="cs-select cs-skin-slide cs-transparent form-control">
                                        <option v-bind:value="vat_include_list.value">{{ vat_include_list.name }}</option>
                                    </select>
                                    <form-error v-if="errors.vat_include_on_discount_amount" :errors="errors">
                                        {{ errors.vat_include_on_discount_amount[0] }}
                                    </form-error>
                                </div> -->
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-same-height">
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Conditions</h4>
                </div>
                <div class="panel-body">
                    <div class="col-md-7">
                        <div class="padding-30">
                            <div class="form-group-attached">
                                <div class="form-group form-group-default">
                                    <label for="limit_to_single_customer">Limit to single customer</label>
                                    <select v-model="coupon_info.customer_id" class="cs-select cs-skin-slide cs-transparent form-control">
                                        <option value="">Select Customer</option>
                                        <option v-for="customer in customer_lists" v-bind:value="customer.id">{{ customer.first_name }} {{ customer.last_name }}( {{ customer.customer_no }} )</option>
                                    </select>
                                </div>
                                <div class="form-group form-group-default float-left required" v-bind:class="[errors.valid_from ? 'has-error' : '', '']">
                                    <label for="valid_from">Valid From</label>
                                    <input v-model.lazy="coupon_info.valid_from" id="valid_from" class ="form-control" placeholder="Select Date">
                                    <form-error v-if="errors.valid_from" :errors="errors">
                                        {{ errors.valid_from[0] }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default float-left required" v-bind:class="[errors.valid_to ? 'has-error' : '', '']">
                                    <label for="valid_to">Valid To</label>
                                    <input v-model.lazy="coupon_info.valid_to" id="valid_to" class ="form-control" placeholder="Select Date">
                                    <form-error v-if="errors.valid_to" :errors="errors">
                                        {{ errors.valid_to[0] }}
                                    </form-error>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group form-group-default float-left required" v-bind:class="[errors.minimum_purchase_amount ? 'has-error' : '', '']">
                                    <label for="minimum_purchase_amount">Minimum Amount</label>
                                    <input v-model="coupon_info.minimum_purchase_amount" class ="form-control" placeholder="Minimum Amount">
                                    <form-error v-if="errors.minimum_purchase_amount" :errors="errors">
                                        {{ errors.minimum_purchase_amount[0] }}
                                    </form-error>
                                </div>
                                <!--<div class="form-group form-group-default float-left required" v-bind:class="[errors.minimum_purchase_amount_currency_id ? 'has-error' : '', '']">
                                    <label for="currency">Currency</label>
                                    <select v-model="coupon_info.minimum_purchase_amount_currency_id" class="cs-select cs-skin-slide cs-transparent form-control">
                                        <option v-for="currency in currency_lists" v-bind:value="currency.id">{{ currency.name }}( {{ currency.code }} )</option>
                                    </select>
                                    <form-error v-if="errors.minimum_purchase_amount_currency_id" :errors="errors">
                                        {{ errors.minimum_purchase_amount_currency_id[0] }}
                                    </form-error>
                                </div> -->
                                <div class="form-group form-group-default float-left required" v-bind:class="[errors.vat_include_on_minimum_purchase_amount ? 'has-error' : '', '']">
                                    <label for="select">Vat include/exclude</label>
                                    <select v-model="coupon_info.vat_include_on_minimum_purchase_amount" class="cs-select cs-skin-slide cs-transparent form-control">
                                        <option v-for="vat_include_list in vat_include_lists" v-bind:value="vat_include_list.value">{{ vat_include_list.name }}</option>
                                    </select>
                                    <form-error v-if="errors.vat_include_on_minimum_purchase_amount" :errors="errors">
                                        {{ errors.vat_include_on_minimum_purchase_amount[0] }}
                                    </form-error>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group form-group-default required" v-bind:class="[errors.total_coupons ? 'has-error' : '', '']">
                                    <label for="total_available">Total Available</label>
                                    <input v-model="coupon_info.total_coupons" class ="form-control" placeholder="Total Available">
                                    <form-error v-if="errors.total_coupons" :errors="errors">
                                        {{ errors.total_coupons[0] }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default required" v-bind:class="[errors.total_coupons_for_each_user ? 'has-error' : '', '']">
                                    <label for="total_coupons_for_each_user">Total Limit For Each User</label>
                                    <input v-model="coupon_info.total_coupons_for_each_user" class="form-control" placeholder="Total Available For Each User">
                                    <form-error v-if="errors.total_coupons_for_each_user" :errors="errors">
                                        {{ errors.total_coupons_for_each_user[0] }}
                                    </form-error>
                                </div>
                                <br/>
                                <div class="custom-label-padding">
                                    <label for="restrictions">Restrictions</label>:
                                    <input v-model="coupon_info.product_selection_checked" type="checkbox" v-on:click="toggleProductSelection"/>
                                    <span>Product selection</span>
                                </div>
                                <div class="product-selection-button" v-show="coupon_info.product_selection_checked" v-for="(coupon_restriction, index) in coupon_info.coupon_restrictions">
                                    <div class="coupon-restriction-div">
                                        <div class="number-of-products-required form-group form-group-default required" v-bind:class="[errors['coupon_restrictions.'+index+'.number_of_products_required_in_carts'] ? 'has-error' : '', '']">
                                            <label for="number_of_products_required_in_carts">Number of products required in the cart to enjoy the discount</label>
                                            <input v-model="coupon_info.coupon_restrictions[index].number_of_products_required_in_carts" class ="form-control" placeholder="No. Of Products">
                                            <form-error v-if="errors['coupon_restrictions.'+index+'.number_of_products_required_in_carts']" :errors="errors">
                                                {{ errors["coupon_restrictions."+index+".number_of_products_required_in_carts"][0]  }}
                                            </form-error>
                                        </div>
                                        <div class="form-group form-group-default float-left required" v-bind:class="[errors['coupon_restrictions.'+index+'.rule_concerning'] ? 'has-error' : '', '']">
                                            <label for="select">Add a rule concerning</label>
                                            <select v-model="coupon_info.coupon_restrictions[index].rule_concerning" class="cs-select cs-skin-slide cs-transparent form-control">
                                                <option v-for="rule_list in rule_lists" v-bind:value="rule_list.value">{{ rule_list.name }}</option>
                                            </select>
                                            <form-error v-if="errors['coupon_restrictions.'+index+'.rule_concerning']" :errors="errors">
                                                {{ errors["coupon_restrictions."+index+".rule_concerning"][0]  }}
                                            </form-error>
                                        </div>
                                        <div class="float-left">
                                            <button class="btn btn-custom" v-on:click="addRuleConcerning">
                                                <span>Add</span>
                                            </button>
                                        </div>
                                        <div class="col-xs-2 text-center float-right">
                                            <i class="fs-14 pg-close"><a v-on:click="removeRow(index)">Remove</a></i>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="custom-label-padding">
                                            <label for="product_matching_label">The product(s) are matching one of these </label>
                                        </div>
                                        <div class="rule-concerning-product-div"  v-show="coupon_info.coupon_restrictions[index].rule_concerning_products">
                                            <div class="form-group form-group-default float-left">
                                                <label for="rule_concerning_products">Products</label>
                                            </div>
                                            <div class="float-left" v-bind:class="[errors['coupon_restrictions.'+index+'.products'] ? 'has-error' : '', '']">
                                               <multiselect v-model="coupon_info.coupon_restrictions[index].products" tag-placeholder="Add this as new tag" placeholder="Add Product(s)"
                                                    label="name" track-by="id" :options="product_lists" :multiple="true" :taggable="true">
                                               </multiselect>
                                               <form-error v-if="errors['coupon_restrictions.'+index+'.products']" :errors="errors">
                                                   {{ errors["coupon_restrictions."+index+".products"][0]  }}
                                               </form-error>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="rule-concerning-product-div" v-show="coupon_info.coupon_restrictions[index].rule_concerning_categories">
                                            <div class="form-group form-group-default float-left">
                                                <label for="rule_concerning_categories">Categories</label>
                                            </div>
                                            <div class="float-left" v-bind:class="[errors['coupon_restrictions.'+index+'.products'] ? 'has-error' : '', '']">
                                                <multiselect v-model="coupon_info.coupon_restrictions[index].categories" tag-placeholder="Add this as new tag" placeholder="Add Category(s)"
                                                    label="name" track-by="id" :options="category_lists" :multiple="true" :taggable="true"
                                                    @tag="addTag">
                                                </multiselect>
                                                <form-error v-if="errors['coupon_restrictions.'+index+'.products']" :errors="errors">
                                                   {{errors["coupon_restrictions."+index+".products"][0]  }}
                                                </form-error>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div> <hr/> </div>
                                </div>
                                <button v-show="coupon_info.product_selection_button" class="button btn-primary" v-on:click="productSelectionButton">+ Product Selection</button>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <a  v-on:click="saveCouponSettings()" class="btn create-button pull-right">Save</a>
        </div>
    </div>
</template>

<script>
    require('../../plugins/bootstrap-datepicker/js/bootstrap-datepicker.js');
    import Multiselect from 'vue-multiselect';

    // import FormError component
    import FormError from './FormError.vue';
    const Swal = require("sweetalert2");
    export default {
        components: {
            Multiselect,
            FormError
        },
        filters: {
            lowercase: function(v) {
            alert('Hello Dar...'+v);
              return v.toLowerCase();
            }
        },
        data(){
            return{
                // array to hold form errors
                errors: [],
                product_lists:  [],
                category_lists: [],
                product_tag_lists:  [],
                category_tag_lists: [],
                customer_lists: [],
                company_currency_lists: [],
                vat_include_lists: [
                    {
                        name: 'Vat Exclude',
                        value: 'No'
                    },
                    {
                        name: 'Vat Include',
                        value: 'Yes'
                    }
                ],
                rule_lists: [
                    {
                        name: 'Products',
                        value: 'Products'
                    },
                    {
                        name: 'Categories',
                        value: 'Categories'
                    }
                ],
                rule_concerning_add: true,
                percent_option_select: false,
                amount_option_select: false,
                none_option_select: true,
                name: null,
                company_currency_name : '',
                coupon_info:
                    {
                        name: null,
                        company_currency_id: null,
                        description: null,
                        code: null,
                        high_light: true,
                        status: null,
                        customer_id: '',
                        valid_from: null,
                        valid_to: null,
                        minimum_purchase_amount: null,
                        vat_include_on_minimum_purchase_amount: null,
                        total_coupons: null,
                        total_coupons_for_each_user: null,
                        discount_percent: null,
                        exclude_discounted_products: "Yes",
                        discount_amount: null,
                        vat_include_on_discount_amount: null,
                        no_discount: "Yes",
                        product_selection_checked: false,
                        product_selection_button: false,
                        apply_discount_option: "None",
                        coupon_restrictions:[]
                    }
            }
        },

        props: ['created_by_out_let_id'],

        mounted() {
            let that = this;
            that.getCompanyProduct();
            that.getCompanyCategory();
            that.getCustomerLists();
            that.getCompanyCurrencyLists();

            $(function() {
                "use strict";
                $('#valid_from').datepicker({
                    format: 'yyyy-mm-dd',
                    startDate: new Date(),
                    todayHighlight: true,
                }).change(function() {
                    that.coupon_info.valid_from = $('#valid_from').val();
                    that.coupon_info.valid_to = '';
                    $('#valid_to').datepicker("setStartDate", that.coupon_info.valid_from);
                });
                $('#valid_to').datepicker({
                    format: 'yyyy-mm-dd',
                    startDate: $('#valid_from').val(),
                    todayHighlight: false
                }).change(function() {
                    that.coupon_info.valid_to = $('#valid_to').val();
                });

            });

        },

        computed:{

        },
        watch:{

        },
        methods: {
            handleChange: function(event){
                alert('Checked'+event);
            },
            onChange (value) {
              alert('Oala');
              console.log('Oala');
              this.value = value
              if (value.indexOf('Reset me!') !== -1) this.value = []
            },
            addTag (newTag) {
                console.log('Hedar Matha...');
                let that = this;
                /*const tag = {
                    name: newTag,
                    id: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
                }*/
            },
            date_change: function(val){
            },
            generateCouponCode: function(){
                let that = this;
                axios.get('/coupon_settings/generate_coupon_code')
                    .then(function (response) {
                        that.coupon_info.code = response.data.couponCode;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            getCompanyProduct: function(){
                let that = this;
                axios.get('/company_product/get_company_product')
                    .then(function (response) {
                        that.product_lists = response.data;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            getCompanyCategory: function(){
                let that = this;
                axios.get('/company_category/get_company_category')
                    .then(function (response) {
                        that.category_lists = response.data;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            getCustomerLists: function(){
                let that = this;
                axios.get('/customer_lists/get_customer_lists')
                    .then(function (response) {
                        that.customer_lists = response.data;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            getCompanyCurrencyLists: function(){
                let that = this;
                axios.get('/company_currency_lists/get_company_currency_lists')
                    .then(function (response) {
                        that.company_currency_lists = response.data;
                        $.each( that.company_currency_lists,function(index,company_currency_list){
                            if( company_currency_list.default=="Yes" ){
                                that.coupon_info.company_currency_id = company_currency_list.id;
                                that.couponCurrencyName();
                            }
                        })
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            couponCurrencyName: function(){
                let that = this;
                axios.post('/company_currency_details/get_company_currency_details', {
                       company_currency_id: that.coupon_info.company_currency_id
                   })
                    .then(function (response) {
                        if( response.data.success ){
                            that.company_currency_name = response.data.data.name + "(" + response.data.data.code + ")";
                        }
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            toggleProductSelection: function( event ){
                 let that = this;
                 if (!event.target.checked){
                    that.coupon_restriction_select = false;
                    that.coupon_info.product_selection_button = false;
                    that.coupon_info.coupon_restrictions = [];
                 }else{
                    that.coupon_info.product_selection_button = true;
                 }
                $.each(that.coupon_info.coupon_restrictions,function(index,coupon_restriction){
                    that.coupon_info.coupon_restrictions[index].rule_concerning_products = true;
                    that.coupon_info.coupon_restrictions[index].rule_concerning_categories = true;
                })
            },
            productSelectionButton: function(){
                let that = this;
                that.coupon_restriction_select = true;
                that.coupon_info.coupon_restrictions.push({
                    rule_concerning: null,
                    number_of_products_required_in_carts: null,
                    products: null,
                    categories: null,
                    rule_concerning_products: null,
                    rule_concerning_categories: null
                });
            },
            addRuleConcerning: function(){
                let that = this;
                $.each(that.coupon_info.coupon_restrictions,function(index,coupon_restriction){
                    if( that.coupon_info.coupon_restrictions[index].rule_concerning == 'Products'){
                        that.coupon_info.coupon_restrictions[index].rule_concerning_products = true;
                    }else if( that.coupon_info.coupon_restrictions[index].rule_concerning == 'Categories'){
                        that.coupon_info.coupon_restrictions[index].rule_concerning_categories = true;
                    }
                })
            },
            removeRow: function(index){
                let that = this;
                Vue.delete( that.coupon_info.coupon_restrictions, index);
            },
            applyDiscountOption: function(){
                let that = this;
                if( that.coupon_info.apply_discount_option == "Percent"){
                    that.percent_option_select = true;
                    that.amount_option_select = false;
                    that.none_option_select = false;
                    that.coupon_info.no_discount = "No";
                    that.coupon_info.vat_include_on_discount_amount = null;
                    that.coupon_info.discount_amount = null;
                    that.coupon_info.discount_amount_currency_id = null;
                    that.coupon_info.exclude_discounted_products = "Yes";
                }
                if( that.coupon_info.apply_discount_option == "Amount"){
                    that.amount_option_select = true;
                    that.percent_option_select = false;
                    that.none_option_select = false;
                    that.coupon_info.no_discount = "No";
                    that.coupon_info.discount_percent = null;
                    that.coupon_info.exclude_discounted_products = "No";
                }
                if( that.coupon_info.apply_discount_option == "None"){
                    that.none_option_select = true;
                    that.amount_option_select = false;
                    that.percent_option_select = false;
                    that.coupon_info.no_discount = "Yes";
                    that.coupon_info.vat_include_on_discount_amount = null;
                    that.coupon_info.discount_amount = null;
                    that.coupon_info.discount_amount_currency_id = null;
                    that.coupon_info.discount_percent = null;
                    that.coupon_info.exclude_discounted_products = "No";
                }
            },
            showError: function(message) {
                  var errorString = '';
                  if (message.hasOwnProperty('error')) {
                      for(var prop in message.error) {
                          if (Array.isArray(prop)) {
                              for (var msg in prop) {
                                  errorString += message.error[prop] + '<BR>';
                              }
                          }
                          else {
                            errorString += message.error[prop] + '<BR>';
                          }
                      }
                      console.log("errorString: " + errorString);
                  }
            },
            saveCouponSettings: function(){
                let that = this;
                if( !that.coupon_info.status ){
                    that.coupon_info.status = false;
                }
                else if( that.coupon_info.status != null ){
                    that.coupon_info.status = true;
                }
                if( !that.coupon_info.high_light ){
                    that.coupon_info.high_light = false;
                }
                if( !that.coupon_info.exclude_discounted_products ){
                    that.coupon_info.exclude_discounted_products = "No";
                }
                axios.post('/coupon_settings/save_coupon_settings',that.coupon_info)
                .then(function (response) {
                        let message = response.data.message;
                        var route_url =  window.location.origin+"/coupon/"+response.data.coupon_id+"/edit";     
                        Swal.fire({ 
                            icon: 'success',                 
                            title: "Great!",
                            text: message,
                            type: "success",
                            showCancelButton: false,
                            confirmButtonText: "Ok!",
                            closeOnConfirm: true,
                            closeOnCancel: false
                          }).then(response=>{
                            if(response.isConfirmed){
                                location.reload(true);
                            }
                        });  
                    })
                    .catch(function (error) {
                        if(error){
                            that.errors = error.response.data.errors;
                            console.log("Error Here: "+error.response.data.errors);
                        }
                    });
                }
        }
    }
</script>

