<template>
    <div class="">   
        <!--Start row-same-height -->        
        <div class="row row-same-height">
            <!--Start Customer Order Info -->
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Customer Order Info</h4>
                </div>
                <div class="panel-body">
                    <div class="col-md-7 col-div-full">
                        <div class="padding-30">
                            <div class="form-group-attached">
                                <div class="row clearfix">
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default required" v-bind:class="[errors.customer_id ? 'has-error' : '', '']">
                                            <label for="customer_no">Customer</label>
                                            <select v-model="customer_order_details.customer_id" v-on:change="applyCouponCodeForChanges()" class="cs-select cs-skin-slide cs-transparent form-control">
                                                <option value="">Select Customer</option>
                                                <option v-for="customer in customer_lists" v-bind:value="customer.id">{{ customer.first_name }} {{ customer.last_name }}( {{ customer.customer_no }} )</option>
                                            </select>
                                            <form-error v-if="errors.customer_id" :errors="errors">
                                                {{ errors.customer_id[0] }}
                                            </form-error>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default required" v-bind:class="[errors.order_date ? 'has-error' : '', '']">
                                            <label for="order_date">Order Date</label>
                                            <input v-model.lazy="customer_order_details.order_date" id="order_date" class ="form-control" placeholder="Select Date">
                                            <form-error v-if="errors.order_date" :errors="errors">
                                                {{ errors.order_date[0] }}
                                            </form-error>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-div-33">
                                         <div class="form-group form-group-default required" v-bind:class="[errors.expected_delivery_date ? 'has-error' : '', '']">
                                            <label for="expected_delivery_date">Expected Delivery Date</label>
                                            <input v-model.lazy="customer_order_details.expected_delivery_date" id="expected_delivery_date" class ="form-control" placeholder="Select Date">
                                            <form-error v-if="errors.expected_delivery_date" :errors="errors">
                                                {{ errors.expected_delivery_date[0] }}
                                            </form-error>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default">
                                            <label for="city">Invoice Prefix</label>
                                            <select v-model="customer_order_details.invoice_prefix_id" class="cs-select cs-skin-slide cs-transparent form-control">
                                                <option value="">Select Invoice Prefix</option>
                                                <option v-for="invoice_prefix in invoice_prefix_lists" v-bind:value="invoice_prefix.id">{{ invoice_prefix.name }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default float-left required" v-bind:class="[errors.company_currency_id ? 'has-error' : '', '']">
                                            <label for="value">Payment Currency</label>
                                            <select v-model="customer_order_details.company_currency_id" v-on:change="applyCouponCodeForChanges()" class="cs-select cs-skin-slide cs-transparent form-control">
                                                <option v-for="company_currency in company_currency_lists" v-bind:value="company_currency.id">{{ company_currency.name }}( {{ company_currency.code }} )</option>
                                            </select>                                            
                                            <form-error v-if="errors.company_currency_id" :errors="errors">
                                                {{ errors.company_currency_id[0] }}
                                            </form-error>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-div-33">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Customer Order Info -->  
        </div>
        <!--End row-same-height -->   
        <!--Start row-same-height -->       
        <div class="row row-same-height">
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Order Items Detail</h4>
                </div>
                <div class="panel-body">
                    <!--Star col-order-details-width --> 
                    <div class="col-md-7 col-order-details-width">                        
                        <div class="padding-30" v-for="(item_detail, index) in customer_order_details.customer_order_detail_items">
                            <!--Star customer-order-detail-items-first --> 
                            <div class="customer-order-detail-items-first">
                                <div class="form-group form-group-default required item_details float-left" v-bind:class="[errors['customer_order_detail_items.'+index+'.description'] ? 'has-error' : '', '']">
                                    <label for="description">Item Description</label>
                                    <input class ="form-control" type="text" v-model="customer_order_details.customer_order_detail_items[index].description" placeholder="Item Description">
                                    <form-error v-if="errors['customer_order_detail_items.'+index+'.description']" :errors="errors">
                                        {{ errors["customer_order_detail_items."+index+".description"][0] }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default required general_field float-left" v-bind:class="[errors['customer_order_detail_items.'+index+'.categories.'+0+'.id'] ? 'has-error' : '', '']">
                                    <label for="category">Category</label>
                                    <select v-model="customer_order_details.customer_order_detail_items[index].categories[0].id" v-on:change="applyCouponCodeForChanges()" class="cs-select cs-skin-slide cs-transparent form-control">
                                        <option value="">Select Category</option>
                                        <option v-for="category in categories" v-bind:value="category.id">{{ category.name }}</option>
                                    </select>
                                    <form-error v-if="errors['customer_order_detail_items.'+index+'.categories.'+0+'.id']" :errors="errors">
                                        {{ errors["customer_order_detail_items."+index+".categories."+0+".id"][0]  }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default general_field float-left" v-bind:class="[errors['customer_order_detail_items.'+index+'.unit_price'] ? 'has-error' : '', '']">
                                    <label for="unit_price">Unit Price</label>
                                    <input class ="form-control" type="text" v-model="customer_order_details.customer_order_detail_items[index].unit_price" placeholder="Unit Price">
                                    <form-error v-if="errors['customer_order_detail_items.'+index+'.unit_price']" :errors="errors">
                                        {{ errors["customer_order_detail_items."+index+".unit_price"][0]  }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default general_field float-left" v-bind:class="[errors['customer_order_detail_items.'+index+'.weight_tola'] ? 'has-error' : '', '']">
                                    <label for="weight_tola">Tola</label>
                                    <input class ="form-control" type="text" v-model="customer_order_details.customer_order_detail_items[index].weight_tola" placeholder="Weight Tola">
                                    <form-error v-if="errors['customer_order_detail_items.'+index+'.weight_tola']" :errors="errors">
                                        {{ errors["customer_order_detail_items."+index+".weight_tola"][0]  }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default general_field float-left" v-bind:class="[errors['customer_order_detail_items.'+index+'.weight_ana'] ? 'has-error' : '', '']">
                                    <label for="weight_ana">Ana</label>
                                    <input class ="form-control" type="text" v-model="customer_order_details.customer_order_detail_items[index].weight_ana" placeholder="Weight Ana">
                                    <form-error v-if="errors['customer_order_detail_items.'+index+'.weight_ana']" :errors="errors">
                                        {{ errors["customer_order_detail_items."+index+".weight_ana"][0]  }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default general_field float-left" v-bind:class="[errors['customer_order_detail_items.'+index+'.weight_rotti'] ? 'has-error' : '', '']">
                                    <label for="weight_rotti">Rotti</label>
                                    <input class ="form-control" type="text" v-model="customer_order_details.customer_order_detail_items[index].weight_rotti" placeholder="Weight Rotti">
                                    <form-error v-if="errors['customer_order_detail_items.'+index+'.weight_rotti']" :errors="errors">
                                        {{ errors["customer_order_detail_items."+index+".weight_rotti"][0]  }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default general_field float-left" v-bind:class="[errors['customer_order_detail_items.'+index+'.weight_milli'] ? 'has-error' : '', '']">
                                    <label for="weight_milli">Milli</label>
                                    <input class ="form-control" type="text" v-model="customer_order_details.customer_order_detail_items[index].weight_milli" placeholder="Weight Rotti">
                                    <form-error v-if="errors['customer_order_detail_items.'+index+'.weight_milli']" :errors="errors">
                                        {{ errors["customer_order_detail_items."+index+".weight_milli"][0]  }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default general_field float-left" v-bind:class="[errors['customer_order_detail_items.'+index+'.material_price'] ? 'has-error' : '', '']">
                                    <label for="material_price">Mat.Price</label>
                                    <input class ="form-control readonly-field-color" type="text" v-model="customer_order_details.customer_order_detail_items[index].material_price" placeholder="Material Price" v-bind:readonly="true">
                                    <form-error v-if="errors['customer_order_detail_items.'+index+'.material_price']" :errors="errors">
                                        {{ errors["customer_order_detail_items."+index+".material_price"][0]  }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default general_field float-left" v-bind:class="[errors['customer_order_detail_items.'+index+'.making_charge'] ? 'has-error' : '', '']">
                                    <label for="making_charge">Mak.Charge</label>
                                    <input class ="form-control" type="text" v-model="customer_order_details.customer_order_detail_items[index].making_charge" placeholder="Making Charge">
                                    <form-error v-if="errors['customer_order_detail_items.'+index+'.making_charge']" :errors="errors">
                                        {{ errors["customer_order_detail_items."+index+".making_charge"][0]  }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default required general_field float-left" v-bind:class="[errors['customer_order_detail_items.'+index+'.price_exclusive_vat'] ? 'has-error' : '', '']">
                                    <label for="price_exclusive_vat">Price Exc.Vat</label>
                                    <input class ="form-control readonly-field-color" type="text" v-model="customer_order_details.customer_order_detail_items[index].price_exclusive_vat" placeholder="Price Exclusive Vat" v-bind:readonly="true">
                                    <form-error v-if="errors['customer_order_detail_items.'+index+'.price_exclusive_vat']" :errors="errors">
                                        {{ errors["customer_order_detail_items."+index+".price_exclusive_vat"][0]  }}
                                    </form-error>
                                </div>
                            </div>
                            <!--End customer-order-detail-items-first --> 
                            <!--Star customer-order-detail-items-second --> 
                            <div class="customer-order-detail-items-second">
                                <div class="form-group form-group-default general_field float-left">
                                    <label for="vat">Vat</label>
                                    <select v-on:change="getVatAmount( customer_order_details.customer_order_detail_items[index].vat_id, index )" v-model="customer_order_details.customer_order_detail_items[index].vat_id" class="cs-select cs-skin-slide cs-transparent form-control">
                                        <option value="">Select Vat</option>
                                        <option v-for="vat in vat_lists" v-bind:value="vat.id">{{ vat.name }}( {{ vat.percent }} % )</option>
                                    </select>
                                </div>
                                <div class="form-group form-group-default required general_field float-left" v-bind:class="[errors['customer_order_detail_items.'+index+'.price_inclusive_vat'] ? 'has-error' : '', '']">
                                    <label for="price_inclusive_vat">Price Inc.Vat</label>
                                    <input class ="form-control readonly-field-color" type="text" v-model="customer_order_details.customer_order_detail_items[index].price_inclusive_vat" placeholder="Price Inclusive Vat" v-bind:readonly="true">
                                    <form-error v-if="errors['customer_order_detail_items.'+index+'.price_inclusive_vat']" :errors="errors">
                                        {{ errors["customer_order_detail_items."+index+".price_inclusive_vat"][0]  }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default general_field float-left" v-bind:class="[errors['customer_order_detail_items.'+index+'.discount_amount'] ? 'has-error' : '', '']">
                                    <label for="discount_amount">Discount</label>
                                    <input class ="form-control" type="text" v-model="customer_order_details.customer_order_detail_items[index].discount_amount" placeholder="Discount">
                                    <form-error v-if="errors['customer_order_detail_items.'+index+'.discount_amount']" :errors="errors">
                                        {{ errors["customer_order_detail_items."+index+".discount_amount"][0]  }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default required general_field float-left" v-bind:class="[errors['customer_order_detail_items.'+index+'.status'] ? 'has-error' : '', '']">
                                    <label for="category">Item Status</label>
                                    <select v-model="customer_order_details.customer_order_detail_items[index].status" class="cs-select cs-skin-slide cs-transparent form-control">
                                        <option value="">Select Item Status</option>
                                        <option v-for="customer_order_status in customer_order_status_lists" v-bind:value="customer_order_status.slug">{{ customer_order_status.name }}</option>
                                    </select>
                                    <form-error v-if="errors['customer_order_detail_items.'+index+'.status']" :errors="errors">
                                        {{ errors["customer_order_detail_items."+index+".status"][0]  }}
                                    </form-error>
                                </div>
                            </div>
                            <!--End customer-order-detail-items-second --> 
                            <div>
                                <button class="button btn-primary" v-on:click="removeRow(index)">Remove This Item</button> 
                             </div>
                            <br>
                        </div>
                        <div>
                            <button class="button btn-primary" v-on:click="addRow">Add New Item</button>
                        </div>
                    </div>
                    <!--End col-order-details-width --> 
                    <!--Star col-order-summary-width --> 
                    <div class="col-md-7 col-order-summary-width">
                        <div class="padding-30">
                            <div class="panel-heading title-color">
                                <h4 class="panel-title">Payment Summary</h4>
                            </div>
                            <div class="form-group-attached">
                                <div class="form-group form-group-default required" v-bind:class="[errors.total_amount_inclusive_vat ? 'has-error' : '', '']">
                                    <label for="total_amount_inclusive_vat">Total Amount</label>
                                    <input v-model="customer_order_details.total_amount_inclusive_vat" class ="form-control readonly-field-color" placeholder="Total Amount" v-bind:readonly="true">
                                    <form-error v-if="errors.total_amount_inclusive_vat" :errors="errors">
                                        {{ errors.total_amount_inclusive_vat[0] }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default" v-bind:class="[errors.total_item_discount ? 'has-error' : '', '']">
                                    <label for="total_discount">Total Discount</label>
                                    <input v-model="customer_order_details.total_item_discount" class ="form-control" placeholder="Total Discount">
                                    <form-error v-if="errors.total_item_discount" :errors="errors">
                                        {{ errors.total_item_discount[0] }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default">
                                    <label for="coupon_code">Coupon Code</label>
                                    <input v-model="customer_order_details.coupon_code"  class ="form-control" placeholder="Coupon Code">
                                </div>
                                <div class="form-group form-group-default">
                                    <a  v-on:click="applyCouponCode()" class="btn coupon-apply-btn pull-right coupon-apply-button btn-success">Apply Coupon</a>
                                </div>
                                <div class="form-group form-group-default" v-bind:class="[errors.coupon_discount_amount ? 'has-error' : '', '']">
                                    <label for="coupon_discount_amount">Coupon Discount Amount</label>
                                    <input  v-model="customer_order_details.coupon_discount_amount" class ="form-control readonly-field-color" placeholder="Coupon Discount Amount" v-bind:readonly="true">
                                    <form-error v-if="errors.coupon_discount_amount" :errors="errors">
                                        {{ errors.coupon_discount_amount[0] }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default required" v-bind:class="[errors.net_amount ? 'has-error' : '', '']">
                                    <label for="net_sum">Net. Sum</label>
                                    <input v-model="customer_order_details.net_amount" class ="form-control readonly-field-color" placeholder="Net. Sum" v-bind:readonly="true">
                                    <form-error v-if="errors.net_amount" :errors="errors">
                                        {{ errors.net_amount[0] }}
                                    </form-error>
                                </div>                                
                                <!--Start payment-calculation -->
                                <div v-if="sale_paid.payment_method.name == 'Cash'" class="form-group form-group-default"  v-bind:class="[errors['cash_payment_amount'] ? 'has-error' : '', '']" v-for="(sale_paid, index) in customer_order_details.sale_paids"> 
                                    <label for="cash_payment_amount">Cash Payment</label> 
                                    <input v-model="customer_order_details.cash_payment_amount" class ="form-control" placeholder="Cash Payment">
                                    <form-error v-if="errors['cash_payment_amount']" :errors="errors">
                                        {{ errors["cash_payment_amount"][0] }}
                                    </form-error>     
                                </div>   
                                <!--End payment-calculation -->      
                                <!--Start payment-calculation -->
                                <div v-if="sale_paid.payment_method.name == 'Master Card' || sale_paid.payment_method.name == 'Visa Card' || sale_paid.payment_method.name == 'Bkash' || sale_paid.payment_method.name == 'Select Payment Method' " v-for="(sale_paid, index) in customer_order_details.sale_paids">
                                    <div class="form-group form-group-default" v-bind:class="[errors.payment_method_id ? 'has-error' : '', '']" >
                                        <label for="payment_method">Digital Payment Method</label>
                                        <select v-if="sale_paid.payment_method.name != 'Cash'" v-model="customer_order_details.sale_paids[index].payment_method.id" v-on:change="showPaymentMethodMetaField($event)" class ="form-control payment-calculation-digital-payment-input-select cs-select cs-skin-slide cs-transparent form-control">
                                            <option value="">Select Payment Method</option>
                                            <option v-if="company_payment_method.name!='Cash'" v-for="company_payment_method in company_payment_method_lists" v-bind:value="company_payment_method.id">{{ company_payment_method.name }}</option>
                                        </select>                  
                                    </div>         
                                    <!--Start payment_by_card --> 
                                    <div v-if="sale_paid.payment_method.name == 'Master Card' || sale_paid.payment_method.name == 'Visa Card' || sale_paid.payment_method.name == 'Bkash'" class="form-group form-group-default required" v-bind:class="[errors['digital_payment_amount'] ? 'has-error' : '', '']"> 
                                        <label for="cash_payment_amount">Digital Payment</label>          
                                        <input v-model="customer_order_details.digital_payment_amount" class ="form-control" placeholder="Amount">
                                        <form-error v-if="errors['digital_payment_amount']" :errors="errors">
                                            {{ errors["digital_payment_amount"][0] }}
                                        </form-error>
                                    </div> 
                                    <div v-for="(sale_paid_detail, sale_paid_detail_index) in sale_paid.sale_paid_details"> 
                                        <div v-if="sale_paid_detail.meta_data == 'Name On Card'" class="form-group form-group-default required" v-bind:class="[errors['sale_paids.'+index+'.sale_paid_details.'+sale_paid_detail_index+'.value'] ? 'has-error' : '', '']">
                                            <label for="name_on_card">Name On Card</label>
                                            <input v-model="customer_order_details.sale_paids[index].sale_paid_details[sale_paid_detail_index].value" class ="form-control" type="text" placeholder="Name On Card">
                                            <form-error v-if="errors['sale_paids.'+index+'.sale_paid_details.'+sale_paid_detail_index+'.value']" :errors="errors">
                                                {{ errors["sale_paids."+index+".sale_paid_details."+sale_paid_detail_index+".value"][0] }}
                                            </form-error>
                                        </div>          
                                        <div v-if="sale_paid_detail.meta_data == 'Card No'" class="form-group form-group-default required" v-bind:class="[errors['sale_paids.'+index+'.sale_paid_details.'+sale_paid_detail_index+'.value'] ? 'has-error' : '', '']">
                                            <label for="name_on_card">Card No</label>
                                            <input v-model="customer_order_details.sale_paids[index].sale_paid_details[sale_paid_detail_index].value" class ="form-control" type="text" placeholder="Card No">
                                            <form-error v-if="errors['sale_paids.'+index+'.sale_paid_details.'+sale_paid_detail_index+'.value']" :errors="errors">
                                                {{ errors["sale_paids."+index+".sale_paid_details."+sale_paid_detail_index+".value"][0] }}
                                            </form-error>            
                                        </div>
                                        <div v-if="sale_paid_detail.meta_data == 'Account Type'" class="form-group form-group-default required" v-bind:class="[errors['sale_paids.'+index+'.sale_paid_details.'+sale_paid_detail_index+'.value'] ? 'has-error' : '', '']">
                                            <label for="name_on_card">Account Type</label>
                                            <input v-model="customer_order_details.sale_paids[index].sale_paid_details[sale_paid_detail_index].value" class ="form-control" type="text" placeholder="Account Type">          
                                            <form-error v-if="errors['sale_paids.'+index+'.sale_paid_details.'+sale_paid_detail_index+'.value']" :errors="errors">
                                                {{ errors["sale_paids."+index+".sale_paid_details."+sale_paid_detail_index+".value"][0] }}
                                            </form-error>          
                                        </div>
                                        <div v-if="sale_paid_detail.meta_data == 'Received From'" class="form-group form-group-default required" v-bind:class="[errors['sale_paids.'+index+'.sale_paid_details.'+sale_paid_detail_index+'.value'] ? 'has-error' : '', '']">
                                            <label for="name_on_card">Received From</label>
                                            <input v-model="customer_order_details.sale_paids[index].sale_paid_details[sale_paid_detail_index].value" class ="form-control" type="text" placeholder="Received From">
                                            <form-error v-if="errors['sale_paids.'+index+'.sale_paid_details.'+sale_paid_detail_index+'.value']" :errors="errors">
                                                {{ errors["sale_paids."+index+".sale_paid_details."+sale_paid_detail_index+".value"][0] }}
                                            </form-error>
                                        </div>
                                    </div>
                                    <div class="form-validation-error float-right">
                                        <form-error v-if="errors.payment_method_id" :errors="errors">
                                            {{ errors.payment_method_id[0] }}
                                        </form-error>
                                    </div>    
                                </div>
                                <!--End payment-calculation -->
                                <!--Start payment-calculation -->
                                <div class="form-group form-group-default required" v-bind:class="[errors.remain_sum ? 'has-error' : '', '']">
                                    <label for="net_sum">Remain Sum</label>
                                    <input v-model="customer_order_details.remain_sum" class ="form-control readonly-field-color" placeholder="Remain Sum" v-bind:readonly="true">
                                    <form-error v-if="errors.remain_sum" :errors="errors">
                                        {{ errors.remain_sum[0] }}
                                    </form-error>
                                </div>
                                <!--End payment-calculation -->
                                <!--Start payment-calculation -->
                                <div class="form-group form-group-default">
                                    <label for="change_amount">Change Amount</label>
                                    <input v-model="customer_order_details.change_amount" class ="form-control readonly-field-color" placeholder="Change Amount" v-bind:readonly="true">
                                </div>
                                <!--End payment-calculation -->
                            </div>
                            <br>
                        </div>
                    </div>
                    <!--End col-order-summary-width -->                 
                </div>
            </div>
            <div class="col-sm-2 col-md-2 col-2 pull-right ">
                <a  v-on:click="saveCustomerOrderDetail()" class="btn create-button pull-right sales-button-size">Save</a>
            </div>
        </div>
        <!--End row-same-height -->   
    </div>
</template>
<script>
    require('../../plugins/bootstrap-datepicker/js/bootstrap-datepicker.js');
    const Swal = require("sweetalert2");
    export default {
        data(){
            return{
                errors: [],
                customer_lists: [],
                invoice_prefix_lists: [],
                vat_lists: [],
                categories: [],
                customer_order_status_lists: [],
                country_lists: [],
                company_currency_lists: [],
                company_payment_method_lists: [],
                vat_percent: '00',
                coupon_discount: '',
                paymentMethod: '',
                customer_order_details:
                {
                    out_let_id: null,
                    order_by: null,
                    customer_id: null,
                    order_no: null,
                    order_date: null,
                    expected_delivery_date: null,
                    delivered_date: null,
                    invoice_prefix_id: null,
                    invoice_no: null,
                    company_currency_id: null,
                    total_amount_exclusive_vat: '00',
                    total_vat: '00',
                    total_amount_inclusive_vat: '00',
                    total_item_discount: '00',
                    coupon_code: null,
                    coupon_id: null,
                    coupon_discount_amount: '00',
                    net_amount: '00',
                    cash_payment_method_id: null,
                    cash_payment_amount:'00',   
                    digital_payment_amount: '00',  
                    remain_sum: '00',
                    change_amount: '00',
                    status: null,                        
                    payment_by_cash: null,
                    payment_by_card: null,
                    payment_by_bkash: null,                        
                    customer_order_detail_items:[
                        {
                            categories: [{ id: null, }],
                            description: null,             
                            product_id: null,
                            quantity: 1,
                            unit_price: '',
                            weight_tola: '',
                            weight_ana: '',
                            weight_rotti: '',
                            weight_milli: '',
                            weight_gram: '',
                            material_price: '',
                            making_charge: '',
                            price_exclusive_vat: '',
                            vat_id: null,
                            vat_amount: '',
                            price_inclusive_vat: '',
                            discount_amount: '',
                            status: null,
                        }
                    ],
                    paymentMethod: null,  
                    /* This sale_paids pre-generation is important to show Payment filed properly. Wihout this pre-generation Payment will not show in Frontend */
                    sale_paids:[{paid_amount:null, payment_method: {}, sale_paid_details:[{meta_data:null, value:null}] }],
                },
                message: "",
            }
        },
        props: [''],
        async mounted() {
            let that = this;
            this.getCustomerLists();
            this.getInvoicePrefixLists();
            this.getVatLists();
            that.getCompanyCategory();
            that.getCompanyCustomerOrderStatus();
            that.getCompanyCurrencyLists();
            await that.getCompanyPaymentMethodLists(); 
            await that.getSalePaidDetail(); 

            $(function() {
                "use strict";
                $('#order_date').datepicker({
                    format: 'yyyy-mm-dd',
                    // startDate: new Date(),
                    todayHighlight: true,
                }).change(function() {
                    that.customer_order_details.order_date = $('#order_date').val();
                    that.customer_order_details.expected_delivery_date = '';
                    $('#expected_delivery_date').datepicker("setStartDate", that.customer_order_details.order_date);
                });
                $('#expected_delivery_date').datepicker({
                    format: 'yyyy-mm-dd',
                    // startDate: $('#order_date').val(),
                    todayHighlight: false
                }).change(function() {
                    that.customer_order_details.expected_delivery_date = $('#expected_delivery_date').val();
                });
            });
        },
        computed:{
            material_price: function(){
                let that = this;
                $.each(that.customer_order_details.customer_order_detail_items,function(index,item_detail){
                    var price_tola = that.customer_order_details.customer_order_detail_items[index].unit_price * that.customer_order_details.customer_order_detail_items[index].weight_tola;
                    var price_per_ana = that.customer_order_details.customer_order_detail_items[index].unit_price / 16;
                    var price_per_rotti = that.customer_order_details.customer_order_detail_items[index].unit_price / 96;
                    var price_per_milli = price_per_rotti / 10;
                    var price_ana = price_per_ana * that.customer_order_details.customer_order_detail_items[index].weight_ana;
                    var price_rotti = price_per_rotti * that.customer_order_details.customer_order_detail_items[index].weight_rotti;
                    var price_milli = price_per_milli * that.customer_order_details.customer_order_detail_items[index].weight_milli;
                    that.customer_order_details.customer_order_detail_items[index].material_price = price_tola + price_ana + price_rotti + price_milli;
                })
            },
            price_exclusive_vat: function(){
                let that = this;
                var total_amount_exclusive_vat = '00';
                that.customer_order_details.total_amount_exclusive_vat = '00';
                $.each(that.customer_order_details.customer_order_detail_items,function(index,item_detail){
                    if(that.customer_order_details.customer_order_detail_items[index].making_charge){
                        that.customer_order_details.customer_order_detail_items[index].price_exclusive_vat = parseFloat(that.customer_order_details.customer_order_detail_items[index].material_price) + parseFloat( that.customer_order_details.customer_order_detail_items[index].making_charge );
                    }else{
                        that.customer_order_details.customer_order_detail_items[index].price_exclusive_vat = parseFloat(that.customer_order_details.customer_order_detail_items[index].material_price);
                    }
                    that.customer_order_details.total_amount_exclusive_vat = parseFloat( that.customer_order_details.total_amount_exclusive_vat ) + parseFloat( that.customer_order_details.customer_order_detail_items[index].price_exclusive_vat );
                    console.log(" price_exclusive_vat : " + that.customer_order_details.customer_order_detail_items[index].price_exclusive_vat);
                })
            },
            price_inclusive_vat: function(){
                let that = this;
                $.each(that.customer_order_details.customer_order_detail_items,function(index,item_detail){
                    if(that.customer_order_details.customer_order_detail_items[index].vat_amount){
                        that.customer_order_details.customer_order_detail_items[index].price_inclusive_vat = that.customer_order_details.customer_order_detail_items[index].item_total_amount = parseFloat(that.customer_order_details.customer_order_detail_items[index].price_exclusive_vat) + parseFloat( that.customer_order_details.customer_order_detail_items[index].vat_amount );
                    }else{
                        that.customer_order_details.customer_order_detail_items[index].price_inclusive_vat = that.customer_order_details.customer_order_detail_items[index].item_total_amount = parseFloat(that.customer_order_details.customer_order_detail_items[index].price_exclusive_vat);
                    }
                })
            },
            total_amount_inclusive_vat: function(){
                let that = this;
                var total_amount_inclusive_vat = '00';
                $.each(that.customer_order_details.customer_order_detail_items,function(index,item_detail){
                    if( that.customer_order_details.customer_order_detail_items[index].price_inclusive_vat ){
                        total_amount_inclusive_vat = parseFloat( total_amount_inclusive_vat ) + parseFloat(that.customer_order_details.customer_order_detail_items[index].price_inclusive_vat);
                    }else{
                        total_amount_inclusive_vat = parseFloat( total_amount_inclusive_vat );
                    }
                })
                that.customer_order_details.total_amount_inclusive_vat = total_amount_inclusive_vat;
            },
            total_item_discount: function(){
                let that = this;
                var total_item_discount = '00';
                $.each(that.customer_order_details.customer_order_detail_items,function(index,item_detail){
                    if(that.customer_order_details.customer_order_detail_items[index].discount_amount){
                        total_item_discount = parseFloat(total_item_discount) + parseFloat(that.customer_order_details.customer_order_detail_items[index].discount_amount);
                    }else{
                        total_item_discount = parseFloat(total_item_discount);
                    }
                })
                that.customer_order_details.total_item_discount = total_item_discount;
            },
            /*
            vat_amount: function(){
                let that = this;
                var total_vat = '00';
                $.each(that.customer_order_details.customer_order_detail_items,function(index,item_detail){
                        that.customer_order_details.customer_order_detail_items[index].vat_amount = (that.customer_order_details.customer_order_detail_items[index].vat_percent / 100) * that.customer_order_details.customer_order_detail_items[index].price_exclusive_vat;
                        if(that.customer_order_details.customer_order_detail_items[index].vat_amount){
                            total_vat = parseFloat(total_vat) + parseFloat(that.customer_order_details.customer_order_detail_items[index].vat_amount);
                        }
                })
                that.customer_order_details.total_vat = total_vat;
            },*/
            discount_amount: function(){
                let that = this;
                $.each(that.customer_order_details.customer_order_detail_items,function(index,item_detail){
                    that.customer_order_details.customer_order_detail_items[index].discount_amount = that.customer_order_details.customer_order_detail_items[index].discount_amount ? that.customer_order_details.customer_order_detail_items[index].discount_amount : '00';
                    that.customer_order_details.customer_order_detail_items[index].item_total_amount =  parseFloat(that.customer_order_details.customer_order_detail_items[index].price_inclusive_vat) - parseFloat( that.customer_order_details.customer_order_detail_items[index].discount_amount );
                })
            },
            /*coupon_discount_amount: function(){
                let that = this;
                if( that.customer_order_details.coupon_code != null ){
                    that.applyCouponCode();
                }
                $.each(that.customer_order_details.customer_order_detail_items,function(index,item_detail){
                    that.customer_order_details.customer_order_detail_items[index].coupon_discount_amount = that.customer_order_details.customer_order_detail_items[index].coupon_discount_amount ? that.customer_order_details.customer_order_detail_items[index].coupon_discount_amount : '00';
                    that.customer_order_details.customer_order_detail_items[index].item_total_amount =  parseFloat(that.customer_order_details.customer_order_detail_items[index].price_inclusive_vat) - parseFloat( that.customer_order_details.customer_order_detail_items[index].coupon_discount_amount );
                })
            },*/
            net_amount: function(){
                let that = this;
                that.customer_order_details.net_amount = Math.round( parseFloat( that.customer_order_details.total_amount_inclusive_vat ) - ( parseFloat( that.customer_order_details.total_item_discount ) + parseFloat( that.customer_order_details.coupon_discount_amount ) ));
            },
            paid_amount: function(){

            },
            remain_sum: function(){                
                let that = this;
                var digital_payment_amount = 0;
                if(that.customer_order_details.digital_payment_amount){
                  digital_payment_amount = parseFloat( that.customer_order_details.digital_payment_amount );
                }
                var cash_payment_amount = 0;
                if(that.customer_order_details.cash_payment_amount){
                  cash_payment_amount = parseFloat( that.customer_order_details.cash_payment_amount );
                }
                console.log("There I'm");
                that.customer_order_details.remain_sum = Math.max(0,Math.round( parseFloat( that.customer_order_details.net_amount ) - ( parseFloat( cash_payment_amount ) + parseFloat( digital_payment_amount ) ) ));
            },
            change_amount: function(){
              let that = this;
              var digital_payment_amount = 0;
              if(that.customer_order_details.digital_payment_amount){
                digital_payment_amount = parseFloat( that.customer_order_details.digital_payment_amount );
              }
              var cash_payment_amount = 0;
              if(that.customer_order_details.cash_payment_amount){
                cash_payment_amount = parseFloat( that.customer_order_details.cash_payment_amount );
              }
              that.customer_order_details.change_amount = Math.max(0,Math.round( ( parseFloat( cash_payment_amount ) + parseFloat( digital_payment_amount ) ) - parseFloat( that.customer_order_details.net_amount )));
              if(!that.customer_order_details.change_amount){
                  that.customer_order_details.change_amount = 0;
              }
            },
        },
        watch:{
            material_price: function(){
                let that = this;
                    $.each(that.customer_order_details.customer_order_detail_items,function(index,item_detail){
                    console.log('Material Price Changed...');
                })
            },
            price_exclusive_vat: function(){
                console.log('Price Exclusive Vat Changed...');
            },
            price_inclusive_vat: function(){
                console.log('Price Inclusive Vat Changed...');
            },
            total_amount_inclusive_vat: function(){
                console.log('Total Amount Inclusive Vat Changed...');
            },
            coupon_discount_amount: function(){
                console.log('Coupon Discount Amount Changed...');
            },
            order_discount_amount: function(){
                console.log('Order Discount Amount Changed...');
            },
            total_item_discount: function(){
                console.log('Total Discount Amount Changed...');
            },
            vat_amount: function(){
                console.log('Vat Amount Changed...');
            },
            net_amount: function(){
                console.log('Net. Amount Changed...');
            },
            paid_amount: function(){
                console.log('Paid Amount Changed...');
            },
            remain_sum: function(){
                console.log('Remain Sum Changed...');
            },
            change_amount: function(){
                console.log('Change Amount Changed...');
            },
        },
        methods: {
            addRow: function(){
                let that = this;                
                that.customer_order_details.customer_order_detail_items.push(
                    {
                        categories: [{ id: null, }],
                        description: null,                        
                        product_id: null,
                        quantity: 1,
                        unit_price: '',
                        weight_tola: '',
                        weight_ana: '',
                        weight_rotti: '',
                        weight_milli: '',
                        weight_gram: '',
                        material_price: '',
                        making_charge: '',
                        price_exclusive_vat: '',
                        vat_id: null,
                        vat_amount: '',
                        price_inclusive_vat: '',
                        discount_amount: '',
                    }
                );
            },
            removeRow: function(index){
                let that = this;
                Vue.delete( that.customer_order_details.customer_order_detail_items, index);
            },
            getCustomerLists: function(){
                let that = this;
                axios.get('/api/customer_lists/get_customer_lists')
                    .then(function (response) {
                        that.customer_lists = response.data;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            getInvoicePrefixLists: function(){
                let that = this;
                axios.get('/api/invoice_prefix_lists/get_invoice_prefix_lists'
                ).then(function (response) {
                    that.invoice_prefix_lists = response.data;
                })
                .catch(function (error) {
                    that.errors = error;
                });
            },
            getVatLists: function(){
                let that = this;
                axios.get('/api/vat_lists/get_vat_lists')
                    .then(function (response) {
                        that.vat_lists = response.data;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            getCompanyCategory: function(){
                let that = this;
                axios.get('/api/company_category/get_company_category')
                    .then(function (response) {
                    that.categories = response.data;
                })
                .catch(function (error) {
                    that.errors = error;
                });
            },
            getCompanyCustomerOrderStatus: function(){
                let that = this;
                axios.get('/api/company_customer_order_status/get_company_customer_order_status')
                    .then(function (response) {
                    that.customer_order_status_lists = response.data;
                })
                .catch(function (error) {
                    that.errors = error;
                });
            },
            getCompanyPaymentMethodLists: function(){
                let that = this;
                return axios.get('/api/payment_method/get_company_payment_method')
                    .then((response) => {
                    that.company_payment_method_lists = response.data;
                    /* Generate sale_paids object */
                    if(that.company_payment_method_lists){
                      var cash_payment_method_id = that.company_payment_method_lists.filter(function (payment_method) {
                            return payment_method.name == "Cash";
                      });
                      /* For Cash Payment*/                      
                      that.customer_order_details.cash_payment_method_id = cash_payment_method_id[0].id;
                    } 
                })
                .catch(function (error) {
                    that.errors = error;
                });
            },
            getSalePaidDetail: function(){
              let that = this;
              console.log('Heda working' + that.customer_order_details.cash_payment_method_id);
              axios.post('/api/customer_order_detail_paids/get_customer_order_detail_paid_history', {
                  customer_order_detail_id: null,
                  cash_payment_method_id: that.customer_order_details.cash_payment_method_id                   
              })
              .then((sale_paid) => {
                  that.customer_order_details.sale_paids = sale_paid.data;
              })
              .catch(function (error) {
                  that.errors = error;
              });  
            },
            getCompanyCurrencyLists: function(){
                let that = this;
                axios.get('/api/company_currency_lists/get_company_currency_lists')
                    .then(function (response) {
                        that.company_currency_lists = response.data;
                        $.each( that.company_currency_lists,function(index,company_currency_list){
                            if( company_currency_list.default=="Yes" ){
                                that.customer_order_details.company_currency_id = company_currency_list.id;
                                //that.customer_order_details.coupon_currency_id = company_currency_list.id;
                            }
                        })
                    })
                .catch(function (error) {
                    that.errors = error;
                });
            },
            getVatAmount: function( vat_id, index ){
               console.log("Index" + index);
               console.log("vat Id" + vat_id);
               let that = this;
               axios.post('/api/vat_percent/get_vat_percent',
                    { vat_id: vat_id }
               ).then(function (response) {
                    that.customer_order_details.customer_order_detail_items[index].vat_percent = response.data.percent;
                    that.customer_order_details.customer_order_detail_items[index].vat_amount = ( that.customer_order_details.customer_order_detail_items[index].vat_percent / 100) * that.customer_order_details.customer_order_detail_items[index].price_exclusive_vat;
               })
               .catch(function (error) {
                    that.errors = error;
               });
            },
            applyCouponCodeForChanges: function(){
               let that = this;
               /*if( that.customer_order_details.coupon_code != null){
                    that.applyCouponCode();
               }*/
            },
            applyCouponCode: function(){
                let that = this;
                if( that.customer_order_details.coupon_code != null ){
                    axios.post('/api/coupon_code/apply_coupon_code', that.customer_order_details)
                        .then(function (response) {
                            if( response.data.error_message ){
                                alert(response.data.error_message);
                                that.customer_order_details.coupon_discount_amount = response.data.discount_amount;
                                that.coupon_discount = response.data;
                            }else{
                                that.customer_order_details.coupon_discount_amount = response.data.discount_amount;
                                that.coupon_discount = response.data;
                                that.customer_order_details.coupon_id = response.data.coupon_id;
                                console.log("Return data"+ response.data.discount_amount);
                            }
                        })
                       .catch(function (error) {
                            that.errors = error;
                    });
                }
            },
            showPaymentMethodMetaField: function(event){ 
              let that = this; 
              that.errors = ""; 
              that.customer_order_details.digital_payment_amount = '';
              that.customer_order_details.paymentMethod = event.target.options[event.target.selectedIndex].text;
              if(!$.isEmptyObject(that.customer_order_details.sale_paids)){      
                  $.each(that.customer_order_details.sale_paids,function(index,sale_paid){
                    if(sale_paid.payment_method.name !="Cash"){
                      delete that.customer_order_details.sale_paids[index].created_at; 
                      delete that.customer_order_details.sale_paids[index].deleted_at;                      
                      delete that.customer_order_details.sale_paids[index].paid_date;
                      that.customer_order_details.sale_paids[index].payment_method.name = that.customer_order_details.paymentMethod; 
                      that.customer_order_details.sale_paids[index].id = null;
                      if(sale_paid.sale_paid_details){   
                        if(that.customer_order_details.paymentMethod == "Master Card" || that.customer_order_details.paymentMethod == "Visa Card"){
                          that.customer_order_details.sale_paids[index].sale_paid_details[0].meta_data = 'Name On Card';
                          that.customer_order_details.sale_paids[index].sale_paid_details[0].value = ''; 
                          that.customer_order_details.sale_paids[index].sale_paid_details[1].meta_data = 'Card No';
                          that.customer_order_details.sale_paids[index].sale_paid_details[1].value = ''; 
                        }
                        else if(that.customer_order_details.paymentMethod == "Bkash"){
                          that.customer_order_details.sale_paids[index].sale_paid_details[0].meta_data = 'Account Type';
                          that.customer_order_details.sale_paids[index].sale_paid_details[0].value = ''; 
                          that.customer_order_details.sale_paids[index].sale_paid_details[1].meta_data = 'Received From';
                          that.customer_order_details.sale_paids[index].sale_paid_details[1].value = ''; 
                        }
                        else if(that.customer_order_details.paymentMethod =="Select Payment Method"){
                          delete that.customer_order_details.digital_payment_amount;
                          that.customer_order_details.sale_paids[index].paid_amount = parseInt(0);
                          that.customer_order_details.sale_paids[index].sale_paid_details[0].meta_data = '';
                          that.customer_order_details.sale_paids[index].sale_paid_details[0].value = ''; 
                          that.customer_order_details.sale_paids[index].sale_paid_details[1].meta_data = '';
                          that.customer_order_details.sale_paids[index].sale_paid_details[1].value = ''; 
                        }
                      }
                    }
                  })
              } 
            },
            saveCustomerOrderDetail: function(){
                let that = this
                if(that.paymentMethod == "Cash"){
                    that.customer_order_details.payment_details = [];
                    that.customer_order_details.payment_details.push({
                        meta_data: "Payment By",
                        value: that.customer_order_details.payment_by,
                    });
                }
                else if(that.paymentMethod == "Master Card" || that.paymentMethod == "Visa Card"){
                    that.customer_order_details.payment_details = [];
                    that.customer_order_details.payment_details.push({
                        meta_data: "Name On Card",
                        value: that.customer_order_details.name_on_card,
                    });
                    that.customer_order_details.payment_details.push({
                        meta_data: "Card No",
                        value: that.customer_order_details.card_no,
                    });
                }
                else if(that.paymentMethod == "Bkash" ){
                    that.customer_order_details.payment_details = [];
                    that.customer_order_details.payment_details.push({
                        meta_data: "Account Type",
                        value: that.customer_order_details.account_type,
                    });
                    that.customer_order_details.payment_details.push({
                        meta_data: "Received From No",
                        value: that.customer_order_details.received_from_no,
                    });
                }
                axios.post('/api/customer_order_detail/save_customer_order_detail', that.customer_order_details)
                .then(function (response) {
                    that.message = response.data.message;
                    console.log("response Here: "+response.data);
                    var route_url =  window.location.origin+"/frontend/customer_order_detail/"+response.data.customer_order_detail_id+"/edit";
                    
                    Swal.fire({ 
                        icon: "success",                   
                        title: "Great!",
                        text: that.message,
                        type: "success",
                        showCancelButton: false,
                        confirmButtonText: "Ok!",
                        closeOnConfirm: true,
                        closeOnCancel: false
                    }).then(response=>{
                        if(response.isConfirmed){
                           window.location.href = route_url;
                        }
                    }); 
                })
                .catch(error => {
                    that.errors = error.response.data.errors;
                    let message = error.response.data.message;
                    Swal.fire({ 
                        icon: "error",                   
                        title: "Opps!",
                        text: message,
                        type: "error",
                        showCancelButton: false,
                        confirmButtonText: "Ok!",
                        closeOnConfirm: true,
                        closeOnCancel: false
                    });                    
                });
            }
        }
    }
</script>

