<template>
    <div class="">
        <!--Start Customer Order Info -->
        <div class="row row-same-height">
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Customer Order Info</h4>
                </div>
                <div class="panel-body">
                    <div class="col-md-7 col-div-full">
                        <div class="padding-30">
                            <div class="form-group-attached">
                                <div class="row clearfix">
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default required">
                                            <label for="customer_no">Customer</label>
                                            <select v-model="customer_order_info.customer_id" v-on:change="applyCouponCodeForChanges()" class="cs-select cs-skin-slide cs-transparent form-control">
                                                <option value="">Select Customer</option>
                                                <option v-for="customer in customer_lists" v-bind:value="customer.id">{{ customer.first_name }} {{ customer.last_name }}( {{ customer.customer_no }} )</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default required">
                                            <label for="order_number">Order No</label>
                                            <input v-model="customer_order_info.order_no" class ="form-control" placeholder="Order No">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default required">
                                            <label for="order_date">Order Date</label>
                                            <input v-model.lazy="customer_order_info.order_date" id="order_date" class ="form-control" placeholder="Select Date">
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-6 col-div-33">
                                         <div class="form-group form-group-default required">
                                            <label for="expected_delivery_date">Expected Delivery Date</label>
                                            <input v-model.lazy="customer_order_info.expected_delivery_date" id="expected_delivery_date" class ="form-control" placeholder="Select Date">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default">
                                            <label for="city">Invoice Prefix</label>
                                            <select v-model="customer_order_info.invoice_prefix_id" class="cs-select cs-skin-slide cs-transparent form-control">
                                                <option value="">Select Invoice Prefix</option>
                                                <option v-for="invoice_prefix in invoice_prefix_lists" v-bind:value="invoice_prefix.id">{{ invoice_prefix.name }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default required">
                                            <label for="zip">Invoice No</label>
                                            <input v-model="customer_order_info.invoice_no" class ="form-control" placeholder="Invoice no">
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-6 col-div-33 float-left">
                                        <div class="form-group form-group-default float-left required">
                                            <label for="value">Payment Currency</label>
                                            <select v-model="customer_order_info.company_currency_id" v-on:change="applyCouponCodeForChanges()" class="cs-select cs-skin-slide cs-transparent form-control">
                                                <option v-for="company_currency in company_currency_lists" v-bind:value="company_currency.id">{{ company_currency.name }}( {{ company_currency.code }} )</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Customer Order Info -->
        <!--Start Order Items Detail -->
        <div class="row row-same-height">
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Order Items Detail</h4>
                </div>
                <div class="panel-body">
                    <div class="col-md-7 col-order-details-width">
                        <div>
                          <button class="button btn-primary" v-on:click="addRow">Add row</button>
                        </div>
                        <div class="padding-30" v-for="(item_detail, index) in customer_order_info.items_detail">
                            <div class="form-group form-group-default required item_details float-left">
                                <label for="item_description">Item Description</label>
                                <input class ="form-control" type="text" v-model="customer_order_info.items_detail[index].item_description" placeholder="Item Description">
                            </div>
                            <div class="form-group form-group-default required general_field float-left">
                                <label for="category">Category</label>
                                <select v-model="customer_order_info.items_detail[index].category_id" v-on:change="applyCouponCodeForChanges()" class="cs-select cs-skin-slide cs-transparent form-control">
                                    <option value="">Select Category</option>
                                    <option v-for="category in category_lists" v-bind:value="category.id">{{ category.name }}</option>
                                </select>
                            </div>
                            <div class="form-group form-group-default required general_field float-left">
                                <label for="unit_price">Unit Price</label>
                                <input class ="form-control" type="text" v-model="customer_order_info.items_detail[index].unit_price" placeholder="Unit Price">
                            </div>
                            <div class="form-group form-group-default general_field float-left">
                                <label for="weight_tola">Tola</label>
                                <input class ="form-control" type="text" v-model="customer_order_info.items_detail[index].weight_tola" placeholder="Weight Tola">
                            </div>
                            <div class="form-group form-group-default general_field float-left">
                                <label for="weight_ana">Ana</label>
                                <input class ="form-control" type="text" v-model="customer_order_info.items_detail[index].weight_ana" placeholder="Weight Ana">
                            </div>
                            <div class="form-group form-group-default general_field float-left">
                                <label for="weight_rotti">Rotti</label>
                                <input class ="form-control" type="text" v-model="customer_order_info.items_detail[index].weight_rotti" placeholder="Weight Rotti">
                            </div>
                            <div class="form-group form-group-default general_field float-left">
                                <label for="weight_milli">Milli</label>
                                <input class ="form-control" type="text" v-model="customer_order_info.items_detail[index].weight_milli" placeholder="Weight Rotti">
                            </div>
                            <div class="form-group form-group-default required general_field float-left">
                                <label for="material_price">Mat.Price</label>
                                <input class ="form-control readonly-field-color" type="text" v-model="customer_order_info.items_detail[index].material_price" placeholder="Material Price" v-bind:readonly="true">
                            </div>
                            <div class="form-group form-group-default required general_field float-left">
                                <label for="making_charge">Mak.Charge</label>
                                <input class ="form-control" type="text" v-model="customer_order_info.items_detail[index].making_charge" placeholder="Making Charge">
                            </div>
                            <div class="form-group form-group-default required general_field float-left">
                                <label for="price_exclusive_vat">Price Exc.Vat</label>
                                <input class ="form-control readonly-field-color" type="text" v-model="customer_order_info.items_detail[index].price_exclusive_vat" placeholder="Price Exclusive Vat" v-bind:readonly="true">
                            </div>
                            <div class="form-group form-group-default general_field float-left">
                                <label for="vat">Vat</label>
                                <select v-on:change="getVatAmount( customer_order_info.items_detail[index].vat_id, index )" v-model="customer_order_info.items_detail[index].vat_id" class="cs-select cs-skin-slide cs-transparent form-control">
                                    <option value="">Select Vat</option>
                                    <option v-for="vat in vat_lists" v-bind:value="vat.id">{{ vat.name }}( {{ vat.percent }} % )</option>
                                </select>
                            </div>
                            <div class="form-group form-group-default required general_field float-left">
                                <label for="price_inclusive_vat">Price Inc.Vat</label>
                                <input class ="form-control readonly-field-color" type="text" v-model="customer_order_info.items_detail[index].price_inclusive_vat" placeholder="Price Inclusive Vat" v-bind:readonly="true">
                            </div>
                            <div class="form-group form-group-default general_field float-left">
                                <label for="item_discount_amount">Discount</label>
                                <input class ="form-control" type="text" v-model="customer_order_info.items_detail[index].item_discount_amount" placeholder="Discount">
                            </div>
                            <td><a v-on:click="removeRow(index)">Remove</a></td>
                            <br>
                        </div>
                    </div>
                    <div class="col-md-7 col-order-summary-width">
                        <div class="padding-30">
                            <div class="panel-heading title-color">
                                <h4 class="panel-title">Order Summary</h4>
                            </div>
                            <div class="form-group-attached">
                                <div class="form-group form-group-default required">
                                    <label for="total_amount_inclusive_vat">Total Amount</label>
                                    <input v-model="customer_order_info.total_amount_inclusive_vat" class ="form-control readonly-field-color" placeholder="Total Amount" v-bind:readonly="true">
                                </div>
                                <div class="form-group form-group-default">
                                    <label for="total_discount">Total Discount</label>
                                    <input v-model="customer_order_info.total_item_discount" id="order_date" class ="form-control" placeholder="Total Discount">
                                </div>
                                <div class="form-group form-group-default">
                                    <label for="coupon_code">Coupon Code</label>
                                    <input v-on:blur="applyCouponCode()" v-model="customer_order_info.coupon_code" id="expected_delivery_date" class ="form-control" placeholder="Coupon Code">
                                </div>
                                <div class="form-group form-group-default">
                                    <label for="coupon_discount_amount">Coupon Discount Amount</label>
                                    <input  v-model="customer_order_info.coupon_discount_amount" class ="form-control readonly-field-color" placeholder="Coupon Discount Amount" v-bind:readonly="true">
                                </div>
                                <div class="form-group form-group-default required">
                                    <label for="net_sum">Net. Sum</label>
                                    <input v-model="customer_order_info.net_amount" class ="form-control readonly-field-color" placeholder="Net. Sum" v-bind:readonly="true">
                                </div>
                             </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
                <a  v-on:click="saveCustomerOrder()" class="btn btn-success pull-right">Save</a>
        </div>
        <!--End Order Items Detail -->
    </div>
</template>

<script>
    require('../../plugins/bootstrap-datepicker/js/bootstrap-datepicker.js');
    export default {
        data(){
            return{
                customer_lists: [],
                invoice_prefix_lists: [],
                vat_lists: [],
                category_lists: [],
                country_lists: [],
                company_currency_lists: [],
                vat_percent: '00',
                coupon_discount: '',
                customer_order_info:
                    {
                        company_id: null,
                        out_let_id: null,
                        customer_id: null,
                        company_currency_id: null,
                        currency_id: null,
                        order_by: null,
                        order_no: null,
                        order_date: null,
                        expected_delivery_date: null,
                        delivered_date: null,
                        invoice_prefix_id: null,
                        invoice_no: null,
                        total_amount_exclusive_vat: '00',
                        total_amount_inclusive_vat: '00',
                        total_item_discount: '00',
                        discount_coupon_id: null,
                        coupon_discount_amount: '00',
                        net_amount: '00',
                        status: null,
                        is_sales_to_member: null,
                        items_detail: [
                            {
                                item_description: null,
                                item_quantity: 1,
                                product_id: null,
                                category_id: null,
                                unit_price: '',
                                weight_bhori: '',
                                weight_ana: '',
                                weight_rotti: '',
                                weight_milli: '',
                                weight_gram: '',
                                material_price: '',
                                making_charge: '',
                                vat_id: null,
                                vat_percent: '',
                                vat_amount: '',
                                price_exclusive_vat: '',
                                price_inclusive_vat: '',
                                item_discount_amount: '',
                                item_total_amount: '',
                            }
                        ],
                        coupon_code: null,
                    },
               }
        },
        props: ['created_by_out_let_id'],
        mounted() {
            let that = this;
            this.getCustomerLists();
            this.getInvoicePrefixLists();
            this.getVatLists();
            that.getCompanyCategory();
            that.getCompanyCurrencyLists();
            $(function() {
                "use strict";
                $('#order_date').datepicker({
                    format: 'yyyy-mm-dd'
                }).change(function() {
                    that.customer_order_info.order_date = $('#order_date').val();
                });
                $('#expected_delivery_date').datepicker({
                    format: 'yyyy-mm-dd'
                }).change(function() {
                    that.customer_order_info.expected_delivery_date = $('#expected_delivery_date').val();
                });
            });
        },
        computed:{
            material_price: function(){
                let that = this;
                $.each(that.customer_order_info.items_detail,function(index,item_detail){
                    var price_bhori = that.customer_order_info.items_detail[index].unit_price * that.customer_order_info.items_detail[index].weight_bhori;
                    var price_per_ana = that.customer_order_info.items_detail[index].unit_price / 16;
                    var price_per_rotti = that.customer_order_info.items_detail[index].unit_price / 96;
                    var price_per_milli = price_per_rotti / 10;
                    var price_ana = price_per_ana * that.customer_order_info.items_detail[index].weight_ana;
                    var price_rotti = price_per_rotti * that.customer_order_info.items_detail[index].weight_rotti;
                    var price_milli = price_per_milli * that.customer_order_info.items_detail[index].weight_milli;
                    that.customer_order_info.items_detail[index].material_price = price_bhori + price_ana + price_rotti + price_milli;
                })
            },
            price_exclusive_vat: function(){
                let that = this;
                var total_amount_exclusive_vat = '00';
                that.customer_order_info.total_amount_exclusive_vat = '00';
                $.each(that.customer_order_info.items_detail,function(index,item_detail){
                    if(that.customer_order_info.items_detail[index].making_charge){
                        that.customer_order_info.items_detail[index].price_exclusive_vat = parseFloat(that.customer_order_info.items_detail[index].material_price) + parseFloat( that.customer_order_info.items_detail[index].making_charge );
                    }else{
                        that.customer_order_info.items_detail[index].price_exclusive_vat = parseFloat(that.customer_order_info.items_detail[index].material_price);
                    }
                    that.customer_order_info.total_amount_exclusive_vat = parseFloat( that.customer_order_info.total_amount_exclusive_vat ) + parseFloat( that.customer_order_info.items_detail[index].price_exclusive_vat );
                    console.log(" price_exclusive_vat : " + that.customer_order_info.items_detail[index].price_exclusive_vat);
                })
            },
            price_inclusive_vat: function(){
                let that = this;
                $.each(that.customer_order_info.items_detail,function(index,item_detail){
                    if(that.customer_order_info.items_detail[index].vat_amount){
                        that.customer_order_info.items_detail[index].price_inclusive_vat = that.customer_order_info.items_detail[index].item_total_amount = parseFloat(that.customer_order_info.items_detail[index].price_exclusive_vat) + parseFloat( that.customer_order_info.items_detail[index].vat_amount );
                    }else{
                        that.customer_order_info.items_detail[index].price_inclusive_vat = that.customer_order_info.items_detail[index].item_total_amount = parseFloat(that.customer_order_info.items_detail[index].price_exclusive_vat);
                    }
                })
            },
            total_amount_inclusive_vat: function(){
                let that = this;
                var total_amount_inclusive_vat = '00';
                $.each(that.customer_order_info.items_detail,function(index,item_detail){
                    if( that.customer_order_info.items_detail[index].price_inclusive_vat ){
                        total_amount_inclusive_vat = parseFloat( total_amount_inclusive_vat ) + parseFloat(that.customer_order_info.items_detail[index].price_inclusive_vat);
                    }else{
                        total_amount_inclusive_vat = parseFloat( total_amount_inclusive_vat );
                    }
                })
                that.customer_order_info.total_amount_inclusive_vat = total_amount_inclusive_vat;
            },
            total_item_discount: function(){
                let that = this;
                var total_item_discount = '00';
                $.each(that.customer_order_info.items_detail,function(index,item_detail){
                    if(that.customer_order_info.items_detail[index].item_discount_amount){
                        total_item_discount = parseFloat(total_item_discount) + parseFloat(that.customer_order_info.items_detail[index].item_discount_amount);
                    }else{
                        total_item_discount = parseFloat(total_item_discount);
                    }
                })
                that.customer_order_info.total_item_discount = total_item_discount;
            },
            vat_amount: function(){
                let that = this;
                $.each(that.customer_order_info.items_detail,function(index,item_detail){
                    that.customer_order_info.items_detail[index].vat_amount = (that.customer_order_info.items_detail[index].vat_percent / 100) * that.customer_order_info.items_detail[index].price_exclusive_vat;
                })
            },
            order_discount_amount: function(){
                let that = this;
                $.each(that.customer_order_info.items_detail,function(index,item_detail){
                    that.customer_order_info.items_detail[index].order_discount_amount = that.customer_order_info.items_detail[index].order_discount_amount ? that.customer_order_info.items_detail[index].order_discount_amount : '00';
                    that.customer_order_info.items_detail[index].item_total_amount =  parseFloat(that.customer_order_info.items_detail[index].price_inclusive_vat) - parseFloat( that.customer_order_info.items_detail[index].order_discount_amount );
                })
            },
            coupon_discount_amount: function(){
                let that = this;
                if( that.customer_order_info.coupon_code != null ){
                    that.applyCouponCode();
                }
                $.each(that.customer_order_info.items_detail,function(index,item_detail){
                    that.customer_order_info.items_detail[index].coupon_discount_amount = that.customer_order_info.items_detail[index].coupon_discount_amount ? that.customer_order_info.items_detail[index].coupon_discount_amount : '00';
                    that.customer_order_info.items_detail[index].item_total_amount =  parseFloat(that.customer_order_info.items_detail[index].price_inclusive_vat) - parseFloat( that.customer_order_info.items_detail[index].coupon_discount_amount );
                })
            },
            net_amount: function(){
                let that = this;
                that.customer_order_info.net_amount = Math.round( parseFloat( that.customer_order_info.total_amount_inclusive_vat ) - ( parseFloat( that.customer_order_info.total_item_discount ) + parseFloat( that.customer_order_info.coupon_discount_amount ) ));
            },
        },
        watch:{
            material_price: function(){
                let that = this;
                    $.each(that.customer_order_info.items_detail,function(index,item_detail){
                    console.log('Material Price Changed...');
                })
            },
            price_exclusive_vat: function(){
                console.log('Price Exclusive Vat Changed...');
            },
            price_inclusive_vat: function(){
                console.log('Price Inclusive Vat Changed...');
            },
            total_amount_inclusive_vat: function(){
                console.log('Total Amount Inclusive Vat Changed...');
            },
            coupon_discount_amount: function(){
                console.log('Coupon Discount Amount Changed...');
            },
            order_discount_amount: function(){
                console.log('Order Discount Amount Changed...');
            },
            total_item_discount: function(){
                console.log('Total Discount Amount Changed...');
            },
            vat_amount: function(){
                console.log('Vat Amount Changed...');
            },
            net_amount: function(){
                console.log('Net. Amount Changed...');
            },
        },
        methods: {
            addRow: function(){
                let that = this;
                that.customer_order_info.items_detail.push(
                    {
                        item_description: null,
                        item_quantity: 1,
                        product_id: null,
                        category_id: null,
                        unit_price: '',
                        weight_bhori: '',
                        weight_ana: '',
                        weight_rotti: '',
                        weight_milli: '',
                        weight_gram: '',
                        material_price: '',
                        making_charge: '',
                        vat_id: null,
                        vat_percent: '',
                        vat_amount: '',
                        price_exclusive_vat: '',
                        price_inclusive_vat: '',
                        item_discount_amount: '',
                        item_total_amount: '',
                    }
                );
            },
            removeRow: function(index){
                let that = this;
                Vue.delete( that.customer_order_info.items_detail, index);
            },
            getCustomerLists: function(){
                let that = this;
                axios.get('/api/customer_lists/get_customer_lists')
                    .then(function (response) {
                        that.customer_lists = response.data;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            getInvoicePrefixLists: function(){
                let that = this;
                axios.get('/api/invoice_prefix_lists/get_invoice_prefix_lists'
                ).then(function (response) {
                    that.invoice_prefix_lists = response.data;
                })
                .catch(function (error) {
                    that.errors = error;
                });
            },
            getVatLists: function(){
                let that = this;
                axios.get('/api/vat_lists/get_vat_lists')
                    .then(function (response) {
                        that.vat_lists = response.data;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            getCompanyCategory: function(){
                let that = this;
                axios.get('/api/company_category/get_company_category')
                    .then(function (response) {
                    that.category_lists = response.data;
                })
                .catch(function (error) {
                    that.errors = error;
                });
            },
            getCompanyCurrencyLists: function(){
                let that = this;
                axios.get('/api/company_currency_lists/get_company_currency_lists')
                    .then(function (response) {
                        that.company_currency_lists = response.data;
                        $.each( that.company_currency_lists,function(index,company_currency_list){
                            if( company_currency_list.default=="Yes" ){
                                that.customer_order_info.company_currency_id = company_currency_list.id;
                                that.customer_order_info.coupon_currency_id = company_currency_list.id;
                            }
                        })
                    })
                .catch(function (error) {
                    that.errors = error;
                });
            },
            getVatAmount: function( vat_id, index ){
               console.log("Index" + index);
               console.log("vat Id" + vat_id);
               let that = this;
               axios.post('/api/vat_percent/get_vat_percent',
                    { vat_id: vat_id }
               ).then(function (response) {
                    that.customer_order_info.items_detail[index].vat_percent = response.data.percent;
                    that.customer_order_info.items_detail[index].vat_amount = ( that.customer_order_info.items_detail[index].vat_percent / 100) * that.customer_order_info.items_detail[index].price_exclusive_vat;
               })
               .catch(function (error) {
                    that.errors = error;
               });
            },
            applyCouponCodeForChanges: function(){
               let that = this;
               if( that.customer_order_info.coupon_code != null){
                    that.applyCouponCode();
               }
            },
            applyCouponCode: function(){
                let that = this;
                if( that.customer_order_info.coupon_code != null ){
                    axios.post('/api/coupon_code/apply_coupon_code', that.customer_order_info)
                        .then(function (response) {
                            if( response.data.error_message ){
                                alert(response.data.error_message);
                                that.customer_order_info.coupon_discount_amount = response.data.discount_amount;
                                that.coupon_discount = response.data;
                            }else{
                                that.customer_order_info.coupon_discount_amount = response.data.discount_amount;
                                that.coupon_discount = response.data;
                                console.log("Return data"+ response.data.discount_amount);
                            }
                        })
                       .catch(function (error) {
                            that.errors = error;
                    });
                }
            },
            saveCustomerOrder: function(){
                let that = this
                /*if( that.customer_order_info.customer_id == '' ){
                    alert("Customer can't be empty");
                    return false;
                }
                else if( that.customer_order_info.serial_no == '' ){
                    alert("Serial no can't be empty");
                    return false;
                }
                else if( $.isEmptyObject( that.customer_order_info.order_date ) ){
                    alert("Order date can't be empty");
                    return false;
                }
                else if( $.isEmptyObject( that.customer_order_info.expected_delivery_date ) ){
                    alert("Delivery date can't be empty");
                    return false;
                }
                else if( that.customer_order_info.invoice_prefix_id == '' ){
                    alert("Invoice prefix can't be empty");
                    return false;
                }
                else if( that.customer_order_info.invoice_no == '' ){
                    alert("Invoice no can't be empty");
                    return false;
                }
                else if( that.customer_order_info.order_details == '' ){
                    alert("Order details can't be empty");
                    return false;
                }
                else if( !$.isNumeric( that.customer_order_info.unit_price ) ){
                    alert("Unit price should be numeric");
                    return false;
                }
                else if( !$.isNumeric( that.customer_order_info.weight_rotti ) ){
                    alert("Weight in rotti should be numeric");
                    return false;
                }
                else if( !$.isNumeric( that.customer_order_info.weight_milli ) ){
                    alert("Weight in milli should be numeric");
                    return false;
                }
                else if( !$.isNumeric( that.customer_order_info.items_detail[0].material_price ) ){
                    alert("Material price should be numeric");
                    return false;
                }
                else if( !$.isNumeric( that.customer_order_info.making_charge ) ){
                    alert("Making charge should be numeric");
                    return false;
                }
                else if( !$.isNumeric( that.customer_order_info.price_exclusive_vat ) ){
                    alert("Price exclusive vat should be numeric");
                    return false;
                }
                else if( that.customer_order_info.vat_id =='' ){
                    alert("Vat can't be empty");
                    return false;
                }
                else if( !$.isNumeric( that.customer_order_info.vat_amount ) ){
                    alert("Vat amount should be numeric");
                    return false;
                }
                else if( !$.isNumeric( that.customer_order_info.price_inclusive_vat ) ){
                    alert("Price inclusive vat should be numeric");
                    return false;
                }
                else if( that.customer_order_info.order_discount_amount !='' && !$.isNumeric( that.customer_order_info.order_discount_amount ) ){
                    alert("Order discount amount should be numeric");
                    return false;
                }
                else if( that.customer_order_info.coupon_discount_amount !='' && !$.isNumeric( that.customer_order_info.coupon_discount_amount ) ){
                    alert("Coupon discount amount should be numeric");
                    return false;
                }
                else if( !$.isNumeric( that.customer_order_info.item_total_amount ) ){
                    alert("Total amount should be numeric");
                    return false;
                }

                that.customer_info = [];

                that.customer_info = [{
                    customer_no:that.customer_data.customer_no, gender_id:that.customer_data.gender_id, country_id:that.customer_data.country_id, first_name:that.customer_data.first_name,
                    last_name:that.customer_data.last_name, cell_phone:that.customer_data.cell_phone, work_phone:that.customer_data.work_phone, email:that.customer_data.email,
                    date_of_birth:that.customer_data.date_of_birth, address:that.customer_data.address, address2:that.customer_data.address2, city:that.customer_data.city, zip:that.customer_data.zip,
                    created_by_out_let_id:that.created_by_out_let_id,
                }];*/

                var form = new FormData();

                form.append('customer_info',JSON.stringify(that.customer_info));

                axios.post('/api/customer/save_customer', form)
                    .then(function (response) {
                        if( response.data.success ){
                            alert( response.data.success )
                            that.customer_info_return = response.data.success;
                            that.customer_data = [];
                        }else{
                            alert( response.data.error )
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        }
    }
</script>

