<template>
    <div class="">
        <!--Start Customer Create -->
        <div class="row row-same-height">
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Customer Info</h4>
                </div>
                <div class="panel-body">
                    <div class="col-md-7 col-div-width">
                        <div class="padding-30">
                            <div class="form-group-attached">
                                <div class="form-group form-group-default required" v-bind:class="[errors.customer_no ? 'has-error' : '', '']">
                                    <label for="customer_no">Customer No</label>
                                    <input v-model="customer_data.customer_no" class ="form-control" placeholder="Customer No">
                                    <form-error v-if="errors.customer_no" :errors="errors">
                                        {{ errors.customer_no[0] }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default required" v-bind:class="[errors.first_name ? 'has-error' : '', '']">
                                    <label for="first_name">First Name</label>
                                    <input v-model="customer_data.first_name" class ="form-control" placeholder="First name">
                                    <form-error v-if="errors.first_name" :errors="errors">
                                        {{ errors.first_name[0] }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default required" v-bind:class="[errors.first_name ? 'has-error' : '', '']">
                                    <label for="last_name">Last Name</label>
                                    <input v-model="customer_data.last_name" class ="form-control" placeholder="Last name">
                                    <form-error v-if="errors.last_name" :errors="errors">
                                        {{ errors.last_name[0] }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default required" v-bind:class="[errors.gender_id ? 'has-error' : '', '']">
                                    <label for="gender">Gender</label>
                                    <select v-model="customer_data.gender_id" class="cs-select cs-skin-slide cs-transparent form-control">
                                        <option value="">Select Gender</option>
                                        <option v-for="gender in gender_lists" v-bind:value="gender.id">{{ gender.name }}</option>
                                    </select>
                                    <form-error v-if="errors.gender_id" :errors="errors">
                                        {{ errors.gender_id[0] }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default" v-bind:class="[errors.cell_phone ? 'has-error' : '', '']">
                                    <label for="cell_phone">Mobile No</label>
                                    <input v-model="customer_data.cell_phone" class ="form-control" placeholder="Cell phone">
                                    <form-error v-if="errors.cell_phone" :errors="errors">
                                        {{ errors.cell_phone[0] }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default">
                                    <label for="work_phone">Work phone</label>
                                    <input v-model="customer_data.work_phone" class ="form-control" placeholder="Work phone">
                                </div>
                                <div class="form-group form-group-default" v-bind:class="[errors.email ? 'has-error' : '', '']">
                                    <label for="email">Email</label>
                                    <input v-model="customer_data.email" class ="form-control" placeholder="Email">
                                    <form-error v-if="errors.email" :errors="errors">
                                        {{ errors.email[0] }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default">
                                    <label for="date_of_birth">Date of birth</label>
                                    <input v-model.lazy="customer_data.date_of_birth" id="date_of_birth" class ="form-control" placeholder="Select Date">
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="col-md-7 col-div-width">
                        <div class="padding-30">
                            <div class="form-group-attached">
                                <div class="form-group form-group-default required" v-bind:class="[errors.address ? 'has-error' : '', '']">
                                    <label for="address">Address</label>
                                    <input v-model="customer_data.address" class ="form-control" placeholder="Address">
                                    <form-error v-if="errors.address" :errors="errors">
                                        {{ errors.address[0] }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default">
                                    <label for="address2">Address2</label>
                                    <input v-model="customer_data.address2" class ="form-control" placeholder="Address2">
                                </div>
                                <div class="form-group form-group-default required" v-bind:class="[errors.city ? 'has-error' : '', '']">
                                    <label for="city">City</label>
                                    <input v-model="customer_data.city" class ="form-control" placeholder="City">
                                    <form-error v-if="errors.city" :errors="errors">
                                        {{ errors.city[0] }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default">
                                    <label for="zip">Zip</label>
                                    <input v-model="customer_data.zip" class ="form-control" placeholder="Zip">
                                </div>
                                <div class="form-group form-group-default required" v-bind:class="[errors.country_id ? 'has-error' : '', '']">
                                    <label for="gender">Country</label>
                                    <select v-model="customer_data.country_id" class="cs-select cs-skin-slide cs-transparent form-control">
                                        <option value="">Select Country</option>
                                        <option v-for="country in country_lists" v-bind:value="country.id">{{ country.name }}</option>
                                    </select>
                                    <form-error v-if="errors.country_id" :errors="errors">
                                        {{ errors.country_id[0] }}
                                    </form-error>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
                <a  v-on:click="saveCustomer()" class="btn create-button pull-right">Save</a>
        </div>
        <!--End Customer Create -->
    </div>
</template>

<script>
    require('../../plugins/bootstrap-datepicker/js/bootstrap-datepicker.js');
    const Swal = require("sweetalert2");
    import FormError from './FormError.vue';
    export default {
        components: {
            FormError
        },
        data(){
            return{
                errors: [],                
                customer_data: {
                    customer_no : null,
                    first_name : null,
                    last_name : null,
                    gender_id : null,
                    cell_phone : null,
                    work_phone : null,
                    email : null,
                    date_of_birth : null,
                    address : null,
                    address2 : null,
                    city : null,
                    zip : null,
                    country_id : null,
                },
                gender_lists: [],
                country_lists: [],
                customer_info: [],
                customer_info_return: [],
                message: ""
            }
        },

        props: ['created_by_out_let_id'],

        mounted() {
            let that = this;
            this.getGenderLists();
            this.getCountryLists();
            $(function() {
                "use strict";
                $('#date_of_birth').datepicker({
                    format: 'yyyy-mm-dd'
                }).change(function() {
                    that.customer_data.date_of_birth = $('#date_of_birth').val();
                });
            });
        },

        computed:{
            
        },

        watch:{
        },

        methods: {
            date_change: function(val){
            },
            getGenderLists: function(){
                let that = this;
                axios.get('/api/gender_lists/get_gender_lists')
                    .then(function (response) {
                        that.gender_lists = response.data;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            getCountryLists: function(){
                let that = this;
                axios.get('/api/country_lists/get_country_lists')
                    .then(function (response) {
                        that.country_lists = response.data;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            saveCustomer: function(){
                let that = this;               
                that.customer_info = [];
                axios.post('/api/customer/save_customer', that.customer_data)
                    .then(function (response) {
                        that.message = response.data.message;       
                        Swal.fire({ 
                            icon: 'success',   
                            title: "Great!",
                            text: that.message,
                            type: "success",
                            showCancelButton: false,
                            confirmButtonText: "Ok!",
                            closeOnConfirm: true,
                            closeOnCancel: false
                          }).then(response=>{
                            if(response.isConfirmed){
                                that.errors = [];
                                that.customer_data.customer_no = null;
                                that.customer_data.first_name = null;
                                that.customer_data.last_name = null;
                                that.customer_data.gender_id = null;
                                that.customer_data.cell_phone = null;
                                that.customer_data.work_phone = null;
                                that.customer_data.email = null;
                                that.customer_data.date_of_birth = '0000-00-00';
                                that.customer_data.address = null;
                                that.customer_data.address2 = null;
                                that.customer_data.city = null;
                                that.customer_data.zip = null;
                                that.customer_data.country_id = null;
                                //location.reload(true);
                            }
                        }); 
                    })
                    .catch(error => {
                      that.errors = error.response.data.errors;
                      that.message = error.response.data.message;
                        Swal.fire({ 
                          icon: "error",                   
                          title: "Opps!",
                          text: that.message,
                          type: "error",
                          showCancelButton: false,
                          confirmButtonText: "Ok!",
                          closeOnConfirm: true,
                          closeOnCancel: false
                       });  
                    });
                }
            }
        }
</script>

