<template>
    <div>
        <p class="p-t-35 sign-in-heading">Sign into your pages account</p>
        <div class="alert-success">{{ authentication_success_message }}</div>
        <div class="alert-danger">{{ authentication_failed_message }}</div>
        <!-- START Form Control-->
        <div class="login-area">
            <div class="form-group form-group-default required" v-bind:class="[errors.email ? 'has-error' : '', '']" >
                <label>Mobile no or email</label>
                <input v-model="login_email_or_mobile" class ="form-control validate instant-validate" placeholder="Mobile no or email">
                <form-error v-if="errors.email" :errors="errors">
                    {{ errors.email[0] }}
                </form-error>
            </div>            
            <div class="form-group form-group-default required" v-bind:class="[errors.password ? 'has-error' : '', '']" >
                <label>Password</label>                
                <input v-model="password" class ="form-control validate instant-validate" placeholder="Password" type="password">
                <form-error v-if="errors.password" :errors="errors">
                    {{ errors.password[0] }}
                </form-error>                
            </div>
            <div class="row">
                <div class="col-md-6 no-padding">
                    <div class="checkbox ">
                        <input v-model="loginDetails.remember" type="checkbox" value="1" id="checkbox1">
                        <label for="checkbox1">Keep Me Signed in</label>
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <a href="#" class="text-info small">Help? Contact Support</a>
                </div>
            </div>
            <a  v-on:click="doLogin" class="btn btn-primary btn-cons m-t-10">Sign in</a>
        </div>
        <div class="enter-outlet hide-enter-outlet">
            <div class="col-sm-6">
                <div class="form-group form-group-default">
                    <label for="out_let_id">Select Outlet</label>
                    <select v-model="out_let_id" class="cs-select cs-skin-slide cs-transparent form-control">
                        <option value="">Select Outlet</option>
                        <option v-for="out_let in out_lets.data" v-bind:value="out_let.id">{{ out_let.name }}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <a  v-on:click="enterInOutlet" class="btn btn-primary btn-cons m-t-10">Enter Into Outlet</a>
            </div>
        </div>
        <!-- END Form Control-->
    </div>
</template>
<script>
    import FormError from './FormError.vue';
    const Swal = require("sweetalert2");
    export default {
        components: {
            FormError
        },
        data(){
            return{
                token_response : null,
                errors: [], 
                loginDetails: {
                    login_email_or_mobile : null,
                    password : null,
                    remember : true
                },
                out_lets : [],
                is_logged_in : 0,
                login_email_or_mobile : null,
                password : null,
                out_let_id : null,
                authentication_success_message : null,
                authentication_failed_message : null,
                retruned_data : null,
                session_data : null,
            }
        },
        props: ['location', 'store'],
        mounted() {
            let that = this;
        },
        methods: {            
            doLogin: function(){
                let that = this;
                axios.post('/api/login_me', {
                            email: that.login_email_or_mobile,
                            password: that.password
                        }
                    )
                    .then((response) => {
                        that.token_response = response.data.token;
                        if(response.status === 200 ){   
                            localStorage.setItem("token", that.token_response);
                            axios.defaults.headers.common["Authorization"] = `Bearer ${that.token_response}`;                        
                            axios.get('/api/user_outlets/get_user_outlets')
                            .then(function (response) {
                                if(response.status === 200 ){
                                    $('.login-area').addClass('hide-login-area');
                                    $('.enter-outlet').addClass('show-enter-outlet');
                                    $('.sign-in-heading').addClass('hide-sign-in-heading');
                                    that.authentication_success_message = 'Authentication Success!!!';
                                    that.authentication_failed_message = null;
                                    that.out_lets = response.data;
                                    Swal.fire({ 
                                        icon: 'success',                 
                                        title: "Great!",
                                        text: that.authentication_success_message,
                                        type: "success",
                                        showCancelButton: false,
                                        confirmButtonText: "Ok!",
                                        closeOnConfirm: true,
                                        closeOnCancel: false
                                    }).then(response=>{
                                         
                                    });
                                }else if(response.data.error){
                                    console.log('hello' + response.data.error)
                                    that.authentication_failed_message = 'Authentication Failed, Try again!!!';
                                }
                            })
                            .catch(function (error) {
                                if(error.response.status==404){
                                    let message = error.response.data.message;
                                    Swal.fire({ 
                                        icon: 'error',                 
                                        title: "Opps!",
                                        text: message,
                                        type: "error",
                                        showCancelButton: false,
                                        confirmButtonText: "Ok!",
                                        closeOnConfirm: true,
                                        closeOnCancel: false
                                    }).then(response=>{
                                         
                                    });
                                }
                            });

                        }else if(response.data.error){
                            console.log(response.data.error)
                            that.authentication_failed_message = 'Authentication Failed, Try again!!!';
                        }
                    })
                    .catch(function (error) {         
                        if(error.response.status==401){
                            let message = error.response.data.message;
                            Swal.fire({ 
                                icon: 'error',                 
                                title: "Opps!",
                                text: message,
                                type: "error",
                                showCancelButton: false,
                                confirmButtonText: "Ok!",
                                closeOnConfirm: true,
                                closeOnCancel: false
                            }).then(response=>{
                                 
                            });
                        }
                    });
            },
            enterInOutlet: function(){
                let that = this;
                //localStorage.setItem('out_let_id',that.out_let_id);
                //location.href  = '/frontend/dashboard';
                axios.post('/api/user_outlets/enter_in_out_let', {
                        out_let_id: that.out_let_id
                    }
                )
                .then(function (response) {
                    that.session_data = response;
                    if( response ){
                        location.href  = '/frontend/dashboard';
                    }else if(response.data.error){
                        console.log(response.data.error)
                        that.enter_in_out_let_failed_message = 'Enter Into Outlet Failed, Try again!!!';
                    }
                })
                .catch(function (error) {
                    that.errors = error;
                    alert( error );
                });
            },
        }
    }
</script>
