<template>
  <div class="">
    <!-- Main -->
    <main id="main">
      <!-- Section - Bootstrap Brain Component -->
      <!-- Breadcrumb -->
      <section class="py-3 py-md-4 py-xl-5 bg-light">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <!-- <h1 class="h4">eCommerce Dashboard</h1> -->
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb m-0 fs-7">
                  <li class="breadcrumb-item"><a class="link-primary text-decoration-none" href="index.html">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </section>

      <!-- Section - Daily / Wekly / Monthly Sales Overview -->
      <section class="pb-3 pb-md-4 pb-xl-5 bg-light">
        <div class="container">
          <div class="row gy-3 gy-md-4">
            <div class="col-12 col-sm-6 col-xl-3">
              <div class="card widget-card border-light shadow-sm">
                <div class="card-body p-4">
                  <div class="row">
                    <div class="col-8">
                      <h5 class="card-title widget-card-title mb-3">Daily Sales</h5>
                      <h4 class="card-subtitle text-body-secondary m-0">{{ default_currency_name }} {{ daily_sales }}</h4>
                    </div>
                    <div class="col-4">
                      <div class="d-flex justify-content-end">
                        <div class="lh-1 text-white bg-primary rounded-circle p-3 d-flex align-items-center justify-content-center">
                          <i class="bi bi-cart fs-4"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="d-flex align-items-center mt-3">
                        <span class="lh-1 me-3 rounded-circle p-1 d-flex align-items-center justify-content-center" :class="daily_sales_incread_decreased_percentage_class">
                          <i class="bi bi-arrow-right-short bsb-rotate-45"></i>
                        </span>
                        <div>
                          <p class="fs-7 mb-0">{{ daily_sales_incread_decreased_percentage }}%</p>
                          <p class="fs-7 mb-0 text-secondary">since last day</p>
                        </div>                        
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="d-flex align-items-center mt-3">
                        <span class="lh-1 me-3 bg-success rounded-circle p-1 d-flex align-items-center justify-content-center">
                          <i class="bi bi-download"></i>
                        </span>
                        <div>
                           <p class="fs-7 mb-0 text-secondary"><a :href="'/frontend/dashboard/dailyreport'" class="b-grey bold-pdf-link"><i class="text-danger">Generate Pdf</i></a></p>
                        </div>                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3">
              <div class="card widget-card border-light shadow-sm">
                <div class="card-body p-4">
                  <div class="row">
                    <div class="col-8">
                      <h5 class="card-title widget-card-title mb-3">Weekly Sales </h5>
                      <h4 class="card-subtitle text-body-secondary m-0">{{ default_currency_name }} {{ weekly_sales }}</h4>
                    </div>
                    <div class="col-4">
                      <div class="d-flex justify-content-end">
                        <div class="lh-1 text-white bg-primary rounded-circle p-3 d-flex align-items-center justify-content-center">
                          <i class="bi bi-cart fs-4"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="d-flex align-items-center mt-3">
                        <span class="lh-1 me-3 rounded-circle p-1 d-flex align-items-center justify-content-center" :class="weekly_sales_incread_decreased_percentage_class">
                          <i class="bi bi-arrow-right-short bsb-rotate-n45"></i>
                        </span>
                        <div>
                          <p class="fs-7 mb-0">{{ weekly_sales_incread_decreased_percentage }}%</p>
                          <p class="fs-7 mb-0 text-secondary">since last week</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="d-flex align-items-center mt-3">
                        <span class="lh-1 me-3 bg-success rounded-circle p-1 d-flex align-items-center justify-content-center">
                          <i class="bi bi-download"></i>
                        </span>
                        <div>
                           <p class="fs-7 mb-0 text-secondary"><a :href="'/frontend/dashboard/weeklyreport'" class="b-grey bold-pdf-link"><i class="text-danger">Generate Pdf</i></a></p>
                        </div>                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3">
              <div class="card widget-card border-light shadow-sm">
                <div class="card-body p-4">
                  <div class="row">
                    <div class="col-8">
                      <h5 class="card-title widget-card-title mb-3">Monthly Sales </h5>
                      <h4 class="card-subtitle text-body-secondary m-0"> {{ default_currency_name }} {{ monthly_sales }}</h4>
                    </div>
                    <div class="col-4">
                      <div class="d-flex justify-content-end">
                        <div class="lh-1 text-white bg-primary rounded-circle p-3 d-flex align-items-center justify-content-center">
                          <i class="bi bi-cart fs-4"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="d-flex align-items-center mt-3">
                        <span class="lh-1 me-3 rounded-circle p-1 d-flex align-items-center justify-content-center" :class="monthly_sales_incread_decreased_percentage_class">
                          <i class="bi bi-arrow-right-short bsb-rotate-n45"></i>
                        </span>
                        <div>
                          <p class="fs-7 mb-0">{{monthly_sales_incread_decreased_percentage}}%</p>
                          <p class="fs-7 mb-0 text-secondary">since last month</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="d-flex align-items-center mt-3">
                        <span class="lh-1 me-3 bg-success rounded-circle p-1 d-flex align-items-center justify-content-center">
                          <i class="bi bi-download"></i>
                        </span>
                        <div>
                           <p class="fs-7 mb-0 text-secondary"> <a :href="'/frontend/dashboard/monthlyreport'" class="b-grey bold-pdf-link"><i class="text-danger">Generate Pdf</i></a></p>
                        </div>                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3">
              <div class="card widget-card border-light shadow-sm">
                <div class="card-body p-4">
                  <div class="row">
                    <div class="col-8">
                      <h5 class="card-title widget-card-title mb-3">Sales Between</h5>
                    </div>
                    <div class="col-4">
                      <div class="d-flex justify-content-end">
                        <div class="lh-1 text-white bg-primary rounded-circle p-3 d-flex align-items-center justify-content-center">
                          <i class="bi bi-cart fs-4"></i>
                        </div>
                      </div>
                    </div>
                  </div>                  
                  <div class="row">
                    <div class="col-md-12 m-b-10">
                      <div class="">
                          <input v-model.lazy="from_date" id="from_date" class ="form-control" placeholder="From Date">  
                      </div>
                      <div class="">
                          <input v-model.lazy="to_date" id="to_date" class ="form-control" placeholder="To Date">  
                      </div>                     
                    </div> 
                  </div>   
                  <div class="row">
                    <div class="col-12">
                      <div class="d-flex align-items-center mt-3">
                        <span class="lh-1 me-3 bg-success rounded-circle p-1 d-flex align-items-center justify-content-center">
                          <i class="bi bi-download"></i>
                        </span>
                        <div>
                           <p class="fs-7 mb-0 text-secondary"> <a v-bind:href="'/frontend/dashboard/reportbetween?from_date='+from_date+'&'+'to_date='+to_date" class="b-grey bold-pdf-link"><i class="text-danger">Generate Pdf</i></a></p>
                        </div>                        
                      </div>
                    </div>
                  </div>             
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Section - Yearly Sales and Department Sales Overview -->
      <section class="pb-3 pb-md-4 pb-xl-5 bg-light">
        <div class="container">
          <div class="row gy-3 gy-md-4">
            <div class="col-12 col-lg-6 col-xl-7">
              <!-- Chart 1 - Bootstrap Brain Component -->
              <div class="card widget-card border-light shadow-sm h-100">
                <div class="card-body p-4">
                  <div class="d-block d-sm-flex align-items-center justify-content-between mb-3">
                    <div class="mb-3 mb-sm-0">
                      <h5 class="card-title widget-card-title">Sales Overview</h5>
                    </div>
                    <div class="row">
                      <div class="col-5">
                        <input v-model.lazy="yearly_sales_overview.year" id="yearly_sales_overview_year" class ="form-control" placeholder="Select Year" > 
                      </div>
                      <div class="col-1 col-md-1">
                        <button class="btn btn-success btn-cons sales-button-size product_add_btn" @click="drawYearlyRevenueGraph()">Generate Overview</button>
                      </div>
                    </div>
                  </div>
                  <div id="bsb-chart-1"></div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-5">
              <!-- Chart 4 - Bootstrap Brain Component -->
              <div class="card widget-card border-light shadow-sm h-100">
                <div class="card-body p-4">
                  <div class="d-block d-sm-flex align-items-center justify-content-between mb-3">
                    <div class="mb-3 mb-sm-0">
                      <h5 class="card-title widget-card-title">Department Sales</h5>
                    </div>
                    <div class="row">
                      <div class="col-5">
                        <input v-model.lazy="category_wise_sales_overview.year" id="category_wise_sales_overview" class ="form-control" placeholder="Select Year" > 
                      </div>
                      <div class="col-1 col-md-1">
                        <button class="btn btn-success btn-cons sales-button-size product_add_btn" @click="drawCategoryWiseSalesGraph()">Generate Overview</button>
                      </div>
                    </div>
                  </div>
                  <div id="bsb-chart-4"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Section - Recent Transactions -->
      <section class="pb-3 pb-md-4 pb-xl-5 bg-light">
        <div class="container">
          <div class="row gy-3 gy-md-4">
            <div class="col-12 col-lg-12 col-xl-12">
              <!-- Timeline 8 - Bootstrap Brain Component -->
              <div class="card widget-card bsb-timeline-8 border-light shadow-sm h-100">
                <div class="card-body p-4">
                  <h5 class="card-title widget-card-title mb-3">Recent Transactions</h5>
                  <ul class="timeline" v-if="most_recent_three_sales.length > 0">
                    <li class="timeline-item" v-for="each_sale  in most_recent_three_sales">
                      <div class="timeline-body">
                        <div class="timeline-meta">
                          <!-- converted_duration -->
                          <span>{{ each_sale.converted_duration }}</span>
                        </div>
                        <div class="timeline-content timeline-indicator">
                          <h6 class="mb-1">Amount {{default_currency_name}} {{ each_sale.total_paid_amount }} received in the 
                          {{ each_sale.payment_method }} Payment method of Total Amount {{default_currency_name}} {{ each_sale.net_amount }}</h6>
                          <span class="text-secondary fs-7">Sales executive: {{ each_sale.sales_executive }}</span>
                        </div>
                      </div>
                    </li>
                    <!-- <li class="timeline-item">
                      <div class="timeline-body">
                        <div class="timeline-meta">
                          <span>49 minutes</span>
                        </div>
                        <div class="timeline-content timeline-indicator">
                          <h6 class="mb-1">New sale recorded in the Bootstrap admin templates.</h6>
                          <span class="text-secondary fs-7">Product: Console</span>
                        </div>
                      </div>
                    </li>
                    <li class="timeline-item">
                      <div class="timeline-body">
                        <div class="timeline-meta">
                          <span>2 hours</span>
                        </div>
                        <div class="timeline-content timeline-indicator">
                          <h6 class="mb-1">User registered in the discount campaign.</h6>
                          <span class="text-secondary fs-7">Country: United States</span>
                        </div>
                      </div>
                    </li> -->
                  </ul>
                </div>
              </div>
            </div>          
          </div>
        </div>
      </section>

      <!-- Section - Bootstrap Brain Component -->
      <section class="pb-3 pb-md-4 pb-xl-5 bg-light">
        <div class="container">
          <div class="row gy-3 gy-md-4">            
            <div class="col-12 col-lg-6 col-xl-7">
              <!-- Chart 4 - Bootstrap Brain Component -->
              <div class="card widget-card border-light shadow-sm h-100">
                <div class="card-body p-4">
                  <div class="d-block d-sm-flex align-items-center justify-content-between mb-3">
                    <div class="mb-3 mb-sm-0">
                      <h5 class="card-title widget-card-title">Revenue Stats</h5>
                    </div>
                    <div class="row">
                      <div class="col-5">
                        <input v-model.lazy="revenue_stats.year" id="revenue_stats" class ="form-control" placeholder="Select Year" >  
                      </div>
                      <div class="col-1 col-md-1">
                        <button class="btn btn-success btn-cons sales-button-size product_add_btn" @click="drawrevenueStatsGraph()">Generate Overview</button>
                      </div>
                    </div>
                  </div>
                  <div id="bsb-chart-3"></div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-5">
              <!-- Calendar 1 - Bootstrap Brain Component -->
              <div class="card widget-card border-light shadow-sm h-100">
                <div class="card-body p-4">
                  <div id="bsb-calendar-1" class="fc fc-media-screen fc-direction-ltr fc-theme-bootstrap5 bsb-calendar-theme"></div>
                </div>
              </div>
            </div>
            <!-- <div class="col-12 col-lg-6 col-xl-5"> -->
              <!-- Card 2 - Bootstrap Brain Component -->
              <!-- <div class="card widget-card border-light shadow-sm h-100">
                <div class="card-body p-4">
                  <h5 class="card-title widget-card-title mb-4">Payment Overview</h5>
                  <div class="row gy-4">
                    <div class="col-12">
                      <div class="row align-items-center">
                        <div class="col-8">
                          <div class="d-flex align-items-center">
                            <div>
                              <div class="fs-5 bsb-w-50 bsb-h-50 bg-primary-subtle text-primary rounded-2 d-flex align-items-center justify-content-center me-3">
                                <i class="bi bi-paypal"></i>
                              </div>
                            </div>
                            <div>
                              <h6 class="m-0">PayPal</h6>
                              <p class="text-secondary m-0 fs-7">Funds Received</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-4">
                          <h6 class="text-end">$5,432</h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="row align-items-center">
                        <div class="col-8">
                          <div class="d-flex align-items-center">
                            <div>
                              <div class="fs-5 bsb-w-50 bsb-h-50 bg-primary-subtle text-primary rounded-2 d-flex align-items-center justify-content-center me-3">
                                <i class="bi bi-stripe"></i>
                              </div>
                            </div>
                            <div>
                              <h6 class="m-0">Stripe</h6>
                              <p class="text-secondary m-0 fs-7">Invoice Paid</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-4">
                          <h6 class="text-end">$325</h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="row align-items-center">
                        <div class="col-8">
                          <div class="d-flex align-items-center">
                            <div>
                              <div class="fs-5 bsb-w-50 bsb-h-50 bg-primary-subtle text-primary rounded-2 d-flex align-items-center justify-content-center me-3">
                                <i class="bi bi-credit-card-fill"></i>
                              </div>
                            </div>
                            <div>
                              <h6 class="m-0">Credit Card</h6>
                              <p class="text-secondary m-0 fs-7">Top Up</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-4">
                          <h6 class="text-end">$99</h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="row align-items-center">
                        <div class="col-8">
                          <div class="d-flex align-items-center">
                            <div>
                              <div class="fs-5 bsb-w-50 bsb-h-50 bg-primary-subtle text-primary rounded-2 d-flex align-items-center justify-content-center me-3">
                                <i class="bi bi-bank2"></i>
                              </div>
                            </div>
                            <div>
                              <h6 class="m-0">Bank</h6>
                              <p class="text-secondary m-0 fs-7">Check Deposited</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-4">
                          <h6 class="text-end">$2,432</h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="row align-items-center">
                        <div class="col-8">
                          <div class="d-flex align-items-center">
                            <div>
                              <div class="fs-5 bsb-w-50 bsb-h-50 bg-primary-subtle text-primary rounded-2 d-flex align-items-center justify-content-center me-3">
                                <i class="bi bi-wallet-fill"></i>
                              </div>
                            </div>
                            <div>
                              <h6 class="m-0">Wallet</h6>
                              <p class="text-secondary m-0 fs-7">Bill Payment</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-4">
                          <h6 class="text-end">$750</h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="row align-items-center">
                        <div class="col-8">
                          <div class="d-flex align-items-center">
                            <div>
                              <div class="fs-5 bsb-w-50 bsb-h-50 bg-primary-subtle text-primary rounded-2 d-flex align-items-center justify-content-center me-3">
                                <i class="bi bi-arrow-up-left-circle-fill"></i>
                              </div>
                            </div>
                            <div>
                              <h6 class="m-0">Refund</h6>
                              <p class="text-secondary m-0 fs-7">Case Closed</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-4">
                          <h6 class="text-end">$289</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
            <!-- </div> -->
          </div>
        </div>
      </section>

      <!-- Section - Bootstrap Brain Component -->
     <!--  <section class="pb-3 pb-md-4 pb-xl-5 bg-light">
        <div class="container">
          <div class="row gy-3 gy-md-4">            
            <div class="col-12 col-lg-12 col-xl-12">
              <div class="card widget-card border-light shadow-sm h-100">
                <div class="card-body p-4">
                  <h5 class="card-title widget-card-title mb-4">Monthly Transactions</h5>
                  <div class="table-responsive">
                    <table class="table table-borderless bsb-table-xl text-nowrap align-middle m-0">
                      <thead>
                        <tr>
                          <th>Invoice</th>
                          <th>Customer</th>
                          <th>Product</th>
                          <th>Price</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <h6 class="mb-1">#HO3210</h6>
                            <span class="text-secondary fs-7">Web, UI Design</span>
                          </td>
                          <td>
                            <h6 class="mb-1">Oliver</h6>
                            <span class="text-secondary fs-7">United States</span>
                          </td>
                          <td>
                            <h6 class="mb-1">Bootstrap</h6>
                            <span class="text-secondary fs-7">v5.3+</span>
                          </td>
                          <td>$495</td>
                          <td>
                            <span class="badge rounded-pill bg-danger">Pending</span>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <h6 class="mb-1">#DR8672</h6>
                            <span class="text-secondary fs-7">Web, UX Design</span>
                          </td>
                          <td>
                            <h6 class="mb-1">Emma</h6>
                            <span class="text-secondary fs-7">United Kingdom</span>
                          </td>
                          <td>
                            <h6 class="mb-1">WordPress</h6>
                            <span class="text-secondary fs-7">v6.3+</span>
                          </td>
                          <td>$950</td>
                          <td>
                            <span class="badge rounded-pill bg-success">Paid</span>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <h6 class="mb-1">#SA2910</h6>
                            <span class="text-secondary fs-7">Web, SEO</span>
                          </td>
                          <td>
                            <h6 class="mb-1">Isabella</h6>
                            <span class="text-secondary fs-7">Canada</span>
                          </td>
                          <td>
                            <h6 class="mb-1">React</h6>
                            <span class="text-secondary fs-7">v18+</span>
                          </td>
                          <td>$700</td>
                          <td>
                            <span class="badge rounded-pill bg-info">On Hold</span>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <h6 class="mb-1">#BD1019</h6>
                            <span class="text-secondary fs-7">SEM, SEO</span>
                          </td>
                          <td>
                            <h6 class="mb-1">William</h6>
                            <span class="text-secondary fs-7">UAE</span>
                          </td>
                          <td>
                            <h6 class="mb-1">Vue</h6>
                            <span class="text-secondary fs-7">v3+</span>
                          </td>
                          <td>$875</td>
                          <td>
                            <span class="badge rounded-pill bg-warning">Negotiating</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> -->
    </main>
  </div>
</template>

<script>
    require('../../plugins/bootstrap-datepicker/js/bootstrap-datepicker.js');
    export default {
        data(){
            return{  
                yearly_sales_overview : { year: ""}, 
                category_wise_sales_overview : { year: ""},
                revenue_stats : { year: ""},
                from_date : null,
                to_date : null,
                errors: [],                  
                company_currency_lists: [], 
                default_currency_name: null,                
                sales_report:{  }, 
                category_wise_sales_report:{  }, 
                daily_sales: null,
                daily_sales_incread_decreased_percentage_class: "bg-decread-percent",   
                weekly_sales_incread_decreased_percentage_class: "bg-decread-percent",  
                monthly_sales_incread_decreased_percentage_class: "bg-decread-percent",     
                most_recent_three_sales: []                              
            }
        },
        props: ['out_let_id'],
        async mounted() {
          let that = this; 
          that.getCompanyCurrencyLists(); 
          that.getSalesReport();       
          that.drawYearlyRevenueGraph(); 
          that.drawCategoryWiseSalesGraph();  
          that.drawrevenueStatsGraph();
          //setInterval(() => this.getSalesReport(),60000);
          $(function() {
                "use strict";
                $('#from_date').datepicker({
                    format: 'yyyy-mm-dd',
                    //startDate: new Date(),
                    todayHighlight: true,
                }).change(function() {  
                    that.from_date = $('#from_date').val();
                    that.to_date = "";
                    $('#to_date').datepicker("setStartDate", that.from_date);
                }); 
                $('#to_date').datepicker({
                    format: 'yyyy-mm-dd',
                    startDate:that.to_date,
                    startView: "months",
                    endDate:'+1y',
                    todayHighlight: false,
                }).change(function() {
                    that.to_date = $('#to_date').val();                                  
                });                       
                $('#yearly_sales_overview_year').datepicker({
                    format: 'yyyy',
                    viewMode: "years", 
                    minViewMode: "years"
                }).change(function() {  
                    that.yearly_sales_overview.year = $('#yearly_sales_overview_year').val();
                });  
                $('#category_wise_sales_overview').datepicker({
                    format: 'yyyy',
                    viewMode: "years", 
                    minViewMode: "years"
                }).change(function() {  
                    that.category_wise_sales_overview.year = $('#category_wise_sales_overview').val();
                }); 
                $('#revenue_stats').datepicker({
                    format: 'yyyy',
                    viewMode: "years", 
                    minViewMode: "years"
                }).change(function() {  
                    that.revenue_stats.year = $('#revenue_stats').val();
                });       
          });
        },
        computed:{
            
        },
        watch:{
                     
        },
        methods: {                     
          getCompanyCurrencyLists: function(){            
            let that = this;
            axios.get('/api/company_currency_lists/get_company_currency_lists')
                .then(function (response) {
                    that.company_currency_lists = response.data;
                    var default_currency = that.company_currency_lists.filter(function (company_currency) {
                        return company_currency.default=="Yes";
                    });
                  /* For Default Currency */                      
                  //that.customer_order_details.company_currency_id = default_currency[0].id;
                  that.default_currency_name = default_currency[0].code;                        
                })
            .catch(function (error) {
                that.errors = error;
            });
          },         
          getSalesReport: function(){
            let that = this;
            axios.post('/api/sale_detail/get_sales_report',
              { out_let_id: that.out_let_id }
            ).then(function (response) {
              console.log("Outlet_id" + that.out_let_id);
              that.sales_report = response.data;
              that.daily_sales_incread_decreased_percentage = parseFloat( that.sales_report.daily_sales_incread_decreased_percentage ).toFixed(2);              
              if(Math.sign( that.daily_sales_incread_decreased_percentage ) > 0 ){
                that.daily_sales_incread_decreased_percentage_class = "bg-incread-percent"; 
                that.daily_sales_incread_decreased_percentage = "+" + that.daily_sales_incread_decreased_percentage;
              }
              that.weekly_sales_incread_decreased_percentage = parseFloat( that.sales_report.weekly_sales_incread_decreased_percentage ).toFixed(2);              
              if(Math.sign( that.weekly_sales_incread_decreased_percentage ) > 0 ){
                that.weekly_sales_incread_decreased_percentage_class =  "bg-incread-percent"; 
                that.weekly_sales_incread_decreased_percentage = "+" + that.weekly_sales_incread_decreased_percentage;
              }
              that.monthly_sales_incread_decreased_percentage = parseFloat( that.sales_report.monthly_sales_incread_decreased_percentage ).toFixed(2);              
              if(Math.sign( that.monthly_sales_incread_decreased_percentage ) > 0 ){
                that.monthly_sales_incread_decreased_percentage_class = "bg-incread-percent";    
                that.monthly_sales_incread_decreased_percentage = "+" + that.monthly_sales_incread_decreased_percentage;
              }   
              that.daily_sales = parseFloat( that.sales_report.daily ).toFixed(2).toLocaleString();
              that.weekly_sales = parseFloat( that.sales_report.weekly ).toFixed(2).toLocaleString();
              that.monthly_sales = parseFloat( that.sales_report.monthly ).toFixed(2).toLocaleString();    
              //that.most_recent_three_sales = that.sales_report.most_recent_three_sales;
              if(!$.isEmptyObject( that.sales_report.most_recent_three_sales )){      
                $.each(that.sales_report.most_recent_three_sales,function(index, each_sale){
                  that.most_recent_three_sales.push({sales_executive:each_sale.sales_executive,converted_duration: each_sale.converted_duration, converted_duration_in_seconds: each_sale.converted_duration_in_seconds, net_amount: each_sale.net_amount, total_paid_amount : 0, payment_method: ""})
                   $.each(each_sale.sale_paids,function(index_sale_paid, sale_paid){
                    that.most_recent_three_sales[index].total_paid_amount = parseFloat(that.most_recent_three_sales[index].total_paid_amount) + parseFloat(sale_paid.paid_amount);
                    that.most_recent_three_sales[index].payment_method = sale_paid.payment_method.name  + ( that.most_recent_three_sales[index].payment_method ? ", " + that.most_recent_three_sales[index].payment_method : "" ) ;
                  }) 
                  that.most_recent_three_sales[index].total_paid_amount = that.most_recent_three_sales[index].total_paid_amount.toFixed(2).toLocaleString(); 
                })
                that.most_recent_three_sales.sort(function(a, b) {
                  return b.converted_duration_in_seconds - a.converted_duration_in_seconds;
                });
              }else{
                that.most_recent_three_sales = [];
              }

            })
            .catch(function (error) {
                that.errors = error;
            }); 
          }, 
          // getYearlySalesOverview: function(){
          //   let that = this;
          //   let data_set = new Array(); // array declaration and initialize 
          //   axios.post('/api/sale_detail/get_yearly_sales_overview',
          //     { out_let_id : that.out_let_id,  year : that.yearly_sales_overview.year }
          //   ).then((response) => {
          //     that.sales_report = response.data;               
          //     $.each(that.sales_report, function(index,jsonObject){
          //       $.each(jsonObject, function(key,val){
          //          data_set.push({x: key, y: val}); 
          //       });
          //     });                
          //   }).catch(function (error) {
          //       that.errors = error;
          //   }); 
          //   return data_set;    
          // },
          drawYearlyRevenueGraph: function(){
            // Start: Apex chart 
              const apexChart = "#bsb-chart-1";
              var options = {
                  series: [{
                      name: 'Sales (Tk)',
                      data: ""
                  }],
                  xaxis:{type:"category"},
                  chart:{type:"area",toolbar:{tools:{download:!0,selection:!1,zoom:!1,zoomin:!1,zoomout:!1,pan:!1,reset:!1}}},dataLabels:{enabled:!1},
                  grid:{borderColor:"transparent"},
                  colors:["var(--bs-primary)"],
                  markers:{size:0},fill:{type:"gradient",gradient:{shadeIntensity:1,inverseColors:!1,opacityFrom:.12,opacityTo:0,stops:[0,90,100]}},
                  xaxis:{labels:{style:{colors:["#a1aab2","#a1aab2","#a1aab2","#a1aab2","#a1aab2","#a1aab2","#a1aab2","#a1aab2","#a1aab2","#a1aab2","#a1aab2","#a1aab2"]}}},
                  yaxis:{labels:{style:{colors:["#a1aab2","#a1aab2","#a1aab2","#a1aab2","#a1aab2","#a1aab2","#a1aab2","#a1aab2","#a1aab2",
                    "#a1aab2","#a1aab2","#a1aab2"]}}}
              }; 
      
              let chart = new ApexCharts(document.querySelector(apexChart), options);
              let that = this;
              let response_data_set = new Array(); // array declaration and initialize 
              axios.post('/api/sale_detail/get_yearly_sales_overview',
                { out_let_id : that.out_let_id,  year : that.yearly_sales_overview.year }
              ).then((response) => {
                that.sales_report = response.data;               
                $.each(that.sales_report, function(index,jsonObject){
                  $.each(jsonObject, function(key,val){
                     response_data_set.push({x: key, y: val != null ? val : '0'}); 
                  });
                });   
                // if( response_data_set.length > 0 ) {
                  chart.render();           
                  chart.updateSeries([{
                      name: 'Sales (Tk)',
                      data: response_data_set
                  }]);
                // }             
              }).catch(function (error) {
                  that.errors = error;
              });  
              
            // End: Apex chart  
          },
          drawCategoryWiseSalesGraph: function(){
            let that = this;  
            axios.post('/api/sale_detail/get_category_wise_sales_overview',
              { out_let_id : that.out_let_id,  year : that.category_wise_sales_overview.year }
            ).then((response) => {
              const response_data_label = response.data.data_labels; 
              const response_data_series = response.data.data_series.map(value => parseFloat(value));
              // Start: Apex chart 
              console.log("HEllo "+response_data_label + response_data_series)
              const apexChart = "#bsb-chart-4";
              var options = {
                series: response_data_series,                
                labels:response_data_label,
                legend:{position:"bottom"},theme:{palette:"palette1"},chart:{type:"donut"},
                dataLabels:{enabled:!1},
                plotOptions:{ 
                  pie:{
                    donut:{
                      labels:{ 
                        show:!0,
                        name:{fontSize:"22px",fontWeight:600},
                        value:{fontSize:"16px",fontWeight:400,formatter(t){return"Tk "+t+" "}}
                      }
                    }
                  }
                },
                tooltip:{y:{formatter(t){return"Tk "+t+" "}}}
            }; 
            let chart = new ApexCharts(document.querySelector(apexChart), options);
            // if( response_data_series.length > 0 ) {
                chart.render();   
                chart.updateSeries(response_data_series); 
            // } 
            // End: Apex chart            
            }).catch(function (error) {
                that.errors = error;
            }); 
            // response_data_series = [21,23,19];
            // response_data_label = ["Clothing Test","Food Products Test","Electronics"];
              
          },
          drawrevenueStatsGraph: function(){
            const apexChart = "#bsb-chart-3";
            let that = this;           
            axios.post('/api/sale_detail/revenue_stats_data',
              { out_let_id : that.out_let_id,  year : that.revenue_stats.year }
            ).then((response) => {
              const net_profit_data_series = response.data.net_profit_result.map(value => parseFloat(value));
              const sales_data_series = response.data.sales_result.map(value => parseFloat(value));
              var options = {
                series:[
                  { name:"Net Profit", data : net_profit_data_series },
                  { name:"Revenue", data : sales_data_series }
                ],
                legend:{ position:"bottom" },
                theme:{ palette:"palette1" },
                chart:{ type:"bar" },
                plotOptions:{bar:{horizontal:!1,columnWidth:"55%",endingShape:"rounded"}},
                dataLabels:{enabled:!1},stroke:{show:!0,width:2,colors:["transparent"]},
                xaxis:{categories:["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]},
                yaxis:{title:{text:"Tk"}},fill:{opacity:1},
                tooltip:{y:{formatter(t){return"Tk "+t+""}}}
              }; 
              let chart = new ApexCharts(document.querySelector(apexChart), options);
              // if( net_profit_data_series.length > 0 ) {
                chart.render();   
                chart.updateSeries([
                  { name:"Net Profit", data : net_profit_data_series },
                  { name:"Revenue", data : sales_data_series }
                ]); 
              // }            
              }).catch(function (error) {
                  that.errors = error;
              }); 
          }

        },  
    }
</script>