<template>
  <div class="">
    <div class="content sm-gutter">
      <!-- START CONTAINER FLUID -->
      <div class="container-fluid padding-25 sm-padding-10">
          <!-- START ROW -->
          <div class="row">
              <div class="col-md-4 col-lg-3 col-xlg-2 ">
                  <div class="row">
                      <div class="col-md-12 m-b-10">
                          <!-- START WIDGET -->
                          <div class="widget-9 panel no-border bg-success no-margin widget-loader-bar">
                              <div class="panel-heading top-left top-right ">
                                  <div class="panel-title text-black hint-text">
                                      <span class="font-montserrat fs-11 all-caps">Daily Sales <i class="fa fa-chevron-right"></i>
                                      </span>
                                  </div>
                                  <div class="panel-controls">
                                      <ul>
                                          <li><a data-toggle="refresh" class="portlet-refresh text-black" href="#"><i class="portlet-icon portlet-icon-refresh"></i></a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                              <div class="panel-body p-t-40">
                                  <div class="row">
                                      <div class="col-sm-12">
                                          <h3 class="no-margin p-b-5 text-white semi-bold"> 
                                            {{ default_currency_name }} {{ daily_sales }}
                                          </h3>                                        
                                          <div class="clearfix"></div>
                                      </div>
                                  </div>
                                  <div class="p-t-10 full-width">
                                      <a :href="'/frontend/dashboard/dailyreport'" class="b-grey bold-pdf-link"><i class="text-danger">Generate Pdf</i></a> 
                                      <!--  <a href="#" @click="getSalesReport">Generate Pdf</a> -->
                                  </div>
                              </div>
                          </div>
                          <!-- END WIDGET -->
                      </div>
                  </div>
              </div>
              <div class="col-md-4 col-lg-3 col-xlg-2 ">
                  <div class="row">
                      <div class="col-md-12 m-b-10">
                          <!-- START WIDGET -->
                          <div class="widget-9 panel no-border bg-primary no-margin widget-loader-bar">
                              <div class="panel-heading top-left top-right ">
                                  <div class="panel-title text-black hint-text">
                                      <span class="font-montserrat fs-11 all-caps">Weekly Sales <i class="fa fa-chevron-right"></i>
                                      </span>
                                  </div>
                                  <div class="panel-controls">
                                      <ul>
                                          <li><a data-toggle="refresh" class="portlet-refresh text-black" href="#"><i class="portlet-icon portlet-icon-refresh"></i></a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                              <div class="panel-body p-t-40">
                                  <div class="row">
                                      <div class="col-sm-12">
                                          <h3 class="no-margin p-b-5 text-white semi-bold">
                                            {{ default_currency_name }} {{ weekly_sales }}
                                          </h3>                                        
                                          <div class="clearfix"></div>
                                      </div>
                                  </div>
                                  <div class="p-t-10 full-width">
                                      <a :href="'/frontend/dashboard/weeklyreport'" class="b-grey bold-pdf-link"><i class="text-danger">Generate Pdf</i></a>
                                  </div>
                              </div>
                          </div>
                          <!-- END WIDGET -->
                      </div>
                  </div>
              </div>
              <div class="col-md-4 col-lg-3 col-xlg-2 ">
                  <div class="row">
                      <div class="col-md-12">
                          <!-- START WIDGET -->
                          <div class="widget-10 panel no-border bg-white no-margin widget-loader-bar">
                              <div class="panel-heading top-left top-right ">
                                  <div class="panel-title text-black hint-text">
                                      <span class="font-montserrat fs-11 all-caps">Monthly Sales <i class="fa fa-chevron-right"></i>
                                      </span>
                                  </div>
                                  <div class="panel-controls">
                                      <ul>
                                          <li><a data-toggle="refresh" class="portlet-refresh text-black" href="#"><i class="portlet-icon portlet-icon-refresh"></i></a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                              <div class="panel-body p-t-40">
                                  <div class="row">
                                      <div class="col-sm-12">
                                          <h3 class="no-margin p-b-5 text-danger semi-bold">
                                            {{ default_currency_name }} {{ monthly_sales }}
                                          </h3>                                        
                                          <div class="clearfix"></div>
                                      </div>
                                  </div>
                                  <div class="p-t-10 full-width">
                                      <a :href="'/frontend/dashboard/monthlyreport'" class="b-grey bold-pdf-link"><i class="text-danger">Generate Pdf</i></a>
                                  </div>
                              </div>
                          </div>
                          <!-- END WIDGET -->
                      </div>
                  </div>
              </div>
              <div class="col-md-4 col-lg-3 col-xlg-2 ">
                  <div class="row">
                      <div class="col-md-12 m-b-10">
                          <!-- START WIDGET -->
                          <div class="widget-9 panel no-border bg-sales-between no-margin widget-loader-bar">
                              <div class="panel-heading top-left top-right ">
                                  <div class="panel-title text-black hint-text">
                                      <span class="font-montserrat fs-11 all-caps">Sales Between <i class="fa fa-chevron-right"></i>
                                      </span>
                                  </div>
                                  <div class="panel-controls">
                                      <ul>
                                          <li><a data-toggle="refresh" class="portlet-refresh text-black" href="#"><i class="portlet-icon portlet-icon-refresh"></i></a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                              <div class="panel-body p-t-40">
                                  <div class="row">
                                      <div class="col-md-12 m-b-10">
                                        <div class="">
                                            <input v-model.lazy="from_date" id="from_date" class ="form-control" placeholder="From Date">  
                                        </div>
                                        <div class="">
                                            <input v-model.lazy="to_date" id="to_date" class ="form-control" placeholder="To Date">  
                                        </div>
                                        <a v-bind:href="'/frontend/dashboard/reportbetween?from_date='+from_date+'&'+'to_date='+to_date" class="b-grey bold-pdf-link"><i class="text-sales-between">Generate Pdf</i></a>
                                    </div>
                                  </div>                                  
                              </div>
                          </div>
                          <!-- END WIDGET -->
                      </div>
                  </div>
              </div>
          </div>            
      </div>
      <!-- END CONTAINER FLUID -->
    </div>      
  </div>
</template>

<script>
    require('../../plugins/bootstrap-datepicker/js/bootstrap-datepicker.js');
    export default {
        data(){
            return{  
                from_date : null,
                to_date : null,
                errors: [],                  
                company_currency_lists: [], 
                default_currency_name: null,                
                sales_report:{ },  
                daily_sales: null                                  
               }
        },
        props: ['out_let_id'],
        async mounted() {
          let that = this; 
          that.out_let_id = localStorage.getItem('out_let_id');
          //that.getCompanyCurrencyLists(); 
          //that.getSalesReport();          
          //setInterval(() => this.getSalesReport(),60000);
          $(function() {
                "use strict";
                $('#from_date').datepicker({
                    format: 'yyyy-mm-dd',
                    //startDate: new Date(),
                    todayHighlight: true,
                }).change(function() {  
                    that.from_date = $('#from_date').val();
                    that.to_date = "";
                    $('#to_date').datepicker("setStartDate", that.from_date);
                }); 
                $('#to_date').datepicker({
                    format: 'yyyy-mm-dd',
                    startDate:that.to_date,
                    startView: "months",
                    endDate:'+1y',
                    todayHighlight: false,
                }).change(function() {
                    that.to_date = $('#to_date').val();                                  
                });               
            });
        },
        computed:{
            
        },
        watch:{
                     
        },
        methods: {                     
          getCompanyCurrencyLists: function(){
            let that = this;
            axios.get('/api/company_currency_lists/get_company_currency_lists')
                .then(function (response) {
                    that.company_currency_lists = response.data;
                    var default_currency = that.company_currency_lists.filter(function (company_currency) {
                        return company_currency.default=="Yes";
                    });
                  /* For Default Currency */                      
                  //that.customer_order_details.company_currency_id = default_currency[0].id;
                  that.default_currency_name = default_currency[0].code;                        
                })
            .catch(function (error) {
                that.errors = error;
            });
          }, 
          getSalesReport: function(){
            let that = this;
            axios.post('/api/sale_detail/get_sales_report',
              { out_let_id: that.out_let_id }
            )
            .then(function (response) {
              console.log("Outlet_id" + that.out_let_id);
              that.sales_report = response.data;
              that.daily_sales = parseFloat( that.sales_report.daily ).toLocaleString();
              that.weekly_sales = parseFloat( that.sales_report.weekly ).toLocaleString();
              that.monthly_sales = parseFloat( that.sales_report.monthly ).toLocaleString();           
            })
            .catch(function (error) {
                that.errors = error;
            }); 
          },            
        },        
    }
</script>