<template>
    <div class=""> 
        <!--Start Search Product -->
        <div class="row row-same-height">
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Search Challan</h4>
                </div>
                <div class="panel-body">
                    <div class="col-md-7 col-div-full">
                        <div class="padding-30">
                            <div class="form-group-attached">
                                <div class="row clearfix">
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default">
                                            <label for="search_challan">Search Challan</label>
                                            <input v-model="challan_no" class ="form-control" placeholder="challan no">
                                        </div>                                       
                                    </div>
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default required" v-bind:class="[errors.request_date ? 'has-error' : '', '']">
                                            <label for="request_date">Request Date</label>
                                            <input v-model.lazy="request_date" id="request_date" class ="form-control" placeholder="Select Date">
                                            <form-error v-if="errors.request_date" :errors="errors">
                                                {{ errors.request_date[0] }}
                                            </form-error>
                                        </div>
                                    </div>                                    
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default">
                                            <div class="btn-group btn-challan-product-div">
                                                <a v-on:click="searchChallan()" title="product-search" class="btn btn-success btn-cons btn-challan-product-search">Search</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Search Product-->
        
        <!--Start Product Combination Lists -->
        <div class="row row-same-height">
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Product Combination Lists</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-hover" id="tableWithSearch">
                        <thead>
                        <tr>
                            <th style="width:10%">Name</th>
                            <th style="width:30%">Combination</th>
                            <th style="width:15%">Requested Quantity</th>
                            <th style="width:15%">Received Quantity</th>
                            <th style="width:15%">Missing Quantity</th>
                            <th style="width:15%">Missing Status</th>
                        </tr>
                        </thead>
                        <tbody>                            
                            <tr  v-for="(product,index) in product_challan_infos.product_combination_list">
                                <td class="v-align-middle product_combination_list-left-padding">
                                    {{product.name}}
                                </td>
                                <td class="v-align-middle store-out-challan-combination-left-padding" style="width: 30%">
                                    <span v-if="product.combination=='No'"> N/A  </span>
                                    <ul class="combination-name-value" v-for="( combination, combination_index ) in product.combinations">
                                        <div class="combination-name-value-div" v-if="product_challan_infos.product_combination_list[index].combinations[combination_index].requested_quantity">
                                            <div class="attribute-values">
                                                <template v-for="attributeValue in combination.combination_attribute_values">
                                                    <strong>{{attributeValue.attribute_value.attribute.name}} : </strong>  {{attributeValue.attribute_value.value}} ,                                               
                                                </template>
                                            </div><br/>                                        
                                        </div>
                                    </ul>
                                </td>
                                <td class="v-align-middle store-out-challan-combination-left-padding" style="width: 15%">
                                    <ul class="combination-name-value" v-for="( combination, combination_index ) in product.combinations">
                                        <div class="combination-name-value-div" v-if="product_challan_infos.product_combination_list[index].combinations[combination_index].requested_quantity"> 
                                            <div class="combination-quantity store-out-challan-quantity">
                                                <input class ="readonly-field-color combination-quantity-text" v-bind:readonly="true" type="number" v-model="product_challan_infos.product_combination_list[index].combinations[combination_index].requested_quantity" :id="'product_combination_' + combination.id + ''"  :name="'product_combination_' + combination.id + ''" placeholder="Qty">
                                                Pc(s)
                                            </div><br/>
                                        </div>
                                    </ul>
                                </td>
                                <td class="v-align-middle store-out-challan-combination-left-padding" style="width: 15%">
                                    <ul class="combination-name-value" v-for="(combination, combination_index ) in product.combinations">
                                        <div class="combination-name-value-div" v-if="product_challan_infos.product_combination_list[index].combinations[combination_index].requested_quantity">
                                            <div class="combination-quantity store-out-challan-quantity">
                                                <input class ="readonly-field-color combination-quantity-text"  type="number" v-model="product_challan_infos.product_combination_list[index].combinations[combination_index].received_quantity" :id="'product_combination_' + combination.id + ''"  :name="'product_combination_' + combination.id + ''" placeholder="Qty">
                                                 Pc(s)
                                            </div><br/>
                                        </div>
                                    </ul>
                                </td>
                                <td class="v-align-middle store-out-challan-combination-left-padding" style="width: 15%">
                                    <ul class="combination-name-value" v-for="(combination, combination_index ) in product.combinations">
                                        <div  class="combination-name-value-div" v-if="product_challan_infos.product_combination_list[index].combinations[combination_index].requested_quantity">
                                            <div class="combination-quantity store-out-challan-quantity">
                                                <input class ="readonly-field-color combination-quantity-text"  v-bind:readonly="true" type="number" v-model="product_challan_infos.product_combination_list[index].combinations[combination_index].missing_quantity" :id="'product_combination_' + combination.id + ''"  :name="'product_combination_' + combination.id + ''" placeholder="Qty">
                                                Pc(s)
                                            </div><br/>
                                        </div>
                                    </ul>
                                </td>
                                <td class="v-align-middle store-out-challan-combination-left-padding" style="width: 15%">
                                    <ul class="combination-name-value" v-for="(combination, combination_index ) in product.combinations">
                                        <div class="combination-name-value-div" v-if="product_challan_infos.product_combination_list[index].combinations[combination_index].requested_quantity">
                                            <div class="combination-quantity store-out-challan-quantity">
                                                <input type="radio" value="Lost" v-model="product_challan_infos.product_combination_list[index].combinations[combination_index].missing_status" :id="product.id+'product_combination_' + combination_index + ''"  :name="product.id+'product_combination_'+ combination_index + ''">
                                                <label for="lost">Lost</label>
                                                <input type="radio" value="Return Warehouse" v-model="product_challan_infos.product_combination_list[index].combinations[combination_index].missing_status" :id="product.id+'product_combination_' + combination_index + ''"  :name="product.id+'product_combination_' + combination_index + ''">
                                                <label for="return_warehouse">Return Warehouse</label>
                                            </div>
                                        </div>
                                    </ul>
                                </td>
                            </tr>                            
                        </tbody>
                    </table>
                </div>
            </div>                       
            <div class="alert-success pull-right" v-if="status=='200'">
                <span> This Challan Already Received</span>
            </div>
            <div class="alert-success pull-right" v-else-if="product_challan_infos.status=='Auto Received'">
                <span> This Challan Already Auto Received</span>
            </div>
            <div v-if="receive_challan_button">
                <div class="col-sm-2 col-md-2 col-2 pull-right ">
                    <a  v-on:click="receive_warehouse_store_out_challan()" class="btn product_add_btn btn-success pull-right sales-button-size">Receive Challan</a>
                </div>
            </div>
        </div>
        <!--End Product Combination Lists-->
    </div>
</template>

<script>
    require('../../plugins/bootstrap-datepicker/js/bootstrap-datepicker.js');
    // import FormError component
    import FormError from './FormError.vue';
    const Swal = require("sweetalert2");
    export default {
        components: {
            FormError
        },
        data(){
            return{
                // array to hold form errors
               errors: [],
               challan_no:null,
               request_date:null,
               product_challan_infos:
                {
                    request_date:null,
                    warehouse_id:null,
                    out_let_id:null,
                    combination: null,
                    product_combination_list: [],
                    remove_old_product_combinations: [],
                    status: null,
                },  
                receive_challan_button: true,   
                message: "",
                status: "",          
            }
        },
        props: ['challan_id'],
        mounted() {
            let that = this;   
            //this.searchChallan();
            $(function() {
                "use strict";
                $('#request_date').datepicker({
                    format: 'yyyy-mm-dd'
                }).change(function() {
                    that.request_date = $('#request_date').val();
                });
            });
        },
        computed:{
            missing_quantity: function(){
                let that = this;
                if (!$.isEmptyObject( that.product_challan_infos.product_combination_list )) {
                    $.each(that.product_challan_infos.product_combination_list,function(index_product_combination_list,combination){
                    $.each(combination.combinations,function(index_combinations,combination_data){
                        that.product_challan_infos.product_combination_list[index_product_combination_list].combinations[index_combinations].missing_quantity = parseInt( combination_data.requested_quantity ) - parseInt( combination_data.received_quantity );
                        })
                    })
                }
            },
        },
        watch:{
            missing_quantity: function(){
                console.log('Remain Quantity Updated...');
            },
        },
        methods: {               
            searchChallan: function(){
                let that = this;
                console.log('challan_id: ' + that.challan_id);
                axios.post('/api/warehouse_store_out_challan/get_challan_data', {
                    challan_id: that.challan_id,
                    challan_no: that.challan_no,
                    request_date : that.request_date
                })
                .then(function (response) {
                    let length = Object.keys(response.data).length;
                    that.product_challan_infos = response.data;                    
                    that.product_challan_infos.remove_old_product_combinations = [];
                    if (length > 0) {
                        that.challan_no = that.product_challan_infos.challan_no;
                        that.request_date = that.product_challan_infos.request_date;
                        if( that.product_challan_infos.status == "Auto Received" ){
                            that.product_challan_infos.statusChecked = true;
                        }
                        if(that.product_challan_infos.status == 'Received' || that.product_challan_infos.status == 'Auto Received' ){
                            that.receive_challan_button = false;
                        }                        
                    }else{
                        Swal.fire({ 
                            icon: 'warning',                 
                            title: "Opps!",
                            text: "No challan available",
                            type: "warning",
                            showCancelButton: false,
                            confirmButtonText: "Ok!",
                            closeOnConfirm: true,
                            closeOnCancel: false
                          }).then(response=>{
                            if(response.isConfirmed){
                                 
                            }
                        }); 
                    }
                })
                .catch(function (error) {
                    that.errors = error;
                });
            },  
            receive_warehouse_store_out_challan: function( ){
                let that = this;
                that.product_challan_infos.status = 'Received';
                axios.post('/api/out_let_store_in_challan/receive_out_let_store_in_challan', that.product_challan_infos )
                    .then(function (response) {                        
                        that.status = response.status;
                        if(that.status==200){
                            that.receive_challan_button = false;
                            that.message = response.data.message;
                            var route_url =  window.location.origin+"/frontend/out_let_store_in_challan/"+that.product_challan_infos.challan_id+"/receive";                       
                            Swal.fire({ 
                                icon: 'success',                 
                                title: "Great!",
                                text: that.message,
                                type: "success",
                                showCancelButton: false,
                                confirmButtonText: "Ok!",
                                closeOnConfirm: true,
                                closeOnCancel: false
                              }).then(response=>{
                                if(response.isConfirmed){
                                    //window.location.href = route_url;
                                }
                            }); 
                        }                          
                    })
                    .catch(error => {
                      that.errors = error.response.data.errors;
                      that.message = error.response.data.message;
                      Swal.fire({ 
                          icon: "error",                   
                          title: "Opps!",
                          text: that.message,
                          type: "error",
                          showCancelButton: false,
                          confirmButtonText: "Ok!",
                          closeOnConfirm: true,
                          closeOnCancel: false
                      });  
                    }); 
            },                
        }
    }
</script>

