<template>
    <div><!-- Start div -->
        <div class="row row-same-height"><!-- Start row-same-height -->
            <div class="panel panel-default"><!-- Start panel-default -->
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Manage your product combinations</h4>
                </div>
                <div class="panel-body"> <!-- Start panel-body -->
                    <div class="col-md-7 col-product-left-width"><!-- Start col-md-7 -->
                        <div class="product-combination-info-box"><!-- Start product-combination-info-box -->
                            <p>To add combinations, you first need to create proper attributes and values in Product Attributes Section.
                                When done, you may enter the wanted attributes (like "size" or "color") and their respective values ("XS", "red", "all", etc.)
                                in the field below; or simply select them from the right column. Then click on "Generate": it will automatically create all the
                                combinations for you!
                            </p>
                        </div><!-- End product-combination-info-box -->
                        <div class="product-selection"><!--Start product-selection -->
                            <div class="padding-30">
                                <div class="form-group-attached">
                                    <div class="form-group form-group-default required" v-bind:class="[errors.product_id ? 'has-error' : '', '']">
                                        <label for="limit_to_single_customer">Product</label>
                                        <select v-model="product_combination.product_id"
                                            class="cs-select cs-skin-slide cs-transparent form-control">
                                            <option value="">Select Product</option>
                                            <option v-for="product in product_lists" v-bind:value="product.id">
                                                {{product.name }}
                                            </option>
                                        </select>
                                        <form-error v-if="errors.product_id" :errors="errors">
                                            {{ errors.product_id[0] }}
                                        </form-error>
                                    </div>
                                </div>
                            </div>
                        </div><!--End product-selection -->
                    </div><!-- Start col-md-7 -->
                    <div class="col-md-5 col-product-right-width attribute-side-border"><!--Start col-md-5 -->
                        <h5 class="">Product Attributes</h5>
                        <hr></hr>
                        <div class="product-attributes"><!--Start product-attributes -->
                            <div class="form-group-attached"><!--Start form-group-attached -->
                                <div class="attribute-content" v-for="(attribute, index) in attribute_lists"><!--Start attribute-content -->
                                    <div class="attribute-side-border"><!--Start attribute-side-border -->
                                        <div class="attribute-content"><!--Start attribute-content -->
                                            <label for="rule_concerning_products"><b>{{attribute.name}}</b></label>
                                            <br/>
                                            <multiselect v-model="attribute_values[index]"
                                                tag-placeholder="Add this as new tag"
                                                placeholder=""
                                                label="value" track-by="id" :options="attribute.attribute_values"
                                                :multiple="true" :taggable="true">
                                            </multiselect>
                                        </div><!--End attribute-content -->
                                        <div class="clearfix"></div>
                                    </div><!--End attribute-side-border -->
                                </div><!--End attribute-content -->
                            </div><!--End form-group-attached -->
                        </div><!--End product-attributes -->
                    </div><!--End col-md-5 -->
                </div><!-- End panel-body -->
            </div><!-- End panel-default -->
            <a  v-on:click="saveCombinations()" class="btn create-button pull-right">Generate & Save Combination</a>
        </div><!-- End row-same-height -->
    </div><!-- End div -->
</template>

<script>
    import Multiselect from 'vue-multiselect';
    // import FormError component
    import FormError from './FormError.vue';
    const Swal = require("sweetalert2");
    export default{
        components: {
            Multiselect,
            FormError
        },
        data()
        {

        return{
                // array to hold form errors
                errors: [],
                product_lists:  [],
                attribute_lists: [],
                attribute_values:[],
                product_combination:
                {
                    product_id: null,
                    combination_values:null
                },
                product_combination_values:[]
            }
        },
        props: ['created_by_out_let_id'],
        mounted()
        {
            let that = this;
            that.getCompanyProduct();
            that.getProductAttributes();
        },
        computed:{

        },
        watch:{

        },
        methods: {
            addTag (newTag){
                const tag = {
                    name: newTag,
                    id: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
                }
            },
            getCompanyProduct: function(){
                let that = this;
                axios.get('/company_product/get_company_product')
                    .then(function (response) {
                        that.product_lists = response.data;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            getProductAttributes: function(){
                let that = this;
                axios.get('/attributes/get_attributes')
                    .then(function (response) {
                        that.attribute_lists = response.data;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            saveCombinations: function(){
                let that = this;
                that.product_combination_values = [];
                if(that.attribute_values) {
                    $.each(that.attribute_values, function (index, attribute_value) {
                        if (attribute_value && attribute_value.length > 0) {
                            var attribute_values_array = [];
                            $.each(attribute_value, function (index, value_data) {
                                attribute_values_array.push(value_data.id);
                            })
                            that.product_combination_values.push(attribute_values_array);
                        }
                    })
                }
                // alert( $.inArray(value_data.id,attribute_values_array) );
                // if( $.inArray(value_data.id,attribute_values_array) < 0 ){
                //     alert("Value is in array");
                // }
                that.product_combination.combination_values = that.product_combination_values;
                axios.post('/product_combination/save_product_combination',that.product_combination)
                .then(function (response) {                    
                        let that = this;
                        let message = response.data.message;
                        var route_url =  window.location.origin+"/product_combination/"+response.data.product_id+"/edit";
                        
                        Swal.fire({ 
                            icon: 'success',                 
                            title: "Great!",
                            text: message,
                            type: "success",
                            showCancelButton: false,
                            confirmButtonText: "Ok!",
                            closeOnConfirm: true,
                            closeOnCancel: false

                          }).then(response=>{
                            if(response.isConfirmed){
                                window.location.href = route_url;
                            }
                        });                        
                    })
                    .catch(function (error) {
                        if(error)
                            that.errors = error.response.data.errors;
                    });
            }
        }
    }
</script>

