
<template>
    <div class=null>
        <div class="row row-same-height">
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Manage your product combinations</h4>
                </div>
                <div class="panel-body">
                    <p>To add combinations, you first need to create proper attributes and values in Attributes & Features.
                        When done, you may enter the wanted attributes (like "size" or "color") and their respective values ("XS", "red", "all", etc.)
                        in the field below; or simply select them from the right column. Then click on "Generate": it will automatically create all the
                        combinations for you!</p>
                    <div class="col-md-7">
                        <div class="padding-30">
                            <div class="form-group-attached">
                                <div class="form-group form-group-default">
                                    <label for="limit_to_single_customer">Product</label>
                                    <select
                                            class="cs-select cs-skin-slide cs-transparent form-control">
                                        <option value="">Select Product</option>
                                        <option v-for="product in product_lists" v-bind:value="product.id">
                                            {{product.name }}
                                        </option>
                                    </select>
                                </div>
                                <div class="clearfix"></div><br/>
                                <div class="product-selection-button">
                                    <h5>Product Attributes</h5>
                                    <div class="coupon-restriction-div" v-for="attribute in attribute_lists">
                                        <div class="rule-concerning-product-div" >
                                            <div class="form-group form-group-default float-left">
                                                <label for="rule_concerning_products">{{attribute.name}}</label>
                                            </div>
                                            <div class="float-left">
                                                <multiselect
                                                             tag-placeholder="Add this as new tag"
                                                             placeholder="Add Product(s)"
                                                             label="value" track-by="id" :options="attribute.attribute_values"
                                                             :multiple="true" :taggable="true">
                                                </multiselect>
                                                <form-error >

                                                </form-error>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                                <div>
                                    <hr/>
                                </div>
                            </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <a  v-on:click="saveCouponSettings()" class="btn btn-success pull-right">Save</a>
        </div>
    </div>
</template>

<script>
    import Multiselect from 'vue-multiselect';

    // import FormError component
    import FormError from './FormError.vue';
    export default {
        components: {
            Multiselect,
            FormError
        },
        data(){
            return{
                // array to hold form errors
                errors: [],
                product_lists:  [],
                product_tag_lists:  [],
                category_tag_lists: [],
                attribute_lists: [],
            }
        },

        props: ['created_by_out_let_id'],

        mounted() {
            let that = this;
            that.getCompanyProduct();
            that.getProductAttributes();
        },

        computed:{

        },
        watch:{

        },
        methods: {
            addTag (newTag) {
                const tag = {
                    name: newTag,
                    id: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
                }
            },
            getCompanyProduct: function(){
                let that = this;
                axios.get('/api/company_product/get_company_product')
                    .then(function (response) {
                        that.product_lists = response.data;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            getProductAttributes: function(){
                let that = this;
                axios.get('/api/attributes/get_attributes')
                    .then(function (response) {
                        that.attribute_lists = response.data;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            saveCouponSettings: function(){
                let that = this;

                if( !that.coupon_info.status ){
                    that.coupon_info.status = false;
                }
                else if( that.coupon_info.status != null ){
                    that.coupon_info.status = true;
                }
                if( !that.coupon_info.high_light ){
                    that.coupon_info.high_light = false;
                }
                if( !that.coupon_info.exclude_discounted_products ){
                    that.coupon_info.exclude_discounted_products = "No";
                }

                axios.post('/api/coupon_settings/save_coupon_settings',that.coupon_info)
                .then(function (response) {
                    console.log("response Here: "+response.data);
                        if( response.data.success ){
                            alert( response.data.success )
                        }else{
                            alert( response.data.error )
                        }
                        location.reload(true);
                    })
                    .catch(function (error) {
                        that.errors = error.response.data.errors;
                        console.log("Error Here: "+error.response.data);
                    });
                }
        }
    }
</script>

