<template>
    <div class="">
        <div class="row row-same-height">
            <div class="form-group form-group-default">
                <label for="country">Cover Photo</label>
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- START card -->
                            <div class="card card-default">
                              <div class="card-header ">
                                <div class="card-title">
                                  Upload Your Cover Photo Here
                                </div>                                
                              </div>
                              <div class="card-body no-scroll no-padding">
                                <form action="#" class="dropzone no-margin">
                                    <div class="fallback">
                                      <input type="file" ref="cover_file" name="photo"  v-on:change="addCoverPhoto($event)">
                                    </div>
                                </form>
                              </div>
                            </div>
                            <!-- END card -->
                        </div>
                    </div>                
                    <div class="cover_photo_panel" v-if="cover_photo.length" > 
                        <div>                           
                            <a :href="'/uploads/company/'+company_id+'/product_images/'+ product_id+'/'+ cover_photo[0].name" data-fancybox :data-caption="product_name+'_Cover Photo'">
                                <img :src="'/uploads/company/'+company_id+'/product_images/'+ product_id+'/150x150/'+ cover_photo[0].name" />
                            </a>
                        </div>                        
                        <br/>
                        <div class="product_photo_remove_btn"> 
                            <button v-on:click="removeCoverPhoto(0, cover_photo[0].id)"  title="Delete" type="button" class="btn create-button" >
                                Remove
                            </button>
                        </div>
                    </div>    
                    <div>     
                        <a  v-on:click="saveProductCoverPhoto()" class="btn product_add_btn pull-right">Save</a>  
                    </div>
            </div>                 
        </div> 
        <div class="row row-same-height">
            <div class="form-group form-group-default">
                <label for="country">Gallery Photo</label>
                <div class="row">
                        <div class="col-lg-6">
                            <!-- START card -->
                            <div class="card card-default">
                              <div class="card-header ">
                                <div class="card-title">
                                  Upload Your Gallery Photos Here: Multiple file upload is allowed
                                </div>
                                <div class="tools">
                                  <a class="collapse" href="javascript:;"></a>
                                  <a class="config" data-toggle="modal" href="#grid-config"></a>
                                  <a class="reload" href="javascript:;"></a>
                                  <a class="remove" href="javascript:;"></a>
                                </div>
                              </div>
                              <div class="card-body no-scroll no-padding">
                                <form action="#" class="dropzone no-margin">
                                    <div class="fallback">
                                      <input multiple class="file-input" type="file" ref="file" name="photo"  v-on:change="addGalleryPhoto($event)">
                                    </div>
                                </form>
                              </div>
                            </div>
                            <!-- END card -->
                        </div>
                    </div>                 
                    <div class="gallery_photo_panel" v-if="gallery_photos.length" > 
                        <template v-for="(gallery_photo, index)  in gallery_photos" >
                            <div class="product_gallery_photos"> 
                                <div> 
                                    <a :href="'/uploads/company/'+company_id+'/product_images/'+product_id+'/'+ gallery_photo.name"data-fancybox :data-caption="product_name+'_'+(index+1)">
                                        <img :src="'/uploads/company/'+company_id+'/product_images/'+product_id+'/150x150/'+ gallery_photo.name" />
                                    </a>
                                </div><br/>
                                <div class="product_photo_remove_btn"> 
                                    <button v-on:click="removeFromGallery(index, gallery_photo.id)"  title="Remove Photo" type="button" class="btn create-button" >
                                        Remove
                                    </button>
                                </div>
                            </div>
                        </template>            
                    </div>
                    <div class="clear">     
                        <a  v-on:click="saveProductGallery()" class="btn product_add_btn pull-right">Save</a> 
                    </div> 
            </div>                 
        </div> 
    </div>    
</template>

<script>   
    import { Fancybox } from "@fancyapps/ui";
    import "@fancyapps/ui/dist/fancybox/fancybox.css";
    Fancybox.bind('[data-fancybox="gallery"]', {
        // Your custom options
    });
    const Swal = require("sweetalert2");
    export default {        
        data(){
            return{ 
                errors: null,   
                product_cover_file:null,           
                product_gallery:
                {
                    files: [],
                    product_id: null,
                },       
                cover_photo: [],
                remove_cover_photo: '',         
                gallery_photos: [],
                remove_gallery_photos: [],                             
            }
        },

        props: ['company_id','product_id','product_name'],

        mounted() {
            let that = this;  
            that.getProductCoverImage(); 
            that.getProductGallery();    
            $(".js-fancybox").fancybox({
              infobar: false,
              buttons: [
                "zoom",
                "share",
                "slideShow",
                "close",
              ]
            });        
        },

        computed:{
            
        },
        watch:{
            getProductCoverImage: function(){
                console.log("Cover Photo Changed...");
            },
            getProductGallery: function(){
                console.log("Gallery Photo Changed...");
            },
            saveProductCoverPhoto: function(){
                console.log("Cover Photo Saved...");
            },
            saveProductGallery: function(){
                console.log("Gallery Photo Saved...");
            }

        },
        methods: { 
            getProductCoverImage: function(){
                let that = this;
                axios.post('/product_image/get_product_cover_image', {
                  product_id: that.product_id              
              })
              .then((response) => {
                  that.cover_photo = response.data;
              })
                .catch(function (error) {
                  that.errors = error;
                });
            },
            getProductGallery: function(){
                let that = this;
                axios.post('/product_image/get_product_image_gallery', {
                  product_id: that.product_id              
              })
              .then((response) => {
                  that.gallery_photos = response.data;
              })
                .catch(function (error) {
                  that.errors = error;
                });
            },
            addCoverPhoto: function(e){
                let that = this;
                that.product_cover_file = this.$refs.cover_file.files[0];
                if(!$.isEmptyObject(that.cover_photo)){     
                    that.remove_cover_photo = that.cover_photo[0].id;       
                }  
                       
            }, 
            addGalleryPhoto: function(e){
                let that = this;
                let product_gallery_files = this.$refs.file.files;
                if(!product_gallery_files.length){
                    return false;
                }else{
                    $.each(product_gallery_files,function(index,product_gallery_file){
                        that.product_gallery.files.push(product_gallery_file);
                    })
                    console.log(that.product_gallery.files); 
                }
            }, 
            saveProductCoverPhoto: function(){
                let that = this;
                let formData = new FormData();                
                formData.append('cover_file', that.product_cover_file);
                formData.append('product_id', that.product_id);
                formData.append('remove_cover_photo', that.remove_cover_photo);

                axios.post('/product_image/save_product_cover_image', formData,
                {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })
                .then(function (response) {
                    let that = this;
                    let message = response.data.message;
                    Swal.fire({ 
                        icon: 'success',                 
                        title: "Great!",
                        text: message,
                        type: "success",
                        showCancelButton: false,
                        confirmButtonText: "Ok!",
                        closeOnConfirm: true,
                        closeOnCancel: false

                      }).then(response=>{
                        if(response.isConfirmed){
                            location.reload(true);  
                        }
                    });
                })
                .catch(function (error) {
                    that.errors = error;
                    console.log("Error Here: "+that.errors);
                });
                //that.getProductCoverImage();
            },  
            saveProductGallery: function(){
                let that = this;
                let formData = new FormData();
                $.each(that.product_gallery.files,function(index,product_gallery_file){
                    formData.append('pics[]', product_gallery_file);
                })
                //formData.append('pics[]', that.product_gallery.files);
                that.product_gallery.product_id = that.product_id;
                formData.append('product_gallery', JSON.stringify(that.product_gallery));
                formData.append('remove_gallery_photos', JSON.stringify(that.remove_gallery_photos));

                axios.post('/product_image/save_product_image_gallery', formData,
                {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })
                .then(function (response) {   
                        that.errors = response.data.success; 
                        let message = response.data.message;
                        console.log("Val_id: "+response.data.success);
                        Swal.fire({ 
                            icon: 'success',                 
                            title: "Great!",
                            text: message,
                            type: "success",
                            showCancelButton: false,
                            confirmButtonText: "Ok!",
                            closeOnConfirm: true,
                            closeOnCancel: false

                          }).then(response=>{
                            if(response.isConfirmed){
                                location.reload(true);  
                            }
                        }); 
                         //location.reload(true);                  
                        //var route_url =  window.location.origin+"/product/"+that.product_id+"/product_image";
                        //window.location.href = route_url;
                    })
                    .catch(function (error) {
                        that.errors = error;
                        console.log("Error Here: "+error);
                    });
            },              
            removeCoverPhoto: function(index, photo_id){
              let that = this;
              Vue.delete( that.cover_photo, index);
              that.remove_cover_photo = photo_id;
            },
            removeFromGallery: function(index, photo_id){
              let that = this;
              Vue.delete( that.gallery_photos, index);
              that.remove_gallery_photos.push(photo_id);
            },
        }
    }
</script>

