<template>
    <div class="">
        <div class="row row-same-height">
            <div class="form-group form-group-default">
                <label for="country">Cover Photo</label>
                <input class="file-input" type="file" ref="cover_file" name="photo"  v-on:change="addCoverFile($event)">
            
                <lightbox 
                :resetstyles="false"
                :loop="true"
                :nav="true"
                :caption="true"
                :images="cover_photo" 
                :remove="remove"
                title=""
                >            
                </lightbox>
                <div>     
                    <a  v-on:click="saveProductCoverPhoto()" class="btn btn-success pull-right">Save</a>  
                </div>
            </div>                 
        </div> 
        <div class="row row-same-height">
            <div class="form-group form-group-default">
                <label for="country">Gallery Photo</label>
                <input multiple class="file-input" type="file" ref="file" name="photo"  v-on:change="addFile($event)">
            
                <lightbox 
                :resetstyles="false"
                :loop="true"
                :nav="true"
                :caption="true"
                :images="gallery_photo"                 
                :options="options"                
                title=""
                >            
                </lightbox>
                <div>     
                    <a  v-on:click="saveProductGallery()" class="btn btn-success pull-right">Save</a>  
                </div> 
            </div>                 
        </div> 
    </div>    
</template>

<script>
    import lightbox from 'vlightbox';
    Vue.use(lightbox);
    export default {        
        data(){
            return{ 
                errors: null,   
                product_cover_file:{ },           
                product_gallery:
                {
                    files: [],
                    product_id: null,
                },       
                cover_photo: [ ],         
                gallery_photo: [ ], 
                options : {
                    closeText : 'X',
                    sourceAttr : "Remove"
                }               
            }
        },

        props: ['product_id'],

        mounted() {
            let that = this;  
            that.getProductCoverImage(); 
            that.getProductGallery();            
        },

        computed:{
            
        },
        watch:{

        },
        methods: { 
            getProductCoverImage: function(){
                let that = this;
                axios.post('/api/product_image/get_product_cover_image', {
                  product_id: that.product_id              
              })
              .then((response) => {
                  that.cover_photo = response.data;
              })
                .catch(function (error) {
                  that.errors = error;
                });
            },
            getProductGallery: function(){
                let that = this;
                axios.post('/api/product_image/get_product_image_gallery', {
                  product_id: that.product_id              
              })
              .then((response) => {
                  that.gallery_photo = response.data;
              })
                .catch(function (error) {
                  that.errors = error;
                });
            },
            addCoverFile: function(e){
                let that = this;
                that.product_cover_file = this.$refs.cover_file.files[0];                
            }, 
            addFile: function(e){
                let that = this;
                let product_gallery_files = this.$refs.file.files;
                if(!product_gallery_files.length){
                    return false;
                }else{
                    $.each(product_gallery_files,function(index,product_gallery_file){
                        that.product_gallery.files.push(product_gallery_file);
                    })
                    console.log(that.product_gallery.files); 
                }
            }, 
            saveProductCoverPhoto: function(){
                let that = this;
                let formData = new FormData();                
                formData.append('cover_file', that.product_cover_file);
                formData.append('product_id', that.product_id);

                axios.post('/api/product_image/save_product_cover_image', formData,
                {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })
                .then(function (response) {
                    let that = this;
                    location.reload(true);
                    //var route_url =  window.location.origin+"/product/"+that.product_id+"/product_image";
                    //window.location.href = route_url;
                })
                .catch(function (error) {
                    that.errors = error;
                    console.log("Error Here: "+that.errors);
                });
                //that.getProductCoverImage();
            },  
            saveProductGallery: function(){
                let that = this;
                let formData = new FormData();
                $.each(that.product_gallery.files,function(index,product_gallery_file){
                    formData.append('pics[]', product_gallery_file);
                })
                //formData.append('pics[]', that.product_gallery.files);
                that.product_gallery.product_id = that.product_id;
                formData.append('product_gallery', JSON.stringify(that.product_gallery));

                axios.post('/api/product_image/save_product_image_gallery', formData,
                {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })
                .then(function (response) {                        
                        var route_url =  window.location.origin+"/product/"+that.product_id+"/product_image";
                        window.location.href = route_url;
                    })
                    .catch(function (error) {
                        that.errors = error;
                        console.log("Error Here: "+error);
                    });
            }  
        }
    }
</script>

