<template>
  <div class="">
  <!-- Start Heading Panel -->
  <div class="row row-same-height">
    <div class="panel-default">
      <div class="panel-heading title-color">
        <h4 class="panel-title">MyPOS: SA Jewellers</h4>
      </div>                
    </div>
  </div>
  <!--End Heading Panel -->
  <!--Start sale-panel -->
  <div class="row row-same-height">
    <!--Start sale-panel-product-lists --> 
    <div class="panel panel-default sale-panel-product-lists">                
      <div class="panel-body sale-panel">
        <!-- Start Search Panel -->
        <div class="sale-panel-search-item">
          <div class="form-group-attached">
            <div class="row clearfix">                                   
              <div class="col-sm-6 col-div-33">
                <div class="form-group form-group-default">
                  <label for="item_name">Search item</label>
                  <input v-model="name" class ="form-control" placeholder="Item name">
                </div>
              </div>
              <div class="col-sm-6 col-div-33">
                <div class="form-group form-group-default">
                  <label for="category_id">Select Category</label>
                  <select v-model="category_id" class="cs-select cs-skin-slide cs-transparent form-control">
                    <option value="">Select Category</option>
                    <option v-for="category in categories" v-bind:value="category.id">{{ category.name }}</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-6 col-div-33">
                <div class="form-group form-group-default">
                  <div class="btn-group btn-challan-product-div">
                    <a v-on:click="searchOutLetProducts()" title="product-search" class="btn btn-success btn-cons btn-challan-product-search sales-search-button-size">Search</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
        </div>                
        <div class="col-md-7 col-div-full">
          <div class="sale-panel-product">
            <div class="form-group-attached">
              <div class="row clearfix">      
                <div class="col-sm-6 col-div-100">                             
                  <div class="btn-group btn-challan-product-div"> 
                    <a  v-on:click="getOutLetProducts()" title="product-search" class="btn btn-success btn-cons btn-challan-product-search sales-product-button-size">Product</a>
                  </div>
                </div>
              </div>
            </div>
          </div>          
        </div>
        <!-- End Search Panel -->
        <!-- START Gallery -->
        <div class="gallery_photo_panel" v-if="out_let_product_lists[0].out_let_products">   
              <template v-for="out_let_product  in out_let_product_lists[0].out_let_products" v-if="out_let_product.product">     
                <div v-if="out_let_product.product.prices.length" class="product_detail"> 
                    <div  class="product_photo" v-if="out_let_product.product.images.length > 0"> 
                        <a :href="'/uploads/company/'+company_id+'/product_images/'+out_let_product.product.id+'/'+ out_let_product.product.images[0].name" data-fancybox :data-caption="out_let_product.product.name">
                          <img :src="'/uploads/company/'+company_id+'/product_images/'+out_let_product.product.id+'/150x150/'+ out_let_product.product.images[0].name" />
                        </a>                              
                    </div>  
                    <div  class="product_photo" v-else> 
                        <a :href="'/uploads/default_product_images/1.png'" data-fancybox :data-caption="out_let_product.product.name">
                          <img :src="'/uploads/default_product_images/1.png'" width="150" height="150" />
                        </a>
                    </div>
                    <div class="product_title title"> 
                      <span id="product_title" >{{ out_let_product.product.name.substring(0,10)}}</span>
                      <span v-if="out_let_product.product.name.length > 11"> ... </span>: 
                      <span v-if="out_let_product.product.prices.length" >{{out_let_product.product.prices[0].price}} {{default_currency_name}}</span>                       
                    </div>              
                    <div class="add_to_sale_btn"> 
                        <button v-if="out_let_product.isDisable" v-on:click="addToSale(out_let_product.product.id)" :id="out_let_product.product.id" title="Add To Sale" type="button" class="btn btn-success product_add_btn hide_add_to_sale_button">
                            Add To Sale
                        </button>
                        <button v-else="out_let_product.isDisable" v-on:click="addToSale(out_let_product.product.id)" :id="out_let_product.product.id" title="Add To Sale" type="button" class="btn btn-success product_add_btn">
                            Add To Sale
                        </button>
                    </div>
                </div>
            </template>            
        </div>    
      <!-- END Gallery -->
      </div>
    </div>      
    <!--End sale-panel-product-lists -->
    <!--Start sale-panel-item-lists -->
    <div class="panel panel-default sale-panel-item-lists">               
      <div class="panel-body sale-panel"> 
        <div v-if="customer_order_details.customer_order_detail_items">
          <template v-for="(item_detail, index)  in customer_order_details.customer_order_detail_items" >
            <!--Start sales-item-lists -->         
            <div v-if="item_detail.product.name" class="sales-item-lists">          
              <div class="sales-item-descrption float-left">
                <div class="">
                  <label for="item_description">{{item_detail.product.name}}</label>
                  <label v-if="item_detail.combination=='No'" >
                   ({{item_detail.out_let_product_combinations[0].stock_quantity}} Pcs)
                  </label>
                  <button v-on:click="removeFromSale(index, item_detail.id, item_detail.product_id)"  title="Delete" type="button" class="btn btn-danger" >
                    <i class="fa fa-trash-o"></i>
                  </button>             
                </div>                        
                <div v-if="item_detail.combination=='Yes'" v-bind:class="[errors['customer_order_detail_items.'+index+'.out_let_product_product_combination_id'] ? 'has-error' : '', '']">
                  <select v-model="customer_order_details.customer_order_detail_items[index].out_let_product_product_combination_id" class ="form-control payment-calculation-digital-payment-input-select cs-select cs-skin-slide cs-transparent form-control">
                    <option disabled value="Specification">Specification</option>
                    <option v-for="combination in item_detail.out_let_product_combinations" v-bind:value="combination.pivot.id">
                      <template v-for="attributeValue in combination.combination_attribute_values">
                          <strong>{{attributeValue.attribute_value.attribute.name}} : </strong>  {{attributeValue.attribute_value.value}} ,
                      </template>
                      ({{ combination.stock_quantity}} Pcs)
                    </option>
                  </select>
                  <div class="form-validation-error float-left clear">
                    <form-error v-if="errors['customer_order_detail_items.'+index+'.out_let_product_product_combination_id']" :errors="errors">
                        {{ errors["customer_order_detail_items."+index+".out_let_product_product_combination_id"][0]  }}
                    </form-error>   
                  </div>   
                </div>              
              </div>                      
              <div class="sales-item-quantity general_field float-left" v-bind:class="[errors['customer_order_detail_items.'+index+'.quantity'] ? 'has-error' : '', '']">
                <input v-model="customer_order_details.customer_order_detail_items[index].quantity" :id="'item_detail' + item_detail.id + ''"  :name="'item_detail' + item_detail.id + ''" class ="form-control" type="text" placeholder=""> 
                <div class="form-validation-error float-left clear">
                  <form-error v-if="errors['customer_order_detail_items.'+index+'.quantity']" :errors="errors">
                    {{ errors["customer_order_detail_items."+index+".quantity"][0]  }}
                  </form-error> 
                </div>  
              </div>  
              <div class="sales-item-unit-price float-left">
                <div for="unit_price">x {{item_detail.unit_price}}</div>
              </div>       
            </div>              
            <div class="sales-item-total-price float-right">
              <div for="item_total_price">{{item_detail.price_exclusive_vat}}
            </div>                  
            </div>    
            <!--Start sales-item-lists -->
            <div class="clearfix"></div>
            <hr>  
          </template>     
        </div>           
      </div> 
      <div class="payment-calculation-divider"> </div>
      <!--Start payment-calculation -->    
      <div class="panel-heading sale-panel-item-lists heading-color">
        <div class="payment-calculation-title float-left"> Subtotal </div>
        <div class="payment-calculation-amount float-right"> {{customer_order_details.sub_total}} </div>
      </div>    
      <!--End payment-calculation -->
      <!--Start payment-calculation -->
      <div class="panel-heading sale-panel-item-lists heading-color">
        <div class="payment-calculation-title float-left"> Discount </div>
        <div class="payment-calculation-discount float-right" v-bind:class="[errors.discount_amount ? 'has-error' : '', '']" > 
          <input v-model="customer_order_details.discount_amount" class ="form-control payment-calculation-input-text" type="text" placeholder="Amount">             
        </div>   
        <div class="form-validation-error float-right clear">
          <form-error v-if="errors.discount_amount" :errors="errors">
            {{ errors.discount_amount[0] }}
          </form-error>   
        </div>         
      </div>
      <!--End payment-calculation -->
      <!--Start payment-calculation -->    
      <div class="panel-heading sale-panel-item-lists heading-color">
        <div class="payment-calculation-title float-left"> Coupon Discount </div>
        <div class="payment-calculation-coupon-code float-left"> 
          <div class="payment-calculation-coupon-code-text-field float-left">        
            <input v-model="customer_order_details.coupon_code" class ="form-control" type="text" placeholder="Coupon code">
          </div>
          <div class="payment-calculation-coupon-code-button float-left">
            <button v-on:click="applyCouponCode()" class="btn coupon-apply-btn btn-success">Apply</button>
          </div>
        </div> 
        <div class="payment-calculation-coupon-discount-amount float-left" v-bind:class="[errors.coupon_discount_amount ? 'has-error' : '', '']"> 
          <input v-model="customer_order_details.coupon_discount_amount"class ="form-control payment-calculation-input-text readonly-field-color" type="text" placeholder="Amount" v-bind:readonly="true">          
        </div>   
        <div class="form-validation-error float-right">
          <form-error v-if="errors.coupon_discount_amount" :errors="errors">
            {{ errors.coupon_discount_amount[0] }}
          </form-error> 
        </div>       
      </div>
      <!--End payment-calculation -->  
      <!--Start payment-calculation -->
      <div class="panel-heading sale-panel-item-lists heading-color">
        <div class="payment-calculation-title float-left"> Total exc. Vat </div>
        <div class="payment-calculation-amount float-right"> {{ customer_order_details.total_amount_exclusive_vat }} </div>
      </div>
      <!--End payment-calculation -->  
      <!--Start payment-calculation -->
      <div class="panel-heading sale-panel-item-lists heading-color">
        <div class="payment-calculation-title float-left"> VAT </div>
        <!-- <div class="payment-calculation-dropdown-lists float-left"> 
          <select  v-on:change="getVatAmount( customer_order_details.vat_id, index )" v-model="customer_order_details.vat_id" class="cs-select cs-skin-slide cs-transparent form-control">
            <option value="">Select Vat</option>
            <option v-for="vat in vat_lists" v-bind:value="vat.id">{{ vat.name }}( {{ vat.percent }} % )</option>
          </select>        
        </div>  --> 
        <div class="payment-calculation-vat-amount float-right" v-bind:class="[errors.vat_amount ? 'has-error' : '', '']"> 
          <input v-model="customer_order_details.vat_amount" class ="form-control payment-calculation-input-text readonly-field-color" type="text" placeholder="Amount" v-bind:readonly="true">
        </div>   
        <div class="form-validation-error float-right">
          <form-error v-if="errors.vat_amount" :errors="errors">
            {{ errors.vat_amount[0] }}
          </form-error> 
        </div>        
      </div>
      <!--End payment-calculation -->
      <!--Start payment-calculation -->
      <div class="panel-heading sale-panel-item-lists heading-color">
        <div class="payment-calculation-title float-left"> Net. Amount </div>
        <div class="payment-calculation-amount float-right"> {{ customer_order_details.net_amount }} </div>
        <div class="form-validation-error float-right clear">
          <form-error v-if="errors.net_amount" :errors="errors">
            {{ errors.net_amount[0] }}
          </form-error> 
        </div>
      </div>
      <!--End payment-calculation -->     
      <!--Start payment-calculation -->
      <div class="panel-heading sale-panel-item-lists heading-color" v-bind:class="[errors.customer_id ? 'has-error' : '', '']" >
        <div class="payment-calculation-title float-left">         
            <i class="fa fa-user customer-icon"></i> Customer         
        </div>
        <div class="payment-calculation-dropdown-lists float-left"> 
          <select v-model="customer_order_details.customer_id" v-on:change="toggleCustomer()" class ="form-control payment-calculation-input-select cs-select cs-skin-slide cs-transparent">
            <option value="">Select Customer</option>
            <option v-for="customer in customer_lists" v-bind:value="customer.id">{{ customer.first_name }} {{ customer.last_name }}( {{ customer.customer_no }} )</option>
          </select>          
        </div> 
        <div class="payment-calculation-vat-amount float-left"> 
          <div class="payment-calculation-input-text">
           <!-- <input v-model="customer_order_details.guest" type="radio" v-bind:value="customer_order_details.guest" name="optionyes" id="no"> -->
           <input v-if="customer_order_details.guest" v-on:change="toggleGuest()" v-model="customer_order_details.guest" type="checkbox" v-bind:value="customer_order_details.guest" name="optionyes" id="yes">
           <input v-else="customer_order_details.guest" v-on:change="toggleGuest()" v-model="customer_order_details.guest" type="checkbox" name="optionno" id="no">
            <label for="no">Guest</label>
          </div>
        </div> 
        <div class="form-validation-error float-right">
          <form-error v-if="errors.customer_id" :errors="errors">
            {{ errors.customer_id[0] }}
          </form-error>   
        </div>      
      </div>
      <!--End payment-calculation --> 
      <!--Start payment-calculation -->
      <div class="panel-heading sale-panel-item-lists heading-color" v-bind:class="[errors.company_currency_id ? 'has-error' : '', '']" >
        <div class="payment-calculation-title float-left"> Payment Currency </div>
        <div class="payment-calculation-cash-payment float-right"> 
          <select v-model="customer_order_details.company_currency_id" v-on:change="applyCouponCodeForChanges()" class="form-control payment-calculation-input-select cs-select cs-skin-slide cs-transparent">
            <option v-if="company_currency.name!='Cash'" v-for="company_currency in company_currency_lists" v-bind:value="company_currency.id">{{ company_currency.name }}( {{ company_currency.code }} )</option>
          </select> 
        </div>    
        <div class="form-validation-error float-right">
          <form-error v-if="errors.company_currency_id" :errors="errors">
            {{ errors.company_currency_id[0] }}
          </form-error>
        </div>       
      </div>
      <!--End payment-calculation -->
      <!--Start payment-calculation -->
      <div v-if="sale_paid.payment_method.name == 'Cash'" class="panel-heading sale-panel-item-lists heading-color" v-for="(sale_paid, index) in customer_order_details.sale_paids">
        <div class="payment-calculation-title float-left"> Cash Payment </div>
        <div class="payment-calculation-cash-payment float-right" v-bind:class="[errors['cash_payment_amount'] ? 'has-error' : '', '']">  
          <input v-model="customer_order_details.cash_payment_amount" class ="form-control payment-calculation-input-text" type="text" placeholder="Amount">
        </div>         
        <div class="form-validation-error float-right clear">
          <form-error v-if="errors['cash_payment_amount']" :errors="errors">
              {{ errors["cash_payment_amount"][0] }}
          </form-error>     
        </div>   
      </div>
      <!--End payment-calculation -->
      <!--Start payment-calculation -->
      <div v-if="sale_paid.payment_method.name == 'Master Card' || sale_paid.payment_method.name == 'Visa Card' || sale_paid.payment_method.name == 'Bkash' || sale_paid.payment_method.name == 'Select Payment Method' " class="panel-heading sale-panel-item-lists heading-color" v-for="(sale_paid, index) in customer_order_details.sale_paids">
        <div class="payment-calculation-title float-left"> Digital Payment </div>
        <div class="payment-calculation-digital-payment-dropdown-lists float-left" v-bind:class="[errors.payment_method_id ? 'has-error' : '', '']" >
          <select v-if="sale_paid.payment_method.name != 'Cash'" v-model="customer_order_details.sale_paids[index].payment_method.id" v-on:change="showPaymentMethodMetaField($event)" class ="form-control payment-calculation-digital-payment-input-select cs-select cs-skin-slide cs-transparent form-control">
            <option value="">Select Payment Method</option>
            <option v-if="company_payment_method.name!='Cash'" v-for="company_payment_method in company_payment_method_lists" v-bind:value="company_payment_method.id">{{ company_payment_method.name }}</option>
          </select>                  
        </div>         
        <!--Start payment_by_card --> 
        <div v-if="sale_paid.payment_method.name == 'Master Card' || sale_paid.payment_method.name == 'Visa Card' || sale_paid.payment_method.name == 'Bkash'" class="payment-calculation-digital-payment-meta-field float-right">
          <div class="required" v-bind:class="[errors['digital_payment_amount'] ? 'has-error' : '', '']">
          <div>
            <input v-model="customer_order_details.digital_payment_amount" class ="form-control payment-calculation-input-text" placeholder="Amount">
          </div>
          <div class="form-validation-error float-right clear">
            <form-error v-if="errors['digital_payment_amount']" :errors="errors">
              {{ errors["digital_payment_amount"][0] }}
            </form-error>
          </div> 
          </div> 
          <div v-for="(sale_paid_detail, sale_paid_detail_index) in sale_paid.sale_paid_details"> 
          <div v-if="sale_paid_detail.meta_data == 'Name On Card'" class="required clear" v-bind:class="[errors['sale_paids.'+index+'.sale_paid_details.'+sale_paid_detail_index+'.value'] ? 'has-error' : '', '']">
            <div>
              <input v-model="customer_order_details.sale_paids[index].sale_paid_details[sale_paid_detail_index].value" class ="form-control payment-calculation-input-text" type="text" placeholder="Name On Card">
            </div>
            <div class="form-validation-error float-right clear">
              <form-error v-if="errors['sale_paids.'+index+'.sale_paid_details.'+sale_paid_detail_index+'.value']" :errors="errors">
              {{ errors["sale_paids."+index+".sale_paid_details."+sale_paid_detail_index+".value"][0] }}
            </form-error>
            </div>
          </div>
          <div v-if="sale_paid_detail.meta_data == 'Card No'" class="required clear" v-bind:class="[errors['sale_paids.'+index+'.sale_paid_details.'+sale_paid_detail_index+'.value'] ? 'has-error' : '', '']">
            <div>
              <input v-model="customer_order_details.sale_paids[index].sale_paid_details[sale_paid_detail_index].value" class ="form-control payment-calculation-input-text" type="text" placeholder="Card No">
            </div>
            <div class="form-validation-error float-right clear">
              <form-error v-if="errors['sale_paids.'+index+'.sale_paid_details.'+sale_paid_detail_index+'.value']" :errors="errors">
              {{ errors["sale_paids."+index+".sale_paid_details."+sale_paid_detail_index+".value"][0] }}
            </form-error>
            </div>
          </div>
          <div v-if="sale_paid_detail.meta_data == 'Account Type'" class="required clear" v-bind:class="[errors['sale_paids.'+index+'.sale_paid_details.'+sale_paid_detail_index+'.value'] ? 'has-error' : '', '']">
          <div>
            <input v-model="customer_order_details.sale_paids[index].sale_paid_details[sale_paid_detail_index].value" class ="form-control payment-calculation-input-text" type="text" placeholder="Account Type">
          </div>
          <div class="form-validation-error float-right clear">
            <form-error v-if="errors['sale_paids.'+index+'.sale_paid_details.'+sale_paid_detail_index+'.value']" :errors="errors">
              {{ errors["sale_paids."+index+".sale_paid_details."+sale_paid_detail_index+".value"][0] }}
            </form-error>
          </div> 
          </div>
          <div v-if="sale_paid_detail.meta_data == 'Received From'" class="required clear" v-bind:class="[errors['sale_paids.'+index+'.sale_paid_details.'+sale_paid_detail_index+'.value'] ? 'has-error' : '', '']">
          <div>
            <input v-model="customer_order_details.sale_paids[index].sale_paid_details[sale_paid_detail_index].value" class ="form-control payment-calculation-input-text" type="text" placeholder="Received From">
          </div>
          <div class="form-validation-error float-right clear">
            <form-error v-if="errors['sale_paids.'+index+'.sale_paid_details.'+sale_paid_detail_index+'.value']" :errors="errors">
              {{ errors["sale_paids."+index+".sale_paid_details."+sale_paid_detail_index+".value"][0] }}
            </form-error>
          </div> 
          </div>
        </div>
        <!--End payment_by_card --> 
      </div>          
        <!--End payment_by_bkash -->   
        <div class="form-validation-error float-right">
          <form-error v-if="errors.payment_method_id" :errors="errors">
            {{ errors.payment_method_id[0] }}
          </form-error>
        </div>    
      </div>
      <!--End payment-calculation -->
      <!--Start Ínvoice Prefix -->    
      <div class="panel-heading sale-panel-item-lists heading-color">
        <div class="payment-calculation-title float-left"> Invoice Prefix </div>
        <div class="payment-calculation-digital-payment-dropdown-lists float-left" v-bind:class="[errors.invoice_prefix_id ? 'has-error' : '', '']" >
            <select v-model="customer_order_details.invoice_prefix_id" v-on:change="toggleInvoicePrefix()" class ="form-control payment-calculation-digital-payment-input-select cs-select cs-skin-slide cs-transparent form-control">
            <option value="">Select Invoice Prefix</option>
            <option v-for="invoice_prefix in invoice_prefix_lists" v-bind:value="invoice_prefix.id">{{ invoice_prefix.name }}</option>
          </select> 
        </div>    
        <div class="form-validation-error float-right">
          <form-error v-if="errors.invoice_prefix_id" :errors="errors">
            {{ errors.invoice_prefix_id[0] }}
          </form-error>
        </div>       
      </div>   
      <!--End Ínvoice Prefix  -->  
      <!--Start payment-calculation -->    
      <div class="panel-heading sale-panel-item-lists heading-color">
        <div class="payment-calculation-title float-left"> Remain Sum </div>
        <div class="payment-calculation-amount float-right"> {{ customer_order_details.remain_sum}} </div>
      </div>    
      <!--End payment-calculation -->
      <!--Start payment-calculation -->    
      <div class="panel-heading sale-panel-item-lists heading-color">
        <div class="payment-calculation-title float-left"> Change Amount </div>
        <div class="payment-calculation-amount float-right"> {{ customer_order_details.change_amount }} </div>          
      </div>    
      <!--End payment-calculation -->
      <!--Start payment-calculation -->    
      <div class="panel-heading sale-panel-item-lists heading-color">
        <div class="payment-calculation-action-button float-left"> 
          <button v-if="customer_order_details.status!='cancel'" v-on:click="updateSaleDetail('cancel')" class="btn create-button btn-cons sales-button-size">Cancel</button>
        </div>
        <div class="payment-calculation-action-button float-left"> 
        <button v-if="customer_order_details.status=='sold'" v-on:click="printModal()" class="btn btn-success btn-cons product_add_btn sales-button-size">Print <br/>Invoice</button>
        </div>
        <div class="payment-calculation-action-button float-left"> 
          <button v-on:click="updateSaleDetail('sold')" class="btn btn-success btn-cons product_add_btn sales-button-size">Save</button>
        </div>
        <!-- <div class="payment-calculation-action-button float-left"> 
          <button class="btn btn-success btn-cons sales-button-size">Hold</button>
        </div> -->
        <div class="payment-calculation-action-button float-left"> 
          <button v-on:click="isOrderNotesHidden = !isOrderNotesHidden" class="btn btn-success btn-cons product_add_btn sales-button-size">Notes</button>
        </div>          
      </div>    
      <!--End payment-calculation -->
      <!--Start payment-calculation -->    
      <div v-if="isOrderNotesHidden" class="panel-heading sale-panel-item-lists heading-color wysiwyg5-wrapper b-a b-grey">
        <textarea v-model="customer_order_details.sales_note" class ="form-control payment-calculation-input-textarea wysiwyg demo-form-wysiwyg" placeholder="Sales Note">    
        </textarea>       
      </div>    
      <!--End payment-calculation -->
    </div>
    <!--End sale-panel-item-lists -->
  </div>
  <!--End sale-panel-->
  <!-- Invoice Printing panel -->
  <!-- Start: Print In POS Printer -->
  <div id="dvContainerPos" style="display:none;">
    <span id="print_item">
      <span v-if="out_let_details && company_details">
        <center>           
             <img :src="'/uploads/company/'+company_id+'/receipt_logo/50x50/'+company_details.receipt_logo" alt="" style="width: 80px; height: 80px; margin-left: -10px;">
        </center>
        <center style="font-family: Courier New, monospace;"><h3 style="font-weight: bold;font-size: 20px;">{{ out_let_details.name }}</h3>
            <p style="margin-bottom: 0px;font-weight: bold;font-size: 20px;">
              Address : {{ out_let_details.address }}
            </p>
            <p style="margin-bottom: 0px;">
              Contact : {{ out_let_details.phone }}
            </p>
            <p>Date : {{current_date_time}}</p>
            <p>
              INVOICE: {{ selected_invoice_prefix ? selected_invoice_prefix[0].name: ""}} - {{ invoice_no }}
            </p>
        </center>
        <center><hr></center>
      </span> 
      <table border="0" style="width: 270px;padding-bottom: 20px;"> 
        <thead> 
            <tr style="color: black; font-weight: bold; font-size: 15px;"> 
                <th scope="col">#</th> 
                <th scope="col">Item Name</th> 
                <th scope="col">Price</th> 
                <th scope="col"><center>Qty</center></th> 
                <th scope="col">S. Total</th> 
            </tr> 
        </thead>
        <tbody> 
          <template v-for="(sale_paid, index_payment) in customer_order_details.sale_paids">
          </template>
            <tr v-for="(item, index) in customer_order_details.customer_order_detail_items" style="font-weight: bold;font-size: 14px;"> 
                <th scope="row">{{ index+1 }}. </th> 
                <td>{{ item.product.name }}</td> 
                <td style="text-align: right;">{{ parseFloat(item.product.prices[0].price).toFixed(2)  }}</td> 
                <td style="text-align: right;">{{ item.quantity }}</td> 
                <td style="text-align: right;"> &#2547 {{ parseFloat(item.product.prices[0].price * item.quantity).toFixed(2)  }}</td> 
            </tr>
            <tr v-if="customer_order_details.sales_note">
                <td colspan="5">
                    <hr>
                    <b>Notes:</b> {{ customer_order_details.sales_note }}
                </td>
            </tr>
            <hr>
            <tr>
                <td colspan="4" style="font-weight: bold;text-align: right; font-size: 14px;">Sub Total: </td>
                <td style="font-weight: bold;text-align: right; font-size: 14px;"> &#2547 {{ parseFloat(customer_order_details.sub_total).toFixed(2)  }}</td>
            </tr>
            <tr v-if="customer_order_details.vat_amount">
                <td colspan="4" style="font-weight: bold;text-align: right; font-size: 14px;">VAT: </td>
                <td style="font-weight: bold;text-align: right; font-size: 14px;"> &#2547 {{ parseFloat(customer_order_details.vat_amount).toFixed(2)  }}</td>
            </tr>
            <tr>
                <td colspan="4" style="font-weight: bold;text-align: right; font-size: 14px;"> Total: </td>
                <td style="font-weight: bold;text-align: right; font-size: 14px;"> &#2547 {{ (parseFloat(customer_order_details.sub_total) + parseFloat(customer_order_details.vat_amount)).toFixed(2)}}</td>
            </tr>
            <tr v-if="customer_order_details.total_discount">
              <td colspan="4" style="font-weight: bold;text-align: right; font-size: 14px;">Discount: </td>                   
                <td style="font-weight: bold;text-align: right; font-size: 14px;"> &#2547 {{ parseFloat(customer_order_details.total_discount).toFixed(2)  }}</td>
            </tr>
            <tr>
                <td colspan="4" style="font-weight: bold;text-align: right; font-size: 14px;">Grand Total: </td>
                <td style="font-weight: bold;text-align: right; font-size: 14px;"> &#2547 {{ parseFloat(customer_order_details.net_amount).toFixed(2)  }}</td>
            </tr>
            <tr>
                <td colspan="4" style="font-weight: bold;text-align: right; font-size: 14px;">Paid Amount: </td>
                <td style="font-weight: bold;text-align: right; font-size: 14px;"> &#2547 {{ parseFloat(customer_order_details.total_payment_amount).toFixed(2)  }}</td>
            </tr>
            <tr>
                  <td colspan="4" style="font-weight: bold;text-align: right; font-size: 14px;">Remain Amount: </td>
                  <td style="font-weight: bold;text-align: right; font-size: 14px;"> &#2547     
                      {{ parseFloat(
                        customer_order_details.remain_sum).toFixed(2)  
                      }}</td>
                </tr>
            <tr>
                <td colspan="4" style="font-weight: bold;text-align: right; font-size: 14px;">Return Amount: </td>
                <td style="font-weight: bold;text-align: right; font-size: 14px;"> &#2547 {{ parseFloat(customer_order_details.change_amount).toFixed(2)  }}</td>
            </tr>
            <tr>
              <td colspan="4" style="font-weight: bold;text-align: right; font-size: 14px;">Payment Type: 
              </td>                
              <template v-for="(sale_paid, index_payment) in customer_order_details.sale_paids">
                <td style="font-weight: bold;text-align: right; font-size: 14px;">
                  <span v-if="sale_paid.payment_method.name=='Cash'">
                    {{ sale_paid.payment_method.name }} : &#2547 {{customer_order_details.cash_payment_amount}}
                  </span>
                </td>
                <td style="font-weight: bold;text-align: right; font-size: 14px;">
                  <span v-if="sale_paid.payment_method.name != 'Cash' && sale_paid.payment_method.name !='Select Payment Method'">
                    {{ sale_paid.payment_method.name }} : &#2547 {{customer_order_details.digital_payment_amount}}
                  </span>
                  </td>
              </template>
            </tr>
            <br>
            <tr style="text-align: center;">
                <td colspan="5">  &nbsp <br> </td>
            </tr>               
            <tr style="text-align: center;">
                <td colspan="5" v-if="company_details.receipt_text">
                  {{ company_details.receipt_text }}
                </td>
            </tr>
            <tr></tr>
            <tr style="text-align: center;">
                <td colspan="5" v-if="company_details.signature_line_text">
                  <p style="border-bottom: 1px solid #000000; padding: 10px;">
                    {{ company_details.signature_line_text }}
                  </p>
                </td>
            </tr>
            <tr style="text-align: center;">
                <td colspan="5">  &nbsp <br> </td>
            </tr>
        </tbody>
      </table>
      <div style="height: 30px"></div>
    </span>
  </div>  
  <!-- End: Print In POS Printer -->
  <!-- Start: Print In Regular Printer -->    
    <div id="dvContainerRegular" style="display:none;" class="">
        <div class="row justify-content-center break" style="margin-top: 7%">
            <div class="col-lg-4" style="float:left">
                <div class="header-left ml-4 text-left" v-if="out_let_details && company_details">
                    <img class="inv_logo" alt="logo" width="200" :src="'/uploads/company/'+company_id+'/receipt_logo/'+company_details.receipt_logo" >

                    <p style="line-height:.5;">
                        <b>{{ out_let_details.name }}</b>
                    </p>
                    <p style="line-height:.5;font-size:13px;">
                      Location : {{ out_let_details.location }}
                    </p>
                    <p style="line-height:.5;font-size:13px;">
                      Address : {{ out_let_details.address }}
                    </p>
                    <p style="line-height:.5;font-size:13px;">
                      {{ out_let_details.city }} , {{ out_let_details.zip }}
                    </p>
                    <p style="line-height:.5;font-size:13px;">
                      Contact : {{ out_let_details.phone }}
                    </p>                                     
                </div>
            </div>
            <div class="col-lg-6 " style="float:right">
                <div class="moha_add_inv pull-right" >
                    <p style="line-height:.5;">
                      INVOICE: {{ selected_invoice_prefix ? selected_invoice_prefix[0].name: ""}} - {{ invoice_no }}
                    </p>
                    <p style="line-height:.5;">Order No: {{ order_no }}</p>
                    <p style="line-height:.5;">Date : {{current_date_time}}</p>
                    <span v-if="selected_customer"><b>Customer Details : </b>
                      <p style="line-height:.5;">Name : {{ selected_customer[0].first_name}} {{ selected_customer[0].last_name}}</p>
                      <p style="line-height:.5;">Address : {{ selected_customer[0].address}}</p>                   
                      <p style="line-height:.5;"> {{ selected_customer[0].city}} </p> 
                      <p style="line-height:.5;">Contact : {{ selected_customer[0].cell_phone}}</p>
                    </span>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 22% !important; padding-bottom: 22% !important;"></div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-lg-offset-1 col-md-offset-1" 
            style="flex: 0 0 100%; max-width: 100%;">
            <table class="table table-bordered moha_tbl_inv" 
              style="width: 100%; margin-bottom: 1rem; color: #212529;border: 1px solid #dee2e6;margin-top: 50px; border-collapse: collapse;">
              <thead style="display: table-header-group; vertical-align: middle;border-color: #dee2e6;">
                <tr style="display:table-row; vertical-align: inherit;border-color: #dee2e6;">
                  <th class="text-center" style="vertical-align: bottom; 
                    border-bottom: 2px solid #dee2e6; padding: 0.75rem;  height: 36px; color: inherit; font-size: .75rem; line-height: 10px;">Image
                  </th>
                  <th class="text-center" 
                    style="vertical-align: bottom; 
                    border-bottom: 2px solid #dee2e6; padding: 0.75rem;  height: 36px; font-size: .75rem; line-height: 10px;">Item Code
                  </th>
                  <th class="text-center" style="vertical-align: bottom; 
                  border-bottom: 2px solid #dee2e6; padding: 0.75rem;   height: 36px; color: inherit; font-size: .75rem; line-height: 10px;">Item</th>
                  <th class="text-center" style="vertical-align: bottom; 
                  border-bottom: 2px solid #dee2e6; padding: 0.75rem;   height: 36px; color: inherit; font-size: .75rem; line-height: 10px;">Price</th>
                  <th class="text-center" style="vertical-align: bottom; 
                  border-bottom: 2px solid #dee2e6; padding: 0.75rem;  height: 36px; color: inherit; font-size: .75rem; line-height: 10px;">Quantity</th>
                  <th class="text-center"style="vertical-align: bottom; 
                  border-bottom: 2px solid #dee2e6; padding: 0.75rem;  height: 36px; color: inherit; font-size: .75rem; line-height: 10px;">Total Price
                  </th>
                </tr>
              </thead>
              <tbody style="display: table-row-group; vertical-align: middle; border-color: #dee2e6;">
                <tr v-for="(item, index) in customer_order_details.customer_order_detail_items"
                style="display: table-row; vertical-align: inherit; border-color: #dee2e6;">
                  <td style="text-align: center; border: 1px solid #dee2e6;
                  padding: 0.75rem; vertical-align: top; font-size: 12px; line-height: 10px;" v-if="item.product.images.length > 0">
                    <img style="max-width: 40px;max-height:30px;"
                      :src="'/uploads/company/'+company_id+'/product_images/'+item.product.id+'/150x150/'+ item.product.images[0].name" alt="">
                  </td>
                  <td style="text-align: center; border: 1px solid #dee2e6;
                  padding: 0.75rem; vertical-align: top; font-size: 12px; line-height: 10px;" v-else>
                     <img style="max-width: 40px;max-height:30px;"
                      :src="'/uploads/default_product_images/1.png'" alt="">
                  </td>
                  <td style="text-align: center; border: 1px solid #dee2e6;
                  padding: 0.75rem; vertical-align: top; font-size: 12px;
    line-height: 10px;">
                      {{ item.product.item_code }}
                  </td>
                  <td class="text-center" style="text-align: center; border: 1px solid #dee2e6;
                  padding: 0.75rem; vertical-align: top; font-size: 12px;
    line-height: 10px;">
                    {{ 
                      item.product.name 
                    }}                                       
                  </td>
                  <td class="text-center" style="text-align: center; border: 1px solid #dee2e6;
                  padding: 0.75rem; vertical-align: top; font-size: 12px;
    line-height: 10px;">
                    {{ parseFloat(item.product.prices[0].price).toFixed(2)  }}                                         
                  </td>
                  <td class="text-center" style="text-align: center; border: 1px solid #dee2e6;
                  padding: 0.75rem; vertical-align: top; font-size: 12px;
    line-height: 10px;">
                    {{ item.quantity }}
                  </td>
                  <td class="text-right" style="text-align: center; border: 1px solid #dee2e6;
                  padding: 0.75rem; vertical-align: top; font-size: 12px;
    line-height: 10px;">
                    &#2547
                    {{ parseFloat(item.product.prices[0].price * item.quantity).toFixed(2)  }}
                  </td>
                </tr> 
                <tr>                                
                  <td colspan="3" style="text-align: center; border: 1px solid #dee2e6;
                  padding: 0.75rem; vertical-align: top; font-size: 12px;
    line-height: 10px;">                                
                    <div class="paid-stamp" v-if="customer_order_details.total_payment_amount >= customer_order_details.net_amount">
                      <img style="width: 110px" :src="'/uploads/invoice_images/paid_stamp.png'"/>
                    </div>                               
                  </td>
                  <td colspan="2" class="text-right" style="text-align: right; border: 1px solid #dee2e6;
                  padding: 0.75rem; vertical-align: top; font-size: 12px;
    line-height: 10px;">
                      <b><span>Subtotal:</span></b>
                  </td>
                    <td class="text-right" style="text-align: center; border: 1px solid #dee2e6;
                  padding: 0.75rem; vertical-align: top; font-size: 12px;
    line-height: 10px; ">
                      <span>
                        &#2547
                        {{ 
                          parseFloat(customer_order_details.sub_total).toFixed(2) 
                        }}
                      </span>
                    </td>
                </tr>
                <tr>
                  <td colspan="5" style="text-align: right; border: 1px solid #dee2e6;
                  padding: 0.75rem; vertical-align: top; font-size: 12px;
    line-height: 10px;"><b>VAT:</b></td>
                  <td class="text-right"  style="text-align: center; border: 1px solid #dee2e6;
                  padding: 0.75rem; vertical-align: top; font-size: 12px;
    line-height: 10px; ">
                      &#2547 
                      {{ parseFloat(
                        customer_order_details.vat_amount).toFixed(2)  
                      }}                              
                  </td>
                </tr>
                <tr>
                  <td colspan="5" class="text-right" style="text-align: right; border: 1px solid #dee2e6;
                  padding: 0.75rem; vertical-align: top; font-size: 12px;
    line-height: 10px;"><b>Total:</b></td>
                  <td class="text-right" style="text-align: center; border: 1px solid #dee2e6;
                  padding: 0.75rem; vertical-align: top; font-size: 12px;
    line-height: 10px; ">
                      &#2547   
                      {{ 
                        ( parseFloat(customer_order_details.sub_total) + parseFloat(customer_order_details.vat_amount)).toFixed(2)
                      }}                                
                  </td>
                </tr>
                <tr>
                  <td colspan="5" class="text-right" style="text-align: right; border: 1px solid #dee2e6;
                  padding: 0.75rem; vertical-align: top; font-size: 12px;
    line-height: 10px; "><b>Discount:</b></td>
                  <td class="text-right" style="text-align: center; border: 1px solid #dee2e6;
                  padding: 0.75rem; vertical-align: top; font-size: 12px;
    line-height: 10px; ">
                      &#2547     
                      {{ 
                        parseFloat(customer_order_details.total_discount).toFixed(2)  
                      }}                                
                  </td>
                </tr>
                <tr>
                  <td colspan="5" class="text-right" style="text-align: right; border: 1px solid #dee2e6;
                  padding: 0.75rem; vertical-align: top; font-size: 12px;
    line-height: 10px; "><b>Grand Total:</b></td>
                  <td class="text-right" style="text-align: center; border: 1px solid #dee2e6;
                  padding: 0.75rem; vertical-align: top; font-size: 12px;
    line-height: 10px; ">
                      &#2547     
                      {{ 
                        parseFloat(customer_order_details.net_amount).toFixed(2)  
                      }}                                
                  </td>
                </tr>
                <tr>
                  <td colspan="5" class="text-right" style="text-align: right; border: 1px solid #dee2e6;
                  padding: 0.75rem; vertical-align: top; font-size: 12px;
    line-height: 10px; "><b>Paid Amount:</b></td>
                  <td class="text-right" style="text-align: center; border: 1px solid #dee2e6;
                  padding: 0.75rem; vertical-align: top; font-size: 12px;
    line-height: 10px; ">
                      &#2547     
                      {{ parseFloat(
                        customer_order_details.total_payment_amount).toFixed(2)  
                      }}
                  </td>
                </tr>
                <tr>
                  <td colspan="5" class="text-right" style="text-align: right; border: 1px solid #dee2e6;
                  padding: 0.75rem; vertical-align: top; font-size: 12px;
    line-height: 10px; "><b>Remain Amount:</b></td>
                  <td class="text-right" style="text-align: center; border: 1px solid #dee2e6;
                  padding: 0.75rem; vertical-align: top; font-size: 12px;
    line-height: 10px; ">
                      &#2547     
                      {{ parseFloat(
                        customer_order_details.remain_sum).toFixed(2)  
                      }}                                 
                  </td>
                </tr>

                <tr>
                  <td colspan="5" class="text-right" style="text-align: right; border: 1px solid #dee2e6;
                  padding: 0.75rem; vertical-align: top; font-size: 12px;
    line-height: 10px; "><b>Return Amount:</b></td>
                  <td class="text-right" style="text-align: center; border: 1px solid #dee2e6;
                  padding: 0.75rem; vertical-align: top; font-size: 12px;
    line-height: 10px; ">
                      &#2547     
                      {{ parseFloat(
                        customer_order_details.change_amount).toFixed(2)  
                      }}                                 
                  </td>
                </tr>
              </tbody>
            </table>
            <table>
              <tr>
                <td colspan="4" style="font-weight: bold;text-align: right; font-size: 14px;">Payment Type: 
                </td>                
                <template v-for="(sale_paid, index_payment) in customer_order_details.sale_paids">
                  <td style="font-weight: bold;text-align: right; font-size: 14px;">
                    <span v-if="sale_paid.payment_method.name=='Cash'">
                      {{ sale_paid.payment_method.name }} : &#2547 {{customer_order_details.cash_payment_amount}}
                    </span>
                  </td>
                  <td style="font-weight: bold;text-align: right; font-size: 14px;">
                    <span v-if="sale_paid.payment_method.name != 'Cash' && sale_paid.payment_method.name !='Select Payment Method'">
                      {{ sale_paid.payment_method.name }} : &#2547 {{customer_order_details.digital_payment_amount}}
                    </span>
                    </td>
                </template>
              </tr>
            </table>
          </div>          
          <div class="row justify-content-center break" style="margin-top: 7%">
            <div class="col-lg-4" style="float:left">
                <div class="header-left ml-4 text-left" >
                  <p style="padding: 10px; text-align: center;" v-if="company_details.receipt_text">
                    {{ company_details.receipt_text }}
                  </p>                                      
                </div>
            </div>
            <div class="col-lg-6 " style="float:right; margin-right:50px">
              <div class="moha_add_inv pull-right" >                    
                  <p style="border-bottom: 1px solid #000000; padding: 10px;" v-if="company_details.signature_line_text">
                    {{ company_details.signature_line_text }}
                  </p>                    
              </div>
            </div>
          </div>            
          <!-- <div style="clear: both"></div>
          <div class="row justify-content-center break" style="margin-top: 7%">           
            <div class="col-lg-12">
              <div class="moha_add_inv pull-right" >                    
                  <p style="text-align: center;" v-if="company_details.receipt_text">
                    {{ company_details.receipt_text }}
                  </p>                    
              </div>
            </div>
          </div> -->
        </div>        
    </div>
  <!-- End: Print In Regular Printer -->
  <modal name="printPopUp" :width="500" :height="530"> 
    <div class="col-md-5-buy-now">
      <div class="card-buy-now" >
        <div class="card-header" style="border-bottom: 1px solid #dfdfdf;">
          <h4 v-if="message" class="card-title" style="text-align: center;  font-weight:bold; color:#1DBB99">{{ message }}</h4>
          <h4 v-else class="card-title" style="text-align: center; font-weight:bold; color:#1DBB99">Print Invoice</h4>
        </div>
        <div class="card-body">           
          <!-- <form  method="post" @submit.prevent="saveprintPopUp" name="order"> -->
            <div class="row" style="margin:5% 0% 3% 10%" >
              <div class="form-group col-md-6">
                  <span> <b> Print To Printer: </b> </span>
              </div>
            </div>
            <div class="row" style="margin:2% 0% 0% 10%" v-if="out_let_printers" v-for="printer in out_let_printers.printers">
              <div class="form-check form-check-inline" >
                <input class="form-check-input" type="radio" name="printer_type" :value="printer.type" v-model="printer_type">
                <label class="form-check-label" for="inlineRadio1">
                  {{ printer.name }} ( {{ printer.type }} )
                </label>
              </div>      
            </div> 
            <div class="row">
              <div class="buttons" style="margin:30% 0% 0% 22%; padding-top:5%">
                <div class="form-group text-left" style="float: left; margin-right: 3%;">
                  <button style="background-color: red;border-color: red;" 
                  type="button"
                  class="btn btn-primary sales-button-size" @click="cancel();"
                  >
                  <i class="fa" ></i>Cancel
                  </button>
                </div>
                <div class="form-group text-left" style="float: left;">
                  <button type="submit" class="btn btn-primary sales-button-size" @click="printInvoice()"
                  >
                  <i class="fa"></i>Print Now
                  </button>
                </div>
              </div>
            </div>
          <!-- </form> -->
        </div>
      </div>
    </div>
  </modal>
</div>
</template>

<script>
   import { Fancybox } from "@fancyapps/ui";
    import "@fancyapps/ui/dist/fancybox/fancybox.css";
    Fancybox.bind('[data-fancybox="gallery"]', {
        // Your custom options
    });
    require('../../plugins/bootstrap-datepicker/js/bootstrap-datepicker.js');
    import VModal from 'vue-js-modal/dist/ssr.nocss'
    import 'vue-js-modal/dist/styles.css'    
    import $ from 'jquery'
    import Vue from 'vue'
    const Swal = require("sweetalert2");

    Vue.use(VModal, {
      dynamicDefaults: {
        draggable: true,
        resizable: true,
        height: 'auto'
      }
    })
    export default {
        data(){
          return{  
            timer: '',              
            errors: [],  
            company_details: {
              name:'', 
              phone:'',
              email:'',
              address:'',
              city:'',
              zip:'',
              receipt_address:'',
              receipt_text:'',
              signature_line_text:'',
              receipt_logo:''
            },
            out_let_details: [],
            customer_lists: [],
            selected_invoice_prefix: "",
            invoice_prefix_lists: [],
            vat_lists: [],
            categories: [],
            company_currency_lists: [],
            company_payment_method_lists: [],                
            out_let_product_lists: 
            {
              quantity: '00',
              unit_price: '00',
              item_total_price: '00',
            }, 
            sale_paid_history: [],
            customer_order_details:{
              guest: null,
              customer_id: null,
              sub_total: '00', 
              net_amount: '00',
              discount_amount: '00', 
              total_discount: '00',
              coupon_discount_amount: '00', 
              vat_id:null,                  
              vat_amount: '00',
              total_amount_exclusive_vat:'00',
              total_amount_inclusive_vat:'00',
              cash_payment_method_id: null,
              cash_payment_amount:'00',
              digital_payment_amount: '00',
              total_payment_amount:'00', 
              remain_sum: '00',
              change_amount: '00',
              payment_by_card: null,
              payment_by_bkash: null,
              company_currency_id: null, 
              coupon_code: null, 
              coupon_id: null,
              coupon_discount_amount: '00',
              customer_order_detail_items:[],
              paymentMethod: null,
              /* This sale_paids pre-generation is important to show Payment filed properly. Wihout this pre-generation Payment will not show in Frontend */
              sale_paids:[{paid_amount:null, payment_method: {}, sale_paid_details:[{meta_data:null, value:null}] }],
            },    
            isOrderNotesHidden: false,
            default_currency_name: null,  
            invoice_no: "",
            order_no: "",        
            current_date_time  : new Date().toLocaleString(), 
            selected_customer : "",     
            message: "", 
          }
        },
        props: ['company_id','sale_id','out_let_id'],
        async mounted() {
          let that = this;  
          that.getCompanyDetails();
          that.getOutLetDetails();          
          that.getCustomerLists();
          that.getInvoicePrefixLists();
          that.getVatLists();
          that.getCompanyCategory();
          that.getCompanyCustomerOrderStatus();            
          that.getCompanyCurrencyLists(); 
          that.getOutLetPrinters();    
          await that.getCompanyPaymentMethodLists();
          await that.getSalePaidDetail(); 
          await that.editCustomerOrderDetail(); 
          this.toggleInvoicePrefix();
          this.toggleCustomer();
          that.getOutLetProducts();
          $(".js-fancybox").fancybox({
              infobar: false,
              buttons: [
                "zoom",
                "share",
                "slideShow",
                "close",
              ]
          });
          //setInterval(() => this.editCustomerOrderDetail(),3000);
        },
        computed:{
            price_exclusive_vat: function(){
              let that = this;
              var item_price = '00';
              var sub_total = '00';
              console.log("Hoga"); 
              $.each(that.customer_order_details.customer_order_detail_items,function(index,item_detail){
                 item_price = parseFloat(item_detail.unit_price) * parseInt(item_detail.quantity);
                 that.customer_order_details.customer_order_detail_items[index].price_exclusive_vat = item_price;
                 sub_total = parseFloat(sub_total) + parseFloat(that.customer_order_details.customer_order_detail_items[index].price_exclusive_vat);                   
              })   
              that.customer_order_details.sub_total = sub_total;             
            }, 
            vat_amount: function(){
              let that = this; 
              var vat_amount = '00';
              var item_price = '00';
              $.each(that.customer_order_details.customer_order_detail_items,function(index,item_detail){
                 item_price = parseFloat(item_detail.unit_price) * parseInt(item_detail.quantity);
                   that.customer_order_details.customer_order_detail_items[index].price_exclusive_vat = item_price;
                vat_amount = parseFloat(vat_amount) + ( ( parseFloat(item_detail.vat_percent) / 100) * that.customer_order_details.customer_order_detail_items[index].price_exclusive_vat );                                
              })          
              that.customer_order_details.vat_amount = vat_amount; 
              
            },
            price_inclusive_vat: function(){
                let that = this;
                var item_price = '00';
                var price_inclusive_vat = '00';  
                that.customer_order_details.price_inclusive_vat = price_inclusive_vat;             
            }, 
            total_amount_exclusive_vat: function(){
              let that = this;              
              that.customer_order_details.total_amount_exclusive_vat = Math.round(parseFloat( that.customer_order_details.sub_total ) - ( parseFloat( that.customer_order_details.discount_amount ) + parseFloat( that.customer_order_details.coupon_discount_amount ) ));
            }, 
            total_amount_inclusive_vat: function(){
              let that = this;              
              that.customer_order_details.total_amount_inclusive_vat = that.customer_order_details.net_amount =
              Math.round( parseFloat( that.customer_order_details.total_amount_exclusive_vat ) + parseFloat( that.customer_order_details.vat_amount )); 
            },
            total_payment_amount: function(){
              let that = this;
              that.customer_order_details.total_payment_amount = parseFloat(that.customer_order_details.cash_payment_amount) + parseFloat(that.customer_order_details.digital_payment_amount);
            }, 
            remain_sum: function(){
                let that = this;
                var digital_payment_amount = 0;
                if(that.customer_order_details.digital_payment_amount){
                  digital_payment_amount = parseFloat( that.customer_order_details.digital_payment_amount );
                }
                var cash_payment_amount = 0;
                if(that.customer_order_details.cash_payment_amount){
                  cash_payment_amount = parseFloat( that.customer_order_details.cash_payment_amount );
                }
                console.log("There I'm");
                that.customer_order_details.remain_sum = Math.max(0,Math.round( parseFloat( that.customer_order_details.net_amount ) - ( parseFloat( cash_payment_amount ) + parseFloat( digital_payment_amount ) ) ));
            },
            change_amount: function(){
              let that = this;
              var digital_payment_amount = 0;
              if(that.customer_order_details.digital_payment_amount){
                digital_payment_amount = parseFloat( that.customer_order_details.digital_payment_amount );
              }
              var cash_payment_amount = 0;
              if(that.customer_order_details.cash_payment_amount){
                cash_payment_amount = parseFloat( that.customer_order_details.cash_payment_amount );
              }
              that.customer_order_details.change_amount = Math.max(0,Math.round( ( parseFloat( cash_payment_amount ) + parseFloat( digital_payment_amount ) ) - parseFloat( that.customer_order_details.net_amount )));
              if(!that.customer_order_details.change_amount){
                  that.customer_order_details.change_amount = 0;
              }
            },
            total_discount: function(){
              let that = this;
              that.customer_order_details.total_discount = parseFloat(that.customer_order_details.coupon_discount_amount) + parseFloat(that.customer_order_details.discount_amount);
            }
        },
        watch:{
            price_exclusive_vat: function(){
                let that = this;
                $.each(that.customer_order_details.customer_order_detail_items,function(index,sale_product){
                  console.log('Price Exclusive Vat Price Changed...');
                })
            },
            vat_amount: function(){
              let that = this;
              $.each(that.customer_order_details.customer_order_detail_items,function(index,item_detail){
                console.log('Vat Amount Changed...');
              })
            },
            price_inclusive_vat: function(){
                let that = this;
                $.each(that.customer_order_details.customer_order_detail_items,function(index,sale_product){
                  console.log('Price Inclusive Vat Price Changed...');
                })
            },
            total_amount_exclusive_vat: function(){
              console.log('Total Exclusive Vat Changed...');
            },  
            total_amount_inclusive_vat: function(){
              console.log('Total Inclusive Vat Changed...');
            },
            total_payment_amount: function(){
              console.log('Total Paid Changed...');
            },
            remain_sum: function(){
              console.log('Remain Sum Changed...');
            },
            change_amount: function(){
              console.log('Total Change Amount Changed...');
            },    
            total_discount: function(){
              console.log('Total Discount Amount Changed...');
            }        
        },
        methods: {
            editCustomerOrderDetail: function(){
                let that = this;
                console.log("that.sale_id: "+that.sale_id);
                return axios.post('/api/sale_detail/get_sale_detail', {
                    sale_id: that.sale_id,
                    cash_payment_method_id: that.customer_order_details.cash_payment_method_id
                })
                .then(function (response) {
                  that.invoice_no = response.data.invoice_no;
                  that.order_no = response.data.order_no;                  
                  that.customer_order_details = response.data;   
                  that.customer_order_details.vat_amount = response.data.vat_amount;   
                  if(that.company_payment_method_lists){
                    var cash_payment_method_id = that.company_payment_method_lists.filter(function (payment_method) {
                          return payment_method.name == "Cash";
                    });
                    if(!$.isEmptyObject(that.customer_order_details.sale_paids)){
                      $.each(that.customer_order_details.sale_paids,function(index,sale_paid){
                        if(sale_paid.payment_method.name == "Cash" ){
                          that.customer_order_details.sale_paids[index].payment_method.id = cash_payment_method_id[0].id;
                        }
                      })
                    }                      
                  }               
                  if( that.customer_order_details.sales_note ){
                    that.isOrderNotesHidden = true;
                  }
                  if( !that.customer_order_details.customer_id ){
                    that.customer_order_details.guest = true;
                  }else{
                    that.customer_order_details.guest = null;
                  }                                
                  that.customer_order_details.remove_customer_order_detail_items =  [];
                })
                .catch(function (error) {
                    that.errors = error;
                }); 
            },                
            searchOutLetProducts: function(){
              let that = this;
              that.out_let_product_lists = null;
              axios.post('/api/product/search_out_let_products',{
                name: that.name,
                category_id: that.category_id,
              }
              )
              .then(function (response) {
                that.out_let_product_lists = response.data;
                if (!$.isEmptyObject( that.out_let_product_lists )) {
                  $.each(that.out_let_product_lists[0].out_let_products,function( index_out_let_product, out_let_product ){                      
                    $.each(that.customer_order_details.customer_order_detail_items,function(index_customer_order_detail_item,customer_order_detail_item){
                        console.log("customer_order_detail_item.product_id" +customer_order_detail_item.product_id  +"product.id" +out_let_product.product_id);
                        if( customer_order_detail_item.product_id == out_let_product.product_id ){
                            that.out_let_product_lists[0].out_let_products[index_out_let_product].isDisable = "1";
                        }
                    })
                  })
                } 
              })
              .catch(function (error) {
                that.errors = error;
              });
            },
            getCompanyDetails: function(){
              let that = this;
              that.company_details = null;  
              axios.post('/api/company/company_details', {
                'company_id': that.company_id
              })
              .then(function (response) {
                that.company_details = response.data;                  
              })
              .catch(function (error) {
                that.errors = error;
              });
            },          
            getOutLetDetails: function(){
              let that = this;
              that.out_let_details = null;  
              axios.post('/api/out_let/get_out_let_data', {
                'out_let_id': that.out_let_id
              })
              .then(function (response) {
                that.out_let_details = response.data;                  
              })
              .catch(function (error) {
                that.errors = error;
              });
            },
            getOutLetProducts: function(){
                let that = this;
                that.out_let_product_lists = null;  
                that.name = null; 
                that.category_id = null;
                axios.post('/api/product/out_let_products', {
                  
                })
                .then(function (response) {
                  that.out_let_product_lists = response.data;                     
                  if (!$.isEmptyObject( that.out_let_product_lists )) {
                    $.each(that.out_let_product_lists[0].out_let_products,function( index_out_let_product, out_let_product ){                      
                      $.each(that.customer_order_details.customer_order_detail_items,function(index_customer_order_detail_item,customer_order_detail_item){
                          console.log("customer_order_detail_item.product_id" +customer_order_detail_item.product_id  +"product.id" +out_let_product.product_id);
                          if( customer_order_detail_item.product_id == out_let_product.product_id ){
                              that.out_let_product_lists[0].out_let_products[index_out_let_product].isDisable = "1";
                         }
                      })
                    })
                  }               
                })
                .catch(function (error) {
                  that.errors = error;
                });
            },
            getOutLetPrinters: function(){
              let that = this;
              that.out_let_printers = null;  
              axios.post('/api/printer/outlet_printers', {
                'out_let_id': that.out_let_id
              })
              .then(function (response) {
                that.out_let_printers = response.data;                  
              })
              .catch(function (error) {
                that.errors = error;
              });
            },     
            updateSaleDetail: function( status ){
                let that = this;
                var current_status = that.customer_order_details.status;
                that.customer_order_details.status = status;
                axios.put('/api/sale_detail/update_sale_detail', that.customer_order_details)
                .then(function (response) { 
                  if (response.status === 200){
                    that.errors = response.status; 
                    that.message = response.data.message;
                    that.customer_order_details.remove_customer_order_detail_items =  [];
                    var route_url =  window.location.origin+"/frontend/sale/"+that.sale_id+"/edit";
                    if(that.customer_order_details.status == "cancel"){
                      Swal.fire({ 
                        icon: "success",                   
                        title: "Great!",
                        text: that.message,
                        type: "success",
                        showCancelButton: false,
                        confirmButtonText: "Ok!",
                        closeOnConfirm: true,
                        closeOnCancel: false
                      })
                    }else{
                      that.$modal.show('printPopUp');
                    }  
                  }                
                  //window.location.href = route_url;
                })
                .catch(error => {
                  that.errors = error.response.data.errors;
                  that.customer_order_details.status = current_status;
                  let message = error.response.data.message;
                  Swal.fire({ 
                      icon: "error",                   
                      title: "Opps!",
                      text: message,
                      type: "error",
                      showCancelButton: false,
                      confirmButtonText: "Ok!",
                      closeOnConfirm: true,
                      closeOnCancel: false
                  });  
                }); 
            },
            getCustomerLists: function(){
                let that = this;
                axios.get('/api/customer_lists/get_customer_lists')
                    .then(function (response) {
                        that.customer_lists = response.data;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            getInvoicePrefixLists: function(){
                let that = this;
                axios.get('/api/invoice_prefix_lists/get_invoice_prefix_lists'
                ).then(function (response) {
                    that.invoice_prefix_lists = response.data;
                })
                .catch(function (error) {
                    that.errors = error;
                });
            },
            getVatLists: function(){
                let that = this;
                axios.get('/api/vat_lists/get_vat_lists')
                    .then(function (response) {
                        that.vat_lists = response.data;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            getCompanyCategory: function(){
                let that = this;
                axios.get('/api/company_category/get_company_category')
                    .then(function (response) {
                    that.categories = response.data;
                })
                .catch(function (error) {
                    that.errors = error;
                });
            },
            getCompanyCustomerOrderStatus: function(){
                let that = this;
                axios.get('/api/company_customer_order_status/get_company_customer_order_status')
                    .then(function (response) {
                    that.customer_order_status_lists = response.data;
                })
                .catch(function (error) {
                    that.errors = error;
                });
            },            
            getCompanyCurrencyLists: function(){
                let that = this;
                axios.get('/api/company_currency_lists/get_company_currency_lists')
                    .then(function (response) {
                        that.company_currency_lists = response.data;
                        var default_currency = that.company_currency_lists.filter(function (company_currency) {
                            return company_currency.default=="Yes";
                        });
                      /* For Default Currency */                      
                      that.customer_order_details.company_currency_id = default_currency[0].id;
                      that.default_currency_name = default_currency[0].code;                        
                    })
                .catch(function (error) {
                    that.errors = error;
                });
            },
            getVatAmount: function( vat_id, index ){
               console.log("Index" + index);
               console.log("vat Id" + vat_id);
               let that = this;
               axios.post('/api/vat_percent/get_vat_percent',
                    { vat_id: vat_id }
               ).then(function (response) {
                    that.customer_order_details.vat_percent = response.data.percent;
                    that.customer_order_details.vat_amount = ( that.customer_order_details.vat_percent / 100) * that.customer_order_details.total_amount_exclusive_vat;
               })
               .catch(function (error) {
                    that.errors = error;
               });
            },           
            addToSale: function(product_id){
              let that = this;
              $('#'+product_id).addClass('hide_add_to_sale_button');
              $('#'+product_id).removeClass('show_add_to_sale_button');
              console.log("Working..." + product_id);
              axios.post('/api/product/out_let_product_sales_data', {
                  product_id: product_id,
                }
              ).then(function (response) {
                that.customer_order_details.customer_order_detail_items.push(response.data);
                console.log("there is data"); 
              })
              .catch(function (error) {
                  that.errors = error;
              });
            },
            removeFromSale: function(index, item_id, product_id){
              let that = this;
              Vue.delete( that.customer_order_details.customer_order_detail_items, index );
              that.customer_order_details.remove_customer_order_detail_items.push({
                id: item_id
              });
              $('#'+product_id).addClass('show_add_to_sale_button'); 
            },
            applyCouponCodeForChanges: function(){
               let that = this;
               /*if( that.customer_order_details.coupon_code != null){
                    that.applyCouponCode();
               }*/
            },
            applyCouponCode: function(){
                let that = this;
                if( that.customer_order_details.coupon_code != null ){
                    axios.post('/api/coupon_code/apply_coupon_code', that.customer_order_details)
                        .then(function (response) {
                            if( response.data.error_message ){
                                Swal.fire({ 
                                  icon: 'error',                 
                                  title: "Opps!",
                                  text: response.data.error_message,
                                  type: "error",
                                  showCancelButton: false,
                                  confirmButtonText: "Ok!",
                                  closeOnConfirm: true,
                                  closeOnCancel: false
                                }).then(response=>{
                                  if(response.isConfirmed){
                                      //location.reload(true);
                                  }
                              });
                              that.customer_order_details.coupon_discount_amount = response.data.discount_amount;
                              that.coupon_discount = response.data;
                            }else{
                                that.customer_order_details.coupon_discount_amount = response.data.discount_amount;
                                that.coupon_discount = response.data;
                                that.customer_order_details.coupon_id = response.data.coupon_id;
                                console.log("Return data"+ response.data.discount_amount);
                            }
                        })
                       .catch(function (error) {
                          that.errors = error;
                    });
                }
            },
            getCompanyPaymentMethodLists: function(){
                let that = this;
                return axios.get('/api/payment_method/get_company_payment_method')
                    .then((response) => {
                    that.company_payment_method_lists = response.data;
                    /* Generate sale_paids object */
                    if(that.company_payment_method_lists){
                      var cash_payment_method_id = that.company_payment_method_lists.filter(function (payment_method) {
                            return payment_method.name == "Cash";
                      });
                      /* For Cash Payment*/                      
                      that.customer_order_details.cash_payment_method_id = cash_payment_method_id[0].id;
                    } 
                })
                .catch(function (error) {
                    that.errors = error;
                });
            },
            getSalePaidDetail: function(){                
                let that = this;
                axios.post('/api/sale_paids/get_sale_paid_history', {
                    sale_id: that.sale_id,
                    cash_payment_method_id: that.customer_order_details.cash_payment_method_id
                })
                .then(function (sale_paid) {
                    that.sale_paid_history = sale_paid.data;
                })
                .catch(function (error) {
                    that.errors = error;
                });                
            },  
            showPaymentMethodMetaField: function(event){ 
              let that = this; 
              that.errors = ""; 
              that.customer_order_details.digital_payment_amount = null; 
              that.customer_order_details.remove_sale_paid_history =  that.sale_paid_history;                       
              that.customer_order_details.paymentMethod = event.target.options[event.target.selectedIndex].text;
              if(!$.isEmptyObject(that.customer_order_details.sale_paids)){      
                  $.each(that.customer_order_details.sale_paids,function(index,sale_paid){
                    if(sale_paid.payment_method.name !="Cash"){
                      delete that.customer_order_details.sale_paids[index].created_at; 
                      delete that.customer_order_details.sale_paids[index].deleted_at;                      
                      delete that.customer_order_details.sale_paids[index].paid_date;
                      that.customer_order_details.sale_paids[index].payment_method.name = that.customer_order_details.paymentMethod; 
                      that.customer_order_details.sale_paids[index].id = null;
                      if(sale_paid.sale_paid_details){   
                        if(that.customer_order_details.paymentMethod == "Master Card" || that.customer_order_details.paymentMethod == "Visa Card"){
                          that.customer_order_details.sale_paids[index].sale_paid_details[0].meta_data = 'Name On Card';
                          that.customer_order_details.sale_paids[index].sale_paid_details[0].value = ''; 
                          that.customer_order_details.sale_paids[index].sale_paid_details[1].meta_data = 'Card No';
                          that.customer_order_details.sale_paids[index].sale_paid_details[1].value = ''; 
                        }
                        else if(that.customer_order_details.paymentMethod == "Bkash"){
                          that.customer_order_details.sale_paids[index].sale_paid_details[0].meta_data = 'Account Type';
                          that.customer_order_details.sale_paids[index].sale_paid_details[0].value = ''; 
                          that.customer_order_details.sale_paids[index].sale_paid_details[1].meta_data = 'Received From';
                          that.customer_order_details.sale_paids[index].sale_paid_details[1].value = ''; 
                        }
                        else if(that.customer_order_details.paymentMethod =="Select Payment Method"){
                          delete that.customer_order_details.digital_payment_amount;
                          that.customer_order_details.sale_paids[index].paid_amount = parseInt(0);
                          that.customer_order_details.sale_paids[index].sale_paid_details[0].meta_data = '';
                          that.customer_order_details.sale_paids[index].sale_paid_details[0].value = ''; 
                          that.customer_order_details.sale_paids[index].sale_paid_details[1].meta_data = '';
                          that.customer_order_details.sale_paids[index].sale_paid_details[1].value = ''; 
                        }
                      }
                    }
                  })
              } 
            },
            toggleCustomer: function(){
              let that =  this;
              if(that.customer_order_details.customer_id){
                that.customer_order_details.guest = null;
                if(that.customer_lists){
                  /* Generate selected customer object */
                  that.selected_customer = that.customer_lists.filter(function (customer_list) {
                    return customer_list.id == that.customer_order_details.customer_id;
                  });
                }
              }else{
                that.customer_order_details.guest = true;                 
              }
            }, 
            toggleInvoicePrefix: function(){
              let that =  this;
              if(that.customer_order_details.invoice_prefix_id){
                if(that.invoice_prefix_lists){
                  /* Generate selected invoice prefix object */
                  that.selected_invoice_prefix = that.invoice_prefix_lists.filter(function (invoice_prefix_list) {
                      return invoice_prefix_list.id == that.customer_order_details.invoice_prefix_id;
                  });
                }
              }
            },
            toggleGuest: function(){
              let that =  this;
              if(!that.customer_order_details.guest){
                that.customer_order_details.guest = null; 
              }else{
                that.customer_order_details.customer_id = null; 
              }
            },
            printModal: function(){
              this.$modal.show('printPopUp');
            },
            cancel: function(){
              this.$modal.hide('printPopUp');
            },
            async printInvoice(){
              let that = this;
              var divContents = "";
              if(that.printer_type=="pos"){
                divContents = document.getElementById("dvContainerPos").innerHTML;
              }else if(that.printer_type=="regular"){
                divContents = document.getElementById("dvContainerRegular").innerHTML;
              }              
              var a = window.open('', '', 'height=auto, width=400');
              a.document.write('<html>');
              a.document.write('<body>');
              a.document.write(divContents);
              a.document.write('</body></html>');

              /* a.document.close();
              a.print();
              setTimeout(function(){a.close();}, 1);
              this.$modal.hide('printPopUp'); */


              //ADDED await setTimeout ⬇
              await new Promise(a => setTimeout(a, 2000));
              a.print();
              a.close();
              this.$modal.hide('printPopUp');
            },
        },
        beforeDestroy () {
          clearInterval(this.timer)
        }
    }
</script>