<template>
    <div>        
        <!-- <p v-show="signup_panel" class="p-t-35 sign-in-heading signup">Sign up</p>
        <p v-show="signin_panel" class="p-t-35 sign-in-heading signin">Sign in</p>   -->     
        <!-- START Form Control-->
        <div class="login-area">      
            <div v-show="sign_up_details.signup_panel" class="signup-area">                            
                <div class="form-group form-group-default required" v-bind:class="[errors.email ? 'has-error' : '', '']" >
                    <label>Mobile no or email</label>
                    <input v-model="sign_up_details.email" class ="form-control validate instant-validate" placeholder="Mobile no or email">
                    <form-error v-if="errors.email" :errors="errors">
                        {{ errors.email[0] }}
                    </form-error>
                </div>            
                <div class="form-group form-group-default required" v-bind:class="[errors.password ? 'has-error' : '', '']" >
                    <label>Password</label>                
                    <input v-model="sign_up_details.password" class ="form-control validate instant-validate" placeholder="Password" type="password">
                    <form-error v-if="errors.password" :errors="errors">
                        {{ errors.password[0] }}
                    </form-error>                
                </div>
                <div class="form-group form-group-default required" v-bind:class="[errors.business_name ? 'has-error' : '', '']" >
                    <label>Business Name</label>
                    <input v-model="sign_up_details.business_name" class ="form-control validate instant-validate" placeholder="Business Name">
                    <form-error v-if="errors.business_name" :errors="errors">
                        {{ errors.business_name[0] }}
                    </form-error>
                </div> 
                <div class="form-group form-group-default required" v-bind:class="[errors.category_id ? 'has-error' : '', '']" >
                    <label for="category_id">Business Type</label>
                    <select v-model="sign_up_details.category_id" class="cs-select cs-skin-slide cs-transparent form-control" v-on:change="getBusinessCategoryName($event)">
                        <option value="">Select Type</option>
                        <option v-for="category in business_categories" v-bind:value="category.id">{{ category.name }}</option>
                    </select>
                    <form-error v-if="errors.category_id" :errors="errors">
                        {{ errors.category_id[0] }}
                    </form-error>
                </div>
                <div class="form-group form-group-default required" v-bind:class="[errors.country_id ? 'has-error' : '', '']">
                    <label for="gender">Country</label>
                    <select v-model="sign_up_details.country_id" class="cs-select cs-skin-slide cs-transparent form-control">
                        <option value="">Select Country</option>
                        <option v-for="country in country_lists" v-bind:value="country.id">{{ country.name }}</option>
                    </select>
                    <form-error v-if="errors.country_id" :errors="errors">
                        {{ errors.country_id[0] }}
                    </form-error>
                </div>
            </div>
            <div v-show="sign_in_details.signin_panel" class="signin-area">                            
                <div class="form-group form-group-default required" v-bind:class="[login_errors.email ? 'has-error' : '', '']" >
                    <label>Mobile no or email</label>
                    <input v-model="sign_in_details.email" class ="form-control validate instant-validate" placeholder="Mobile no or email">
                    <form-error v-if="login_errors.email" :errors="login_errors">
                        {{ login_errors.email[0] }}
                    </form-error>
                </div>            
                <div class="form-group form-group-default required" v-bind:class="[login_errors.password ? 'has-error' : '', '']" >
                    <label>Password</label>                
                    <input v-model="sign_in_details.password" class ="form-control validate instant-validate" placeholder="Password" type="password">
                    <form-error v-if="login_errors.email" :errors="login_errors">
                        {{ login_errors.password[0] }}
                    </form-error>                
                </div>                
            </div>
            <div class="row">                
                <div class="col-md-6 text-right">
                    <a href="#" class="text-info small">Help? Contact Support</a>
                </div>
            </div>
            <button v-show="sign_up_details.signup_panel" v-on:click="doCompanySignup()" class="btn btn-primary btn-cons m-t-10">Sign up</button>
            <button v-show="sign_in_details.signin_panel" v-on:click="showCompanySignup()" class="btn btn-primary btn-cons m-t-10">Create Account</button>
            <button v-show="sign_in_details.signin_panel" v-on:click="doCompanySignin()" class="btn btn-primary btn-cons m-t-10">Sign In</button>
            <button v-show="sign_up_details.signup_panel" v-on:click="showCompanySignin()" class="btn btn-primary btn-cons m-t-10">Sign In</button>
        </div>        
        <!-- END Form Control-->
    </div>
</template>
<script>
    // import FormError component
    import FormError from './FormError.vue';
    const Swal = require("sweetalert2");
    export default {
        components: {
            FormError
        },
        data(){
            return{                
                errors: [], 
                login_errors: [],  
                business_categories:[],
                sign_up_details:{
                    email: null,
                    password: null,
                    business_name: null,
                    category_id: null,
                    category_name: null,
                    signup_panel: true,
                },
                sign_in_details:{
                    email: null,
                    password: null, 
                    signin_panel: false,                     
                },
                country_lists: [],
                error : null,
           }
        },
        props: [''],
        async mounted() {
            let that = this;   
            that.getBusinessCategory();      
            this.getCountryLists();       
        },
        computed:{
            
        },
        watch:{
                    
        },
        methods: {     
            getBusinessCategory: function(){
                let that = this;
                axios.get('/get_business_category')
                    .then(function (response) {
                    that.business_categories = response.data;
                })
                .catch(function (error) {
                    that.errors = error;
                });
            },
            getBusinessCategoryName: function(event){ 
              let that = this; 
              that.sign_up_details.category_name = event.target.options[event.target.selectedIndex].text;              
            },
            getCountryLists: function(){
                let that = this;
                axios.get('/country_lists/get_country_lists')
                    .then(function (response) {
                        that.country_lists = response.data;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            doCompanySignup: function(){
                let that = this;                 
                axios.post('/do_company_signup', that.sign_up_details)
                .then(function (response) {
                    let message = response.data.message;
                    //console.log("Company Id : " + response.data.company_id);
                    var route_url =  window.location.origin+"/dashboard";
                    Swal.fire({ 
                        icon: 'success',                 
                        title: "Great!",
                        text: message,
                        type: "success",
                        showCancelButton: false,
                        confirmButtonText: "Ok!",
                        closeOnConfirm: true,
                        closeOnCancel: false

                      }).then(response=>{
                        if(response.isConfirmed){
                            window.location.href = route_url;
                        }
                    });
                })
               .catch(function (error) {
                    that.errors = error.response.data.errors;
                });             
            }, 
            doCompanySignin: function(){
                let that = this;  
                axios.post('/do_company_signin', that.sign_in_details)
                .then(function (response) {
                    let message = response.data.message;
                    console.log(response);
                    var route_url =  window.location.origin+"/dashboard";
                    Swal.fire({ 
                        icon: 'success',                 
                        title: "Great!",
                        text: message,
                        type: "success",
                        showCancelButton: false,
                        confirmButtonText: "Ok!",
                        closeOnConfirm: true,
                        closeOnCancel: false

                      }).then(response=>{
                        if(response.isConfirmed){
                            window.location.href = route_url;
                        }
                    });
                })
               .catch(function (error) {
                    if(error.response.status==401){
                        let message = error.response.data.message;
                        Swal.fire({ 
                            icon: 'error',                 
                            title: "Opps!",
                            text: message,
                            type: "error",
                            showCancelButton: false,
                            confirmButtonText: "Ok!",
                            closeOnConfirm: true,
                            closeOnCancel: false
                        }).then(response=>{
                            
                        });
                    }                    
                    //that.errors = error.response.data.errors;
                });             
            },   
            doCompanySignin___: function(){
                let that = this;
                axios.post('/api/login_me', that.sign_in_details )
                    .then((response) => {
                        that.token_response = response.data.token;
                        if(response.status === 200 ){   
                            localStorage.setItem("token", that.token_response);
                            axios.defaults.headers.common["Authorization"] = `Bearer ${that.token_response}`;
                            let message = response.data.message;
                            console.log(response);
                            var route_url =  window.location.origin+"/dashboard";
                            Swal.fire({ 
                                icon: 'success',                 
                                title: "Great!",
                                text: message,
                                type: "success",
                                showCancelButton: false,
                                confirmButtonText: "Ok!",
                                closeOnConfirm: true,
                                closeOnCancel: false

                              }).then(response=>{
                                if(response.isConfirmed){
                                    window.location.href = route_url;
                                }
                            });

                        }else if(response.data.error){
                            console.log(response.data.error)
                            that.authentication_failed_message = 'Authentication Failed, Try again!!!';
                        }
                    })
                    .catch(function (error) {         
                        if(error.response.status==401){
                            let message = error.response.data.message;
                            Swal.fire({ 
                                icon: 'error',                 
                                title: "Opps!",
                                text: message,
                                type: "error",
                                showCancelButton: false,
                                confirmButtonText: "Ok!",
                                closeOnConfirm: true,
                                closeOnCancel: false
                            }).then(response=>{
                                
                            });
                        }
                    });
            },         
            showCompanySignup: function(){
                let that = this;
                that.sign_in_details.signin_panel = false;
                that.sign_up_details.signup_panel = true;     
            }, 
            showCompanySignin: function(){
                let that = this;
                that.sign_in_details.signin_panel = true;
                that.sign_up_details.signup_panel = false;
            }, 
        }
    }    
</script>
