<template>
    <div>        
        <p v-show="signup_panel" class="p-t-35 sign-in-heading signup">Sign up</p>
        <p v-show="signin_panel" class="p-t-35 sign-in-heading signin">Sign in</p>        
        <!-- START Form Control-->
        <div class="login-area">      
            <div v-show="signup_panel" class="signup-area">                            
                <div class="form-group form-group-default required" v-bind:class="[errors.login_email_or_mobile ? 'has-error' : '', '']" >
                    <label>Mobile no or email</label>
                    <input v-model="sign_up_details.login_email_or_mobile" class ="form-control validate instant-validate" placeholder="Mobile no or email">
                    <form-error v-if="errors.login_email_or_mobile" :errors="errors">
                        {{ errors.login_email_or_mobile[0] }}
                    </form-error>
                </div>            
                <div class="form-group form-group-default required" v-bind:class="[errors.password ? 'has-error' : '', '']" >
                    <label>Password</label>                
                    <input v-model="sign_up_details.password" class ="form-control validate instant-validate" placeholder="Password">
                    <form-error v-if="errors.login_email_or_mobile" :errors="errors">
                        {{ errors.password[0] }}
                    </form-error>                
                </div>
                <div class="form-group form-group-default required" v-bind:class="[errors.business_name ? 'has-error' : '', '']" >
                    <label>Business Name</label>
                    <input v-model="sign_up_details.business_name" class ="form-control validate instant-validate" placeholder="Business Name">
                    <form-error v-if="errors.business_name" :errors="errors">
                        {{ errors.business_name[0] }}
                    </form-error>
                </div> 
                <div class="form-group form-group-default required" v-bind:class="[errors.category_id ? 'has-error' : '', '']" >
                    <label for="category_id">Business Type</label>
                    <select v-model="sign_up_details.category_id" class="cs-select cs-skin-slide cs-transparent form-control" v-on:change="getBusinessCategoryName($event)">
                        <option value="">Select Type</option>
                        <option v-for="category in business_categories" v-bind:value="category.id">{{ category.name }}</option>
                    </select>
                    <form-error v-if="errors.category_id" :errors="errors">
                        {{ errors.category_id[0] }}
                    </form-error>
                </div>
            </div>
            <div v-show="signin_panel" class="signin-area">                            
                <div class="form-group form-group-default required" v-bind:class="[errors.login_email_or_mobile ? 'has-error' : '', '']" >
                    <label>Mobile no or email</label>
                    <input v-model="sign_in_details.login_email_or_mobile" class ="form-control validate instant-validate" placeholder="Mobile no or email">
                    <form-error v-if="errors.login_email_or_mobile" :errors="errors">
                        {{ errors.login_email_or_mobile[0] }}
                    </form-error>
                </div>            
                <div class="form-group form-group-default required" v-bind:class="[errors.password ? 'has-error' : '', '']" >
                    <label>Password</label>                
                    <input v-model="sign_in_details.password" class ="form-control validate instant-validate" placeholder="Password">
                    <form-error v-if="errors.login_email_or_mobile" :errors="errors">
                        {{ errors.password[0] }}
                    </form-error>                
                </div>                
            </div>
            <div class="row">                
                <div class="col-md-6 text-right">
                    <a href="#" class="text-info small">Help? Contact Support</a>
                </div>
            </div>
            <a v-show="signup_panel" v-on:click="doCompanySignup" class="btn btn-primary btn-cons m-t-10">Sign up</a>
            <a v-show="signin_panel" v-on:click="showCompanySignup" class="btn btn-primary btn-cons m-t-10">Show Sign Up</a>
            <a v-show="signin_panel" v-on:click="doCompanySignin" class="btn btn-primary btn-cons m-t-10">Sign In</a>
            <a v-show="signup_panel" v-on:click="showCompanySignin" class="btn btn-primary btn-cons m-t-10">Show Sign In</a>
        </div>        
        <!-- END Form Control-->
    </div>
</template>
<script>
    // import FormError component
    import FormError from './FormError.vue';
    export default {
        components: {
            FormError
        },
        data(){
            return{ 
                errors: [], 
                business_categories:[],
                sign_up_details:{
                    login_email_or_mobile: null,
                    password: null,
                    business_name: null,
                    category_id: null,
                    category_name: null
                },
                sign_in_details:{
                    login_email_or_mobile: null,
                    password: null,                    
                },
                signup_panel: true,
                signin_panel: false,                  
            }
        },
        props: [],
        mounted() {
            let that = this;
            that.getBusinessCategory();
        },
        methods: {
            getBusinessCategory: function(){
                let that = this;
                axios.get('/get_business_category')
                    .then(function (response) {
                    that.business_categories = response.data;
                })
                .catch(function (error) {
                    that.errors = error;
                });
            },
            getBusinessCategoryName: function(event){ 
              let that = this; 
              that.sign_up_details.category_name = event.target.options[event.target.selectedIndex].text;              
            },
            doCompanySignup: function(){
                let that = this;                 
                axios.post('/do_company_signup', that.sign_up_details)
                .then(function (response) {
                    console.log("Company Id : " + response.data.company_id);
                    var route_url =  window.location.origin+"/dashboard";
                    window.location.href = route_url;
                })
               .catch(function (error) {
                    that.errors = error.response.data.errors;
                });             
            }, 
            showCompanySignup: function(){
                let that = this;
                that.signin_panel = false;
                that.signup_panel = true;     
                return true;  
            }, 
            showCompanySignin: function(){
                let that = this;
                that.signin_panel = true;
                that.signup_panel = false;
                return true;       
            }, 
        }
    }
</script>
