<template>
    <div class="">
        <!--Start Unit Conversion: Tola To Gram  -->
        <div class="row row-same-height">
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Tola To Gram Conversion With Price</h4>
                </div>
                <div class="panel-body">
                    <div class="col-md-7 col-order-details-width">

                        <div class="padding-30">
                            <div class="form-group form-group-default general_field float-left">
                                <label for="weight_tola">Tola</label>
                                <input class ="form-control" type="text" v-model="tola_to_gram.weight_tola" placeholder="Weight Tola">
                            </div>
                            <div class="form-group form-group-default general_field float-left">
                                <label for="weight_ana">Ana</label>
                                <input class ="form-control" type="text" v-model="tola_to_gram.weight_ana" placeholder="Weight Ana">
                            </div>
                            <div class="form-group form-group-default general_field float-left">
                                <label for="weight_rotti">Rotti</label>
                                <input class ="form-control" type="text" v-model="tola_to_gram.weight_rotti" placeholder="Weight Rotti">
                            </div>
                            <div class="form-group form-group-default general_field float-left">
                                <label for="weight_milli">Milli</label>
                                <input class ="form-control" type="text" v-model="tola_to_gram.weight_milli" placeholder="Weight Rotti">
                            </div>
                            <div class="form-group form-group-default general_field float-left">
                                <label for="unit_price_tola">Unit Price/Tola</label>
                                <input class ="form-control" type="text" v-model="tola_to_gram.unit_price_tola" placeholder="Unit Price/Tola">
                            </div>
                            <div class="form-group form-group-default general_field float-left">
                                <label for="making_charge">Making Charge</label>
                                <input class ="form-control" type="text" v-model="tola_to_gram.making_charge" placeholder="Making Charge">
                            </div>
                            <div class="float-left">
                                <a  v-on:click="convertTolaToGram()" class="btn btn-success product_add_btn pull-right">Convert To Gram </a>
                            </div>
                            <div class="form-group form-group-default float-left">
                                <label for="gram">Gram</label>
                                <input v-model="tola_to_gram.gram" class="form-control weight-gram-readonly" placeholder="Gram" v-bind:readonly="true">
                            </div>
                            <div class="form-group form-group-default float-left">
                                <label for="gram">Material Price</label>
                                <input v-model="tola_to_gram.material_price" class="form-control weight-gram-readonly" placeholder="Gram" v-bind:readonly="true">
                            </div>
                            <div class="form-group form-group-default float-left">
                                <label for="gram">Total Price</label>
                                <input v-model="tola_to_gram.total_price" class="form-control weight-gram-readonly" placeholder="Gram" v-bind:readonly="true">
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Unit Conversion: Tola To Gram  -->
        <!--Start Unit Conversion: Gram To Tola -->
            <div class="row row-same-height">
                <div class="panel panel-default">
                    <div class="panel-heading title-color">
                        <h4 class="panel-title">Gram To Tola Conversion With Price</h4>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-7 col-order-details-width">
                            <div class="padding-30">
                                <div class="form-group form-group-default float-left">
                                    <label for="gram">Gram</label>
                                    <input v-model="gram_to_tola.gram" class="form-control" placeholder="Gram">
                                </div>
                                <div class="form-group form-group-default general_field float-left">
                                    <label for="unit_price_gram">Unit Price/Gram</label>
                                    <input class ="form-control" type="text" v-model="gram_to_tola.unit_price_gram" placeholder="Unit Price/Tola">
                                </div>
                                <div class="form-group form-group-default general_field float-left">
                                    <label for="making_charge">Making Charge</label>
                                    <input class ="form-control" type="text" v-model="gram_to_tola.making_charge" placeholder="Making Charge">
                                </div>
                                <div class="float-left">
                                    <a  v-on:click="convertGramToTola()" class="btn btn-success product_add_btn pull-right">Convert To Tola </a>
                                </div>
                                <div class="form-group form-group-default general_field float-left">
                                    <label for="weight_tola">Tola</label>
                                    <input class ="form-control weight-gram-readonly" type="text" v-model="gram_to_tola.weight_tola" placeholder="Weight Tola" v-bind:readonly="true">
                                </div>
                                <div class="form-group form-group-default general_field float-left">
                                    <label for="weight_ana">Ana</label>
                                    <input class ="form-control weight-gram-readonly" type="text" v-model="gram_to_tola.weight_ana" placeholder="Weight Ana" v-bind:readonly="true">
                                </div>
                                <div class="form-group form-group-default general_field float-left">
                                    <label for="weight_rotti">Rotti</label>
                                    <input class ="form-control weight-gram-readonly" type="text" v-model="gram_to_tola.weight_rotti" placeholder="Weight Rotti" v-bind:readonly="true">
                                </div>
                                <div class="form-group form-group-default general_field float-left">
                                    <label for="weight_milli">Milli</label>
                                    <input class ="form-control weight-gram-readonly" type="text" v-model="gram_to_tola.weight_milli" placeholder="Weight Rotti" v-bind:readonly="true">
                                </div>
                                <div class="form-group form-group-default float-left">
                                    <label for="gram">Material Price</label>
                                    <input v-model="gram_to_tola.material_price" class="form-control weight-gram-readonly" placeholder="Gram" v-bind:readonly="true">
                                </div>
                                <div class="form-group form-group-default float-left">
                                    <label for="gram">Total Price</label>
                                    <input v-model="gram_to_tola.total_price" class="form-control weight-gram-readonly" placeholder="Gram" v-bind:readonly="true">
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!--End Unit Conversion: Tola To Gram  -->
    </div>
</template>

<script>
    require('../../plugins/bootstrap-datepicker/js/bootstrap-datepicker.js');
    export default {
        data(){
            return{
                tola_to_gram:{
                    weight_tola: '',
                    weight_ana: '',
                    weight_rotti: '',
                    weight_milli: '',
                    weight_gram: '',
                    unit_price_tola: '',
                    making_charge: '',
                    material_price: '',
                    total_price: '',
                    gram: '',
                },
                gram_to_tola:{
                    gram: '',
                    weight_tola: '',
                    weight_ana: '',
                    weight_rotti: '',
                    weight_milli: '',
                    weight_gram: '',
                    unit_price_gram: '',
                    making_charge: '',
                    material_price: '',
                    total_price: '',
                },
            }
        },
        props: ['created_by_out_let_id'],
        mounted() {
            let that = this;
        },
        computed:{

        },
        watch:{

        },
        methods: {
            convertTolaToGram: function(){
                var form = new FormData();
                let that = this;
                axios.post('/tola_gram_conversion/tola_to_gram', that.tola_to_gram)
                    .then(function (response) {
                        if( response.data.gram ){
                            that.tola_to_gram.gram = response.data.gram;
                            that.tola_to_gram.material_price = response.data.material_price;
                            that.tola_to_gram.total_price = response.data.total_price;
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            convertGramToTola: function(){
                var form = new FormData();
                let that = this;
                axios.post('/tola_gram_conversion/gram_to_tola', that.gram_to_tola)
                    .then(function (response) {
                        if( response.data ){
                            that.gram_to_tola.weight_tola = response.data.weight_tola;
                            that.gram_to_tola.weight_ana = response.data.weight_ana;
                            that.gram_to_tola.weight_rotti = response.data.weight_rotti;
                            that.gram_to_tola.weight_milli = response.data.weight_milli;
                            that.gram_to_tola.material_price = response.data.material_price;
                            that.gram_to_tola.total_price = response.data.total_price;
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
        }
    }
</script>

