<template>
    <div class="">
        <button @click='toggleShow' class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span v-if="profile_photo.length"  class="thumbnail-wrapper d32 circular inline m-t-5">
                <img :src="'/uploads/company/'+company_id+'/user_profile_photo/'+ user_id+'/32x32/'+ profile_photo[0].photo" alt="logo" data-src="'/uploads/company/'+company_id+'/user_profile_photo/'+ user_id+'/32x32/'+ profile_photo[0].photo" data-src-retina="'/uploads/company/'+company_id+'/user_profile_photo/'+ user_id+'/32x32/'+ profile_photo[0].photo">
            </span>
        </button>
        <div v-if='showMenu' class='profile-menu'> 
            <div class="menu-item" role="menu" v-for='item in this.items' @click='itemClicked(item)'>
                {{item}}
            </div>
        </div>
    </div>    
</template>
<script>   
    export default {        
        data(){
            return{ 
                showMenu: false,
                errors: null,   
                user_profile_file:null, 
                profile_photo: [],
                remove_profile_photo: '', 
                items: [
                    'Piano',
                    'Acoustic Guitar',
                    'Drums',
                    'Trumpet'
                ]        
            }
        },

        props: ['function','company_id','user_id'],

        mounted() {
            let that = this;  
            that.getUserProfilePhoto(); 
        },

        computed:{
            
        },
        watch:{
            getUserProfilePhoto: function(){
                console.log("Cover Photo Changed...");
            }, 
        },
        methods: { 
            getUserProfilePhoto: function(){
                let that = this;
                axios.post('/api/user/get_profile_photo', {
                  user_id: that.user_id              
                })
                .then((response) => {
                  that.profile_photo = response.data;
                })
                .catch(function (error) {
                  that.errors = error;
                }); 
            },   
            toggleShow: function() {
                console.log("Here...");
                this.showMenu = !this.showMenu;
            },
            itemClicked: function(item) {
                this.toggleShow();
                this.onClick(item);
            }            
        }
    }
</script>

