<template>
    <div class="">
        <div class="row row-same-height">
            <div class="form-group form-group-default">                
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- START card -->
                            <div class="card card-default">
                              <div class="card-header ">
                                <div class="card-title">
                                  Upload Your Profile Photo Here
                                </div>                                
                              </div>
                              <div class="card-body no-scroll no-padding">
                                <form action="#" class="dropzone no-margin">
                                    <div class="fallback">
                                      <input type="file" ref="profile_file" name="photo"  v-on:change="addUserProfilePhoto($event)">
                                    </div>
                                </form>
                              </div>
                            </div>
                            <!-- END card -->
                        </div>
                    </div>           
                    <div class="cover_photo_panel" v-if="profile_photo.length" > 
                        <div>
                            <a class="fancybox" :href="'/uploads/company/'+company_id+'/user_profile_photo/'+ user_id+'/'+ profile_photo[0].photo" data-fancybox  title=""> 
                            <img :src="'/uploads/company/'+company_id+'/user_profile_photo/'+ user_id+'/'+ profile_photo[0].photo" alt="" width="200">
                            </a> 
                        </div>                        
                        <br/>
                        <div class="product_photo_remove_btn"> 
                            <button v-on:click="removeUserProfilePhoto(0, profile_photo[0].id)"  title="Delete" type="button" class="btn btn-danger" >
                                Remove
                            </button>
                        </div>
                    </div>  
                    <div>     
                        <a  v-on:click="saveUserProfilePhoto()" class="btn btn-success pull-right">Save</a>  
                    </div>
            </div>                 
        </div> 
    </div>    
</template>

<script>  
    import { Fancybox } from "@fancyapps/ui";
    import "@fancyapps/ui/dist/fancybox/fancybox.css";
    Fancybox.bind('[data-fancybox="gallery"]', {
        // Your custom options
    });
    const Swal = require("sweetalert2"); 
    export default {        
        data(){
            return{ 
                errors: null,   
                user_profile_file:null, 
                profile_photo: [],
                remove_profile_photo: '',         
            }
        },

        props: ['company_id','user_id'],

        mounted() {
            let that = this;  
            that.getUserProfilePhoto(); 
            $(".js-fancybox").fancybox({
              infobar: false,
              buttons: [
                "zoom",
                "share",
                "slideShow",
                "close",
              ]
            }); 
        },

        computed:{
            
        },
        watch:{
            getUserProfilePhoto: function(){
                console.log("Cover Photo Changed...");
            },            
            saveUserProfilePhoto: function(){
                console.log("Cover Photo Saved...");
            },
        },
        methods: { 
            getUserProfilePhoto: function(){
                let that = this;
                axios.post('/api/user/get_profile_photo', {
                  user_id: that.user_id              
                })
                .then((response) => {
                  that.profile_photo = response.data;
                })
                .catch(function (error) {
                  that.errors = error;
                }); 
            },            
            addUserProfilePhoto: function(e){
                let that = this;
                that.user_profile_file = this.$refs.profile_file.files[0];
                /*if(!$.isEmptyObject(that.profile_photo)){     
                    that.remove_profile_photo = that.profile_photo[0].id;       
                } */   
            },             
            saveUserProfilePhoto: function(){                
                let that = this;
                let formData = new FormData();                
                formData.append('profile_file', that.user_profile_file);
                formData.append('user_id', that.user_id);
                formData.append('remove_profile_photo', that.remove_profile_photo);

                axios.post('/user/save_profile_photo', formData,
                {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })
                .then(function (response) {
                    let that = this;
                    if(response.status === 200 ){
                        Swal.fire({ 
                            icon: 'success',                 
                            title: "Great!",
                            text: response.data.message,
                            type: "success",
                            showCancelButton: false,
                            confirmButtonText: "Ok!",
                            closeOnConfirm: true,
                            closeOnCancel: false

                          }).then(response=>{
                            if(response.isConfirmed){
                                location.reload(true);  
                            }
                        });
                    }                    
                })
                .catch(function (error) {
                    if(error.response.status === 500){
                        let message = error.response.data.message;
                        Swal.fire({ 
                            icon: 'error',                 
                            title: "Opps!",
                            text: message,
                            type: "error",
                            showCancelButton: false,
                            confirmButtonText: "Ok!",
                            closeOnConfirm: true,
                            closeOnCancel: false
                        }).then(response=>{
                             if(response.isConfirmed){
                                location.reload(true);  
                            }
                        });
                    }
                });
                //that.getProductCoverImage();
            },                          
            removeUserProfilePhoto: function(index, photo_id){
              let that = this;
              Vue.delete( that.profile_photo, index);
              that.remove_profile_photo = photo_id;
            },
            
        }
    }
</script>

