<template>
    <div class="">
        <!--Start Search Product -->
        <div class="row row-same-height">
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Search Product</h4>
                </div>
                <div class="panel-body">
                    <div class="col-md-7 col-div-full">
                        <div class="padding-30">
                            <div class="form-group-attached">
                                <div class="row clearfix">
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default">
                                            <label for="search_product">Search Product</label>
                                            <input v-model="name" class ="form-control" placeholder="product name">
                                        </div>
                                        <div class="form-group form-group-default">
                                            <label for="search_product"></label>
                                            <input v-model="item_code" class ="form-control" placeholder="item code">
                                        </div>
                                        <div class="form-group form-group-default">
                                            <label for="search_product"></label>
                                            <input v-model="bar_code" class ="form-control" placeholder="bar code">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default required" v-bind:class="[errors.warehouse_id ? 'has-error' : '', '']">
                                            <label for="to_ware_house">From warehouse</label>
                                            <select v-model="product_challan_infos.warehouse_id" class="cs-select cs-skin-slide cs-transparent form-control">
                                                <option value="">Select Warehouse</option>
                                                <option v-for="warehouse in warehouses" v-bind:value="warehouse.id">{{ warehouse.name }}</option>
                                            </select>
                                            <form-error v-if="errors.warehouse_id" :errors="errors">
                                                {{ errors.warehouse_id[0] }}
                                            </form-error>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default">
                                            <label for="category_id">Select Category</label>
                                            <select v-model="category_id" class="cs-select cs-skin-slide cs-transparent form-control">
                                                <option value="">Select Category</option>
                                                <option v-for="category in categories" v-bind:value="category.id">{{ category.name }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default">
                                            <div class="btn-group btn-challan-product-div">
                                                <a v-on:click="searchProducts( product_challan_infos.product_combination_list )" title="product-search" class="btn create-button btn-cons btn-challan-product-search">Search</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Search Product-->
        <!--Start Products Listing-->
        <div class="row row-same-height">
            <!-- START PANEL -->
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Products</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-hover" id="tableWithSearch">
                        <thead>
                            <tr>
                                <th style="width:20%">Challan No</th>
                                <th style="width:20%">Image</th>
                                <th style="width:20%">Name</th>
                                <th style="width:20%">Item Code</th>
                                <th style="width:20%">Bar Code</th>
                                <th style="width:20%">Category</th>
                                <th style="width:20%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <template v-for="challan in warehouse_store_in_challans">
                                <span style="margin-left:31px;">{{challan.challan_no}}</span>
                                <tr v-if="challan_product.product" v-for="challan_product in challan.challan_products">
                                    <td class="v-align-middle">
                                    </td>
                                    <td class="v-align-middle">
                                    </td>
                                    <td class="v-align-middle">
                                        {{challan_product.product.name}}
                                    </td>
                                    <td class="v-align-middle">
                                        {{challan_product.product.item_code}}
                                    </td>
                                    <td class="v-align-middle">
                                        {{challan_product.product.bar_code}}
                                    </td>
                                    <td class="v-align-middle">
                                        <ul v-for="category in challan_product.product.categories">
                                            <li>{{category.name}}</li>
                                        </ul>
                                    </td>
                                    <td class="v-align-middle">
                                        <div class="btn-group btn-actions">
                                            <!-- <a v-on:click="addToChallan(challan.challan_no,challan_product.id, challan.id, challan_product.product.id)" :id=    "challan_product.id" title="Add-to-challan" class="btn btn-success product_add_btn">Add To Challan
                                            </a>  -->
                                            <a v-if="challan_product.isDisable" v-on:click="addToChallan(challan.challan_no,challan_product.id, challan.id, challan_product.product.id)" :id="challan_product.id" title="Add-to-challan" class="btn btn-success product_add_btn hide_add_to_challan_button">Add To Challan</a>
                                            <a v-else="challan_product.isDisable" v-on:click="addToChallan(challan.challan_no,challan_product.id, challan.id, challan_product.product.id)" :id="challan_product.id" title="Add-to-challan" class="btn btn-success product_add_btn">Add To Challan</a>                                          
                                        </div>
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <!--End Products Listing-->

        <!--Start Challan Info -->
        <div class="row row-same-height">
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Product Transfer Challan Info</h4>
                </div>
                <div class="panel-body">
                    <div class="col-md-7 col-div-full">
                        <div class="padding-30">
                            <div class="form-group-attached">
                                <div class="row clearfix">
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default required" v-bind:class="[errors.request_date ? 'has-error' : '', '']">
                                            <label for="request_date">Request Date</label>
                                            <input v-model.lazy="product_challan_infos.request_date" id="request_date" class ="form-control" placeholder="Select Date">
                                            <form-error v-if="errors.request_date" :errors="errors">
                                                {{ errors.request_date[0] }}
                                            </form-error>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default required" v-bind:class="[errors.out_let_id ? 'has-error' : '', '']">
                                            <label for="out_let_id">To Outlet</label>
                                            <select v-model="product_challan_infos.out_let_id" class="cs-select cs-skin-slide cs-transparent form-control">
                                                <option value="">Select Outlet</option>
                                                <option v-for="out_let in out_lets" v-bind:value="out_let.id">{{ out_let.name }}</option>
                                            </select>
                                            <form-error v-if="errors.outlet_id" :errors="errors">
                                                {{ errors.out_let_id[0] }}
                                            </form-error>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Challan Info -->
        <!--Start Product Combination Lists -->
        <div class="row row-same-height">
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Product Combination Lists</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-hover" id="tableWithSearch">
                        <thead>
                        <tr>
                            <th style="width:7%">Challan No</th>
                            <th style="width:10%">Name</th>
                            <th style="width:30%">Combination</th>
                            <th style="width:15%">Stock Quantity</th>
                            <th style="width:15%">Requested Quantity</th>
                            <th style="width:15%">Stock Remain</th>
                            <th style="width:7%">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(product,index) in product_challan_infos.product_combination_list">
                                <td class="v-align-middle product_combination_list-left-padding">
                                    {{product.challan_no}}
                                </td>
                                <td class="v-align-middle product_combination_list-left-padding">
                                    {{product.name}}
                                </td>
                                <td class="v-align-middle store-out-challan-combination-left-padding" style="width: 30%">
                                    <span v-if="product.combination=='No'"> N/A  </span>
                                    <ul class="combination-name-value" v-for="( combination, combination_index ) in product.combinations">
                                        <div class="combination-name-value-div" v-if="product_challan_infos.product_combination_list[index].combinations[combination_index].product_combination_warehouse_store_in_challan_product_id">
                                            <div class="attribute-values">
                                                <template v-for="attributeValue in combination.combination_attribute_values">
                                                    <strong>{{attributeValue.attribute_value.attribute.name}} : </strong>  {{attributeValue.attribute_value.value}} ,                                                    
                                                </template>
                                            </div>                                            
                                            <br/>   
                                        </div>
                                    </ul>
                                </td> 
                                <td class="v-align-middle store-out-challan-quantity-left-padding" style="width: 15%">
                                    <ul class="combination-name-value" v-for="( combination, combination_index ) in product.combinations">
                                        <div class="combination-name-value-div" v-if="product_challan_infos.product_combination_list[index].combinations[combination_index].product_combination_warehouse_store_in_challan_product_id">               
                                            <div class="combination-quantity store-out-challan-quantity">
                                                <input class ="combination-quantity-text readonly-field-color" v-bind:readonly="true" type="number" v-model="product_challan_infos.product_combination_list[index].combinations[combination_index].stock_quantity" :id="'product_combination_' + combination.id + ''"  :name="'product_combination_' + combination.id + ''" placeholder="Qty">
                                                 Pc(s)
                                            </div><br/> 
                                        </div>
                                    </ul>
                                </td> 
                                <td class="v-align-middle store-out-challan-quantity-left-padding" style="width: 15%">
                                    <ul class="combination-name-value" v-for="(combination, combination_index ) in product.combinations">
                                        <div class="combination-name-value-div" v-if="product_challan_infos.product_combination_list[index].combinations[combination_index].product_combination_warehouse_store_in_challan_product_id">                                            
                                            <div class="combination-quantity store-out-challan-quantity" v-if="product_challan_infos.product_combination_list[index].combination =='No'">
                                                <input class ="combination-quantity-text readonly-field-color" type="number" v-model="product_challan_infos.product_combination_list[index].combinations[combination_index].requested_quantity" :id="'product_combination_' + combination.id + ''"  :name="'product_combination_' + combination.id + ''" placeholder="Qty">
                                                 Pc(s)
                                            </div>
                                            <div class="combination-quantity store-out-challan-quantity" v-else>
                                                <input class ="combination-quantity-text readonly-field-color" type="number" v-model="product_challan_infos.product_combination_list[index].combinations[combination_index].requested_quantity" :id="'product_combination_' + combination.id + ''"  :name="'product_combination_' + combination.id + ''" placeholder="Qty">
                                                 Pc(s)
                                            </div><br/>
                                        </div>
                                    </ul>
                                </td>
                                <td class="v-align-middle store-out-challan-quantity-left-padding" style="width: 15%">
                                    <ul class="combination-name-value" v-for="(combination, combination_index ) in product.combinations">
                                        <div class="combination-name-value-div" v-if="product_challan_infos.product_combination_list[index].combinations[combination_index].product_combination_warehouse_store_in_challan_product_id">
                                            <div class="combination-quantity store-out-challan-quantity">
                                                <input class ="combination-quantity-text readonly-field-color" v-bind:readonly="true" type="number" v-model="product_challan_infos.product_combination_list[index].combinations[combination_index].stock_remain" :id="'product_combination_' + combination.id + ''"  :name="'product_combination_' + combination.id + ''" placeholder="Qty">
                                                Pc(s)
                                            </div><br/>
                                        </div>
                                    </ul>
                                </td>
                                <td class="v-align-middle">
                                    <a v-on:click="removeFromChallanList(index, product.product_id,product.combination, product.warehouse_store_in_challan_product_id)" class="btn create-button">Remove</a>                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--
            <div class="pull-right" v-if="receive_challan_button">
                <input v-model="product_challan_infos.statusChecked" type="checkbox"/>
                <span>Mark as challan auto received</span>
            </div><br/><br/><br/><br/><br/> 
            -->           
            <div class="alert-success pull-right" v-if="product_challan_infos.status=='Received'">
                <span> This Challan Already Received</span>
            </div>
            <div class="alert-success pull-right" v-else-if="product_challan_infos.status=='Auto Received'">
                <span> This Challan Already Auto Received</span>
            </div>
            <div v-if="receive_challan_button">
                <a  v-on:click="update_warehouse_store_out_challan" class="btn create-button pull-right">Save Challan</a>
            </div>
        </div>
        <!--End Challan Lists-->
    </div>
</template>

<script>
    require('../../plugins/bootstrap-datepicker/js/bootstrap-datepicker.js');
    // import FormError component
    import FormError from './FormError.vue';
    const Swal = require("sweetalert2");
    export default {
        components: {
            FormError
        },
        data(){
            return{
                // array to hold form errors
                errors: [],
                categories: [],
                out_lets: [],
                warehouses: [],
                warehouse_store_in_challans: [],
                challan: null,
                category_id:null,
                name:null,
                item_code:null,
                bar_code:null,
                selected_products: [],
                product_challan_infos:
                {
                    request_date:null,
                    warehouse_id:null,
                    out_let_id:null,
                    combination: null,
                    product_combination_list: [],
                    remove_old_product_combinations: [],
                    status: null,
                },  
                receive_challan_button: true,             
            }
        },
        props: ['challan_id','challan_no'],
        mounted() {
            let that = this;
            this.getCategories();
            this.getOutLets();
            this.getWarehouses();
            this.editChallan();

            $(function() {
                "use strict";
                $('#request_date').datepicker({
                    format: 'yyyy-mm-dd'
                }).change(function() {
                    that.product_challan_infos.request_date = $('#request_date').val();
                });
            });
        },
        computed:{
                stock_remain: function(){
                let that = this;
                $.each(that.product_challan_infos.product_combination_list,function(index_product_combination_list,combination){
                    $.each(combination.combinations,function(index_combinations,combination_data){
                        that.product_challan_infos.product_combination_list[index_product_combination_list].combinations[index_combinations].stock_remain = parseInt( combination_data.stock_quantity ) - parseInt( combination_data.requested_quantity );
                    })
                })
            }, 
        },
        watch:{
            stock_remain: function(){
                console.log('Remain Quantity Updated...');
            },
        },
        methods: {
            date_change: function(val){
//                alert(val);
            },
            getCategories: function(){
                let that = this;
                axios.get('/category/get_categories')
                    .then(function (response) {
                        that.categories = response.data;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            getOutLets: function(){
                let that = this;
                axios.get('/out_let/get_company_out_let')
                    .then(function (response) {
                        that.out_lets = response.data;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            getWarehouses: function(){
                let that = this;
                axios.get('/warehouse/get_warehouses')
                    .then(function (response) {
                        that.warehouses = response.data;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            searchProducts: function(  product_combination_list ){
                let that = this;
                axios.post('/warehouse_store_in_challan/search_warehouse_products',{
                            warehouse_id: that.product_challan_infos.warehouse_id,
                            name: that.name,
                            item_code: that.item_code,
                            bar_code: that.bar_code,
                            category_id: that.category_id,
                    }
                )
                .then(function (response) {
                    that.warehouse_store_in_challans = response.data; 
                    $('.product_add_btn').addClass('show_add_to_challan_button');
                    
                    if (!$.isEmptyObject( that.warehouse_store_in_challans )) {
                        $.each( that.warehouse_store_in_challans, function( index_challan, challan ){
                            $.each( challan.challan_products, function( index_challan_product, challan_product ){
                                $.each( product_combination_list, function( index_product_combination_list, combination ){
                                    console.log("combination.warehouse_store_in_challan_product_id" +combination.warehouse_store_in_challan_product_id  +"product.id" +challan_product.id);
                                    if( combination.warehouse_store_in_challan_product_id == challan_product.id ){
                                        that.warehouse_store_in_challans[index_challan].challan_products[index_challan_product].isDisable = 1;
                                        //that.products[index_product].isDisable = 1;
                                    }
                                })
                            })
                        })
                    }

                })
                .catch(function (error) {
                    that.errors = error;
                });
            },
            addToChallan: function(challan_no,warehouse_store_in_challan_product_id, challan_id, product_id){
                let that = this;
                $('#'+warehouse_store_in_challan_product_id).addClass('hide_add_to_challan_button');
                $('#'+warehouse_store_in_challan_product_id).removeClass('show_add_to_challan_button');
                axios.post('/warehouse_store_in_challan/get_warehouse_store_in_challan_product_combination', {
                        warehouse_store_in_challan_product_id: warehouse_store_in_challan_product_id,
                        product_id: product_id,
                    }
                )
                .then(function (response) {
                    that.combination = response.data;
                    that.combination.challan_no = challan_no;
                    that.combination.warehouse_store_in_challan_product_id = warehouse_store_in_challan_product_id;
                    that.product_challan_infos.product_combination_list.push(that.combination);
                })
                .catch(function (error) {
                    that.errors = error;
                });
            },
            removeFromChallanList: function(index, product_id, combination, warehouse_store_in_challan_product_id){
                let that = this;
                Vue.delete( that.product_challan_infos.product_combination_list, index);  
                $('#'+warehouse_store_in_challan_product_id).addClass('show_add_to_challan_button');
                that.product_challan_infos.remove_old_product_combinations.push({ product_id: product_id, combination: combination});
                return that.product_challan_infos;
            },
            editChallan: function(){
                let that = this;
                axios.post('/warehouse_store_out_challan/get_challan_data', {
                    challan_id: that.challan_id
                })
                .then(function (response) {                    
                    that.product_challan_infos = response.data;
                    that.product_challan_infos.remove_old_product_combinations = [];
                    if (!$.isEmptyObject( that.product_challan_infos )) {
                        if( that.product_challan_infos.status == "Auto Received" ){
                            that.product_challan_infos.statusChecked = true;
                        }
                        if(that.product_challan_infos.status == 'Received' || that.product_challan_infos.status == 'Auto Received' ){
                            that.receive_challan_button = false;
                        }
                    }
                })
                .catch(function (error) {
                    that.errors = error;
                });
            },
            /*removeFromChallanList: function(product_id, challan_product_id){
                let that = this;
                axios.post('/api/product_combination/get_product_combination', {
                        product_id: product_id
                    }
                )
                .then(function (response) {
                    that.product_challan_infos.product_combination_list = that.product_challan_infos.product_combination_list.filter(function (val) {
                        $('#'+challan_product_id).addClass('show_add_to_challan_button');
                        return val.warehouse_store_in_challan_product_id !== challan_product_id;
                    });
                    that.product_challan_infos.remove_old_product_combinations.push({ challan_product_id: challan_product_id, combination: product_id});
                    return that.product_challan_infos.product_combination_list;
                })
                .catch(function (error) {
                    that.errors = error;
                });
            },  */          
            update_warehouse_store_out_challan: function(){
                console.log("Inside update");
                let that = this;
                if( !that.product_challan_infos.statusChecked ){
                    that.product_challan_infos.status = 'Draft created';
                }
                else if( that.product_challan_infos.statusChecked != null ){
                    that.product_challan_infos.status = 'Auto Received';
                }
                axios.post('/warehouse_store_out_challan/update_warehouse_store_out_challan', that.product_challan_infos)
                    .then(function (response) {
                        let message = response.data.message;
                        Swal.fire({ 
                            icon: 'success',                 
                            title: "Great!",
                            text: message,
                            type: "success",
                            showCancelButton: false,
                            confirmButtonText: "Ok!",
                            closeOnConfirm: true,
                            closeOnCancel: false

                          }).then(response=>{
                            if(response.isConfirmed){
                                location.reload(true);
                            }
                        });
                    })
                    .catch(function (error) {
                        if(error){
                            that.errors = error.response.data.errors;
                            console.log("Error Here: "+error.response.data.errors);
                        }
                    });
            },
        }
    }
</script>

