<template>
    <div class="">
        <!--Start Search Product -->
        <div class="row row-same-height">
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Search Product</h4>
                </div>
                <div class="panel-body">
                    <div class="col-md-7 col-div-full">
                        <div class="padding-30">
                            <div class="form-group-attached">
                                <div class="row clearfix">
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default">
                                            <label for="search_product">Search Product</label>
                                            <input v-model="name" class ="form-control" placeholder="product name">
                                        </div>
                                        <div class="form-group form-group-default">
                                            <label for="search_product"></label>
                                            <input v-model="item_code" class ="form-control" placeholder="item code">
                                        </div>
                                        <div class="form-group form-group-default">
                                            <label for="search_product"></label>
                                            <input v-model="bar_code" class ="form-control" placeholder="bar code">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default">
                                            <label for="category_id">Select Category</label>
                                            <select v-model="category_id" class="cs-select cs-skin-slide cs-transparent form-control">
                                                <option value="">Select Category</option>
                                                <option v-for="category in categories" v-bind:value="category.id">{{ category.name }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default">
                                            <div class="btn-group btn-challan-product-div">
                                                <a v-on:click="searchProducts( product_challan_infos.product_combination_list )" title="product-search" class="btn create-button btn-cons btn-challan-product-search">Search</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Search Product-->

        <!--Start Products Listing-->
        <div class="row row-same-height">
            <!-- START PANEL -->
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Products</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-hover" id="tableWithSearch">
                        <thead>
                        <tr>
                            <th style="width:20%">Image</th>
                            <th style="width:20%">Name</th>
                            <th style="width:20%">Item Code</th>
                            <th style="width:20%">Bar Code</th>
                            <th style="width:20%">Category</th>
                            <th style="width:20%">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="product in products">
                            <td class="v-align-middle">

                            </td>
                            <td class="v-align-middle">
                                {{product.name}}
                            </td>
                            <td class="v-align-middle">
                                {{product.item_code}}
                            </td>
                            <td class="v-align-middle">
                                {{product.bar_code}}
                            </td>
                            <td class="v-align-middle">
                                <ul v-for="category in product.categories">
                                    <li>{{category.name}}</li>
                                </ul>
                            </td>
                            <td class="v-align-middle">
                                <div class="btn-group btn-actions" >
                                    <a v-if="product.isDisable" v-on:click="addToChallan(product.id)" :id="product.id" title="Add-to-challan" class="btn btn-success product_add_btn hide_add_to_challan_button">Add To Challan</a>
                                    <a v-else="product.isDisable" v-on:click="addToChallan(product.id)" :id="product.id" title="Add-to-challan" class="btn btn-success product_add_btn">Add To Challan</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--End Products Listing-->

        <!--Start Challan Info -->
        <div class="row row-same-height">
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Requisition Challan Info( #{{challan_no}} )</h4>
                </div>
                <div class="panel-body">
                    <div class="col-md-7 col-div-full">
                        <div class="padding-30">
                            <div class="form-group-attached">
                                <div class="row clearfix">
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default required" v-bind:class="[errors.request_date ? 'has-error' : '', '']">
                                            <label for="request_date">Request Date</label>
                                            <input v-model.lazy="product_challan_infos.request_date" id="request_date" class ="form-control" placeholder="Select Date">
                                                <form-error v-if="errors.request_date" :errors="errors">
                                                {{ errors.request_date[0] }}
                                            </form-error>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default required" v-bind:class="[errors.warehouse_id ? 'has-error' : '', '']">
                                            <label for="to_ware_house">To warehouse</label>
                                            <select v-model="product_challan_infos.warehouse_id" class="cs-select cs-skin-slide cs-transparent form-control">
                                                <option value="">Select Warehouse</option>
                                                <option v-for="warehouse in warehouses" v-bind:value="warehouse.id">{{ warehouse.name }}</option>
                                            </select>
                                            <form-error v-if="errors.warehouse_id" :errors="errors">
                                                {{ errors.warehouse_id[0] }}
                                            </form-error>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default required" v-bind:class="[errors.supplier_id ? 'has-error' : '', '']">
                                            <label for="supplier_id">Select Supplier</label>
                                            <select v-model="product_challan_infos.supplier_id" class="cs-select cs-skin-slide cs-transparent form-control">
                                                <option value="">Select Supplier</option>
                                                <option v-for="supplier in suppliers" v-bind:value="supplier.id">{{ supplier.name }}</option>
                                            </select>
                                            <form-error v-if="errors.supplier_id" :errors="errors">
                                                {{ errors.supplier_id[0] }}
                                            </form-error>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Challan Info -->
        <!--Start Challan Lists-->
        <div class="row row-same-height">
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Product Combination Lists</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-hover table-left-padding" id="tableWithSearch">
                        <thead>
                        <tr>
                            <th style="width:20%">Name</th>
                            <th style="width:70%">Combination</th>
                            <th style="width:10%">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(product,index) in product_challan_infos.product_combination_list">
                            <td class="v-align-middle">
                                {{product.name}}
                            </td>
                            <td class="v-align-middle" style="width: 70%">
                                <span v-if="product.combination=='No'"> N/A  </span>
                                <ul class="combination-name-value" v-for="(combination, combination_index ) in product.combinations">
                                    <div class="attribute-values">
                                        <template v-for="attributeValue in combination.combination_attribute_values">
                                            <strong>{{attributeValue.attribute_value.attribute.name}} : </strong>  {{attributeValue.attribute_value.value}} ,
                                        </template>
                                    </div>
                                    <div class="combination-quantity">
                                        <input class="combination-quantity-text" type="number" v-model="product_challan_infos.product_combination_list[index].combinations[combination_index].requested_quantity" :id="'product_combination_' + combination.id + ''"  :name="'product_combination_' + combination.id + ''" placeholder="Qty"> Pc(s)
                                    </div> <br/>
                                </ul>
                            </td>
                            <td class="v-align-middle">
                                <a v-on:click="removeFromChallanList(index, product.product_id, product.combination)" class="btn create-button">Remove</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="pull-right" v-if="receive_challan_button">
                <input v-model="product_challan_infos.statusChecked" type="checkbox"/>
                <span>Mark as challan auto received</span>
            </div><br/><br/><br/><br/><br/>            
            <div class="alert-success pull-right" v-if="product_challan_infos.status=='Received'">
                <span> This Challan Already Received</span>
            </div>
            <div class="alert-success pull-right" v-else-if="product_challan_infos.status=='Auto Received'">
                <span> This Challan Already Auto Received</span>
            </div>
            <div v-if="receive_challan_button">
                <a  v-on:click="update_warehouse_store_in_challan(challan_id)" class="btn create-button pull-right">Save Challan</a>
            </div>
        </div>
        <!--End Challan Lists-->
    </div>
</template>

<script>
    require('../../plugins/bootstrap-datepicker/js/bootstrap-datepicker.js');
    // import FormError component
    import FormError from './FormError.vue';
    const Swal = require("sweetalert2");
    export default {
        components: {
            FormError
        },
        data(){
            return{
                categories: [],
                suppliers: [],
                warehouses: [],
                products: [],
                errors: [],
                challan: null,
                category_id:'',
                name:null,
                item_code:null,
                bar_code:null,
                selected_products: [],
                product_challan_infos:
                {                   
                    combination: null,
                    product_combination_list: [],
                    remove_old_product_combinations: [],
                    statusChecked:null,
                },
                receive_challan_button: true,
            }
        },
        props: ['challan_id','challan_no'],
        mounted() {
            let that = this;
            this.getCategories();
            this.getSuppliers();
            this.getWarehouses();
            this.editChallan();

            $(function() {
                "use strict";
                $('#request_date').datepicker( {
                    format: 'yyyy-mm-dd'
                }).change(function() {
                    that.product_challan_infos.request_date = $('#request_date').val();
                });
            });

        },
        computed:{

        },
        watch:{

        },
        methods: {
            getCategories: function(){
                let that = this;
                axios.get('/category/get_categories')
                    .then(function (response) {
                        that.categories = response.data;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            getSuppliers: function(){
                let that = this;
                axios.get('/supplier/get_suppliers')
                    .then(function (response) {
                        that.suppliers = response.data;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            getWarehouses: function(){
                let that = this;
                axios.get('/warehouse/get_warehouses')
                    .then(function (response) {
                        that.warehouses = response.data;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            searchProducts: function( product_combination_list ){
                let that = this;
                axios.post('/product/search_products', {
                        name: that.name,
                        item_code: that.item_code,
                        bar_code: that.bar_code,
                        category_id: that.category_id
                    }
                )
                .then(function (response) {
                    that.products = response.data;
                    $('.product_add_btn').addClass('show_add_to_challan_button');
                    if (!$.isEmptyObject( that.products )) {
                        $.each(that.products,function( index_product, product ){
                            $.each(product_combination_list,function(index_product_combination_list,combination){
                                console.log("combination.product_id" +combination.product_id  +"product.id" +product.id);
                                if( combination.product_id == product.id ){
                                    that.products[index_product].isDisable = "1";
                                }
                            })
                        })
                    }
                })
                .catch(function (error) {
                    that.errors = error;
                });
            },
            addToChallan: function(product_id){
                let that = this;
                $('#'+product_id).addClass('hide_add_to_challan_button');
                $('#'+product_id).removeClass('show_add_to_challan_button');
                axios.post('/product_combination/get_product_combination', {
                        product_id: product_id
                    }
                )
                .then(function (response) {
                    that.product_combination = response.data;
                    that.product_combination.product_id = response.data.id;
                    that.product_combination.combination = "Yes";
                    if( that.product_combination.combinations.length <= 0 ){
                        that.product_combination.combination = "No";
                        that.product_combination.combinations = [{"product_id":product_id,"requested_quantity": null, "received_quantity": null}]
                    }
                    response.data.warehouse_store_in_challan_product_id = null;
                    that.product_challan_infos.product_combination_list.push(that.product_combination);
                })
                .catch(function (error) {
                    that.errors = error;
                });
            },
            editChallan: function(){
                let that = this;
                axios.post('/warehouse_store_in_challan/get_challan_data', {
                    challan_id: that.challan_id
                })
                .then(function (response) {
                    that.product_challan_infos = response.data;
                    that.product_challan_infos.remove_old_product_combinations = [];
                    if (!$.isEmptyObject( that.product_challan_infos )) {
                        if( that.product_challan_infos.status == "Auto Received" ){
                          that.product_challan_infos.statusChecked = true;
                        }
                        if(that.product_challan_infos.status == 'Received' || that.product_challan_infos.status == 'Auto Received' ){
                            that.receive_challan_button = false;
                        }
                    }
                })
                .catch(function (error) {
                    that.errors = error;
                });
            },
            update_warehouse_store_in_challan: function( challan_id ){
                let that = this
                if( !that.product_challan_infos.statusChecked ){
                    that.product_challan_infos.status = 'Draft created';
                }
                else if( that.product_challan_infos.statusChecked != null ){
                    that.product_challan_infos.status = 'Auto Received';
                }
                axios.post('/warehouse_store_in_challan/update_warehouse_store_in_challan', that.product_challan_infos )
                    .then(function (response) {
                        let that = this;
                        let message = response.data.message;                       
                        Swal.fire({ 
                            icon: 'success',                 
                            title: "Great!",
                            text: message,
                            type: "success",
                            showCancelButton: false,
                            confirmButtonText: "Ok!",
                            closeOnConfirm: true,
                            closeOnCancel: false

                          }).then(response=>{
                            if(response.isConfirmed){
                                location.reload(true);
                            }
                        });                        
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            removeFromChallanList: function(index, product_id, combination){
                let that = this;    
                Vue.delete( that.product_challan_infos.product_combination_list, index);  
                $('#'+product_id).addClass('show_add_to_challan_button');           
                that.product_challan_infos.remove_old_product_combinations.push({ product_id: product_id, combination: combination});
                return that.product_challan_infos;
            },
        }
    }
</script>

