<template>
    <div class="">
        <!--Start Challan Info -->
        <div class="row row-same-height">
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Requisition Challan Info( #{{challan_no}} )</h4>
                </div>
                <div class="panel-body">
                    <div class="col-md-7 col-div-full">
                        <div class="padding-30">
                            <div class="form-group-attached">
                                <div class="row clearfix">
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default">
                                            <label for="request_date">Request Date</label>
                                            <input v-model="product_challan_infos.request_date"  placeholder="Select Date" class ="form-control readonly-field-color" v-bind:readonly="true">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default">
                                            <label for="warehouse_info">To warehouse</label>
                                            <input v-model="warehouse_info"  placeholder="Warehouse info" class ="form-control readonly-field-color" v-bind:readonly="true">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default">
                                            <label for="supplier_info">Supplier</label>
                                            <input v-model="supplier_info" placeholder="Supplier info" class ="form-control readonly-field-color" v-bind:readonly="true">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Challan Info -->
        <!--Start Challan Lists-->
        <div class="row row-same-height">
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Product Combination Lists</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-hover" id="tableWithSearch">
                        <thead>
                        <tr>                           
                            <th style="width:10%">Name</th>
                            <th style="width:30%">Combination</th>
                            <th style="width:15%">Requested Quantity</th>
                            <th style="width:15%">Received Quantity</th>
                            <th style="width:15%">Missing Quantity</th>
                            <th style="width:15%">Missing Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(product,index) in product_challan_infos.product_combination_list">
                            <td class="v-align-middle product_combination_list-left-padding">
                                {{product.name}}
                            </td>
                            <td class="v-align-middle store-out-challan-combination-left-padding" style="width: 30%">
                                <span v-if="product.combination=='No'"> N/A  </span>
                                <ul class="combination-name-value" v-for="( combination, combination_index ) in product.combinations">
                                    <div class="combination-name-value-div" v-if="product_challan_infos.product_combination_list[index].combinations[combination_index].requested_quantity">
                                        <div class="attribute-values">
                                            <template v-for="attributeValue in combination.combination_attribute_values">
                                                <strong>{{attributeValue.attribute_value.attribute.name}} : </strong>  {{attributeValue.attribute_value.value}} ,                                                
                                            </template>
                                        </div>  
                                        <br/>                                      
                                    </div>
                                </ul>
                            </td>
                            <td class="v-align-middle store-out-challan-combination-left-padding" style="width: 15%">
                                <ul class="combination-name-value" v-for="( combination, combination_index ) in product.combinations">
                                    <div class="combination-name-value-div" v-if="product_challan_infos.product_combination_list[index].combinations[combination_index].requested_quantity">
                                        <div class="combination-quantity store-out-challan-quantity">
                                            <input class ="readonly-field-color combination-quantity-text" v-bind:readonly="true" type="number" v-model="product_challan_infos.product_combination_list[index].combinations[combination_index].requested_quantity" :id="'product_combination_' + combination.id + ''"  :name="'product_combination_' + combination.id + ''" placeholder="Qty">
                                            Pc(s)
                                        </div><br/>
                                    </div>
                                </ul>
                            </td>
                            <td class="v-align-middle store-out-challan-quantity-left-padding" style="width: 15%">
                                <ul class="combination-name-value" v-for="(combination, combination_index ) in product.combinations">
                                    <div class="combination-name-value-div" v-if="product_challan_infos.product_combination_list[index].combinations[combination_index].requested_quantity">
                                        <div class="combination-quantity store-out-challan-quantity">
                                            <input class ="readonly-field-color combination-quantity-text" type="number" v-model="product_challan_infos.product_combination_list[index].combinations[combination_index].received_quantity" :id="'product_combination_' + combination.id + ''"  :name="'product_combination_' + combination.id + ''" placeholder="Qty">
                                             Pc(s)
                                        </div><br/>                                      
                                    </div>
                                </ul>
                            </td>
                            <td class="v-align-middle store-out-challan-quantity-left-padding" style="width: 15%">
                                <ul class="combination-name-value" v-for="(combination, combination_index ) in product.combinations">
                                    <div class="combination-name-value-div" v-if="product_challan_infos.product_combination_list[index].combinations[combination_index].requested_quantity">
                                        <div class="combination-quantity store-out-challan-quantity">
                                            <input class ="readonly-field-color combination-quantity-text" v-bind:readonly="true" type="number" v-model="product_challan_infos.product_combination_list[index].combinations[combination_index].missing_quantity" :id="'product_combination_' + combination.id + ''"  :name="'product_combination_' + combination.id + ''" placeholder="Qty">
                                            Pc(s)
                                        </div><br/>
                                    </div>
                                </ul>
                            </td>
                            <td class="v-align-middle store-out-challan-quantity-left-padding" style="width: 15%">
                                <ul class="combination-name-value" v-for="(combination, combination_index ) in product.combinations">
                                    <div class="combination-name-value-div" v-if="product_challan_infos.product_combination_list[index].combinations[combination_index].requested_quantity">
                                        <div class="combination-quantity store-out-challan-quantity">
                                            <input type="radio" value="Lost" v-model="product_challan_infos.product_combination_list[index].combinations[combination_index].missing_status" :id="product.id+'product_combination_' + combination_index + ''"  :name="product.id+'product_combination_'+ combination_index + ''">
                                            <label for="lost">Lost</label>              
                                            <input type="radio" value="Return Supplier" v-model="product_challan_infos.product_combination_list[index].combinations[combination_index].missing_status" :id="product.id+'product_combination_' + combination_index + ''"  :name="product.id+'product_combination_' + combination_index + ''">
                                            <label for="return_supplier">Return Supplier</label>
                                        </div>
                                    </div>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="alert-success pull-right" v-if="product_challan_infos.status=='Received'">
                <span> This Challan Already Received</span>
            </div>
            <div class="alert-success pull-right" v-else-if="product_challan_infos.status=='Auto Received'">
                <span> This Challan Already Auto Received</span>
            </div>
            <div v-if="receive_challan_button">
                <a  v-on:click="receive_warehouse_store_in_challan(challan_id)" class="btn create-button pull-right">Receive Challan</a>
            </div>
        </div>
        <!--End Challan Lists-->
    </div>
</template>

<script>
    require('../../plugins/bootstrap-datepicker/js/bootstrap-datepicker.js');
    // import FormError component
    import FormError from './FormError.vue';
    const Swal = require("sweetalert2");
    export default {
        components: {
            FormError
        },
        data(){
            return{
                supplier_info: '',
                warehouse_info: '',
                errors: [],
                product_challan_infos:
                {
                    challan_id:null,
                    request_date:null,
                    warehouse_id:null,
                    supplier_id:null,
                    product_combination_list: [],
                    remove_old_product_combinations: [],
                    status:null,
                    statusChecked:null,
                },
                receive_challan_button: true,
            }
        },
        props: ['challan_id','challan_no'],
        mounted() {
            let that = this;
            that.getChallan();
        },
        computed:{
            missing_quantity: function(){
                let that = this;
                $.each(that.product_challan_infos.product_combination_list,function(index_product_combination_list,combination){
                    $.each(combination.combinations,function(index_combinations,combination_data){
                        that.product_challan_infos.product_combination_list[index_product_combination_list].combinations[index_combinations].missing_quantity = parseInt( combination_data.requested_quantity ) - parseInt( combination_data.received_quantity );
                    })
                })
            },
        },
        watch:{
            missing_quantity: function(){
                console.log('Missing Quantity Updated...');
            },
        },
        methods: {
            getChallan: function(){
                let that = this;
                axios.post('/warehouse_store_in_challan/get_challan_data', {
                    challan_id: that.challan_id
                })
                .then(function (response) {
                    that.product_challan_infos = response.data;
                    if (!$.isEmptyObject( that.product_challan_infos )) {
                        if(that.product_challan_infos.status == 'Received' || that.product_challan_infos.status == 'Auto Received' ){
                            that.receive_challan_button = false;
                        }
                        if( that.product_challan_infos.warehouse_id ){
                            axios.post('/api/warehouse/get_warehouse_data', {
                                    warehouse_id: that.product_challan_infos.warehouse_id
                                }
                            )
                            .then(function (response_warehouse) {
                                that.warehouse_info = response_warehouse.data.name;
                            })
                            .catch(function (error) {
                                that.errors = error;
                            });
                        }
                        if( that.product_challan_infos.supplier_id ){
                            axios.post('/supplier/get_supplier_data', {
                                    supplier_id: that.product_challan_infos.supplier_id
                                }
                            )
                            .then(function (response_supplier) {
                                that.supplier_info = response_supplier.data.name;
                            })
                            .catch(function (error) {
                                that.errors = error;
                            })
                        }
                    }
                })
                .catch(function (error) {
                    that.errors = error;
                });
            },
            receive_warehouse_store_in_challan: function( challan_id ){
                let that = this;
                that.product_challan_infos.status = 'Received';
                axios.post('/warehouse_store_in_challan/update_warehouse_store_in_challan', that.product_challan_infos )
                    .then(function (response) {
                        let message = response.data.message;
                        Swal.fire({ 
                            icon: 'success',                 
                            title: "Great!",
                            text: message,
                            type: "success",
                            showCancelButton: false,
                            confirmButtonText: "Ok!",
                            closeOnConfirm: true,
                            closeOnCancel: false

                          }).then(response=>{
                            if(response.isConfirmed){
                                location.reload(true);
                            }
                        });                        
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
        }
    }
</script>