/* Invoice */
.padding-left-unset{
    padding-left: 0px !important;
}
.font-montserrat {
    font-family: 'Montserrat' !important;
}
.hint-text {
    opacity: .7;
}
.all-caps {
    text-transform: uppercase;
}
.bold {
    font-weight: bold !important;
}
h2 {
    font-size: 31px !important;
    line-height: 40px !important;
}
.text-right {
    text-align: right !important;
}
.no-margin {
    margin: 18px 0px 0px 0px !important;
}
.row {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
    margin-right: -15px !important;
    margin-left: 0px !important;
}
small, .small {
    /*line-height: 18px;*/
    font-size: 85%;
}
.small, small {
    font-weight: 400;
}
p {
    display: block;
    letter-spacing: 0.01em;
    font-style: normal;
    white-space: normal;
}
h5 {
    font-size: 18px;
    /*line-height: 25.88px;*/
    margin-bottom: 0px !important; 
}
h1, h2, h3, h4, h5, h6 {
    margin: 10px 0px 0px 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;    
    color: #2c2c2c;
}
address {
    margin-bottom: 0px;
}
address {
    display: block;
    font-style: normal;
}
address, legend {
    line-height: inherit;
}
.align-items-end {
    align-items: flex-end !important;
}
.justify-content-between {
    justify-content: space-between !important;
}
.d-flex {
    /*display: flex !important;*/
    
}
.invoice-no-date{
    margin-top: 100px;
}
.invoice-no-date-text{
    font-weight: normal !important;
}
.container-fluid {
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
}
.container, .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}
.card.card-default {
    border: 1px solid rgba(230, 230, 230, 0.7);
}
.m-t-20 {
    margin-top: 20px;
}

.card, .navbar-nav {
    display: -ms-flexbox;
}
.card {
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card-body {
    flex: 1 1 auto;
}
.padding-50 {
    padding: 20px 0px 30px 50px !important;
}

.pull-left {
    float: left !important;
}
.pull-right {
    float: right !important;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.table-responsive {
    display: block;
    width: 100%;    
}
br {
    /*line-height: normal;*/
    line-height: 1px;
    /*clear: both; */
}
.p-l-15 {
    padding-left: 15px !important;
}
.p-r-15 {
    padding-right: 15px !important;
}
.semi-bold {
    font-weight: 400 !important;
}
.table {
    margin-bottom: 0;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.table thead tr th:first-child {
    padding-left: 18px !important;
}
.table thead tr th {
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Montserrat';
    font-size: 10.5px;
    letter-spacing: 0.06em;
    padding-top: 14px;
    padding-bottom: 14px;
    vertical-align: middle;
    border-bottom: 1px solid rgba(225, 225, 225, 0.7);
    color: rgba(44, 44, 44, 0.35);
    border-top: none;
}
.table > thead > tr > td, .table > thead > tr > th {
    line-height: 1.42857143;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.table tbody tr td {
    background: #fff;
    border-bottom: 1px solid rgba(225, 225, 225, 0.7);
    border-top: 0px;
    padding: 10px 20px 0px 20px;
    font-size: 13.5px;
}
.table td, .table th {
    vertical-align: top;
}
.text-center {
    text-align: center !important;
}
.text-right {
    text-align: right !important;
}
.p-l-15 {
    padding-left: 15px !important;
}
.p-r-15 {
    padding-right: 15px !important;
}
.b-grey {
    border-color: #e1e1e1;
}
.b-a {
    border-width: 1px;
}
.b-a, .b-r, .b-l, .b-t, .b-b {
    border-style: solid;
}
p-l-15 {
    padding-left: 15px !important;
}
.flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;    
    flex-direction: column !important;
}
.justify-content-center {
    justify-content: center!important;
}
h3 {
    font-size: 27px;
    line-height: 35px;
}
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

.col-lg-3, .col-lg-9, .col-lg-12 {
    float: left;
}
.col-lg-12 {
    width: 100%;
}  
.col-lg-9 {
    flex: 0 0 65%;
    width: 65%;
}  
.col-lg-3 {
    flex: 0 0 35%;
    width: 35%;
    padding-left: 50px;
} 
.col-3, .col-9, .col-12{
    position: relative;
    width: 100%;
    min-height: 1px;
    /*padding-right: 15px;*/
    /*padding-left: 15px;*/
}
*, ::after, ::before {
    box-sizing: border-box;
}
.sm-no-padding {
    padding: 0px !important;
}
br {
    line-height: normal;
}
.table-invoice th {
  border-top: 0;
}
.m-t-50 {
  margin-top: 160px;
}
.m-t-25{
    margin-top: 30px;
}
.sm-m-t-20 {
    margin: 20px 20px 0px 0px !important;
}
.text-black {
    color: #2c2c2c !important;
}
dl, h1, h2, h3, h4, h5, h6, ol, p, pre, ul {
    margin-top: 0;
}
.p-l-15 {
    padding-left: 15px !important;
}
.p-r-15 {
    padding-right: 15px !important;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.b-grey {
    border-color: #e1e1e1;
}
.b-a {
    border-width: 1px;
}
.b-a, .b-r, .b-l, .b-t, .b-b {
    border-style: solid;
    border-width: 0;
}   
.p-l-15 {
    padding-left: 15px !important;
}
.flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;    
}
.justify-content-center {
    justify-content: center !important;
}
.flex-column {
    flex-direction: column !important;
}
.col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
.panel-heading {
    background: transparent;
    border-radius: 0px;
    border-bottom: 0px;
    padding: 20px 20px 7px 20px;
    position: relative;
    z-index: 3;
    min-height: 48px;
}
.title-color {
    background-color: #f5f5f5 !important;
}
.table-heading {
    /*margin-top: 5px;*/
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
}
.table-heading {
    background-color: transparent;
}
.table-heading {
    border-spacing: 0;
    border-collapse: collapse;
}
.table-body {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.table-heading tbody tr td {
    background: #fff;
    border-bottom: 1px solid rgba(230, 230, 230, 0.7);
    border-top: 0px;
    padding: 20px 2px 20px 8px;
    font-size: 13.5px;
}
.table-heading>thead>tr>th, .table-heading>tbody>tr>th, .table-heading>tfoot>tr>th, .table-heading>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    line-height: 1.42857143;
    vertical-align: top;
}
.footer-logo{
    float:left;
    padding-right: 30px !important;    
}
.footer-info-text{
    float:left;        
    /*margin-top: -29px;*/
}
.m-l-40 {
    margin-left: 40px;
}
.stamp-signature{
    height: 60px;
}
.authority-signature{
    position: relative;
    float: left;
    border-bottom: 1px solid;
    margin-left: 75px;
}
.customer-signature{
    position: relative;
    float: right;
    border-bottom: 1px solid;
    margin-right: 75px;
}
.clear{
    clear: both;
}
/** Define the footer rules **/
.footer-border{
    border-bottom: 1px solid rgba(230, 230, 230, 0.7);
    position: fixed;
    bottom: 1.2cm; 
}
footer {    
    position: fixed; 
    /** Extra personal styles 
    background-color: #03a9f4;
    color: white; 
    text-align: center; 
    left: 0cm; 
    right: 0cm;       
    line-height: 1.5cm;
    **/
    height: 1cm;
    bottom: 0cm; 
    padding:20px 0px 0px 163px; 
    
}
/*.footer-border{
    width: 100%;
    border-bottom: 1px solid rgba(230, 230, 230, 0.7);
    padding-bottom: 20px !important;
}*/
header {
    position: fixed;
    top: -30px;
    left: 0px;
    right: 0px;
    height: 2cm;

    /** Extra personal styles color: white; line-height: 35px;**/    
    text-align: center;
    
}
.header-border{
    border-bottom: 1px solid rgba(230, 230, 230, 0.7);
    padding-bottom: 20px !important;
}
p{
    margin: 0;
    padding: 0px 0px 10px 0px;
    border: 0;  
}
