<template>
    <div class="">
        <div class="row row-same-height">
            <div class="panel panel-default two-column-div">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Coupon Info</h4>
                </div>
                <div class="panel-body ">
                    <div class="col-md-7">
                        <div class="padding-30">
                            <div class="form-group-attached">
                                <div class="form-group form-group-default required">
                                    <label for="name">Name</label>
                                    <input v-model="coupon_info.name" class ="form-control" placeholder="Name">
                                </div>
                                <div class="form-group form-group-default">
                                    <label for="description">Description</label>
                                    <input v-model="coupon_info.description" class ="form-control" placeholder="Description">
                                </div>
                                <div class="form-group form-group-default float-left required">
                                    <label for="code"></label>
                                    <input v-model="coupon_info.code" class ="form-control" placeholder="Code">
                                </div>
                                <div class="float-left">
                                    <button class="btn btn-custom" type="submit">
                                        <span>Generate</span>
                                    </button>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <br/>
                        <div class="toggle-on-off custom-label-padding">
                            <label for="high_light">High Light</label>:
                            <input v-model="coupon_info.high_light" type="checkbox" data-init-plugin="switchery" checked />
                        </div>
                        <br/>
                        <div class="toggle-on-off custom-label-padding">
                            <label for="status">Status</label>:
                            <input v-model="coupon_info.status" type="checkbox" data-init-plugin="switchery" checked />
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default two-column-div">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Action</h4>
                </div>
                <div class="panel-body">
                    <div class="">
                        <div class="padding-30">
                            <div class="form-group-attached">
                                <div class="float-left apply-discount-option">
                                    <label for="amount">Apply a discount</label>
                                </div>
                                <div class="float-left">
                                    <div class="radio radio-success">
                                        <input v-on:click="applyDiscountOption" type="radio" value="Percent" v-model="apply_discount_option" id="percent">
                                        <label for="percent">Percent( % )</label>
                                    </div>
                                    <div class="radio radio-success">
                                        <input v-on:click="applyDiscountOption" type="radio" value="Amount" v-model="apply_discount_option" id="amount">
                                        <label for="amount">Amount</label>
                                    </div>
                                    <div class="radio radio-success float-left">
                                        <input v-on:click="applyDiscountOption" type="radio" value="None" v-model="apply_discount_option" id="none">
                                        <label for="none"><i class="fs-14 pg-close custom-close"></i>None</label>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div v-show="percent_option_select">
                                <div class="float-left">
                                    <label for="value">Value</label>
                                    <button class="btn btn-custom" type="submit">
                                        <span>%</span>
                                    </button>
                                </div>
                                <div class="form-group form-group-default float-left required">
                                    <label for="value"></label>
                                    <input v-model="coupon_info.discount_percent" class ="form-control" placeholder="0">
                                </div>
                                <div class="clearfix"></div>
                                <div class="help-block-div">
                                    <span class="help-block">
                                        <i class="icon-warning-sign"></i>
                                        Does not apply to the shipping costs
                                    </span>
                                </div>
                                <div class="toggle-on-off exclude-discounted-products">
                                    <label for="exclude-discounted-products">Exclude discounted products</label>:
                                    <input v-model="coupon_info.exclude_discounted_products" type="checkbox" data-init-plugin="switchery" checked />
                                </div>
                            </div>

                            <div v-show="amount_option_select">
                                <div class="form-group form-group-default apply-discount-label float-left">
                                    <label for="value">Amount</label>
                                </div>
                                <div class="form-group form-group-default apply-discount-field float-left required">
                                    <label for="value"></label>
                                    <input v-model="coupon_info.discount_amount" class ="form-control" placeholder="0">
                                </div>
                                <div class="form-group form-group-default apply-discount-field float-left required">
                                    <label for="value">Currency</label>
                                    <select v-model="coupon_info.discount_amount_currency_id" class="cs-select cs-skin-slide cs-transparent form-control">
                                        <option v-for="currency in currency_lists" v-bind:value="currency.id">{{ currency.name }}( {{ currency.code }} )</option>
                                    </select>
                                </div>
                                <div class="form-group form-group-default apply-discount-field float-left required">
                                    <label for="value">Vat include/exclude</label>
                                    <select v-model="coupon_info.vat_include_on_discount_amount" class="cs-select cs-skin-slide cs-transparent form-control">
                                        <option v-for="vat_include_list in vat_include_lists" v-bind:value="vat_include_list.value">{{ vat_include_list.name }}</option>
                                    </select>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-same-height">
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Conditions</h4>
                </div>
                <div class="panel-body">
                    <div class="col-md-7">
                        <div class="padding-30">
                            <div class="form-group-attached">
                                <div class="form-group form-group-default">
                                    <label for="limit_to_single_customer">Limit to single customer</label>
                                    <select v-model="coupon_info.customer_id" class="cs-select cs-skin-slide cs-transparent form-control">
                                        <option value="">Select Customer</option>
                                        <option v-for="customer in customer_lists" v-bind:value="customer.id">{{ customer.first_name }} {{ customer.last_name }}( {{ customer.customer_no }} )</option>
                                    </select>
                                </div>
                                <div class="form-group form-group-default float-left required">
                                    <label for="valid_from">Valid From</label>
                                    <input v-model.lazy="coupon_info.valid_from" id="valid_from" class ="form-control" placeholder="Select Date">
                                </div>
                                <div class="form-group form-group-default float-left required">
                                    <label for="valid_to">Valid To</label>
                                    <input v-model.lazy="coupon_info.valid_to" id="valid_to" class ="form-control" placeholder="Select Date">
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group form-group-default float-left required">
                                    <label for="minimum_purchase_amount">Minimum Amount</label>
                                    <input v-model="coupon_info.minimum_purchase_amount" class ="form-control" placeholder="Minimum Amount">
                                </div>
                                <div class="form-group form-group-default float-left required">
                                    <label for="currency">Currency</label>
                                    <select v-model="coupon_info.minimum_purchase_amount_currency_id" class="cs-select cs-skin-slide cs-transparent form-control">
                                        <option v-for="currency in currency_lists" v-bind:value="currency.id">{{ currency.name }}( {{ currency.code }} )</option>
                                    </select>
                                </div>
                                <div class="form-group form-group-default float-left required">
                                    <label for="select">Vat include/exclude</label>
                                    <select v-model="coupon_info.vat_include_on_minimum_purchase_amount" class="cs-select cs-skin-slide cs-transparent form-control">
                                        <option v-for="vat_include_list in vat_include_lists" v-bind:value="vat_include_list.value">{{ vat_include_list.name }}</option>
                                    </select>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group form-group-default required">
                                    <label for="total_available">Total Available</label>
                                    <input v-model="coupon_info.total_coupons" class ="form-control" placeholder="Total Available">
                                </div>
                                <div class="form-group form-group-default required">
                                    <label for="total_coupons_for_each_user">Total Limit For Each User</label>
                                    <input v-model="coupon_info.total_coupons_for_each_user" class ="form-control" placeholder="Total Available For Each User">
                                </div>
                                <br/>
                                <div class="custom-label-padding">
                                    <label for="restrictions">Restrictions</label>:
                                    <input v-model="product_selection_checked" type="checkbox" v-on:click="toggleProductSelection"/>
                                    <span>Product selection</span>
                                </div>
                                <div class="product-selection-button" v-show="product_selection_checked" v-for="(coupon_restriction, index) in coupon_info.coupon_restrictions">
                                    <div class="coupon-restriction-div">
                                        <div class="number-of-products-required form-group form-group-default required">
                                            <label for="number_of_products_required_in_carts">Number of products required in the cart to enjoy the discount</label>
                                            <input v-model="coupon_info.coupon_restrictions[index].number_of_products_required_in_carts" class ="form-control" placeholder="No. Of Products">
                                        </div>
                                        <div class="form-group form-group-default float-left required">
                                            <label for="select">Add a rule concerning</label>
                                            <select v-model="coupon_info.coupon_restrictions[index].rule_concerning" class="cs-select cs-skin-slide cs-transparent form-control">
                                                <option v-for="rule_list in rule_lists" v-bind:value="rule_list.value">{{ rule_list.name }}</option>
                                            </select>
                                        </div>
                                        <div class="float-left">
                                            <button class="btn btn-custom" v-on:click="addRuleConcerning">
                                                <span>Add</span>
                                            </button>
                                        </div>
                                        <div class="col-xs-2 text-center float-right">
                                            <i class="fs-14 pg-close"><a v-on:click="removeRow(index)">Remove</a></i>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="custom-label-padding">
                                            <label for="product_matching_label">The product(s) are matching one of these: </label>
                                        </div>
                                        <div class="rule-concerning-product-div"  v-show="coupon_info.coupon_restrictions[index].rule_concerning_products">
                                            <div class="form-group form-group-default float-left">
                                                <label for="rule_concerning_products">Products</label>
                                            </div>
                                            <div class="float-left">
                                               <multiselect v-model="coupon_info.coupon_restrictions[index].products" tag-placeholder="Add this as new tag" placeholder="Add Product(s)"
                                                    label="name" track-by="id" :options="product_lists" :multiple="true" :taggable="true"
                                                    @tag="addTag">
                                               </multiselect>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="rule-concerning-product-div" v-show="coupon_info.coupon_restrictions[index].rule_concerning_categories">
                                            <div class="form-group form-group-default float-left">
                                                <label for="rule_concerning_categories">Categories</label>
                                            </div>
                                            <div class="float-left">
                                                <multiselect v-model="coupon_info.coupon_restrictions[index].categories" tag-placeholder="Add this as new tag" placeholder="Add Category(s)"
                                                    label="name" track-by="id" :options="category_lists" :multiple="true" :taggable="true"
                                                    @tag="addTag">
                                                </multiselect>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div> <hr/> </div>
                                </div>
                                <button v-show="product_selection_button" class="button btn-primary" v-on:click="productSelectionButton">+ Product Selection</button>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <a  v-on:click="saveCouponSettings()" class="btn btn-success pull-right">Save</a>
        </div>
    </div>
</template>

<script>
    require('../../plugins/bootstrap-datepicker/js/bootstrap-datepicker.js');
    import Multiselect from 'vue-multiselect'
    export default {
        components: {
            Multiselect
        },
        data(){
            return{
                product_lists:  [],
                category_lists: [],
                customer_lists: [],
                currency_lists: [],
                vat_include_lists: [
                    {
                        name: 'Vat Exclude',
                        value: 'No'
                    },
                    {
                        name: 'Vat Include',
                        value: 'Yes'
                    }
                ],
                rule_lists: [
                    {
                        name: 'Products',
                        value: 'Products'
                    },
                    {
                        name: 'Categories',
                        value: 'Categories'
                    }
                ],
                product_selection_checked: null,
                product_selection_button: false,
                rule_concerning_add: true,
                percent_option_select: false,
                amount_option_select: false,
                none_option_select: false,
                apply_discount_option: "None",
                none_option_select: true,
                amount_option_select: false,
                percent_option_select: false,
                coupon_info: null,
                coupon_restrictions: [],
            }
        },

        props: ['coupon_id'],

        mounted() {
            let that = this;
            this.getCompanyProduct();
            this.getCompanyCategory();
            this.getCustomerLists();
            this.getCurrencyLists();
            this.editCoupon();
            $(function() {
                "use strict";
                $('#valid_from').datepicker({
                    format: 'yyyy-mm-dd'
                }).change(function() {
                    that.coupon_info.valid_from = $('#valid_from').val();
                });
                $('#valid_to').datepicker({
                    format: 'yyyy-mm-dd'
                }).change(function() {
                    that.coupon_info.valid_to = $('#valid_to').val();
                });
            });

        },

        computed:{

        },
        watch:{

        },
        methods: {
            addTag (newTag) {
                let that = this;
                const tag = {
                    name: newTag,
                    id: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
                }
            },
            date_change: function(val){
            },
            getCompanyProduct: function(){
                let that = this;
                axios.get('/api/company_product/get_company_product')
                    .then(function (response) {
                        that.product_lists = response.data;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            getCompanyCategory: function(){
                let that = this;
                axios.get('/api/company_category/get_company_category')
                    .then(function (response) {
                        that.category_lists = response.data;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            getCustomerLists: function(){
                let that = this;
                axios.get('/api/customer_lists/get_customer_lists')
                    .then(function (response) {
                        that.customer_lists = response.data;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            getCurrencyLists: function(){
                let that = this;
                axios.get('/api/currency_lists/get_currency_lists')
                    .then(function (response) {
                        that.currency_lists = response.data;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            toggleProductSelection: function( event ){
                let that = this;
                 if (!event.target.checked){
                    that.coupon_restriction_select = false;
                    that.product_selection_button = false;
                    that.coupon_restrictions = [];
                 }else{
                    that.product_selection_button = true;
                 }
                $.each(that.coupon_restrictions,function(index,coupon_restriction){
                    that.coupon_restrictions[index].rule_concerning_products = true;
                    that.coupon_restrictions[index].rule_concerning_categories = true;
                })
            },
            productSelectionButton: function(){
                let that = this;
                that.coupon_restriction_select = true;
                that.coupon_restrictions.push({
                    rule_concerning: null,
                    number_of_products_required_in_carts: null,
                    products: null,
                    categories: null,
                    rule_concerning_products: null,
                    rule_concerning_categories: null
                });
            },
            addRuleConcerning: function( ){
                let that = this;
                $.each(that.coupon_restrictions,function(index,coupon_restriction){
                    if( that.coupon_restrictions[index].rule_concerning == 'Products'){
                        that.coupon_restrictions[index].rule_concerning_products = true;
                    }else if( that.coupon_restrictions[index].rule_concerning == 'Categories'){
                        that.coupon_restrictions[index].rule_concerning_categories = true;
                    }
                })
            },
            removeRow: function(index){
                let that = this;
                Vue.delete( that.coupon_restrictions, index);
            },
            applyDiscountOption: function(){
                let that = this;
                if( that.apply_discount_option == "Percent"){
                    that.percent_option_select = true;
                    that.amount_option_select = false;
                    that.none_option_select = false;
                    that.coupon_info.vat_include_on_discount_amount = null;
                    that.coupon_info.discount_amount = null;
                    that.coupon_info.discount_amount_currency_id = null;
                }
                if( that.apply_discount_option == "Amount"){
                    that.amount_option_select = true;
                    that.percent_option_select = false;
                    that.none_option_select = false;
                    that.coupon_info.discount_percent = null;
                    that.coupon_info.exclude_discounted_products = "No";

                }
                if( that.apply_discount_option == "None"){
                    that.none_option_select = true;
                    that.amount_option_select = false;
                    that.percent_option_select = false;
                    that.coupon_info.no_discount = "Yes";
                    that.coupon_info.vat_include_on_discount_amount = null;
                    that.coupon_info.discount_amount = null;
                    that.coupon_info.discount_amount_currency_id = null;
                    that.coupon_info.discount_percent = null;
                    that.coupon_info.exclude_discounted_products = "No";
                }
            },
            editCoupon: function(){
                let that = this;
                axios.post('/api/coupon_list/get_coupon_data', {
                    coupon_id: that.coupon_id
                })
                .then(function (response) {
                    that.coupon_info = response.data;

                })
                .catch(function (error) {
                    that.errors = error;
                });
            },
            saveCouponSettings: function(){
                let that = this;
                if( that.coupon_info.name == null ){
                    alert("Coupon name can't be empty");
                    return false;
                }
                else if( that.coupon_info.code == null ){
                    alert("Coupon code can't be empty");
                    return false;
                }
                else if( that.coupon_info.valid_from == null ){
                    alert("Coupon valid from can't be empty");
                    return false;
                }
                else if( that.coupon_info.valid_to == null ){
                    alert("Coupon valid to can't be empty");
                    return false;
                }
                else if( that.coupon_info.minimum_purchase_amount == null ){
                    alert("Minimum purchase amount can't be empty");
                    return false;
                }
                else if( that.coupon_info.minimum_purchase_amount_currency_id == null ){
                    alert("Minimum purchase amount currency can't be empty");
                    return false;
                }
                else if( that.coupon_info.vat_include_on_minimum_purchase_amount == null ){
                    alert("Vat include on minimum purchase amount can't be empty");
                    return false;
                }
                else if( that.coupon_info.total_coupons == null ){
                    alert("Total available can't be empty");
                    return false;
                }
                else if( that.coupon_info.total_coupons_for_each_user == null ){
                    alert("Total available for each user can't be empty");
                    return false;
                }
                else if( that.apply_discount_option == "Percent" ){
                    if( that.coupon_info.discount_percent == null ){
                        alert("Discount percent can't be empty");
                        return false;
                    }
                    else if( !that.coupon_info.exclude_discounted_products ){
                        alert("Must be checked exclude discounted products");
                        return false;
                    }
                }
                else if( that.apply_discount_option == "Amount" ){
                    if( that.coupon_info.discount_amount == null ){
                        alert("Discount amount can't be empty");
                        return false;
                    }
                    else if( !that.coupon_info.discount_amount_currency_id ){
                        alert("Discount amount currency can't be empty");
                        return false;
                    }
                    else if( !that.coupon_info.vat_include_on_discount_amount ){
                        alert("Vat include on discount amount can't be empty");
                        return false;
                    }
                }
                else if( that.amount_option_select ){
                    if( that.coupon_info.discount_amount == null ){
                        alert("Discount amount can't be empty");
                        return false;
                    }
                    else if( that.coupon_info.discount_amount_currency_id == null ){
                        alert("Discount amount currency can't be empty");
                        return false;
                    }
                    else if( that.coupon_info.vat_include_on_discount_amount == null ){
                        alert("Vat include on discount amount can't be empty");
                        return false;
                    }
                }
                else if( that.product_selection_checked ){
                    $.each(that.coupon_restrictions,function(index, restriction ){
                        if( restriction.number_of_products_required_in_carts == null ){
                            alert("Number of products can't be empty");
                            return false;
                        }
                        else if( restriction.rule_concerning == null ){
                            alert("Rule concerning products/categories can't be empty");
                            return false;
                        }
                        else if( restriction.rule_concerning ){
                            if( restriction.products == null && restriction.categories == null ){
                                alert("Products/categories can't be empty");
                                return false;
                            }
                        }
                    })
                }
                if( !that.coupon_info.status ){
                    that.coupon_info.status = "Inactive";
                }
                else if( that.coupon_info.status != null ){
                    that.coupon_info.status = "Active";
                }
                if( !that.coupon_info.high_light ){
                    that.coupon_info.high_light = "No";
                }
                if( !that.coupon_info.exclude_discounted_products ){
                    that.coupon_info.exclude_discounted_products = "No";
                }

                var form = new FormData();
                form.append('coupon_info',JSON.stringify(that.coupon_info));
                form.append('coupon_restrictions',JSON.stringify(that.coupon_restrictions));

                axios.post('/api/coupon_settings/save_coupon_settings', form)
                    .then(function (response) {
                        if( response.data.success ){
                            alert( response.data.success )
                        }else{
                            alert( response.data.error )
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        }
    }
</script>

