<!-- New Template -->
<template>
    <div class="">
        <!--Start Customer Order Info -->
        <div class="row row-same-height">
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Customer Order Info</h4>
                </div>
                <div class="panel-body">
                    <div class="padding-30">
                        <div class="form-group-attached">
                            <div class="row clearfix">
                                <div class="col-sm-6 col-div-33">
                                    <div class="form-group form-group-default">
                                        <label for="customer_info">Customer</label>
                                        <input v-model="customer_info" class ="form-control readonly-field-color" v-bind:readonly="true" placeholder="Customer Info">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-div-33">
                                    <div class="form-group form-group-default">
                                        <label for="order_number">Order No</label>
                                        <input v-model="customer_order_details.order_no" class ="form-control readonly-field-color" v-bind:readonly="true" placeholder="Order No">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-div-33">
                                    <div class="form-group form-group-default">
                                        <label for="order_date">Order Date</label>
                                        <input v-model="customer_order_details.order_date" class ="form-control readonly-field-color" v-bind:readonly="true" placeholder="Order Date">
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-6 col-div-33">
                                    <div class="form-group form-group-default">
                                        <label for="expected_delivery">Expected Delivery</label>
                                        <input v-model="customer_order_details.expected_delivery_date" class ="form-control readonly-field-color" v-bind:readonly="true" placeholder="Expected_delivery">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-div-33">
                                    <div class="form-group form-group-default">
                                        <label for="invoice_prefix">Invoice Prefix</label>
                                        <input v-model="invoice_prefix" class ="form-control readonly-field-color" v-bind:readonly="true" placeholder="Invoice Prefix">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-div-33">
                                    <div class="form-group form-group-default">
                                        <label for="invoice_number">Invoice No</label>
                                        <input v-model="customer_order_details.invoice_no" class ="form-control readonly-field-color" v-bind:readonly="true" placeholder="Order No">
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-6 col-div-33 float-left">
                                    <div class="form-group form-group-default">
                                        <label for="currency">Payment Currency</label>
                                        <input v-model="currency" class ="form-control readonly-field-color" v-bind:readonly="true" placeholder="Currency">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-div-33">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Customer Order Info -->
        <!--Start Order Items Detail -->
        <div class="row row-same-height">
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Order Paid Details</h4>
                </div>
                <div class="panel-body">
                    <div class="col-md-7 col-order-details-width">
                        <table class="table table-hover" id="tableWithSearch">
                            <thead>
                                <tr>
                                    <th style="width:20%">Paid Date</th>
                                    <th style="width:20%">Paid Amount</th>
                                    <th style="width:20%">Payment Method</th>
                                    <th style="width:20%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="payment_history in payment_histories">
                                    <td class="v-align-middle">
                                        {{payment_history.paid_date}}
                                    </td>
                                    <td class="v-align-middle">
                                        {{payment_history.paid_amount}}
                                    </td>
                                    <td class="v-align-middle">
                                        <ul>
                                            <li>{{payment_history.payment_method.name}}</li>
                                        </ul>
                                        <ul v-for="payment_meta in payment_history.customer_order_detail_paid_details">
                                            <li>{{payment_meta.meta_data}}: {{payment_meta.value}}</li>
                                        </ul>
                                    </td>
                                    <td class="v-align-middle">
                                        <a v-on:click="removeThisPayment(payment_history.id)" class="btn btn-danger">Remove
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="panel-heading title-color">
                            <table class="table table-hover" id="tableWithSearch">
                                <tbody>
                                    <tr>
                                        <td class="v-align-middle">
                                            <h4 class="panel-title"> Net. Sum: {{customer_order_details.total_amount}} {{currency_code}}</h4>
                                        </td>
                                        <td class="v-align-middle">
                                            <h4 class="panel-title">Total Paid: {{customer_order_details.total_paid}} {{currency_code}}</h4>
                                        </td>
                                        <td class="v-align-middle">
                                            <h4 class="panel-title">Remain Sum: {{customer_order_details.remain_amount}} {{currency_code}}</h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-7 col-order-summary-width">
                        <div class="padding-30">
                            <div class="panel-heading title-color">
                                <h4 class="panel-title">Payment Summary</h4>
                            </div>
                            <div class="form-group-attached">
                                <div class="form-group form-group-default required" v-bind:class="[errors.total_amount_inclusive_vat ? 'has-error' : '', '']">
                                    <label for="total_amount_inclusive_vat">Total Amount</label>
                                    <input v-model="customer_order_details.total_amount_inclusive_vat" class ="form-control readonly-field-color" placeholder="Total Amount" v-bind:readonly="true">
                                    <form-error v-if="errors.total_amount_inclusive_vat" :errors="errors">
                                        {{ errors.total_amount_inclusive_vat[0] }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default" v-bind:class="[errors.total_item_discount ? 'has-error' : '', '']">
                                    <label for="total_item_discount">Total Discount</label>
                                    <input v-model="customer_order_details.total_item_discount" id="total_item_discount" class ="form-control" placeholder="Total Discount">
                                    <form-error v-if="errors.total_item_discount" :errors="errors">
                                        {{ errors.total_item_discount[0] }}
                                    </form-error>
                                </div>                                
                                <div class="form-group form-group-default" v-bind:class="[errors.coupon_discount_amount ? 'has-error' : '', '']">
                                    <label for="coupon_discount_amount">Coupon Discount Amount</label>
                                    <input  v-model="customer_order_details.coupon_discount_amount" class ="form-control readonly-field-color" placeholder="Coupon Discount Amount" v-bind:readonly="true">
                                    <form-error v-if="errors.coupon_discount_amount" :errors="errors">
                                        {{ errors.coupon_discount_amount[0] }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default required" v-bind:class="[errors.net_amount ? 'has-error' : '', '']">
                                    <label for="net_sum">Net. Sum</label>
                                    <input v-model="customer_order_details.net_amount" class ="form-control readonly-field-color" placeholder="Net. Sum" v-bind:readonly="true">
                                    <form-error v-if="errors.net_amount" :errors="errors">
                                        {{ errors.net_amount[0] }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default" v-bind:class="[errors.advanced_paid ? 'has-error' : '', '']">
                                    <label for="net_sum">Advanced Paid</label>
                                    <input v-model="customer_order_details.advanced_paid" class ="form-control readonly-field-color" placeholder="Advanced Paid" v-bind:readonly="true">
                                        <form-error v-if="errors.advanced_paid" :errors="errors">
                                        {{ errors.advanced_paid[0] }}
                                    </form-error>
                                </div>
                                <!--Start payment-calculation -->
                                <div v-if="sale_paid.payment_method.name == 'Cash'" class="form-group form-group-default"  v-bind:class="[errors['cash_payment_amount'] ? 'has-error' : '', '']" v-for="(sale_paid, index) in customer_order_details.sale_paids"> 
                                    <label for="cash_payment_amount">Cash Payment</label> 
                                    <input v-model="customer_order_details.cash_payment_amount" class ="form-control" placeholder="Cash Payment">
                                    <form-error v-if="errors['cash_payment_amount']" :errors="errors">
                                        {{ errors["cash_payment_amount"][0] }}
                                    </form-error>     
                                </div>   
                                <!--End payment-calculation -->      
                                <!--Start payment-calculation -->
                                <div v-if="sale_paid.payment_method.name == 'Master Card' || sale_paid.payment_method.name == 'Visa Card' || sale_paid.payment_method.name == 'Bkash' || sale_paid.payment_method.name == 'Select Payment Method' " v-for="(sale_paid, index) in customer_order_details.sale_paids">
                                    <div class="form-group form-group-default" v-bind:class="[errors.payment_method_id ? 'has-error' : '', '']" >
                                        <label for="payment_method">Digital Payment Method</label>
                                        <select v-if="sale_paid.payment_method.name != 'Cash'" v-model="customer_order_details.sale_paids[index].payment_method.id" v-on:change="showPaymentMethodMetaField($event)" class ="form-control payment-calculation-digital-payment-input-select cs-select cs-skin-slide cs-transparent form-control">
                                            <option value="">Select Payment Method</option>
                                            <option v-if="company_payment_method.name!='Cash'" v-for="company_payment_method in company_payment_method_lists" v-bind:value="company_payment_method.id">{{ company_payment_method.name }}</option>
                                        </select>                  
                                    </div>         
                                    <!--Start payment_by_card --> 
                                    <div v-if="sale_paid.payment_method.name == 'Master Card' || sale_paid.payment_method.name == 'Visa Card' || sale_paid.payment_method.name == 'Bkash'" class="form-group form-group-default required" v-bind:class="[errors['digital_payment_amount'] ? 'has-error' : '', '']"> 
                                        <label for="cash_payment_amount">Digital Payment</label>          
                                        <input v-model="customer_order_details.digital_payment_amount" class ="form-control" placeholder="Amount">
                                        <form-error v-if="errors['digital_payment_amount']" :errors="errors">
                                            {{ errors["digital_payment_amount"][0] }}
                                        </form-error>
                                    </div> 
                                    <div v-for="(sale_paid_detail, sale_paid_detail_index) in sale_paid.sale_paid_details"> 
                                        <div v-if="sale_paid_detail.meta_data == 'Name On Card'" class="form-group form-group-default required" v-bind:class="[errors['sale_paids.'+index+'.sale_paid_details.'+sale_paid_detail_index+'.value'] ? 'has-error' : '', '']">
                                            <label for="name_on_card">Name On Card</label>
                                            <input v-model="customer_order_details.sale_paids[index].sale_paid_details[sale_paid_detail_index].value" class ="form-control" type="text" placeholder="Name On Card">
                                            <form-error v-if="errors['sale_paids.'+index+'.sale_paid_details.'+sale_paid_detail_index+'.value']" :errors="errors">
                                                {{ errors["sale_paids."+index+".sale_paid_details."+sale_paid_detail_index+".value"][0] }}
                                            </form-error>
                                        </div>          
                                        <div v-if="sale_paid_detail.meta_data == 'Card No'" class="form-group form-group-default required" v-bind:class="[errors['sale_paids.'+index+'.sale_paid_details.'+sale_paid_detail_index+'.value'] ? 'has-error' : '', '']">
                                            <label for="name_on_card">Card No</label>
                                            <input v-model="customer_order_details.sale_paids[index].sale_paid_details[sale_paid_detail_index].value" class ="form-control" type="text" placeholder="Card No">
                                            <form-error v-if="errors['sale_paids.'+index+'.sale_paid_details.'+sale_paid_detail_index+'.value']" :errors="errors">
                                                {{ errors["sale_paids."+index+".sale_paid_details."+sale_paid_detail_index+".value"][0] }}
                                            </form-error>            
                                        </div>
                                        <div v-if="sale_paid_detail.meta_data == 'Account Type'" class="form-group form-group-default required" v-bind:class="[errors['sale_paids.'+index+'.sale_paid_details.'+sale_paid_detail_index+'.value'] ? 'has-error' : '', '']">
                                            <label for="name_on_card">Account Type</label>
                                            <input v-model="customer_order_details.sale_paids[index].sale_paid_details[sale_paid_detail_index].value" class ="form-control" type="text" placeholder="Account Type">          
                                            <form-error v-if="errors['sale_paids.'+index+'.sale_paid_details.'+sale_paid_detail_index+'.value']" :errors="errors">
                                                {{ errors["sale_paids."+index+".sale_paid_details."+sale_paid_detail_index+".value"][0] }}
                                            </form-error>          
                                        </div>
                                        <div v-if="sale_paid_detail.meta_data == 'Received From'" class="form-group form-group-default required" v-bind:class="[errors['sale_paids.'+index+'.sale_paid_details.'+sale_paid_detail_index+'.value'] ? 'has-error' : '', '']">
                                            <label for="name_on_card">Received From</label>
                                            <input v-model="customer_order_details.sale_paids[index].sale_paid_details[sale_paid_detail_index].value" class ="form-control" type="text" placeholder="Received From">
                                            <form-error v-if="errors['sale_paids.'+index+'.sale_paid_details.'+sale_paid_detail_index+'.value']" :errors="errors">
                                                {{ errors["sale_paids."+index+".sale_paid_details."+sale_paid_detail_index+".value"][0] }}
                                            </form-error>
                                        </div>
                                    </div>
                                    <div class="form-validation-error float-right">
                                        <form-error v-if="errors.payment_method_id" :errors="errors">
                                            {{ errors.payment_method_id[0] }}
                                        </form-error>
                                    </div>    
                                </div>
                                <!--End payment-calculation -->
                                <div class="form-group form-group-default required" v-bind:class="[errors.remain_sum ? 'has-error' : '', '']">
                                    <label for="net_sum">Remain Sum</label>
                                    <input v-model="customer_order_details.remain_sum" class ="form-control readonly-field-color" placeholder="Remain Sum" v-bind:readonly="true">
                                        <form-error v-if="errors.remain_sum" :errors="errors">
                                        {{ errors.remain_sum[0] }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default">
                                    <label for="change_amount">Change Amount</label>
                                    <input v-model="customer_order_details.change_amount" class ="form-control readonly-field-color" placeholder="Change Amount" v-bind:readonly="true">
                                </div>
                             </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
                <a  v-on:click="updateCustomerOrderDetail()" class="btn btn-success pull-right">Save</a>
        </div>
        <!--End Order Items Detail -->
    </div>
</template>
<script>
    require('../../plugins/bootstrap-datepicker/js/bootstrap-datepicker.js');
    export default {
        data(){
            return{
                errors: [],
                customer_lists: [],
                invoice_prefix_lists: [],
                vat_lists: [],
                category_lists: [],
                customer_order_status_lists: [],
                country_lists: [],
                company_currency_lists: [],
                company_payment_method_lists: [],
                vat_percent: '00',
                coupon_discount: '',
                advanced_paid: '00',
                paymentMethod: '',
                customer_info: '',
                invoice_prefix: '',
                currency: '',
                currency_code: '',
                payment_histories: '',
                customer_order_details:
                    {
                        out_let_id: null,
                        order_by: null,
                        customer_id: null,
                        order_no: null,
                        order_date: null,
                        expected_delivery_date: null,
                        delivered_date: null,
                        invoice_prefix_id: null,
                        invoice_no: null,
                        company_currency_id: null,
                        total_amount_exclusive_vat: '00',
                        total_vat: '00',
                        total_amount_inclusive_vat: '00',
                        total_item_discount: '00',
                        coupon_code: null,
                        coupon_id: null,
                        coupon_discount_amount: '00',
                        net_amount: '00',
                        total_amount: '00',
                        advanced_paid: '00',
                        total_paid: '00',
                        payment_method_id: null,
                        paid_amount: '00',
                        remain_sum: '00',
                        remain_amount: '00',
                        change_amount: '00',
                        status: null,
                        payment_details:[],
                        payment_by_cash: null,
                        payment_by_card: null,
                        payment_by_bkash: null,
                        customer_order_detail_items:[
                            {
                                id: null,
                                item_description: null,
                                category_id: null,
                                product_id: null,
                                item_quantity: 1,
                                unit_price: '',
                                weight_tola: '',
                                weight_ana: '',
                                weight_rotti: '',
                                weight_milli: '',
                                weight_gram: '',
                                material_price: '',
                                making_charge: '',
                                price_exclusive_vat: '',
                                vat_id: null,
                                vat_amount: '',
                                price_inclusive_vat: '',
                                item_discount_amount: '',
                                status: null,
                            }
                        ],
                        remove_customer_order_detail_items: [],
                    },
               }
        },
        props: ['customer_order_detail_id'],
        async mounted() {
            let that = this;            
            await that.getAdvancedPaid();
            await that.getCompanyPaymentMethodLists(); 
            await that.getSalePaidDetail(); 
            that.getCustomerOrderDetail();
        },
        computed:{
            material_price: function(){
                let that = this;
                $.each(that.customer_order_details.customer_order_detail_items,function(index,item_detail){
                    var price_tola = that.customer_order_details.customer_order_detail_items[index].unit_price * that.customer_order_details.customer_order_detail_items[index].weight_tola;
                    var price_per_ana = that.customer_order_details.customer_order_detail_items[index].unit_price / 16;
                    var price_per_rotti = that.customer_order_details.customer_order_detail_items[index].unit_price / 96;
                    var price_per_milli = price_per_rotti / 10;
                    var price_ana = price_per_ana * that.customer_order_details.customer_order_detail_items[index].weight_ana;
                    var price_rotti = price_per_rotti * that.customer_order_details.customer_order_detail_items[index].weight_rotti;
                    var price_milli = price_per_milli * that.customer_order_details.customer_order_detail_items[index].weight_milli;
                    that.customer_order_details.customer_order_detail_items[index].material_price = price_tola + price_ana + price_rotti + price_milli;
                })
            },
            price_exclusive_vat: function(){
                let that = this;
                var total_amount_exclusive_vat = '00';
                that.customer_order_details.total_amount_exclusive_vat = '00';
                $.each(that.customer_order_details.customer_order_detail_items,function(index,item_detail){
                    if(that.customer_order_details.customer_order_detail_items[index].making_charge){
                        that.customer_order_details.customer_order_detail_items[index].price_exclusive_vat = parseFloat(that.customer_order_details.customer_order_detail_items[index].material_price) + parseFloat( that.customer_order_details.customer_order_detail_items[index].making_charge );
                    }else{
                        that.customer_order_details.customer_order_detail_items[index].price_exclusive_vat = parseFloat(that.customer_order_details.customer_order_detail_items[index].material_price);
                    }
                    that.customer_order_details.total_amount_exclusive_vat = parseFloat( that.customer_order_details.total_amount_exclusive_vat ) + parseFloat( that.customer_order_details.customer_order_detail_items[index].price_exclusive_vat );
                    console.log(" price_exclusive_vat : " + that.customer_order_details.customer_order_detail_items[index].price_exclusive_vat);
                })
            },
            price_inclusive_vat: function(){
                let that = this;
                $.each(that.customer_order_details.customer_order_detail_items,function(index,item_detail){
                    if(that.customer_order_details.customer_order_detail_items[index].vat_amount){
                        that.customer_order_details.customer_order_detail_items[index].price_inclusive_vat = that.customer_order_details.customer_order_detail_items[index].item_total_amount = parseFloat(that.customer_order_details.customer_order_detail_items[index].price_exclusive_vat) + parseFloat( that.customer_order_details.customer_order_detail_items[index].vat_amount );
                    }else{
                        that.customer_order_details.customer_order_detail_items[index].price_inclusive_vat = that.customer_order_details.customer_order_detail_items[index].item_total_amount = parseFloat(that.customer_order_details.customer_order_detail_items[index].price_exclusive_vat);
                    }
                })
            },
            total_amount_inclusive_vat: function(){
                let that = this;
                var total_amount_inclusive_vat = '00';
                $.each(that.customer_order_details.customer_order_detail_items,function(index,item_detail){
                    if( that.customer_order_details.customer_order_detail_items[index].price_inclusive_vat ){
                        total_amount_inclusive_vat = parseFloat( total_amount_inclusive_vat ) + parseFloat(that.customer_order_details.customer_order_detail_items[index].price_inclusive_vat);
                    }else{
                        total_amount_inclusive_vat = parseFloat( total_amount_inclusive_vat );
                    }
                })
                that.customer_order_details.total_amount_inclusive_vat = total_amount_inclusive_vat;
            },
            total_item_discount: function(){
                let that = this;
                var total_item_discount = '00';
                $.each(that.customer_order_details.customer_order_detail_items,function(index,item_detail){
                    if(that.customer_order_details.customer_order_detail_items[index].item_discount_amount){
                        total_item_discount = parseFloat(total_item_discount) + parseFloat(that.customer_order_details.customer_order_detail_items[index].item_discount_amount);
                    }else{
                        total_item_discount = parseFloat(total_item_discount);
                    }
                })
                that.customer_order_details.total_item_discount = total_item_discount;
            },
            /*
             vat_amount: function(){
                 let that = this;
                 var total_vat = '00';
                 $.each(that.customer_order_details.customer_order_detail_items,function(index,item_detail){
                     that.customer_order_details.customer_order_detail_items[index].vat_amount = (that.customer_order_details.customer_order_detail_items[index].vat_percent / 100) * that.customer_order_details.customer_order_detail_items[index].price_exclusive_vat;
                     if(that.customer_order_details.customer_order_detail_items[index].vat_amount){
                        total_vat = parseFloat(total_vat) + parseFloat(that.customer_order_details.customer_order_detail_items[index].vat_amount);
                     }
                 })
                 that.customer_order_details.total_vat = total_vat;
             },*/
            item_discount_amount: function(){
                let that = this;
                $.each(that.customer_order_details.customer_order_detail_items,function(index,item_detail){
                    that.customer_order_details.customer_order_detail_items[index].item_discount_amount = that.customer_order_details.customer_order_detail_items[index].item_discount_amount ? that.customer_order_details.customer_order_detail_items[index].item_discount_amount : '00';
                    that.customer_order_details.customer_order_detail_items[index].item_total_amount =  parseFloat(that.customer_order_details.customer_order_detail_items[index].price_inclusive_vat) - parseFloat( that.customer_order_details.customer_order_detail_items[index].item_discount_amount );
                })
            },
            coupon_discount_amount: function(){
                let that = this;
                if( that.customer_order_details.coupon_code != null ){
                    //that.applyCouponCode(); // Uncomment this later
                }
                $.each(that.customer_order_details.customer_order_detail_items,function(index,item_detail){
                    // that.customer_order_details.customer_order_detail_items[index].coupon_discount_amount = that.customer_order_details.customer_order_detail_items[index].coupon_discount_amount ? that.customer_order_details.customer_order_detail_items[index].coupon_discount_amount : '00';
                    // that.customer_order_details.customer_order_detail_items[index].item_total_amount =  parseFloat(that.customer_order_details.customer_order_detail_items[index].price_inclusive_vat) - parseFloat( that.customer_order_details.customer_order_detail_items[index].coupon_discount_amount );
                    that.customer_order_details.customer_order_detail_items[index].item_total_amount =  parseFloat(that.customer_order_details.customer_order_detail_items[index].price_inclusive_vat);
                })
            },
            net_amount: function(){
                let that = this;
                that.customer_order_details.net_amount = Math.round( parseFloat( that.customer_order_details.total_amount_inclusive_vat ) - ( parseFloat( that.customer_order_details.total_item_discount ) + parseFloat( that.customer_order_details.coupon_discount_amount ) ));
                that.customer_order_details.total_amount = that.customer_order_details.net_amount.toLocaleString();
            },
            paid_amount: function(){

            },
            remain_sum: function(){                
                let that = this;
                var digital_payment_amount = 0;
                if(that.customer_order_details.digital_payment_amount){
                  digital_payment_amount = parseFloat( that.customer_order_details.digital_payment_amount );
                }
                var cash_payment_amount = 0;
                if(that.customer_order_details.cash_payment_amount){
                  cash_payment_amount = parseFloat( that.customer_order_details.cash_payment_amount );
                }
                console.log("There I'm");
                that.customer_order_details.remain_sum = that.customer_order_details.remain_amount = Math.max(0,Math.round( parseFloat( that.customer_order_details.net_amount ) - ( that.advanced_paid + parseFloat( cash_payment_amount ) + parseFloat( digital_payment_amount ) ) ));
            },
            change_amount: function(){
              let that = this;
              var digital_payment_amount = 0;
              if(that.customer_order_details.digital_payment_amount){
                digital_payment_amount = parseFloat( that.customer_order_details.digital_payment_amount );
              }
              var cash_payment_amount = 0;
              if(that.customer_order_details.cash_payment_amount){
                cash_payment_amount = parseFloat( that.customer_order_details.cash_payment_amount );
              }
              that.customer_order_details.change_amount = Math.max(0,Math.round( that.advanced_paid + ( parseFloat( cash_payment_amount ) + parseFloat( digital_payment_amount ) ) - parseFloat( that.customer_order_details.net_amount )));
              if(!that.customer_order_details.change_amount){
                  that.customer_order_details.change_amount = 0;
              }
            },
        },
        watch:{
            material_price: function(){
                let that = this;
                $.each(that.customer_order_details.customer_order_detail_items,function(index,item_detail){
                    console.log('Material Price Changed...');
                })
            },
            price_exclusive_vat: function(){
                console.log('Price Exclusive Vat Changed...');
            },
            price_inclusive_vat: function(){
                console.log('Price Inclusive Vat Changed...');
            },
            total_amount_inclusive_vat: function(){
                console.log('Total Amount Inclusive Vat Changed...');
            },
            coupon_discount_amount: function(){
                console.log('Coupon Discount Amount Changed...');
            },
            order_discount_amount: function(){
                console.log('Order Discount Amount Changed...');
            },
            total_item_discount: function(){
                console.log('Total Discount Amount Changed...');
            },
            vat_amount: function(){
                console.log('Vat Amount Changed...');
            },
            net_amount: function(){
                console.log('Net. Amount Changed...');
            },
            advanced_paid: function(){
                console.log('Advanced Paid Changed...');
            },
            paid_amount: function(){
                console.log('Paid Amount Changed...');
            },
            remain_sum: function(){
                console.log('Remain Sum Changed...');
            },
            change_amount: function(){
                console.log('Change Amount Changed...');
            },
        },
        methods: {
            getCompanyPaymentMethodLists: function(){
                let that = this;
                return axios.get('/api/payment_method/get_company_payment_method')
                    .then((response) => {
                    that.company_payment_method_lists = response.data;
                    /* Generate sale_paids object */
                    if(that.company_payment_method_lists){
                      var cash_payment_method_id = that.company_payment_method_lists.filter(function (payment_method) {
                            return payment_method.name == "Cash";
                      });
                        /* For Cash Payment*/                      
                        that.customer_order_details.cash_payment_method_id = cash_payment_method_id[0].id;                        
                    } 
                })
                .catch(function (error) {
                    that.errors = error;
                });
            },
            getSalePaidDetail: function(){                
                let that = this;
                axios.post('/api/sale_paids/get_sale_paid_history', {
                    sale_id: that.sale_id,
                    cash_payment_method_id: that.customer_order_details.cash_payment_method_id
                })
                .then(function (sale_paid) {
                    that.sale_paid_history = sale_paid.data;
                })
                .catch(function (error) {
                    that.errors = error;
                });                
            },
            getAdvancedPaid: function(){
                let that = this;
                return axios.post('/api/customer_order_detail_paids/get_customer_order_detail_paids_data', {
                customer_order_detail_id: that.customer_order_detail_id,
                })
                .then(function (total_paid) {
                    that.advanced_paid = total_paid.data;
                })
                .catch(function (error) {
                    that.errors = error;
                });
            },
            getCustomerOrderDetail: function(){
                let that = this;
                axios.post('/api/customer_order_detail/get_customer_order_detail',{
                    customer_order_detail_id: that.customer_order_detail_id,
                    cash_payment_method_id: that.customer_order_details.cash_payment_method_id
                })
                .then(function (response) {
                    that.customer_order_details = response.data;
                    that.customer_order_details.remove_customer_order_detail_items =  [];
                    that.customer_order_details.advanced_paid = that.advanced_paid;
                    that.customer_order_details.total_paid = that.advanced_paid.toLocaleString();
                    that.customer_order_details.remain_sum = that.customer_order_details.net_amount - that.advanced_paid;
                    that.customer_order_details.change_amount = Math.max(0,that.advanced_paid - that.customer_order_details.net_amount);
                    // Start Payment history
                    if( that.customer_order_detail_id ){
                        axios.post('/api/customer_order_detail_paids/get_customer_order_detail_paid_history', {
                            customer_order_detail_id: that.customer_order_detail_id
                        })
                        .then(function (response) {
                            that.payment_histories = response.data;
                        })
                        .catch(function (error) {
                            that.errors = error;
                        });
                    } // End Payment history
                    // Start Customer Information
                    if( that.customer_order_details.customer_id ){
                        axios.post('/api/customer/get_customer_data', {
                            customer_id: that.customer_order_details.customer_id
                        })
                        .then(function (response) {
                            that.customer_info = response.data.first_name + " " + response.data.last_name+ "( " +response.data.customer_no+" )";
                        })
                        .catch(function (error) {
                            that.errors = error;
                        });
                    } // End Customer Information
                    // Start Invoice Prefix Information
                    if( that.customer_order_details.invoice_prefix_id ){
                        axios.post('/api/invoice_prefix/get_invoice_prefix_data', {
                            invoice_prefix_id: that.customer_order_details.invoice_prefix_id
                        })
                        .then(function (response) {
                            that.invoice_prefix = response.data.name;
                        })
                        .catch(function (error) {
                            that.errors = error;
                        });
                    } // End Invoice Prefix Information
                    // Start Currency Information
                    if( that.customer_order_details.company_currency_id ){
                        axios.post('/api/company_currency_details/get_company_currency_details', {
                            company_currency_id: that.customer_order_details.company_currency_id
                        })
                        .then(function (response) {
                            that.currency = response.data.data.name;
                            that.currency_code = response.data.data.code;
                        })
                        .catch(function (error) {
                            that.errors = error;
                        });
                    } // End Currency Information
                })
                .catch(function (error) {
                    that.errors = error;
                });
            },
            showPaymentMethodMetaField: function(event){ 
              let that = this; 
              that.errors = ""; 
              that.customer_order_details.digital_payment_amount = '';
              that.customer_order_details.paymentMethod = event.target.options[event.target.selectedIndex].text;
              if(!$.isEmptyObject(that.customer_order_details.sale_paids)){      
                  $.each(that.customer_order_details.sale_paids,function(index,sale_paid){
                    if(sale_paid.payment_method.name !="Cash"){
                      delete that.customer_order_details.sale_paids[index].created_at; 
                      delete that.customer_order_details.sale_paids[index].deleted_at;                      
                      delete that.customer_order_details.sale_paids[index].paid_date;
                      that.customer_order_details.sale_paids[index].payment_method.name = that.customer_order_details.paymentMethod; 
                      that.customer_order_details.sale_paids[index].id = null;
                      if(sale_paid.sale_paid_details){   
                        if(that.customer_order_details.paymentMethod == "Master Card" || that.customer_order_details.paymentMethod == "Visa Card"){
                          that.customer_order_details.sale_paids[index].sale_paid_details[0].meta_data = 'Name On Card';
                          that.customer_order_details.sale_paids[index].sale_paid_details[0].value = ''; 
                          that.customer_order_details.sale_paids[index].sale_paid_details[1].meta_data = 'Card No';
                          that.customer_order_details.sale_paids[index].sale_paid_details[1].value = ''; 
                        }
                        else if(that.customer_order_details.paymentMethod == "Bkash"){
                          that.customer_order_details.sale_paids[index].sale_paid_details[0].meta_data = 'Account Type';
                          that.customer_order_details.sale_paids[index].sale_paid_details[0].value = ''; 
                          that.customer_order_details.sale_paids[index].sale_paid_details[1].meta_data = 'Received From';
                          that.customer_order_details.sale_paids[index].sale_paid_details[1].value = ''; 
                        }
                        else if(that.customer_order_details.paymentMethod =="Select Payment Method"){
                          delete that.customer_order_details.digital_payment_amount;
                          that.customer_order_details.sale_paids[index].paid_amount = parseInt(0);
                          that.customer_order_details.sale_paids[index].sale_paid_details[0].meta_data = '';
                          that.customer_order_details.sale_paids[index].sale_paid_details[0].value = ''; 
                          that.customer_order_details.sale_paids[index].sale_paid_details[1].meta_data = '';
                          that.customer_order_details.sale_paids[index].sale_paid_details[1].value = ''; 
                        }
                      }
                    }
                  })
              } 
            },            
            removeThisPayment: function(paid_id){
                let that = this;                
                axios.put('/api/customer_order_detail_paids/remove_customer_order_detail_paid', {
                    paid_id: paid_id
                })
                .then(function (response) {
                    console.log("response Here: "+response.data);
                        window.location.reload();
                    })
                    .catch(function (error) {
                        that.errors = error.response.data.errors;
                        console.log("Error Here: "+error.response.data);
                    });
                }
            },
            updateCustomerOrderDetail: function(){
                let that = this;                
                axios.put('/api/customer_order_detail/update_customer_order_detail', that.customer_order_details)
                .then(function (response) {
                    console.log("response Here: "+response.data);
                        var route_url =  window.location.origin+"/frontend/customer_order_detail/"+that.customer_order_detail_id+"/get_paid_details";
                        window.location.href = route_url;
                    })
                    .catch(function (error) {
                        that.errors = error.response.data.errors;
                        console.log("Error Here: "+error.response.data);
                    });
                }
            }
</script>

