<template>
    <div class="">
        <!--Start Customer Create -->
        <div class="row row-same-height">
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Customer Info</h4>
                </div>
                <div class="panel-body">
                    <div class="col-md-7 col-div-width">
                        <div class="padding-30">
                            <div class="form-group-attached">
                                <div class="form-group form-group-default required">
                                    <label for="customer_no">Customer No</label>
                                    <input v-model="customer_data.customer_no" class ="form-control" placeholder="Customer No">
                                </div>
                                <div class="form-group form-group-default required">
                                    <label for="first_name">First Name</label>
                                    <input v-model="customer_data.first_name" class ="form-control" placeholder="First name">
                                </div>
                                <div class="form-group form-group-default required">
                                    <label for="last_name">Last Name</label>
                                    <input v-model="customer_data.last_name" class ="form-control" placeholder="Last name">
                                </div>
                                <div class="form-group form-group-default required">
                                    <label for="gender">Gender</label>
                                    <select v-model="customer_data.gender_id" class="cs-select cs-skin-slide cs-transparent form-control">
                                        <option value="">Select Gender</option>
                                        <option v-for="gender in gender_lists" v-bind:value="gender.id">{{ gender.name }}</option>
                                    </select>
                                </div>
                                <div class="form-group form-group-default">
                                    <label for="cell_phone">Mobile No</label>
                                    <input v-model="customer_data.cell_phone" class ="form-control" placeholder="Cell phone">
                                </div>
                                <div class="form-group form-group-default">
                                    <label for="work_phone">Work phone</label>
                                    <input v-model="customer_data.work_phone" class ="form-control" placeholder="Work phone">
                                </div>
                                <div class="form-group form-group-default">
                                    <label for="email">Email</label>
                                    <input v-model="customer_data.email" class ="form-control" placeholder="Email">
                                </div>
                                <div class="form-group form-group-default">
                                    <label for="date_of_birth">Date of birth</label>
                                    <input v-model.lazy="customer_data.date_of_birth" id="date_of_birth" class ="form-control" placeholder="Select Date">
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="col-md-7 col-div-width">
                        <div class="padding-30">
                            <div class="form-group-attached">
                                <div class="form-group form-group-default required">
                                    <label for="address">Address</label>
                                    <input v-model="customer_data.address" class ="form-control" placeholder="Address">
                                </div>
                                <div class="form-group form-group-default">
                                    <label for="address2">Address2</label>
                                    <input v-model="customer_data.address2" class ="form-control" placeholder="Address2">
                                </div>
                                <div class="form-group form-group-default required">
                                    <label for="city">City</label>
                                    <input v-model="customer_data.city" class ="form-control" placeholder="City">
                                </div>
                                <div class="form-group form-group-default">
                                    <label for="zip">Zip</label>
                                    <input v-model="customer_data.zip" class ="form-control" placeholder="Zip">
                                </div>
                                <div class="form-group form-group-default required">
                                    <label for="gender">Country</label>
                                    <select v-model="customer_data.country_id" class="cs-select cs-skin-slide cs-transparent form-control">
                                        <option value="">Select Country</option>
                                        <option v-for="country in country_lists" v-bind:value="country.id">{{ country.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
                <a  v-on:click="saveSustomer()" class="btn btn-success pull-right">Save</a>
        </div>
        <!--End Customer Create -->
    </div>
</template>

<script>
    require('../../plugins/bootstrap-datepicker/js/bootstrap-datepicker.js');

    export default {
        data(){

            return{
                customer_no : null,
                first_name : null,
                last_name : null,
                gender_id : null,
                cell_phone : null,
                work_phone : null,
                email : null,
                date_of_birth : '0000-00-00',
                address : null,
                address2 : null,
                city : null,
                zip : null,
                country_id : null,
                gender_lists: [],
                country_lists: [],
                customer_data: [],
                customer_info: [],
                customer_info_return: [],
            }
        },

        props: ['created_by_out_let_id'],

        mounted() {
            let that = this;
            this.getGenderLists();
            this.getCountryLists();
            $(function() {
                "use strict";
                $('#date_of_birth').datepicker({
                    format: 'yyyy-mm-dd'
                }).change(function() {
                    that.customer_data.date_of_birth = $('#date_of_birth').val();
                });
            });

        },

        computed:{
            total_sales: function () {
                return this.cash_sales + this.credit_card_sales;
            },
        },

        watch:{
//            date: function(val){
//                alert(val);
//                this.date_change(val);
//            }
        },

        methods: {
            date_change: function(val){
//                alert(val);
            },
            getGenderLists: function(){
                let that = this;
                axios.get('/api/gender_lists/get_gender_lists')
                    .then(function (response) {
                        that.gender_lists = response.data;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            getCountryLists: function(){
                let that = this;
                axios.get('/api/country_lists/get_country_lists')
                    .then(function (response) {
                        that.country_lists = response.data;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            saveSustomer: function(){
                let that = this
                if( that.customer_no === '' ){
                    alert("Customer no can't be empty");
                    return false;
                }
                else if( that.first_name === '' ){
                    alert("First name can't be empty");
                    return false;
                }
                else if( that.last_name === '' ){
                    alert("Last name can't be empty");
                    return false;
                }
                else if( that.gender_id === '' ){
                    alert("Gender can't be empty");
                    return false;
                }
                else if( that.address === '' ){
                    alert("Address can't be empty");
                    return false;
                }
                else if( that.city === '' ){
                    alert("City can't be empty");
                    return false;
                }
                else if( that.country_id === '' ){
                    alert("Country can't be empty");
                    return false;
                }

                that.customer_info = [];

                that.customer_info = [{
                    customer_no:that.customer_data.customer_no, gender_id:that.customer_data.gender_id, country_id:that.customer_data.country_id, first_name:that.customer_data.first_name,
                    last_name:that.customer_data.last_name, cell_phone:that.customer_data.cell_phone, work_phone:that.customer_data.work_phone, email:that.customer_data.email,
                    date_of_birth:that.customer_data.date_of_birth, address:that.customer_data.address, address2:that.customer_data.address2, city:that.customer_data.city, zip:that.customer_data.zip,
                    created_by_out_let_id:that.created_by_out_let_id,
                }];

                var form = new FormData();

                form.append('customer_info',JSON.stringify(that.customer_info));

                axios.post('/api/customer/save_customer', form)
                    .then(function (response) {
                        if( response.data.success ){
                            alert( response.data.success )
                            that.customer_info_return = response.data.success;
                            that.customer_data = [];
                        }else{
                            alert( response.data.error )
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        }
    }
</script>

