<template>
    <div class="">
        <!--Start Customer Order Info -->
        <div class="row row-same-height">
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Customer Order Info</h4>
                </div>
                <div class="panel-body">
                    <div class="col-md-7 col-div-full">
                        <div class="padding-30">
                            <div class="form-group-attached">
                                <div class="row clearfix">
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default required" v-bind:class="[errors.customer_id ? 'has-error' : '', '']">
                                            <label for="customer_no">Customer</label>
                                            <select v-model="customer_order_details.customer_id" v-on:change="applyCouponCodeForChanges()" class="cs-select cs-skin-slide cs-transparent form-control">
                                                <option value="">Select Customer</option>
                                                <option v-for="customer in customer_lists" v-bind:value="customer.id">{{ customer.first_name }} {{ customer.last_name }}( {{ customer.customer_no }} )</option>
                                            </select>
                                            <form-error v-if="errors.customer_id" :errors="errors">
                                                {{ errors.customer_id[0] }}
                                            </form-error>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default required" v-bind:class="[errors.order_date ? 'has-error' : '', '']">
                                            <label for="order_date">Order Date</label>
                                            <input v-model.lazy="customer_order_details.order_date" id="order_date" class ="form-control" placeholder="Select Date">
                                            <form-error v-if="errors.order_date" :errors="errors">
                                                {{ errors.order_date[0] }}
                                            </form-error>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-div-33">
                                         <div class="form-group form-group-default required" v-bind:class="[errors.expected_delivery_date ? 'has-error' : '', '']">
                                            <label for="expected_delivery_date">Expected Delivery Date</label>
                                            <input v-model.lazy="customer_order_details.expected_delivery_date" id="expected_delivery_date" class ="form-control" placeholder="Select Date">
                                            <form-error v-if="errors.expected_delivery_date" :errors="errors">
                                                {{ errors.expected_delivery_date[0] }}
                                            </form-error>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default">
                                            <label for="city">Invoice Prefix</label>
                                            <select v-model="customer_order_details.invoice_prefix_id" class="cs-select cs-skin-slide cs-transparent form-control">
                                                <option value="">Select Invoice Prefix</option>
                                                <option v-for="invoice_prefix in invoice_prefix_lists" v-bind:value="invoice_prefix.id">{{ invoice_prefix.name }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default float-left required" v-bind:class="[errors.company_currency_id ? 'has-error' : '', '']">
                                            <label for="value">Payment Currency</label>
                                            <select v-model="customer_order_details.company_currency_id" v-on:change="applyCouponCodeForChanges()" class="cs-select cs-skin-slide cs-transparent form-control">
                                                <option v-for="company_currency in company_currency_lists" v-bind:value="company_currency.id">{{ company_currency.name }}( {{ company_currency.code }} )</option>
                                            </select>                                            
                                            <form-error v-if="errors.company_currency_id" :errors="errors">
                                                {{ errors.company_currency_id[0] }}
                                            </form-error>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-div-33">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Customer Order Info -->
        <!--Start Order Items Detail -->
        <div class="row row-same-height">
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Order Items Detail</h4>
                </div>
                <div class="panel-body">
                    <div class="col-md-7 col-order-details-width">
                        <div>
                          <button class="button btn-primary" v-on:click="addRow">Add row</button>
                        </div>
                        <div class="padding-30" v-for="(item_detail, index) in customer_order_details.customer_order_detail_items">
                            <div class="customer-order-detail-items-first">
                                <div class="form-group form-group-default required item_details float-left" v-bind:class="[errors['customer_order_detail_items.'+index+'.item_description'] ? 'has-error' : '', '']">
                                    <label for="item_description">Item Description</label>
                                    <input class ="form-control" type="text" v-model="customer_order_details.customer_order_detail_items[index].item_description" placeholder="Item Description">
                                    <form-error v-if="errors['customer_order_detail_items.'+index+'.item_description']" :errors="errors">
                                        {{ errors["customer_order_detail_items."+index+".item_description"][0] }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default required general_field float-left" v-bind:class="[errors['customer_order_detail_items.'+index+'.category_id'] ? 'has-error' : '', '']">
                                    <label for="category">Category</label>
                                    <select v-model="customer_order_details.customer_order_detail_items[index].category_id" v-on:change="applyCouponCodeForChanges()" class="cs-select cs-skin-slide cs-transparent form-control">
                                        <option value="">Select Category</option>
                                        <option v-for="category in categories" v-bind:value="category.id">{{ category.name }}</option>
                                    </select>
                                    <form-error v-if="errors['customer_order_detail_items.'+index+'.category_id']" :errors="errors">
                                        {{ errors["customer_order_detail_items."+index+".category_id"][0]  }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default required general_field float-left" v-bind:class="[errors['customer_order_detail_items.'+index+'.unit_price'] ? 'has-error' : '', '']">
                                    <label for="unit_price">Unit Price</label>
                                    <input class ="form-control" type="text" v-model="customer_order_details.customer_order_detail_items[index].unit_price" placeholder="Unit Price">
                                    <form-error v-if="errors['customer_order_detail_items.'+index+'.unit_price']" :errors="errors">
                                        {{ errors["customer_order_detail_items."+index+".unit_price"][0]  }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default general_field float-left" v-bind:class="[errors['customer_order_detail_items.'+index+'.weight_tola'] ? 'has-error' : '', '']">
                                    <label for="weight_tola">Tola</label>
                                    <input class ="form-control" type="text" v-model="customer_order_details.customer_order_detail_items[index].weight_tola" placeholder="Weight Tola">
                                    <form-error v-if="errors['customer_order_detail_items.'+index+'.weight_tola']" :errors="errors">
                                        {{ errors["customer_order_detail_items."+index+".weight_tola"][0]  }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default general_field float-left" v-bind:class="[errors['customer_order_detail_items.'+index+'.weight_ana'] ? 'has-error' : '', '']">
                                    <label for="weight_ana">Ana</label>
                                    <input class ="form-control" type="text" v-model="customer_order_details.customer_order_detail_items[index].weight_ana" placeholder="Weight Ana">
                                    <form-error v-if="errors['customer_order_detail_items.'+index+'.weight_ana']" :errors="errors">
                                        {{ errors["customer_order_detail_items."+index+".weight_ana"][0]  }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default general_field float-left" v-bind:class="[errors['customer_order_detail_items.'+index+'.weight_rotti'] ? 'has-error' : '', '']">
                                    <label for="weight_rotti">Rotti</label>
                                    <input class ="form-control" type="text" v-model="customer_order_details.customer_order_detail_items[index].weight_rotti" placeholder="Weight Rotti">
                                     <form-error v-if="errors['customer_order_detail_items.'+index+'.weight_rotti']" :errors="errors">
                                        {{ errors["customer_order_detail_items."+index+".weight_rotti"][0]  }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default general_field float-left" v-bind:class="[errors['customer_order_detail_items.'+index+'.weight_milli'] ? 'has-error' : '', '']">
                                    <label for="weight_milli">Milli</label>
                                    <input class ="form-control" type="text" v-model="customer_order_details.customer_order_detail_items[index].weight_milli" placeholder="Weight Rotti">
                                    <form-error v-if="errors['customer_order_detail_items.'+index+'.weight_milli']" :errors="errors">
                                        {{ errors["customer_order_detail_items."+index+".weight_milli"][0]  }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default required general_field float-left" v-bind:class="[errors['customer_order_detail_items.'+index+'.material_price'] ? 'has-error' : '', '']">
                                    <label for="material_price">Mat.Price</label>
                                    <input class ="form-control readonly-field-color" type="text" v-model="customer_order_details.customer_order_detail_items[index].material_price" placeholder="Material Price" v-bind:readonly="true">
                                    <form-error v-if="errors['customer_order_detail_items.'+index+'.material_price']" :errors="errors">
                                        {{ errors["customer_order_detail_items."+index+".material_price"][0]  }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default required general_field float-left" v-bind:class="[errors['customer_order_detail_items.'+index+'.making_charge'] ? 'has-error' : '', '']">
                                    <label for="making_charge">Mak.Charge</label>
                                    <input class ="form-control" type="text" v-model="customer_order_details.customer_order_detail_items[index].making_charge" placeholder="Making Charge">
                                    <form-error v-if="errors['customer_order_detail_items.'+index+'.making_charge']" :errors="errors">
                                        {{ errors["customer_order_detail_items."+index+".making_charge"][0]  }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default required general_field float-left" v-bind:class="[errors['customer_order_detail_items.'+index+'.price_exclusive_vat'] ? 'has-error' : '', '']">
                                    <label for="price_exclusive_vat">Price Exc.Vat</label>
                                    <input class ="form-control readonly-field-color" type="text" v-model="customer_order_details.customer_order_detail_items[index].price_exclusive_vat" placeholder="Price Exclusive Vat" v-bind:readonly="true">
                                    <form-error v-if="errors['customer_order_detail_items.'+index+'.price_exclusive_vat']" :errors="errors">
                                        {{ errors["customer_order_detail_items."+index+".price_exclusive_vat"][0]  }}
                                    </form-error>
                                </div>
                            </div>
                            <div class="customer-order-detail-items-second">
                                <div class="form-group form-group-default general_field float-left">
                                    <label for="vat">Vat</label>
                                    <select v-on:change="getVatAmount( customer_order_details.customer_order_detail_items[index].vat_id, index )" v-model="customer_order_details.customer_order_detail_items[index].vat_id" class="cs-select cs-skin-slide cs-transparent form-control">
                                        <option value="">Select Vat</option>
                                        <option v-for="vat in vat_lists" v-bind:value="vat.id">{{ vat.name }}( {{ vat.percent }} % )</option>
                                    </select>
                                </div>
                                <div class="form-group form-group-default required general_field float-left" v-bind:class="[errors['customer_order_detail_items.'+index+'.price_inclusive_vat'] ? 'has-error' : '', '']">
                                    <label for="price_inclusive_vat">Price Inc.Vat</label>
                                    <input class ="form-control readonly-field-color" type="text" v-model="customer_order_details.customer_order_detail_items[index].price_inclusive_vat" placeholder="Price Inclusive Vat" v-bind:readonly="true">
                                    <form-error v-if="errors['customer_order_detail_items.'+index+'.price_inclusive_vat']" :errors="errors">
                                        {{ errors["customer_order_detail_items."+index+".price_inclusive_vat"][0]  }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default general_field float-left" v-bind:class="[errors['customer_order_detail_items.'+index+'.item_discount_amount'] ? 'has-error' : '', '']">
                                    <label for="item_discount_amount">Discount</label>
                                    <input class ="form-control" type="text" v-model="customer_order_details.customer_order_detail_items[index].item_discount_amount" placeholder="Discount">
                                    <form-error v-if="errors['customer_order_detail_items.'+index+'.item_discount_amount']" :errors="errors">
                                        {{ errors["customer_order_detail_items."+index+".item_discount_amount"][0]  }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default required general_field float-left" v-bind:class="[errors['customer_order_detail_items.'+index+'.status'] ? 'has-error' : '', '']">
                                    <label for="category">Item Status</label>
                                    <select v-model="customer_order_details.customer_order_detail_items[index].status" class="cs-select cs-skin-slide cs-transparent form-control">
                                        <option value="">Select Item Status</option>
                                        <option v-for="customer_order_status in customer_order_status_lists" v-bind:value="customer_order_status.slug">{{ customer_order_status.name }}</option>
                                    </select>
                                    <form-error v-if="errors['customer_order_detail_items.'+index+'.status']" :errors="errors">
                                        {{ errors["customer_order_detail_items."+index+".status"][0]  }}
                                    </form-error>
                                </div>
                            </div>
                            <td><a v-on:click="removeRow(index)">Remove</a></td>
                            <br>
                        </div>
                    </div>
                    <div class="col-md-7 col-order-summary-width">
                        <div class="padding-30">
                            <div class="panel-heading title-color">
                                <h4 class="panel-title">Payment Summary</h4>
                            </div>
                            <div class="form-group-attached">
                                <div class="form-group form-group-default required" v-bind:class="[errors.total_amount_inclusive_vat ? 'has-error' : '', '']">
                                    <label for="total_amount_inclusive_vat">Total Amount</label>
                                    <input v-model="customer_order_details.total_amount_inclusive_vat" class ="form-control readonly-field-color" placeholder="Total Amount" v-bind:readonly="true">
                                    <form-error v-if="errors.total_amount_inclusive_vat" :errors="errors">
                                        {{ errors.total_amount_inclusive_vat[0] }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default" v-bind:class="[errors.total_item_discount ? 'has-error' : '', '']">
                                    <label for="total_discount">Total Discount</label>
                                    <input v-model="customer_order_details.total_item_discount" id="order_date" class ="form-control" placeholder="Total Discount">
                                    <form-error v-if="errors.total_item_discount" :errors="errors">
                                        {{ errors.total_item_discount[0] }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default">
                                    <label for="coupon_code">Coupon Code</label>
                                    <input v-model="customer_order_details.coupon_code" id="expected_delivery_date" class ="form-control" placeholder="Coupon Code">
                                </div>
                                <div class="form-group form-group-default">
                                    <a  v-on:click="applyCouponCode()" class="btn btn-success pull-right coupon-apply-button">Apply Coupon</a>
                                </div>
                                <div class="form-group form-group-default" v-bind:class="[errors.coupon_discount_amount ? 'has-error' : '', '']">
                                    <label for="coupon_discount_amount">Coupon Discount Amount</label>
                                    <input  v-model="customer_order_details.coupon_discount_amount" class ="form-control readonly-field-color" placeholder="Coupon Discount Amount" v-bind:readonly="true">
                                    <form-error v-if="errors.coupon_discount_amount" :errors="errors">
                                        {{ errors.coupon_discount_amount[0] }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default required" v-bind:class="[errors.net_amount ? 'has-error' : '', '']">
                                    <label for="net_sum">Net. Sum</label>
                                    <input v-model="customer_order_details.net_amount" class ="form-control readonly-field-color" placeholder="Net. Sum" v-bind:readonly="true">
                                    <form-error v-if="errors.net_amount" :errors="errors">
                                        {{ errors.net_amount[0] }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default" v-bind:class="[errors.paid_amount ? 'has-error' : '', '']">
                                    <label for="net_sum">Now Pay</label>
                                    <input v-model="customer_order_details.paid_amount" class ="form-control" placeholder="Now Pay">
                                    <form-error v-if="errors.paid_amount" :errors="errors">
                                        {{ errors.paid_amount[0] }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default" v-bind:class="[errors.payment_method_id ? 'has-error' : '', '']">
                                    <label for="payment_method">Payment Method</label>
                                    <select v-model="customer_order_details.payment_method_id" v-on:change="showPaymentMethodMetaField($event)" class="cs-select cs-skin-slide cs-transparent form-control">
                                        <option value="">Select Payment Method</option>
                                        <option v-for="company_payment_method in company_payment_method_lists" v-bind:value="company_payment_method.id">{{ company_payment_method.name }}</option>
                                    </select>
                                    <form-error v-if="errors.payment_method_id" :errors="errors">
                                        {{ errors.payment_method_id[0] }}
                                    </form-error>
                                </div>
                                <div v-show="customer_order_details.payment_by_cash">
                                    <div class="form-group form-group-default required" v-bind:class="[errors.payment_by ? 'has-error' : '', '']">
                                        <label for="payment_by">Payment By</label>
                                        <input v-model="customer_order_details.payment_by" class ="form-control" placeholder="Payment By">
                                        <form-error v-if="errors.payment_by" :errors="errors">
                                            {{ errors.payment_by[0] }}
                                        </form-error>
                                    </div>
                                </div>
                                <div class="rule-concerning-product-div"  v-show="customer_order_details.payment_by_card">
                                    <div class="form-group form-group-default required" v-bind:class="[errors.name_on_card ? 'has-error' : '', '']">
                                        <label for="name_on_card">Name On Card</label>
                                        <input v-model="customer_order_details.name_on_card" class ="form-control" placeholder="Name On Card">
                                        <form-error v-if="errors.name_on_card" :errors="errors">
                                            {{ errors.name_on_card[0] }}
                                        </form-error>
                                    </div>
                                    <div class="form-group form-group-default required" v-bind:class="[errors.card_no ? 'has-error' : '', '']">
                                        <label for="name_on_card">Card No</label>
                                        <input v-model="customer_order_details.card_no" class ="form-control" placeholder="Card No">
                                        <form-error v-if="errors.card_no" :errors="errors">
                                            {{ errors.card_no[0] }}
                                        </form-error>
                                    </div>
                                </div>
                                <div class="rule-concerning-product-div"  v-show="customer_order_details.payment_by_bkash">
                                    <div class="form-group form-group-default required" v-bind:class="[errors.account_type ? 'has-error' : '', '']">
                                        <label for="account_type">Account Type</label>
                                        <input v-model="customer_order_details.account_type" class ="form-control" placeholder="Account Type">
                                        <form-error v-if="errors.account_type" :errors="errors">
                                            {{ errors.account_type[0] }}
                                        </form-error>
                                    </div> 
                                    <div class="form-group form-group-default required" v-bind:class="[errors.received_from_no ? 'has-error' : '', '']">
                                        <label for="received_from_no">Received From No</label>
                                        <input v-model="customer_order_details.received_from_no" class ="form-control" placeholder="Received From No">
                                        <form-error v-if="errors.received_from_no" :errors="errors">
                                            {{ errors.received_from_no[0] }}
                                        </form-error>
                                    </div>
                                </div>
                                <div class="form-group form-group-default required" v-bind:class="[errors.remain_sum ? 'has-error' : '', '']">
                                    <label for="net_sum">Remain Sum</label>
                                    <input v-model="customer_order_details.remain_sum" class ="form-control readonly-field-color" placeholder="Remain Sum" v-bind:readonly="true">
                                    <form-error v-if="errors.remain_sum" :errors="errors">
                                        {{ errors.remain_sum[0] }}
                                    </form-error>
                                </div>
                                <div class="form-group form-group-default">
                                    <label for="change_amount">Change Amount</label>
                                    <input v-model="customer_order_details.change_amount" class ="form-control readonly-field-color" placeholder="Change Amount" v-bind:readonly="true">
                                </div>
                             </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
                <a  v-on:click="saveCustomerOrderDetail()" class="btn btn-success pull-right">Save</a>
        </div>
        <!--End Order Items Detail -->
    </div>
</template>

<script>
    require('../../plugins/bootstrap-datepicker/js/bootstrap-datepicker.js');
    export default {
        data(){
            return{
                errors: [],
                customer_lists: [],
                invoice_prefix_lists: [],
                vat_lists: [],
                categories: [],
                customer_order_status_lists: [],
                country_lists: [],
                company_currency_lists: [],
                company_payment_method_lists: [],
                vat_percent: '00',
                coupon_discount: '',
                paymentMethod: '',
                customer_order_details:
                    {
                        out_let_id: null,
                        order_by: null,
                        customer_id: null,
                        order_no: null,
                        order_date: null,
                        expected_delivery_date: null,
                        delivered_date: null,
                        invoice_prefix_id: null,
                        invoice_no: null,
                        company_currency_id: null,
                        total_amount_exclusive_vat: '00',
                        total_vat: '00',
                        total_amount_inclusive_vat: '00',
                        total_item_discount: '00',
                        coupon_code: null,
                        coupon_id: null,
                        coupon_discount_amount: '00',
                        net_amount: '00',
                        payment_method_id: null,
                        paid_amount: null,
                        remain_sum: '00',
                        change_amount: '00',
                        status: null,
                        payment_details:[],
                        payment_by_cash: null,
                        payment_by_card: null,
                        payment_by_bkash: null,
                        customer_order_detail_items:[
                            {
                                item_description: null,
                                category_id: null,
                                product_id: null,
                                item_quantity: 1,
                                unit_price: '',
                                weight_tola: '',
                                weight_ana: '',
                                weight_rotti: '',
                                weight_milli: '',
                                weight_gram: '',
                                material_price: '',
                                making_charge: '',
                                price_exclusive_vat: '',
                                vat_id: null,
                                vat_amount: '',
                                price_inclusive_vat: '',
                                item_discount_amount: '',
                                status: null,
                            }
                        ],
                        paymentMethod: null,   
                        sale_paids:[{paid_amount:null, payment_method: {}, sale_paid_details:[{meta_data:null, value:null}] }],
                    },
               }
        },
        props: [''],
        mounted() {
            let that = this;
            this.getCustomerLists();
            this.getInvoicePrefixLists();
            this.getVatLists();
            that.getCompanyCategory();
            that.getCompanyCustomerOrderStatus();
            that.getCompanyPaymentMethodLists();
            that.getCompanyCurrencyLists();
            $(function() {
                "use strict";
                $('#order_date').datepicker({
                    format: 'yyyy-mm-dd',
                    // startDate: new Date(),
                    todayHighlight: true,
                }).change(function() {
                    that.customer_order_details.order_date = $('#order_date').val();
                    that.customer_order_details.expected_delivery_date = '';
                    $('#expected_delivery_date').datepicker("setStartDate", that.customer_order_details.order_date);
                });
                $('#expected_delivery_date').datepicker({
                    format: 'yyyy-mm-dd',
                    // startDate: $('#order_date').val(),
                    todayHighlight: false
                }).change(function() {
                    that.customer_order_details.expected_delivery_date = $('#expected_delivery_date').val();
                });
            });
        },
        computed:{
            material_price: function(){
                let that = this;
                $.each(that.customer_order_details.customer_order_detail_items,function(index,item_detail){
                    var price_tola = that.customer_order_details.customer_order_detail_items[index].unit_price * that.customer_order_details.customer_order_detail_items[index].weight_tola;
                    var price_per_ana = that.customer_order_details.customer_order_detail_items[index].unit_price / 16;
                    var price_per_rotti = that.customer_order_details.customer_order_detail_items[index].unit_price / 96;
                    var price_per_milli = price_per_rotti / 10;
                    var price_ana = price_per_ana * that.customer_order_details.customer_order_detail_items[index].weight_ana;
                    var price_rotti = price_per_rotti * that.customer_order_details.customer_order_detail_items[index].weight_rotti;
                    var price_milli = price_per_milli * that.customer_order_details.customer_order_detail_items[index].weight_milli;
                    that.customer_order_details.customer_order_detail_items[index].material_price = price_tola + price_ana + price_rotti + price_milli;
                })
            },
            price_exclusive_vat: function(){
                let that = this;
                var total_amount_exclusive_vat = '00';
                that.customer_order_details.total_amount_exclusive_vat = '00';
                $.each(that.customer_order_details.customer_order_detail_items,function(index,item_detail){
                    if(that.customer_order_details.customer_order_detail_items[index].making_charge){
                        that.customer_order_details.customer_order_detail_items[index].price_exclusive_vat = parseFloat(that.customer_order_details.customer_order_detail_items[index].material_price) + parseFloat( that.customer_order_details.customer_order_detail_items[index].making_charge );
                    }else{
                        that.customer_order_details.customer_order_detail_items[index].price_exclusive_vat = parseFloat(that.customer_order_details.customer_order_detail_items[index].material_price);
                    }
                    that.customer_order_details.total_amount_exclusive_vat = parseFloat( that.customer_order_details.total_amount_exclusive_vat ) + parseFloat( that.customer_order_details.customer_order_detail_items[index].price_exclusive_vat );
                    console.log(" price_exclusive_vat : " + that.customer_order_details.customer_order_detail_items[index].price_exclusive_vat);
                })
            },
            price_inclusive_vat: function(){
                let that = this;
                $.each(that.customer_order_details.customer_order_detail_items,function(index,item_detail){
                    if(that.customer_order_details.customer_order_detail_items[index].vat_amount){
                        that.customer_order_details.customer_order_detail_items[index].price_inclusive_vat = that.customer_order_details.customer_order_detail_items[index].item_total_amount = parseFloat(that.customer_order_details.customer_order_detail_items[index].price_exclusive_vat) + parseFloat( that.customer_order_details.customer_order_detail_items[index].vat_amount );
                    }else{
                        that.customer_order_details.customer_order_detail_items[index].price_inclusive_vat = that.customer_order_details.customer_order_detail_items[index].item_total_amount = parseFloat(that.customer_order_details.customer_order_detail_items[index].price_exclusive_vat);
                    }
                })
            },
            total_amount_inclusive_vat: function(){
                let that = this;
                var total_amount_inclusive_vat = '00';
                $.each(that.customer_order_details.customer_order_detail_items,function(index,item_detail){
                    if( that.customer_order_details.customer_order_detail_items[index].price_inclusive_vat ){
                        total_amount_inclusive_vat = parseFloat( total_amount_inclusive_vat ) + parseFloat(that.customer_order_details.customer_order_detail_items[index].price_inclusive_vat);
                    }else{
                        total_amount_inclusive_vat = parseFloat( total_amount_inclusive_vat );
                    }
                })
                that.customer_order_details.total_amount_inclusive_vat = total_amount_inclusive_vat;
            },
            total_item_discount: function(){
                let that = this;
                var total_item_discount = '00';
                $.each(that.customer_order_details.customer_order_detail_items,function(index,item_detail){
                    if(that.customer_order_details.customer_order_detail_items[index].item_discount_amount){
                        total_item_discount = parseFloat(total_item_discount) + parseFloat(that.customer_order_details.customer_order_detail_items[index].item_discount_amount);
                    }else{
                        total_item_discount = parseFloat(total_item_discount);
                    }
                })
                that.customer_order_details.total_item_discount = total_item_discount;
            },
            /*
            vat_amount: function(){
                let that = this;
                var total_vat = '00';
                $.each(that.customer_order_details.customer_order_detail_items,function(index,item_detail){
                        that.customer_order_details.customer_order_detail_items[index].vat_amount = (that.customer_order_details.customer_order_detail_items[index].vat_percent / 100) * that.customer_order_details.customer_order_detail_items[index].price_exclusive_vat;
                        if(that.customer_order_details.customer_order_detail_items[index].vat_amount){
                            total_vat = parseFloat(total_vat) + parseFloat(that.customer_order_details.customer_order_detail_items[index].vat_amount);
                        }
                })
                that.customer_order_details.total_vat = total_vat;
            },*/
            item_discount_amount: function(){
                let that = this;
                $.each(that.customer_order_details.customer_order_detail_items,function(index,item_detail){
                    that.customer_order_details.customer_order_detail_items[index].item_discount_amount = that.customer_order_details.customer_order_detail_items[index].item_discount_amount ? that.customer_order_details.customer_order_detail_items[index].item_discount_amount : '00';
                    that.customer_order_details.customer_order_detail_items[index].item_total_amount =  parseFloat(that.customer_order_details.customer_order_detail_items[index].price_inclusive_vat) - parseFloat( that.customer_order_details.customer_order_detail_items[index].item_discount_amount );
                })
            },
            coupon_discount_amount: function(){
                let that = this;
                if( that.customer_order_details.coupon_code != null ){
                    that.applyCouponCode();
                }
                $.each(that.customer_order_details.customer_order_detail_items,function(index,item_detail){
                    that.customer_order_details.customer_order_detail_items[index].coupon_discount_amount = that.customer_order_details.customer_order_detail_items[index].coupon_discount_amount ? that.customer_order_details.customer_order_detail_items[index].coupon_discount_amount : '00';
                    that.customer_order_details.customer_order_detail_items[index].item_total_amount =  parseFloat(that.customer_order_details.customer_order_detail_items[index].price_inclusive_vat) - parseFloat( that.customer_order_details.customer_order_detail_items[index].coupon_discount_amount );
                })
            },
            net_amount: function(){
                let that = this;
                that.customer_order_details.net_amount = Math.round( parseFloat( that.customer_order_details.total_amount_inclusive_vat ) - ( parseFloat( that.customer_order_details.total_item_discount ) + parseFloat( that.customer_order_details.coupon_discount_amount ) ));
            },
            paid_amount: function(){

            },
            remain_sum: function(){
                let that = this;
                var paid_amount = 0.00;
                if(that.customer_order_details.paid_amount){
                    paid_amount = that.customer_order_details.paid_amount;
                }
                that.customer_order_details.remain_sum = Math.max(0, Math.round( parseFloat( that.customer_order_details.net_amount ) - parseFloat( paid_amount )));
            },
            change_amount: function(){
                let that = this;
                var change_amount = 0.00;
                that.customer_order_details.change_amount = Math.max(0,Math.round( parseFloat( that.customer_order_details.paid_amount ) - parseFloat( that.customer_order_details.net_amount )));
                if(!that.customer_order_details.change_amount){
                    that.customer_order_details.change_amount = 0.00;
                }
            },
        },
        watch:{
            material_price: function(){
                let that = this;
                    $.each(that.customer_order_details.customer_order_detail_items,function(index,item_detail){
                    console.log('Material Price Changed...');
                })
            },
            price_exclusive_vat: function(){
                console.log('Price Exclusive Vat Changed...');
            },
            price_inclusive_vat: function(){
                console.log('Price Inclusive Vat Changed...');
            },
            total_amount_inclusive_vat: function(){
                console.log('Total Amount Inclusive Vat Changed...');
            },
            coupon_discount_amount: function(){
                console.log('Coupon Discount Amount Changed...');
            },
            order_discount_amount: function(){
                console.log('Order Discount Amount Changed...');
            },
            total_item_discount: function(){
                console.log('Total Discount Amount Changed...');
            },
            vat_amount: function(){
                console.log('Vat Amount Changed...');
            },
            net_amount: function(){
                console.log('Net. Amount Changed...');
            },
            paid_amount: function(){
                console.log('Paid Amount Changed...');
            },
            remain_sum: function(){
                console.log('Remain Sum Changed...');
            },
            change_amount: function(){
                console.log('Change Amount Changed...');
            },
        },
        methods: {
            addRow: function(){
                let that = this;
                that.customer_order_details.customer_order_detail_items.push(
                    {
                        item_description: null,
                        category_id: null,
                        product_id: null,
                        item_quantity: 1,
                        unit_price: '',
                        weight_tola: '',
                        weight_ana: '',
                        weight_rotti: '',
                        weight_milli: '',
                        weight_gram: '',
                        material_price: '',
                        making_charge: '',
                        price_exclusive_vat: '',
                        vat_id: null,
                        vat_amount: '',
                        price_inclusive_vat: '',
                        item_discount_amount: '',
                    }
                );
            },
            removeRow: function(index){
                let that = this;
                Vue.delete( that.customer_order_details.customer_order_detail_items, index);
            },
            getCustomerLists: function(){
                let that = this;
                axios.get('/api/customer_lists/get_customer_lists')
                    .then(function (response) {
                        that.customer_lists = response.data;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            getInvoicePrefixLists: function(){
                let that = this;
                axios.get('/api/invoice_prefix_lists/get_invoice_prefix_lists'
                ).then(function (response) {
                    that.invoice_prefix_lists = response.data;
                })
                .catch(function (error) {
                    that.errors = error;
                });
            },
            getVatLists: function(){
                let that = this;
                axios.get('/api/vat_lists/get_vat_lists')
                    .then(function (response) {
                        that.vat_lists = response.data;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            getCompanyCategory: function(){
                let that = this;
                axios.get('/api/company_category/get_company_category')
                    .then(function (response) {
                    that.categories = response.data;
                })
                .catch(function (error) {
                    that.errors = error;
                });
            },
            getCompanyCustomerOrderStatus: function(){
                let that = this;
                axios.get('/api/company_customer_order_status/get_company_customer_order_status')
                    .then(function (response) {
                    that.customer_order_status_lists = response.data;
                })
                .catch(function (error) {
                    that.errors = error;
                });
            },
            getCompanyPaymentMethodLists: function(){
                let that = this;
                axios.get('/api/payment_method/get_company_payment_method')
                    .then(function (response) {
                    that.company_payment_method_lists = response.data;
                    /* Generate sale_paids object */
                    if(that.company_payment_method_lists){
                      var cash_payment_method_id = that.company_payment_method_lists.filter(function (payment_method) {
                            return payment_method.name == "Cash";
                      });
                      /* For Cash Payment*/
                      that.customer_order_details.sale_paids[0].paid_amount = null;
                      that.customer_order_details.sale_paids[0].payment_method.id = cash_payment_method_id[0].id;
                      that.customer_order_details.sale_paids[0].payment_method.name = cash_payment_method_id[0].name;
                      that.customer_order_details.sale_paids[0].sale_paid_details[0].meta_data = "Payment By"; 
                      that.customer_order_details.sale_paids[0].sale_paid_details[0].value = "Self";  
                      /* For Digital Payment*/
                      that.customer_order_details.sale_paids.push({paid_amount : null}); 
                      that.customer_order_details.sale_paids[1].payment_method = { };
                      that.customer_order_details.sale_paids[1].payment_method.id = null;
                      that.customer_order_details.sale_paids[1].payment_method.name = "Select Payment Method";
                      that.customer_order_details.sale_paids[1].sale_paid_details = [{meta_data:null, value:null}];
                      that.customer_order_details.sale_paids[1].sale_paid_details.push({meta_data:null, value:null});                     
                    } 
                })
                .catch(function (error) {
                    that.errors = error;
                });
            },
            getCompanyCurrencyLists: function(){
                let that = this;
                axios.get('/api/company_currency_lists/get_company_currency_lists')
                    .then(function (response) {
                        that.company_currency_lists = response.data;
                        $.each( that.company_currency_lists,function(index,company_currency_list){
                            if( company_currency_list.default=="Yes" ){
                                that.customer_order_details.company_currency_id = company_currency_list.id;
                                //that.customer_order_details.coupon_currency_id = company_currency_list.id;
                            }
                        })
                    })
                .catch(function (error) {
                    that.errors = error;
                });
            },
            getVatAmount: function( vat_id, index ){
               console.log("Index" + index);
               console.log("vat Id" + vat_id);
               let that = this;
               axios.post('/api/vat_percent/get_vat_percent',
                    { vat_id: vat_id }
               ).then(function (response) {
                    that.customer_order_details.customer_order_detail_items[index].vat_percent = response.data.percent;
                    that.customer_order_details.customer_order_detail_items[index].vat_amount = ( that.customer_order_details.customer_order_detail_items[index].vat_percent / 100) * that.customer_order_details.customer_order_detail_items[index].price_exclusive_vat;
               })
               .catch(function (error) {
                    that.errors = error;
               });
            },
            applyCouponCodeForChanges: function(){
               let that = this;
               /*if( that.customer_order_details.coupon_code != null){
                    that.applyCouponCode();
               }*/
            },
            applyCouponCode: function(){
                let that = this;
                if( that.customer_order_details.coupon_code != null ){
                    axios.post('/api/coupon_code/apply_coupon_code', that.customer_order_details)
                        .then(function (response) {
                            if( response.data.error_message ){
                                alert(response.data.error_message);
                                that.customer_order_details.coupon_discount_amount = response.data.discount_amount;
                                that.coupon_discount = response.data;
                            }else{
                                that.customer_order_details.coupon_discount_amount = response.data.discount_amount;
                                that.coupon_discount = response.data;
                                that.customer_order_details.coupon_id = response.data.coupon_id;
                                console.log("Return data"+ response.data.discount_amount);
                            }
                        })
                       .catch(function (error) {
                            that.errors = error;
                    });
                }
            },
            showPaymentMethodMetaField: function(event){
                let that = this;
                that.paymentMethod = event.target.options[event.target.selectedIndex].text;
                if(that.paymentMethod == "Cash"){
                    delete that.customer_order_details.account_type;
                    delete that.customer_order_details.received_from_no;
                    delete that.customer_order_details.name_on_card;
                    delete that.customer_order_details.card_no;
                    that.customer_order_details.payment_by = null;
                    that.customer_order_details.payment_by_cash = true;
                    that.customer_order_details.payment_by_card = false;
                    that.customer_order_details.payment_by_bkash = false;
                }else if(that.paymentMethod == "Master Card" || that.paymentMethod == "Visa Card"){
                    delete that.customer_order_details.payment_by;
                    delete that.customer_order_details.account_type;
                    delete that.customer_order_details.received_from_no;
                    that.customer_order_details.name_on_card = null;
                    that.customer_order_details.card_no = null;
                    that.customer_order_details.payment_by_card = true;
                    that.customer_order_details.payment_by_cash = false;
                    that.customer_order_details.payment_by_bkash = false;
                }else if(that.paymentMethod == "Bkash"){
                    delete that.customer_order_details.name_on_card;
                    delete that.customer_order_details.card_no;
                    delete that.customer_order_details.payment_by;
                    that.customer_order_details.account_type = null;
                    that.customer_order_details.received_from_no = null;
                    that.customer_order_details.payment_by_bkash = true;
                    that.customer_order_details.payment_by_card = false;
                    that.customer_order_details.payment_by_cash = false;
                }else if(that.paymentMethod =="Select Payment Method"){
                  delete that.customer_order_details.name_on_card;
                  delete that.customer_order_details.card_no;
                  delete that.customer_order_details.account_type;
                  delete that.customer_order_details.received_from_no;
                  that.customer_order_details.account_type = null;
                  that.customer_order_details.received_from_no = null;
                  that.customer_order_details.payment_by_bkash = false;
                  that.customer_order_details.payment_by_card = false;
                }
            },
            saveCustomerOrderDetail: function(){
                let that = this
                if(that.paymentMethod == "Cash"){
                    that.customer_order_details.payment_details = [];
                    that.customer_order_details.payment_details.push({
                        meta_data: "Payment By",
                        value: that.customer_order_details.payment_by,
                    });
                }
                else if(that.paymentMethod == "Master Card" || that.paymentMethod == "Visa Card"){
                    that.customer_order_details.payment_details = [];
                    that.customer_order_details.payment_details.push({
                        meta_data: "Name On Card",
                        value: that.customer_order_details.name_on_card,
                    });
                    that.customer_order_details.payment_details.push({
                        meta_data: "Card No",
                        value: that.customer_order_details.card_no,
                    });
                }
                else if(that.paymentMethod == "Bkash" ){
                    that.customer_order_details.payment_details = [];
                    that.customer_order_details.payment_details.push({
                        meta_data: "Account Type",
                        value: that.customer_order_details.account_type,
                    });
                    that.customer_order_details.payment_details.push({
                        meta_data: "Received From No",
                        value: that.customer_order_details.received_from_no,
                    });
                }
                axios.post('/api/customer_order_detail/save_customer_order_detail', that.customer_order_details)
                .then(function (response) {
                    //alert( response.data.success );
                    console.log("response Here: "+response.data);
                        var route_url =  window.location.origin+"/frontend/customer_order_detail/"+response.data.customer_order_detail_id+"/edit";
                        window.location.href = route_url;
                    })
                    .catch(function (error) {
                        that.errors = error.response.data.errors;
                        console.log("Error Here: "+error.response.data);
                    });
            }
        }
    }
</script>

