
<template>
    <div><!-- Start div -->
        <div class="row row-same-height"><!-- Start row-same-height -->
            <div class="panel panel-default"><!-- Start panel-default -->
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Manage your product combinations</h4>
                </div>
                <div class="panel-body"> <!-- Start panel-body -->
                    <div class="col-md-7 col-product-left-width"><!-- Start col-md-7 -->
                        <div class="product-combination-info-box"><!-- Start product-combination-info-box -->
                            <p>To add combinations, you first need to create proper attributes and values in Attributes & Features.
                                When done, you may enter the wanted attributes (like "size" or "color") and their respective values ("XS", "red", "all", etc.)
                                in the field below; or simply select them from the right column. Then click on "Generate": it will automatically create all the
                                combinations for you!
                            </p>
                        </div><!-- End product-combination-info-box -->
                        <div class="product-selection"><!--Start product-selection -->
                            <div class="padding-30">
                                <div class="form-group-attached">
                                    <div class="form-group form-group-default" >
                                        <span><b>Product:  {{product_name}}</b></span>
                                    </div>
                                </div>
                            </div>
                        </div><!--End product-selection -->
                        <div class="panel panel-default"> <!--Start Product Combination Lists -->
                            <div v-if="selected.combination_ids.length > 0 " class="delete-combinations-button">
                                <a  v-on:click="deleteCombinations()" class="btn btn-success pull-right">Delete Combinations</a>
                            </div>
                            <div class="panel-body">
                                <table class="table table-hover" id="tableWithSearch">
                                    <thead>
                                        <tr>
                                            <th style="width:1%">
                                                <input type="checkbox" data-id="checkbox" id="check_all" v-model="selectAll">
                                                <label for="check_all"></label>
                                            </th>
                                            <th style="width:65%;" class="able-heading-vue">Combination</th>
                                            <th style="width:20%" class="able-heading-vue">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody v-for="(combination_lists,index) in product_combination_list">
                                        <tr v-for="(combination,index) in combination_lists.combinations">
                                                <td class="v-align-middle">
                                                    <input type="checkbox" v-model="selected.combination_ids" v-bind:value="combination.id" data-id="checkbox">
                                                </td>
                                                <td class="v-align-middle" style="width: 60%">
                                                    <ul>
                                                        <div class="attribute-values">
                                                            <template v-for="attributeValue in combination.combination_attribute_values">
                                                               <span v-if="attributeValue.attribute_value.attribute"> <strong>{{attributeValue.attribute_value.attribute.name}} : </strong>  {{attributeValue.attribute_value.value}} ,</span>
                                                            </template>
                                                        </div>
                                                    </ul>
                                                </td>
                                                <td class="v-align-middle">
                                                    <a v-on:click="deleteCombination( combination.id )" class="btn btn-danger re-confirm">Remove</a>
                                                </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--End Product Combination Lists-->
                    </div><!-- Start col-md-7 -->
                    <div class="col-md-5 col-product-right-width attribute-side-border"><!--Start col-md-5 -->
                        <h5 class="">Product Attributes</h5>
                        <hr></hr>
                        <div class="product-attributes"><!--Start product-attributes -->
                            <div class="form-group-attached"><!--Start form-group-attached -->
                                <div class="attribute-content" v-for="(attribute, index) in attribute_lists"><!--Start attribute-content -->
                                    <div class="attribute-side-border"><!--Start attribute-side-border -->
                                        <div class="attribute-content"><!--Start attribute-content -->
                                            <label for="rule_concerning_products"><b>{{attribute.name}}</b></label>
                                            <br/>
                                            <multiselect v-model="attribute_values[index]"
                                                tag-placeholder="Add this as new tag"
                                                placeholder=""
                                                label="value" track-by="id" :options="attribute.attribute_values"
                                                :multiple="true" :taggable="true">
                                            </multiselect>
                                        </div><!--End attribute-content -->
                                        <div class="clearfix"></div>
                                    </div><!--End attribute-side-border -->
                                </div><!--End attribute-content -->
                            </div><!--End form-group-attached -->
                        </div><!--End product-attributes -->
                    </div><!--End col-md-5 -->
                </div><!-- End panel-body -->
            </div><!-- End panel-default -->
            <a  v-on:click="updateCombinations()" class="btn btn-success pull-right">Generate & Save Combination</a>
        </div><!-- End row-same-height -->
    </div><!-- End div -->
</template>

<script>
    import Multiselect from 'vue-multiselect';

    // import FormError component
    import FormError from './FormError.vue';
    export default {
        components: {
            Multiselect,
            FormError
        },
        data(){
            //noinspection JSAnnotator
        return{
                // array to hold form errors
                product_name: null,
                errors: [],
                product_lists:  [],
                attribute_lists: [],
                attribute_values:[],
                product_combination_list: [],
                product_combination:
                {
                    product_id: this.product_id,
                    combination_values:null
                },
                product_combination_values:[],
                selected:{
                    combination_ids:[]
                }
            }
        },
        props: ['product_id'],
        mounted() {
            let that = this;
            that.getProductName();
            that.getProductAttributes();
            that.getProductCombinations();
        },
        computed:{
            selectAll: {
                get: function () {
                    if( this.product_combination_list.length > 0){
                        return this.product_combination_list[0].combinations ? this.selected.combination_ids.length == this.product_combination_list[0].combinations.length : false;
                    }
                },
                set: function (value) {
                    var selected = [];
                    if (value && this.product_combination_list.length > 0 ){
                        this.product_combination_list[0].combinations.forEach(function (combination_lists) {
                            selected.push(combination_lists.id);
                        });
                    }
                    this.selected.combination_ids = selected;
                }
            }
        },
        watch:{

        },
        methods: {
            addTag (newTag) {
                const tag = {
                    name: newTag,
                    id: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
                }
            },
            getProductName: function(){
            let that = this;
            axios.post('/api/company_product/get_product_name', {
                    product_id: that.product_id
                })
                .then(function (response) {
                    if( response.data.success ){
                        that.product_name = response.data.data;
                    }
                })
                .catch(function (error) {
                    that.errors = error;
                });
            },
            getProductAttributes: function(){
                let that = this;
                axios.get('/api/attributes/get_attributes')
                    .then(function (response) {
                        that.attribute_lists = response.data;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            getProductCombinations: function(){
                let that = this;
                axios.post('/api/product_combination/get_product_combination', {
                    product_id: that.product_id
                })
                .then(function (response) {
                    // that.product_combination.product_id = that.product_id;
                    that.product_combination_list.push(response.data);
                })
                .catch(function (error) {
                    that.errors = error;
                });
            },
            updateCombinations: function(){
                let that = this;
                that.product_combination_values = [];
                if(that.attribute_values){
                    $.each(that.attribute_values,function(index,attribute_value) {
                        if ( attribute_value && attribute_value.length > 0 ){
                            var attribute_values_array = [];
                            $.each(attribute_value, function (index, value_data) {
                                attribute_values_array.push(value_data.id);
                            })
                            that.product_combination_values.push(attribute_values_array);
                        }
                    })
                }
                that.product_combination.combination_values = that.product_combination_values;
                axios.put('/api/product_combination/update_product_combination',that.product_combination)
                .then(function (response) {
                    console.log("response Here: "+response.data);
                    if( response.data.success ){
                        that.errors = response.data.success;
                        // alert( response.data.success )
                        console.log("Success: " +  response.data.success);
                    }else{
                        // alert( response.data.error )
                    }
                    location.reload(true);
                })
                .catch(function (error) {
                    that.errors = error.response.data.errors;
                    console.log("Error Here: "+error.response.data);
                });
            },
            deleteCombinations: function(){
                let that = this;
                axios.post('/api/product_combination/delete_product_combination',that.selected)
                .then(function (response) {
                    console.log("Delete Here: "+response.data);
                    if( response.data.success ){
                        that.errors= response.data.success;
                        // alert( response.data.success )
                        console.log("Success: " +  response.data.success);
                    }else{
                        // alert( response.data.error )
                    }
                    location.reload(true);
                })
                .catch(function (error) {
                    that.errors = error.response.data.errors;
                    console.log("Error Here: "+error.response.data);
                });
            },
            deleteCombination: function(combination_id){
                let that = this;
                that.selected.combination_ids.push( combination_id );
                axios.post('/api/product_combination/delete_product_combination',that.selected)
                .then(function (response) {
                    console.log("Delete Here: "+response.data);
                    if( response.data.success ){
                        that.errors= response.data.success;
                        // alert( response.data.success )
                        console.log("Success: " +  response.data.success);
                    }else{
                        // alert( response.data.error )
                    }
                    location.reload(true);
                })
                .catch(function (error) {
                    that.errors = error.response.data.errors;
                    console.log("Error Here: "+error.response.data);
                });
            },
        }
    }
</script>
