<template>
  <div class="">
  <!-- Start Heading Panel -->
  <div class="row row-same-height">
    <div class="panel-default">
      <div class="panel-heading title-color">
        <h4 class="panel-title">MyPOS: SA Jewellers</h4>
      </div>                
    </div>
  </div>
  <!--End Heading Panel -->
  <!--Start sale-panel -->
  <div class="row row-same-height">
    <!--Start sale-panel-product-lists --> 
    <div class="panel panel-default sale-panel-product-lists">                
      <div class="panel-body sale-panel">
        <!-- Start Search Panel -->
        <div class="sale-panel-search-item">
          <div class="form-group-attached">
            <div class="row clearfix">                                   
              <div class="col-sm-6 col-div-33">
                <div class="form-group form-group-default">
                  <label for="item_name">Search item</label>
                  <input v-model="name" class ="form-control" placeholder="Item name">
                </div>
              </div>
              <div class="col-sm-6 col-div-33">
                <div class="form-group form-group-default">
                  <label for="category_id">Select Category</label>
                  <select v-model="category_id" class="cs-select cs-skin-slide cs-transparent form-control">
                    <option value="">Select Category</option>
                    <option v-for="category in categories" v-bind:value="category.id">{{ category.name }}</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-6 col-div-33">
                <div class="form-group form-group-default">
                  <div class="btn-group btn-challan-product-div">
                    <a v-on:click="searchOutLetProducts()" title="product-search" class="btn btn-success btn-cons btn-challan-product-search sales-search-button-size">Search</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
        </div>                
        <div class="col-md-7 col-div-full">
          <div class="sale-panel-product">
            <div class="form-group-attached">
              <div class="row clearfix">      
                <div class="col-sm-6 col-div-100">                             
                  <div class="btn-group btn-challan-product-div"> 
                    <a  v-on:click="getOutLetProducts()" title="product-search" class="btn btn-success btn-cons btn-challan-product-search sales-product-button-size">Product</a>
                  </div>
                </div>
              </div>
            </div>
          </div>          
        </div>
        <!-- End Search Panel -->
        <!-- START Gallery -->
        <div class="gallery">   
          <div v-if="out_let_product_lists[0].products">   
              <template v-for="out_let_product  in out_let_product_lists[0].products" >                
                <!-- START GALLERY ITEM BOX-->
                <div class="gallery-item-box">  
                <!-- START GALLERY ITEM -->
                <!-- 
                      FOR DEMO PURPOSES, FIRST GALLERY ITEM (.first) IS HIDDEN 
                      FOR SCREENS <920px. PLEASE REMOVE THE CLASS 'first' WHEN YOU IMPLEMENT 
                -->                      
                <div class="gallery-item" data-width="1" data-height="1">
                  <!-- START PREVIEW -->
                  <img v-if="out_let_product.images" :src="'/uploads/out_lets/product_images/45x45/'+ out_let_product.images[0].name" alt="" class="image-responsive-height" >
                  <!-- END PREVIEW -->
                  <!-- START ITEM OVERLAY DESCRIPTION -->
                  <div class="overlayer bottom-left full-width">
                    <div class="overlayer-wrapper item-info ">
                      <div class="p-l-20 p-r-20 p-t-20 p-b-5">
                        <div class="">
                          <p class="pull-left bold text-white fs-14 p-t-10">{{out_let_product.name}}</p>
                          <h5 v-if="out_let_product.prices[0].price" class="pull-right semi-bold text-white font-montserrat bold">{{out_let_product.prices[0].price}}</h5>                        
                        </div>  
                        <div class="add_to_sale">
                          <a v-on:click="addToSale(out_let_product.id)" :id="out_let_product.id" title="Add-to-sale" class="btn btn-success product_add_btn">Add To Sale</a>
                        </div>                    
                      </div>
                    </div>
                  </div>
                  <!-- END PRODUCT OVERLAY DESCRIPTION -->
                </div>          
                <!-- END GALLERY ITEM -->                
                </div>
                <!-- END GALLERY ITEM BOX-->
              </template>      
          </div>
        </div>        
        <!-- END Gallery -->
      </div>
    </div>      
    <!--End sale-panel-product-lists -->
    <!--Start sale-panel-item-lists -->
    <div class="panel panel-default sale-panel-item-lists">               
      <div class="panel-body sale-panel"> 
        <div v-if="customer_order_details.customer_order_detail_items">
          <template v-for="(item_detail, index)  in customer_order_details.customer_order_detail_items" >
            <!--Start sales-item-lists -->         
            <div v-if="item_detail.name" class="sales-item-lists">          
              <div class="sales-item-descrption float-left">
                <div class="">
                  <label for="item_description">{{item_detail.name}}</label>
                  <label v-if="item_detail.combination=='No'" >
                    ({{item_detail.combinations[0].stock_quantity}} Pcs)
                  </label>
                  <button v-on:click="removeFromSale(index, item_detail.id)"  title="Delete" type="button" class="btn btn-danger" >
                    <i class="fa fa-trash-o"></i>
                  </button>             
                </div>                        
                <div v-if="item_detail.combination=='Yes'" v-bind:class="[errors['customer_order_detail_items.'+index+'.out_let_product_id'] ? 'has-error' : '', '']">           
                  <select v-model="customer_order_details.customer_order_detail_items[index].out_let_product_id" class ="form-control payment-calculation-digital-payment-input-select cs-select cs-skin-slide cs-transparent form-control">
                    <option disabled value="Specification">Specification</option>
                    <option v-for="combination in item_detail.combinations" v-bind:value="combination.id">
                      <template v-for="attributeValue in combination.combination_attribute_values">
                          <strong>{{attributeValue.attribute_value.attribute.name}} : </strong>  {{attributeValue.attribute_value.value}} ,
                      </template>
                      ({{ combination.stock_quantity}} Pcs)
                    </option>
                  </select>
                  <div class="form-validation-error float-left clear">
                    <form-error v-if="errors['customer_order_detail_items.'+index+'.out_let_product_id']" :errors="errors">
                        {{ errors["customer_order_detail_items."+index+".out_let_product_id"][0]  }}
                    </form-error>  
                  </div>   
                </div>               
              </div>                      
              <div class="sales-item-quantity general_field float-left" v-bind:class="[errors['customer_order_detail_items.'+index+'.quantity'] ? 'has-error' : '', '']">
                <input v-model="customer_order_details.customer_order_detail_items[index].quantity" :id="'item_detail' + item_detail.id + ''"  :name="'item_detail' + item_detail.id + ''" class ="form-control" type="text" placeholder=""> 
                <div class="form-validation-error float-left clear">
                  <form-error v-if="errors['customer_order_detail_items.'+index+'.quantity']" :errors="errors">
                    {{ errors["customer_order_detail_items."+index+".quantity"][0]  }}
                  </form-error>  
                </div>  
              </div>  
              <div class="sales-item-unit-price float-left">
                <div for="unit_price">x {{item_detail.unit_price}}</div>
              </div>       
            </div>              
            <div class="sales-item-total-price float-right">
              <div for="item_total_price">{{item_detail.price_exclusive_vat}}
            </div>                  
            </div>    
            <!--Start sales-item-lists -->
            <div class="clearfix"></div>
            <hr>  
          </template>     
        </div>           
      </div> 
      <div class="payment-calculation-divider"> </div>
      <!--Start payment-calculation -->    
      <div class="panel-heading sale-panel-item-lists heading-color">
        <div class="payment-calculation-title float-left"> Subtotal </div>
        <div class="payment-calculation-amount float-right"> {{customer_order_details.sub_total}} </div>
      </div>    
      <!--End payment-calculation -->
      <!--Start payment-calculation -->
      <div class="panel-heading sale-panel-item-lists heading-color">
        <div class="payment-calculation-title float-left"> Discount </div>
        <div class="payment-calculation-discount float-right" v-bind:class="[errors.discount_amount ? 'has-error' : '', '']" > 
          <input v-model="customer_order_details.discount_amount" class ="form-control payment-calculation-input-text" type="text" placeholder="Amount">             
        </div>   
        <div class="form-validation-error float-right clear">
          <form-error v-if="errors.discount_amount" :errors="errors">
            {{ errors.discount_amount[0] }}
          </form-error>   
        </div>         
      </div>
      <!--End payment-calculation -->
      <!--Start payment-calculation -->    
      <div class="panel-heading sale-panel-item-lists heading-color">
        <div class="payment-calculation-title float-left"> Coupon Discount </div>
        <div class="payment-calculation-coupon-code float-left"> 
          <div class="payment-calculation-coupon-code-text-field float-left">       
            <input v-model="customer_order_details.coupon_code" class ="form-control" type="text" placeholder="Coupon code">
          </div>
          <div class="payment-calculation-coupon-code-button float-left">
            <button v-on:click="applyCouponCode()" class="btn btn-success">Apply</button>
          </div>
        </div> 
        <div class="payment-calculation-coupon-discount-amount float-left" v-bind:class="[errors.coupon_discount_amount ? 'has-error' : '', '']"> 
          <input v-model="customer_order_details.coupon_discount_amount"class ="form-control payment-calculation-input-text readonly-field-color" type="text" placeholder="Amount" v-bind:readonly="true">          
        </div>   
        <div class="form-validation-error float-right">
          <form-error v-if="errors.coupon_discount_amount" :errors="errors">
            {{ errors.coupon_discount_amount[0] }}
          </form-error> 
        </div>       
      </div>
      <!--End payment-calculation -->  
      <!--Start payment-calculation -->
      <div class="panel-heading sale-panel-item-lists heading-color">
        <div class="payment-calculation-title float-left"> Total exc. Vat </div>
        <div class="payment-calculation-amount float-right"> {{ customer_order_details.total_amount_exclusive_vat }} </div>
      </div>
      <!--End payment-calculation -->  
      <!--Start payment-calculation -->
      <div class="panel-heading sale-panel-item-lists heading-color">
        <div class="payment-calculation-title float-left"> VAT </div>        
        <div class="payment-calculation-vat-amount float-right" v-bind:class="[errors.vat_amount ? 'has-error' : '', '']"> 
          <input v-model="customer_order_details.vat_amount" class ="form-control payment-calculation-input-text readonly-field-color" type="text" placeholder="Amount" v-bind:readonly="true">
        </div>   
        <div class="form-validation-error float-right">
          <form-error v-if="errors.vat_amount" :errors="errors">
            {{ errors.vat_amount[0] }}
          </form-error> 
        </div>        
      </div>
      <!--End payment-calculation -->
      <!--Start payment-calculation -->
      <div class="panel-heading sale-panel-item-lists heading-color">
        <div class="payment-calculation-title float-left"> Net. Amount </div>
        <div class="payment-calculation-amount float-right"> {{ customer_order_details.net_amount }} </div>
        <div class="form-validation-error float-right clear">
          <form-error v-if="errors.net_amount" :errors="errors">
            {{ errors.net_amount[0] }}
          </form-error> 
        </div>
      </div>
      <!--End payment-calculation -->     
      <!--Start payment-calculation -->
      <div class="panel-heading sale-panel-item-lists heading-color" v-bind:class="[errors.customer_id ? 'has-error' : '', '']" >
        <div class="payment-calculation-title float-left">         
            <i class="fa fa-user customer-icon"></i> Customer         
        </div>
        <div class="payment-calculation-dropdown-lists float-left"> 
          <select v-model="customer_order_details.customer_id" v-on:change="applyCouponCodeForChanges()" class ="form-control payment-calculation-input-select cs-select cs-skin-slide cs-transparent">
            <option value="">Select Customer</option>
            <option v-for="customer in customer_lists" v-bind:value="customer.id">{{ customer.first_name }} {{ customer.last_name }}( {{ customer.customer_no }} )</option>
          </select>          
        </div> 
        <div class="payment-calculation-vat-amount float-left"> 
          <div class="radio radio-success payment-calculation-input-text">
            <input v-model="customer_order_details.guest" type="radio" v-bind:value="customer_order_details.guest" name="optionyes" id="no">
            <label for="no">Guest</label>
          </div>
        </div> 
        <div class="form-validation-error float-right">
          <form-error v-if="errors.customer_id" :errors="errors">
            {{ errors.customer_id[0] }}
          </form-error>   
        </div>      
      </div>
      <!--End payment-calculation --> 
      <!--Start payment-calculation -->
      <div class="panel-heading sale-panel-item-lists heading-color" v-bind:class="[errors.company_currency_id ? 'has-error' : '', '']" >
        <div class="payment-calculation-title float-left"> Payment Currency </div>
        <div class="payment-calculation-cash-payment float-right"> 
          <select v-model="customer_order_details.company_currency_id" v-on:change="applyCouponCodeForChanges()" class="form-control payment-calculation-input-select cs-select cs-skin-slide cs-transparent">
            <option v-if="company_currency.name!='Cash'" v-for="company_currency in company_currency_lists" v-bind:value="company_currency.id">{{ company_currency.name }}( {{ company_currency.code }} )</option>
          </select> 
        </div>    
        <div class="form-validation-error float-right">
          <form-error v-if="errors.company_currency_id" :errors="errors">
            {{ errors.company_currency_id[0] }}
          </form-error>
        </div>       
      </div>
      <!--End payment-calculation -->
      <!--Start payment-calculation -->
      <div v-if="sale_paid.payment_method.name == 'Cash'" class="panel-heading sale-panel-item-lists heading-color" v-for="(sale_paid, index) in customer_order_details.sale_paids">
        <div class="payment-calculation-title float-left"> Cash Payment </div>
        <div class="payment-calculation-cash-payment float-right" v-bind:class="[errors['cash_payment_amount'] ? 'has-error' : '', '']">  
          <input v-model="customer_order_details.cash_payment_amount" class ="form-control payment-calculation-input-text" type="text" placeholder="Amount">
        </div>         
        <div class="form-validation-error float-right clear">
          <form-error v-if="errors['cash_payment_amount']" :errors="errors">
              {{ errors["cash_payment_amount"][0] }}
          </form-error>     
        </div>   
      </div>
      <!--End payment-calculation -->
      <!--Start payment-calculation -->
      <div v-if="sale_paid.payment_method.name == 'Master Card' || sale_paid.payment_method.name == 'Visa Card' || sale_paid.payment_method.name == 'Bkash' || sale_paid.payment_method.name == 'Select Payment Method' " class="panel-heading sale-panel-item-lists heading-color" v-for="(sale_paid, index) in customer_order_details.sale_paids">
        <div class="payment-calculation-title float-left"> Digital Payment </div>
        <div class="payment-calculation-digital-payment-dropdown-lists float-left" v-bind:class="[errors.payment_method_id ? 'has-error' : '', '']" >
          <select v-if="sale_paid.payment_method.name != 'Cash'" v-model="customer_order_details.sale_paids[index].payment_method.id" v-on:change="showPaymentMethodMetaField($event)" class ="form-control payment-calculation-digital-payment-input-select cs-select cs-skin-slide cs-transparent form-control">
            <option value="">Select Payment Method</option>
            <option v-if="company_payment_method.name!='Cash'" v-for="company_payment_method in company_payment_method_lists" v-bind:value="company_payment_method.id">{{ company_payment_method.name }}</option>
          </select>                  
        </div>         
        <!--Start payment_by_card --> 
        <div v-if="sale_paid.payment_method.name == 'Master Card' || sale_paid.payment_method.name == 'Visa Card' || sale_paid.payment_method.name == 'Bkash'" class="payment-calculation-digital-payment-meta-field float-right">
          <div class="required" v-bind:class="[errors['digital_payment_amount'] ? 'has-error' : '', '']">
          <div>
            <input v-model="customer_order_details.digital_payment_amount" class ="form-control payment-calculation-input-text" placeholder="Amount">
          </div>
          <div class="form-validation-error float-right clear">
            <form-error v-if="errors['digital_payment_amount']" :errors="errors">
              {{ errors["digital_payment_amount"][0] }}
            </form-error>
          </div> 
          </div> 
          <div v-for="(sale_paid_detail, sale_paid_detail_index) in sale_paid.sale_paid_details"> 
          <div v-if="sale_paid_detail.meta_data == 'Name On Card'" class="required clear" v-bind:class="[errors['sale_paids.'+index+'.sale_paid_details.'+sale_paid_detail_index+'.value'] ? 'has-error' : '', '']">
            <div>
              <input v-model="customer_order_details.sale_paids[index].sale_paid_details[sale_paid_detail_index].value" class ="form-control payment-calculation-input-text" type="text" placeholder="Name On Card">
            </div>
            <div class="form-validation-error float-right clear">
              <form-error v-if="errors['sale_paids.'+index+'.sale_paid_details.'+sale_paid_detail_index+'.value']" :errors="errors">
              {{ errors["sale_paids."+index+".sale_paid_details."+sale_paid_detail_index+".value"][0] }}
            </form-error>
            </div>
          </div>
          <div v-if="sale_paid_detail.meta_data == 'Card No'" class="required clear" v-bind:class="[errors['sale_paids.'+index+'.sale_paid_details.'+sale_paid_detail_index+'.value'] ? 'has-error' : '', '']">
            <div>
              <input v-model="customer_order_details.sale_paids[index].sale_paid_details[sale_paid_detail_index].value" class ="form-control payment-calculation-input-text" type="text" placeholder="Card No">
            </div>
            <div class="form-validation-error float-right clear">
              <form-error v-if="errors['sale_paids.'+index+'.sale_paid_details.'+sale_paid_detail_index+'.value']" :errors="errors">
              {{ errors["sale_paids."+index+".sale_paid_details."+sale_paid_detail_index+".value"][0] }}
            </form-error>
            </div>
          </div>
          <div v-if="sale_paid_detail.meta_data == 'Account Type'" class="required clear" v-bind:class="[errors['sale_paids.'+index+'.sale_paid_details.'+sale_paid_detail_index+'.value'] ? 'has-error' : '', '']">
          <div>
            <input v-model="customer_order_details.sale_paids[index].sale_paid_details[sale_paid_detail_index].value" class ="form-control payment-calculation-input-text" type="text" placeholder="Account Type">
          </div>
          <div class="form-validation-error float-right clear">
            <form-error v-if="errors['sale_paids.'+index+'.sale_paid_details.'+sale_paid_detail_index+'.value']" :errors="errors">
              {{ errors["sale_paids."+index+".sale_paid_details."+sale_paid_detail_index+".value"][0] }}
            </form-error>
          </div> 
          </div>
          <div v-if="sale_paid_detail.meta_data == 'Received From'" class="required clear" v-bind:class="[errors['sale_paids.'+index+'.sale_paid_details.'+sale_paid_detail_index+'.value'] ? 'has-error' : '', '']">
          <div>
            <input v-model="customer_order_details.sale_paids[index].sale_paid_details[sale_paid_detail_index].value" class ="form-control payment-calculation-input-text" type="text" placeholder="Received From">
          </div>
          <div class="form-validation-error float-right clear">
            <form-error v-if="errors['sale_paids.'+index+'.sale_paid_details.'+sale_paid_detail_index+'.value']" :errors="errors">
              {{ errors["sale_paids."+index+".sale_paid_details."+sale_paid_detail_index+".value"][0] }}
            </form-error>
          </div> 
          </div>
        </div>
        <!--End payment_by_card --> 
      </div>
        <div class="form-validation-error float-right">
          <form-error v-if="errors.payment_method_id" :errors="errors">
            {{ errors.payment_method_id[0] }}
          </form-error>
        </div>    
      </div>
      <!--End payment-calculation -->
      <!--Start payment-calculation -->    
      <div class="panel-heading sale-panel-item-lists heading-color">
        <div class="payment-calculation-title float-left"> Remain Sum </div>
        <div class="payment-calculation-amount float-right"> {{ customer_order_details.remain_sum}} </div>
      </div>    
      <!--End payment-calculation -->
      <!--Start payment-calculation -->    
      <div class="panel-heading sale-panel-item-lists heading-color">
        <div class="payment-calculation-title float-left"> Change Amount </div>
        <div class="payment-calculation-amount float-right"> {{ customer_order_details.change_amount }} </div>          
      </div>    
      <!--End payment-calculation -->
      <!--Start payment-calculation -->    
      <div class="panel-heading sale-panel-item-lists heading-color">
        <div class="payment-calculation-action-button float-left"> 
          <button class="btn btn-danger btn-cons sales-button-size">Cancel</button>
        </div>
        <div class="payment-calculation-action-button float-left"> 
          <button v-on:click="updateSaleDetail()" class="btn btn-success btn-cons sales-button-size">Save</button>
        </div>
        <div class="payment-calculation-action-button float-left"> 
          <button class="btn btn-success btn-cons sales-button-size">Hold</button>
        </div>
        <div class="payment-calculation-action-button float-left"> 
          <button v-on:click="isOrderNotesHidden = !isOrderNotesHidden" class="btn btn-success btn-cons sales-button-size">Notes</button>
        </div>          
      </div>    
      <!--End payment-calculation -->
      <!--Start payment-calculation -->    
      <div v-if="isOrderNotesHidden" class="panel-heading sale-panel-item-lists heading-color wysiwyg5-wrapper b-a b-grey">
        <textarea v-model="customer_order_details.sales_note" class ="form-control payment-calculation-input-textarea wysiwyg demo-form-wysiwyg" placeholder="Sales Note">    
        </textarea>       
      </div>    
      <!--End payment-calculation -->
    </div>
    <!--End sale-panel-item-lists -->
  </div>
  <!--End sale-panel-->
</div>
</template>

<script>
    require('../../plugins/bootstrap-datepicker/js/bootstrap-datepicker.js');
    export default {
        data(){
            return{                
                errors: [],  
                customer_lists: [],
                invoice_prefix_lists: [],
                vat_lists: [],
                categories: [],
                company_currency_lists: [],
                company_payment_method_lists: [],                
                out_let_product_lists: 
                {
                  quantity: '00',
                  unit_price: '00',
                  item_total_price: '00',
                }, 
                sale_paids: null,
                cash_payment_method_id: null,
                sale_paid_history: [],
                customer_order_details:{
                  guest: null,
                  customer_id: null,
                  sub_total: '00', 
                  net_amount: '00',
                  discount_amount: '00', 
                  coupon_discount_amount: '00', 
                  vat_id:null,                  
                  vat_amount: '00',
                  total_amount_exclusive_vat:'00',
                  total_amount_inclusive_vat:'00',
                  cash_payment_method_id: null,
                  cash_payment_amount:'00',
                  digital_payment_amount: '00',
                  remain_sum: '00',
                  change_amount: '00',
                  payment_by_card: null,
                  payment_by_bkash: null,
                  company_currency_id: null, 
                  coupon_code: null, 
                  coupon_id: null,
                  coupon_discount_amount: '00',
                  customer_order_detail_items:[],
                  paymentMethod: null,
                },    
                isOrderNotesHidden: false,                 
               }
        },
        props: ['sale_id'],
        async mounted() {
            let that = this;
            that.getOutLetProducts();
            that.getCustomerLists();
            that.getInvoicePrefixLists();
            that.getVatLists();
            that.getCompanyCategory();
            that.getCompanyCustomerOrderStatus();
            that.getCompanyCurrencyLists();
            await that.editCustomerOrderDetail();   
            await that.getCompanyPaymentMethodLists(); 
            await that.getSalePaidDetail();                                  
        },
        computed:{
            price_exclusive_vat: function(){
              let that = this;
              var item_price = '00';
              var sub_total = '00';
              console.log("Hoga"); 
              $.each(that.customer_order_details.customer_order_detail_items,function(index,item_detail){
                 item_price = parseFloat(item_detail.unit_price) * parseInt(item_detail.quantity);
                 that.customer_order_details.customer_order_detail_items[index].price_exclusive_vat = item_price;
                 sub_total = parseFloat(sub_total) + parseFloat(that.customer_order_details.customer_order_detail_items[index].price_exclusive_vat);                   
              })   
              that.customer_order_details.sub_total = sub_total;             
            }, 
            vat_amount: function(){
              let that = this; 
              var vat_amount = '00';
              var item_price = '00';
              $.each(that.customer_order_details.customer_order_detail_items,function(index,item_detail){
                 item_price = parseFloat(item_detail.unit_price) * parseInt(item_detail.quantity);
                   that.customer_order_details.customer_order_detail_items[index].price_exclusive_vat = item_price;
                vat_amount = parseFloat(vat_amount) + ( ( parseFloat(item_detail.vat_percent) / 100) * that.customer_order_details.customer_order_detail_items[index].price_exclusive_vat );                                
              })          
              that.customer_order_details.vat_amount = vat_amount; 
              
            },
            price_inclusive_vat: function(){
                let that = this;
                var item_price = '00';
                var price_inclusive_vat = '00';  
                that.customer_order_details.price_inclusive_vat = price_inclusive_vat;             
            }, 
            total_amount_exclusive_vat: function(){
              let that = this;              
              that.customer_order_details.total_amount_exclusive_vat = Math.round(parseFloat( that.customer_order_details.sub_total ) - ( parseFloat( that.customer_order_details.discount_amount ) + parseFloat( that.customer_order_details.coupon_discount_amount ) ));             
            }, 
            total_amount_inclusive_vat: function(){
              let that = this;              
              that.customer_order_details.total_amount_inclusive_vat = that.customer_order_details.net_amount =
              Math.round( parseFloat( that.customer_order_details.total_amount_exclusive_vat ) + parseFloat( that.customer_order_details.vat_amount )); 
            }, 
            remain_sum: function(){
                let that = this;
                var digital_payment_amount = 0;
                if(that.customer_order_details.digital_payment_amount){
                  digital_payment_amount = parseFloat( that.customer_order_details.digital_payment_amount );
                }
                var cash_payment_amount = 0;
                if(that.customer_order_details.cash_payment_amount){
                  cash_payment_amount = parseFloat( that.customer_order_details.cash_payment_amount );
                }
                console.log("There I'm");
                that.customer_order_details.remain_sum = Math.max(0,Math.round( parseFloat( that.customer_order_details.net_amount ) - ( parseFloat( cash_payment_amount ) + parseFloat( digital_payment_amount ) ) ));
            },
            change_amount: function(){
              let that = this;
              var digital_payment_amount = 0;
              if(that.customer_order_details.digital_payment_amount){
                digital_payment_amount = parseFloat( that.customer_order_details.digital_payment_amount );
              }
              var cash_payment_amount = 0;
              if(that.customer_order_details.cash_payment_amount){
                cash_payment_amount = parseFloat( that.customer_order_details.cash_payment_amount );
              }
              that.customer_order_details.change_amount = Math.max(0,Math.round( ( parseFloat( cash_payment_amount ) + parseFloat( digital_payment_amount ) ) - parseFloat( that.customer_order_details.net_amount )));
              if(!that.customer_order_details.change_amount){
                  that.customer_order_details.change_amount = 0;
              }
            },
        },
        watch:{
            price_exclusive_vat: function(){
                let that = this;
                $.each(that.customer_order_details.customer_order_detail_items,function(index,sale_product){
                  console.log('Price Exclusive Vat Price Changed...');
                })
            },
            vat_amount: function(){
              let that = this;
              $.each(that.customer_order_details.customer_order_detail_items,function(index,item_detail){
                console.log('Vat Amount Changed...');
              })
            },
            price_inclusive_vat: function(){
                let that = this;
                $.each(that.customer_order_details.customer_order_detail_items,function(index,sale_product){
                  console.log('Price Inclusive Vat Price Changed...');
                })
            },
            total_amount_exclusive_vat: function(){
              console.log('Total Exclusive Vat Changed...');
            },  
            total_amount_inclusive_vat: function(){
              console.log('Total Inclusive Vat Changed...');
            },
            remain_sum: function(){
              console.log('Remain Sum Changed...');
            },
            change_amount: function(){
              console.log('Total Change Amount Changed...');
            },          
        },
        methods: {   
            searchOutLetProducts: function(){
              let that = this;
              that.out_let_product_lists = null;
              axios.post('/api/product/search_out_let_products',{
                name: that.name,
                category_id: that.category_id,
              }
              )
              .then(function (response) {
                that.out_let_product_lists = response.data;
              })
              .catch(function (error) {
                that.errors = error;
              });
            },
            getOutLetProducts: function(){
                let that = this;
                that.out_let_product_lists = null;  
                axios.post('/api/product/out_let_products', {
                  
                })
                .then(function (response) {
                  that.out_let_product_lists = response.data;                  
                })
                .catch(function (error) {
                  that.errors = error;
                });
            },
            getCustomerLists: function(){
                let that = this;
                axios.get('/api/customer_lists/get_customer_lists')
                    .then(function (response) {
                        that.customer_lists = response.data;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            getInvoicePrefixLists: function(){
                let that = this;
                axios.get('/api/invoice_prefix_lists/get_invoice_prefix_lists'
                ).then(function (response) {
                    that.invoice_prefix_lists = response.data;
                })
                .catch(function (error) {
                    that.errors = error;
                });
            },
            getVatLists: function(){
                let that = this;
                axios.get('/api/vat_lists/get_vat_lists')
                    .then(function (response) {
                        that.vat_lists = response.data;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            getCompanyCategory: function(){
                let that = this;
                axios.get('/api/company_category/get_company_category')
                    .then(function (response) {
                    that.categories = response.data;
                })
                .catch(function (error) {
                    that.errors = error;
                });
            },
            getCompanyCustomerOrderStatus: function(){
                let that = this;
                axios.get('/api/company_customer_order_status/get_company_customer_order_status')
                    .then(function (response) {
                    that.customer_order_status_lists = response.data;
                })
                .catch(function (error) {
                    that.errors = error;
                });
            },           
            getCompanyCurrencyLists: function(){
                let that = this;
                axios.get('/api/company_currency_lists/get_company_currency_lists')
                    .then(function (response) {
                        that.company_currency_lists = response.data;
                        $.each( that.company_currency_lists,function(index,company_currency_list){
                            if( company_currency_list.default=="Yes" ){
                                that.customer_order_details.company_currency_id = company_currency_list.id;
                            }
                        })
                    })
                .catch(function (error) {
                    that.errors = error;
                });
            },
            getVatAmount: function( vat_id, index ){
               console.log("Index" + index);
               console.log("vat Id" + vat_id);
               let that = this;
               axios.post('/api/vat_percent/get_vat_percent',
                    { vat_id: vat_id }
               ).then(function (response) {
                    that.customer_order_details.vat_percent = response.data.percent;
                    that.customer_order_details.vat_amount = ( that.customer_order_details.vat_percent / 100) * that.customer_order_details.total_amount_exclusive_vat;
               })
               .catch(function (error) {
                    that.errors = error;
               });
            },           
            addToSale: function(product_id){
              let that = this;
              $('#'+product_id).addClass('hide_add_to_sale_button');
              $('#'+product_id).removeClass('show_add_to_sale_button');
              console.log("Working..." + product_id);
              axios.post('/api/product/out_let_product_sales_data', {
                  product_id: product_id,
                }
              )
              .then(function (response) {
                that.customer_order_details.customer_order_detail_items.push(response.data);
                console.log("there is data"); 
              })
              .catch(function (error) {
                  that.errors = error;
              });
            },
            removeFromSale: function(index, item_id){
              let that = this;
              Vue.delete( that.customer_order_details.customer_order_detail_items, index );
              that.customer_order_details.remove_customer_order_detail_items.push({
                id: item_id
              });
              $('#'+item_id).addClass('show_add_to_sale_button'); 
            },
            applyCouponCodeForChanges: function(){
               let that = this;
               /*if( that.customer_order_details.coupon_code != null){
                    that.applyCouponCode();
               }*/
            },
            applyCouponCode: function(){
                let that = this;
                if( that.customer_order_details.coupon_code != null ){
                    axios.post('/api/coupon_code/apply_coupon_code', that.customer_order_details)
                        .then(function (response) {
                            if( response.data.error_message ){
                                alert(response.data.error_message);
                                that.customer_order_details.coupon_discount_amount = response.data.discount_amount;
                                that.coupon_discount = response.data;
                            }else{
                                that.customer_order_details.coupon_discount_amount = response.data.discount_amount;
                                that.coupon_discount = response.data;
                                that.customer_order_details.coupon_id = response.data.coupon_id;
                                console.log("Return data"+ response.data.discount_amount);
                            }
                        })
                       .catch(function (error) {
                          that.errors = error;
                    });
                }
            },   
            editCustomerOrderDetail: function(){
                let that = this;
                console.log("that.sale_id: "+that.sale_id);
                return axios.post('/api/sale_detail/get_sale_detail', {
                    sale_id: that.sale_id
                })
                .then((response) => {
                  that.customer_order_details = response.data; 
                  that.customer_order_details.vat_amount = response.data.vat_amount;
                  
                  if( that.customer_order_details.sales_note ){
                    that.isOrderNotesHidden = true;
                  }
                  if( !that.customer_order_details.customer_id ){
                    that.customer_order_details.guest = "Yes";
                  }else{
                    that.customer_order_details.guest = "No";
                  }                                
                  that.customer_order_details.remove_customer_order_detail_items =  [];
                })
                .catch(function (error) {
                    that.errors = error;
                }); 
            },          
            getCompanyPaymentMethodLists: function(){
              let that = this;
              return axios.get('/api/payment_method/get_company_payment_method')
                  .then((response) => {
                  that.company_payment_method_lists = response.data;
                  /* Generate sale_paids object */
                  if(that.company_payment_method_lists){
                    var cash_payment_method_id = that.company_payment_method_lists.filter(function (payment_method) {
                          return payment_method.name == "Cash";
                    });
                    /* For Cash Payment*/                      
                    that.customer_order_details.cash_payment_method_id = cash_payment_method_id[0].id;
                  } 
              })
              .catch(function (error) {
                  that.errors = error;
              });
            },
            getSalePaidDetail:  function(){
              let that = this;
              console.log('Heda working' + that.customer_order_details.cash_payment_method_id);

              axios.post('/api/sale_paids/get_sale_paid_history', {
                  sale_id: null,
                  cash_payment_method_id: that.customer_order_details.cash_payment_method_id
              })
              .then((sale_paid) => {
                  that.customer_order_details.sale_paids = sale_paid.data;
              })
              .catch(function (error) {
                  that.errors = error;
              });  
            },                     
            updateSaleDetail: function(){
                let that = this;
                axios.put('/api/sale_detail/update_sale_detail', that.customer_order_details)
                .then(function (response) {                  
                console.log("response Here: "+response.data);
                    var route_url =  window.location.origin+"/frontend/sale/"+that.sale_id+"/edit";
                    window.location.href = route_url;
                })
                .catch(function (error) {
                    that.errors = error.response.data.errors;
                    console.log("Error Here: "+error.response.data);
                }); 
            },
            showPaymentMethodMetaField: function(event){ 
              let that = this; 
              that.errors = "";               
              that.customer_order_details.remove_sale_paid_history =  that.sale_paid_history;                       
              that.customer_order_details.paymentMethod = event.target.options[event.target.selectedIndex].text;
              if(!that.customer_order_details.digital_payment_amount){
                  that.customer_order_details.digital_payment_amount = '00';
              }
              if(!$.isEmptyObject(that.customer_order_details.sale_paids)){      
                  $.each(that.customer_order_details.sale_paids,function(index,sale_paid){
                    if(sale_paid.payment_method.name !="Cash"){
                      delete that.customer_order_details.sale_paids[index].created_at; 
                      delete that.customer_order_details.sale_paids[index].deleted_at;                      
                      delete that.customer_order_details.sale_paids[index].paid_date;
                      that.customer_order_details.sale_paids[index].payment_method.name = that.customer_order_details.paymentMethod; 
                      that.customer_order_details.sale_paids[index].id = null;
                      if(sale_paid.sale_paid_details){   
                        if(that.customer_order_details.paymentMethod == "Master Card" || that.customer_order_details.paymentMethod == "Visa Card"){
                          that.customer_order_details.sale_paids[index].sale_paid_details[0].meta_data = 'Name On Card';
                          that.customer_order_details.sale_paids[index].sale_paid_details[0].value = ''; 
                          that.customer_order_details.sale_paids[index].sale_paid_details[1].meta_data = 'Card No';
                          that.customer_order_details.sale_paids[index].sale_paid_details[1].value = ''; 
                        }
                        else if(that.customer_order_details.paymentMethod == "Bkash"){
                          that.customer_order_details.sale_paids[index].sale_paid_details[0].meta_data = 'Account Type';
                          that.customer_order_details.sale_paids[index].sale_paid_details[0].value = ''; 
                          that.customer_order_details.sale_paids[index].sale_paid_details[1].meta_data = 'Received From';
                          that.customer_order_details.sale_paids[index].sale_paid_details[1].value = ''; 
                        }
                        else if(that.customer_order_details.paymentMethod =="Select Payment Method"){
                          delete that.customer_order_details.digital_payment_amount;
                          that.customer_order_details.sale_paids[index].paid_amount = parseInt(0);
                          that.customer_order_details.sale_paids[index].sale_paid_details[0].meta_data = '';
                          that.customer_order_details.sale_paids[index].sale_paid_details[0].value = ''; 
                          that.customer_order_details.sale_paids[index].sale_paid_details[1].meta_data = '';
                          that.customer_order_details.sale_paids[index].sale_paid_details[1].value = ''; 
                        }
                      }
                    }
                  })
              } 
            },
        }
    }
</script>