.bg-incread-percent{
    color: #ffffff;
    background-color: #008000;
    border-color: #008000;
}
.bg-decread-percent{
    color: #ffffff;
    background-color: #ff0000;
    border-color: #ff0000;
}